/*------ General-----------*/



@font-face {
font-family: 'Poppins';
src: url('/equip3_hm_ui_loginpage/static/src/fonts/Poppins.woff2') format('woff2'),
url('/equip3_hm_ui_loginpage/static/src/fonts/Poppins.woff') format('woff');
font-weight: normal;
font-style: normal;
}




#webview_login_screen {
   display: block;
}
#mobileview_login_screen {
   display: none
}
a[href="/web/database/selector"] {
    background-color: #be1e2d !important;
    border-color: #be1e2d;
}


@media (max-width: 995px) {
    #mobileview_login_screen{
        display: none;
    }
      #webview_login_screen{
        display: block;
    }

}
@media (max-width: 600px) {
    #webview_login_screen{
        display: none;
    }
     #mobileview_login_screen{
        display: block;
    }


}


