.o_product_forecast {
    height: 100%;
    width: 100%;
    
    .o_control_panel {
        border-bottom: none;

        .o_product_forecast_cp {
            height: 100%;
            width: 100%;
        
            .o_product_forecast_controller {
                width: 100%;
                display: flex;

                .o_filter_warehouse_id, .o_filter_product_ids {
                    width: 300px;
                    max-width: 300px;

                    .o_field_widget {
                        width: 100%;
                    }
                }
                
                .o_field_many2manytags {
                    position: relative;

                    .o_input_dropdown {
                        position: unset;
                    }

                    .o_input:focus,  .o_input:hover {
                        background: transparent !important;
                        border: 0 !important;
                        box-shadow: none !important;
                    }
                }

                .o_buttons {
                    margin-left: auto;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .o_product_forecast_content {
        position: relative;
        width: 100%;
    }
}