
.o_searchview {

    padding-right: 25px;
    min-width: 400px;

    .o_searchview_facet {
        .o_searchview_facet_label {
            background-color: #868e96;
        }
    }

    .o_searchview_input_container {
        .o_searchview_autocomplete {
            li {
                line-height: 24px;

                &.o_selection_focus{
                    background-color: #9e9db7;
                }

                a {
                    word-break: break-all;
                }
            }
        }
    }

    .o_searchview_more {
        position: absolute;
        top: 7px;
        left: auto;
        bottom: auto;
        right: 6px;
    }
}

@include media-breakpoint-down(md) {
    .o_searchview {
        min-width: 300px;
    }
}

.favorite-container {
    .dropdown-item{
        &.selected:before {
            left: 0px;
        }
    }

    .o_trash_button {
        right: 0;
    }
}

.o_searchview_extended_delete_prop {
    position: absolute;
    top: 14px;
}

.o_searchview_extended_prop_field,
.o_searchview_extended_prop_op {
    margin: 0px 5px;
}

.o_search_options {
    .o_dropdown_toggler_btn:first-child {
        margin-right: 0px !important;
    }
}