
.awesome_webclient {
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    @include awesome-flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;

    .awesome_action_manager {
        .awesome_controller_container  {
            overflow-y: hidden;
            .o_view_controller  {
                @include awesome-flex;
                height: 100%;
                width: 100%;
                overflow: hidden;
    
                .o_content {
                    flex: 1 1 auto;
                    overflow-y: scroll;
                }
            }
        }
    
        .o_action {
            @include awesome-flex;
            flex-direction: column;
            flex: 1 1 auto;
        }
    }
}

.o_loading {
    background-color: #c7c7c7;
}

.dropdown-menu {
    &.show {
        margin-top: 3px;
    }
}

// Search Panel
@include media-breakpoint-down(sm) {
    // Hide search panel
    .o_controller_with_searchpanel {
        .o_search_panel {
            display: none;
        }
    }
}

ul:not(.list-unstyled) {
    margin: 0;
    padding: 0;
}

.ui-autocomplete {
    .ui-menu-item {
        &.ui-state-focus {
            background-image: none;
            background-color: #007bff;
            border: none;
            font-weight: normal;
            margin: 0;
        }

        &:hover {
            background-color: #007bff
        }

        &>a:hover {
            background: transparent;
        }

        > a.ui-state-active {
            background-color: #007bff;
        }
    }

    li {
        &.o-selection-focus {
            background-color: #007bff;
            height: 24px;
            line-height: 24px;
        }
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 3px;
    box-shadow: 0 4px 25px 0 rgba(13, 26, 53, 0.1);
    border: 1px solid transparent;
}

.awesome_controller_container {
    overflow:hidden;

    .o_view_controller {
        @include awesome-flex;
        @include awesome-flex-column;

        flex: 1 1 auto;
        width: 100%;
        
        .o_content {
            overflow: auto;
        }
    }
}