

$awesome_background_light_color: #03655c;
$awesome_theme_txt_color: #f6f6f6;
$awesome_blue_border_color: #023632;
$awesome_dark_blue_color: #034e47;
$akra_secondary_color: #03655c;
$awesome_secodnary_border_color: #045458;
$awesome_theme_active_txt_color: #07a294;
$awesome_theme_shadown_color: #033e38;
$awesome_hover_color: #033833;


body.green {
    
    background-color: $awesome_background_light_color;
    color: $awesome_theme_txt_color;

    .navigation {
        background: $awesome_background_light_color;

        .navigation-menu-tab {
            background: $awesome_background_light_color;
            box-shadow: 0 -4px 25px 0 $awesome_theme_shadown_color;
        }

        .awesome-nav-footer {
            background: $awesome_dark_blue_color;
            border-top: 1px solid $awesome_blue_border_color;
        }

        .navigation-menu-body {
            border-right: 1px solid $awesome_blue_border_color !important;
            background: $awesome_background_light_color !important;
        }
    }

    .o_action_manager {
        background-color: $awesome_dark_blue_color;
        .awesome_pop_form  {
            .awesome_pop_form_footer {
                border-top: $awesome_blue_border_color;
                background-color: $awesome_dark_blue_color;
            }
        }
    }

    .btn-primary {
        background-color: $awesome_background_light_color !important;
        color: $awesome_theme_txt_color !important;
        border-color: $awesome_blue_border_color !important;
        box-shadow: none !important;

        &:hover {
            color: $awesome_theme_txt_color !important;
            background-color: $awesome_dark_blue_color !important;
            border-color: $awesome_blue_border_color !important;
        }
    }

    .btn-secondary {
        color: $awesome_theme_txt_color;
        background-color: $akra_secondary_color;
        border-color: $awesome_blue_border_color;
        
        &:hover {
            color: $awesome_theme_txt_color;
            background-color: $awesome_dark_blue_color;
            border-color: $awesome_blue_border_color;
        }

        &:not(:disabled):not(.disabled).active {
            color: $awesome_theme_txt_color !important;
            background-color: $awesome_dark_blue_color !important;
            border-color: $awesome_blue_border_color !important;
        }
    }

    a:not(.btn) {
        &:hover {
            background-color: $awesome_hover_color;
        }
    }

    .awesome_header {
        background: $awesome_dark_blue_color !important;
        box-shadow: 0px 4px 16px $awesome_theme_shadown_color !important;
        border-bottom: none !important;

        .navigation-toggler {
            background-color: $awesome_background_light_color !important;
            border: 1px solid $awesome_blue_border_color !important;

            a {
                padding: 8px 12px !important;
                &:hover {
                    background-color: $awesome_dark_blue_color;
                }
            }
        }

        .avatar {
            border-color: transparent !important;
        }
    }
}

body.green {
    .awesome_multi_tab_container {
        box-shadow: 0 1px 2px 0 $awesome_theme_shadown_color;

        .awesome_multi_tab {
            background: $awesome_background_light_color;

            .awesome_tab_scroller {
                .awesome_page_items {
                    background: $awesome_background_light_color;

                    li{
                        border-right: 1px solid $awesome_blue_border_color;
                        &:hover {
                            background-color: $awesome_dark_blue_color;
                        }
                    }
                }
            }

            .awesome_tab_control {
                border-right: 1px solid $awesome_blue_border_color;
                border-left: 1px solid $awesome_blue_border_color;

                &:hover {
                    background-color: $awesome_background_light_color;
                }
            }

            .awesome_multi_tab_active {
                background-color: $awesome_dark_blue_color;
            }

            .awesome_icon_prev {
                border-right: 1px solid $awesome_blue_border_color;
            }

            .awesome_icon_next {
                border-right: 1px solid $awesome_blue_border_color;
                border-left: 1px solid $awesome_blue_border_color;
            }

            .awesome_icon_down {
                border-left: none;
            }
        }
    }
}

body.green {
    .breadcrumb {
        li {
            a {
                color: $awesome_theme_txt_color;
                &:hover {
                    color: $awesome_theme_active_txt_color
                }
            }

            .breadcrumb-item.active {
                color: $awesome_theme_active_txt_color
            }
        }
    }
}

body.green {

    .alert {
        color: $awesome_theme_txt_color;

        hr {
            border-color: $awesome_blue_border_color;
        }

        .close:focus, .close:hover {
            opacity: .2;
            color: inherit
        }
    }

    .custom-control-label::before {
        border: 1px solid $awesome_blue_border_color;
        background-color: $awesome_background_light_color;
    }

    .custom-control-input:disabled~.custom-control-label::before {
        background-color: $awesome_dark_blue_color;
        border: 1px solid $awesome_blue_border_color
    }

    .custom-radio {
        .custom-control-label{
            &::after {
                background: $awesome_background_light_color;
                border-color: $awesome_blue_border_color;
                color: $awesome_theme_txt_color;
            }
        }
    }

    .form-control {
        color: $awesome_theme_txt_color;
        opacity: 1;
        background-color: $awesome_background_light_color;
        border: 1px solid $awesome_blue_border_color;

        &:focus {
            color: $awesome_theme_txt_color;
            background-color: $awesome_background_light_color;
            border-color: $awesome_blue_border_color;
        }
    }

    .custom-select {
        border-color: $awesome_blue_border_color;
        color: $awesome_theme_txt_color;
        background: $awesome_dark_blue_color;
        border: 1px solid $awesome_blue_border_color;
    }

    .custom-file-label {
        background-color: inherit;
        border-color: $awesome_blue_border_color;
        color: inherit
    }

    .custom-range::-webkit-slider-runnable-track {
        background-color: $awesome_blue_border_color
    }

    hr {
        border-color: $awesome_blue_border_color
    }

    .o_dropdown {
        &.show, &.hover {
            .o_dropdown_toggler_btn {
                color: $awesome_theme_txt_color;
            }
        }
    }

    .dropdown-menu {
        box-shadow: 0 6px 12px $awesome_theme_shadown_color;
        color: $awesome_theme_txt_color;
        background-color: $awesome_dark_blue_color;
        border: 1px solid $awesome_blue_border_color;

        .dropdown-item {
            color: $awesome_theme_txt_color;

            &:focus, &:hover {
                color: $awesome_theme_txt_color;
                background-color: $awesome_dark_blue_color;
            }
        }

        .dropdown-item-text {
            color: $awesome_theme_txt_color;
        }

        .o_menu_item > .dropdown-item:hover {
            color: $awesome_theme_txt_color;
            background-color: $awesome_dark_blue_color;
        }
    } 

    .dropdown-divider {
        border-top-color: $awesome_dark_blue_color
    }

    .list-group-item {
        background: 0 0;
        background-color: $awesome_dark_blue_color;
    }

    .list-group-item-action {
        color: inherit
    }

    .card {
        background-color: $awesome_dark_blue_color !important;
        box-shadow: -8px 12px 18px 0 $awesome_background_light_color;

        .card-header {
            border-bottom: none;
        }

        .card-footer {
            border-top-color: $awesome_dark_blue_color
        }
    }

    .avatar{
        &:before {
            border-color: $awesome_dark_blue_color
        }

        .avatar-title {
            background-color: $awesome_dark_blue_color
        }
    }

    .img-thumbnail {
        border-color: $awesome_dark_blue_color;
        background-color: $awesome_dark_blue_color
    }

    .progress {
        background-color: $awesome_dark_blue_color
    }

    .timeline {
        .timeline-item::before {
            background: $awesome_dark_blue_color
        }
    }
}

body.green {
    .select2-container--default {
        .select2-selection--multiple {
            background-color: $awesome_dark_blue_color;
            border: 1px solid $awesome_blue_border_color !important;

            .select2-selection__choice {
                background-color: $awesome_dark_blue_color !important;
                border: 1px solid $awesome_dark_blue_color !important;
            }
        }

        .select2-selection--single {
            background-color: inherit;
        }

        .select2-search--dropdown .select2-search__field {
            border: 1px solid $awesome_blue_border_color !important;
            background: $awesome_dark_blue_color;
            color: $awesome_theme_txt_color;
        }

        .select2-selection--single .select2-selection__rendered {
            color: inherit
        }

        .select2-results__option[aria-selected=true] {
            background-color: $awesome_dark_blue_color;
            color: inherit
        }

        .select2-results__option--highlighted[aria-selected] {
            background-color: $awesome_background_light_color;
        }
    }

    .select2{
        &.select2-container {
            .select2-selection {
                background-color: $awesome_dark_blue_color;
                border: 1px solid $awesome_blue_border_color !important;
            }
    
            .select2-search--inline .select2-search__field {
                color: inherit
            }
        }
    }

    .select2-dropdown {
        box-shadow: 0 6px 12px $awesome_theme_shadown_color;
        color: $awesome_theme_txt_color;
        background-color: $awesome_dark_blue_color;
        border: 1px solid $awesome_blue_border_color;
    }
}

body.green{
    .daterangepicker {
        background-color: $awesome_background_light_color;
        border-color: $awesome_background_light_color;

        select {
            background-color: inherit;
            color: inherit;
            border-color: $awesome_dark_blue_color
        }

        &:after, &:before {
            border-bottom-color: $awesome_background_light_color
        }

        td.in-range {
            background-color: $awesome_dark_blue_color;
            color: inherit
        }

        td.end-date {
            color: $awesome_theme_txt_color;
            background-color: $awesome_background_light_color
        }

        .drp-buttons {
            border-top-color: $awesome_background_light_color;

            .btn.btn-default {
                color: inherit
            }
        }

        td.off, td.off.end-date, td.off.start-date {
            background-color: inherit;
            color: $awesome_background_light_color
        }

        td {
            &.off.in-range {
                color: $awesome_theme_txt_color;
                background-color: $awesome_dark_blue_color;
            }

            &.available:hover {
                background-color: $awesome_dark_blue_color;
                border-color: transparent;
                color: inherit;
            }
        }

        th {
            &.available:hover {
                background-color: $awesome_dark_blue_color;
                border-color: transparent;
                color: inherit;
            }
        }

        .daterangepicker:after {
            border-bottom: 6px solid $awesome_dark_blue_color;
        }

        .ranges li:hover {
            background-color: $awesome_dark_blue_color;
        }

        .popover.clockpicker-popover {
            overflow: hidden;
            border: 1px solid $awesome_dark_blue_color;

            &.popover-title {
                background-color: $awesome_dark_blue_color;
                color: inherit
            }

            &.popover-content {
                background-color: $awesome_dark_blue_color
            }
        }

        .calendar-table {
            border: 0px solid $awesome_blue_border_color;
            background-color: $awesome_dark_blue_color;
            color: $awesome_theme_txt_color;

            .next span, .prev span {
                border-color: $awesome_blue_border_color
            }
        }
    }

    .popover{
        &.clockpicker-popover {
            .clockpicker-plate {
                -webkit-filter: drop-shadow(0 1px 3px $awesome_theme_shadown_color);
                filter: drop-shadow(0 1px 3px $awesome_theme_shadown_color);
                background-color: $awesome_dark_blue_color;
                border: 1px solid $awesome_blue_border_color;

                .clockpicker-tick {
                    color: inherit
                }

                .clockpicker-canvas-bg {
                    fill: $awesome_dark_blue_color
                }
            }
        }
    }
}

body.green {

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: $awesome_theme_txt_color;
        background-color: $awesome_dark_blue_color;
        border: 1px solid $awesome_dark_blue_color;
    }

    .nav-tabs {
        border-bottom-color: $awesome_background_light_color;

        .nav-link{
            &:focus, &:hover {
                border-color: $awesome_dark_blue_color;
                background: $awesome_dark_blue_color !important;
                border-bottom-color: $awesome_background_light_color !important;
                color: $awesome_theme_txt_color !important;
            }
        }
    
        .nav-link{
            .nav-link, &.active {
                color: $awesome_theme_txt_color !important;
                background: $awesome_background_light_color !important;
                border-color: $awesome_blue_border_color;
                border-bottom-color: $awesome_background_light_color !important;
            }
        }
    }
}


body.green {
    .figure-caption {
        color: inherit
    }

    .btn-link {
        color: inherit
    }
}


body.green {
    .nicescroll-cursors {
        background-color: $awesome_blue_border_color !important
    }
}

body.green {

    .table td, .table th {
        border-color: $awesome_blue_border_color
    }

    .table-hover {
        tbody {
            tr:hover {
                background-color: darken($color: $awesome_dark_blue_color, $amount: 10%);
                color: $awesome_theme_txt_color;
            }
        }
    }

    .table-striped {
        tbody tr:nth-of-type(even) {
            background-color: $awesome_dark_blue_color;
        }
    }
}

body.green {
    .input-group-text {
        background-color: $awesome_dark_blue_color !important;
        border: 1px solid $awesome_blue_border_color !important;
    }
}

body.green .btn.btn-outline-light {
    border: 1px solid $awesome_blue_border_color;
    color: #c7c7c7
}

body.green .btn.btn-outline-light:hover {
    background: 0 0 !important;
    color: #d6d6d6 !important;
    border: 1px solid $awesome_blue_border_color !important
}

body.green .modal-content {
    background-color: $awesome_dark_blue_color
}

body.green .modal-content .modal-header {
    border-bottom-color: $awesome_dark_blue_color;
    background-color: $awesome_blue_border_color !important
}

body.green .modal-content .modal-header .close {
    text-shadow: none;
    opacity: 1;
    color: inherit;
    background-color: transparent !important
}

body.green .modal-content .modal-footer {
    border-top-color: $awesome_dark_blue_color
}

body.green .popover {
    background-color: $awesome_blue_border_color
}

body.green .popover .popover-header {
    background-color: $awesome_dark_blue_color;
    border-color: transparent
}

body.green .popover .popover-body {
    color: inherit
}

body.green .popover .popover-navigation {
    border-top-color: $awesome_dark_blue_color
}

body.green .bs-popover-auto[x-placement^=top]>.arrow::after,
body.green .bs-popover-top>.arrow::after {
    border-top-color: $awesome_blue_border_color
}

body.green .bs-popover-auto[x-placement^=right]>.arrow::after,
body.green .bs-popover-right>.arrow::after {
    border-right-color: $awesome_blue_border_color
}

body.green .bs-popover-auto[x-placement^=bottom]>.arrow::after,
body.green .bs-popover-bottom>.arrow::after {
    border-bottom-color: $awesome_blue_border_color
}

body.green .bs-popover-auto[x-placement^=left]>.arrow::after,
body.green .bs-popover-left>.arrow::after {
    border-left-color: $awesome_blue_border_color
}

body.green {
    .page-item{
        &.disabled {
            .page-link {
                color: #ced4da;
                background-color: $awesome_dark_blue_color;
                border-color: $awesome_blue_border_color;
            }
        }

        .page-link {
            background-color: inherit;
            color: inherit;
            border-color: $awesome_dark_blue_color;
    
            &:hover {
                color: $awesome_theme_txt_color;
                background-color: $awesome_dark_blue_color;
                color: $awesome_theme_txt_color !important;
            }
        }
    }
}


body.green {
    .nav {
        a.nav-link:not(.active) {
            color: $awesome_dark_blue_color
        }

        a.nav-link:not(.active):active, a.nav-link:not(.active):hover {
            background-color: $awesome_background_light_color
        }
    }
}


@media (min-width:1200px) {
    body.green{
        &.navigation-toggle-one{
            &.navigation-show {
                .navigation {
                    .navigation-menu-body {
                        background-color: $awesome_dark_blue_color !important;
                    }
                }
            }
        }
    }
}

@media (max-width:414px) {
    body.green {
        .nav {
            li.nav-item {
                border-bottom-color: $awesome_background_light_color;
                color: $awesome_theme_txt_color;
            }
        }
    }
}

body.green {
    .o_Chatter {
        background-color: $awesome_background_light_color;
        border-color: $awesome_blue_border_color;

        .o_Message{
            &.o-not-discussion {
                background-color: $awesome_background_light_color;
            }
        }

        .o_MessageList_separatorLabel {
            background-color: transparent;
        }

        .o_MessageList {
            background-color: $awesome_dark_blue_color;
        }

        .o_Message.o-not-discussion {
            background-color: $awesome_dark_blue_color;
            border-bottom: 1px solid $awesome_dark_blue_color;
        }
    }
}

body.green {
    .o_action_manager {
        background-color: $awesome_background_light_color;
    }
}

body.green {
    .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: none;
        font-weight: 400;
        color: $awesome_theme_txt_color;
    }
}

body.green {
    .awesome_footer {
        color: $awesome_theme_txt_color;
        background-color: $awesome_dark_blue_color;
        border-top: 1px solid $awesome_blue_border_color;

        .o_pager .o_pager_counter {
            color:$awesome_theme_txt_color;
        }
    }
}

body.green {

    .oe_button_box {
        box-shadow: inset 0 -1px 0 $awesome_blue_border_color;
    }
    
    .o_form_view {
        background-color: $awesome_dark_blue_color;

        .o_form_sheet_bg>.o_form_sheet {
            min-width: initial;
            border: 1px solid $awesome_dark_blue_color;
            background: transparent;
            box-shadow: 2px 1px 20px 0px $awesome_theme_shadown_color;
        }

        .oe_button_box.o_not_full .oe_stat_button {
            border-left: 1px solid $awesome_blue_border_color;
        }
    }

    &.o_required_modifier.o_input .o_input {
        background-color: $awesome_dark_blue_color !important;
    }

    .o_input, .single-line {
        background: $awesome_dark_blue_color;
        border-color: $awesome_background_light_color !important;
        color: $awesome_theme_txt_color;
    }

    
    .text-divider:after {
        background-color: $awesome_blue_border_color
    }

    input {
        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, .5)
        }

        &::-moz-placeholder {
            color: rgba(255, 255, 255, .5)
        }

        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, .5)
        }

        &::placeholder {
            color: rgba(255, 255, 255, .5)
        }
    }

    .border {
        border-color: $awesome_blue_border_color !important
    }

    .border-right {
        border-left-color: $awesome_blue_border_color !important;
        border-right-color: $awesome_blue_border_color !important
    }

    .border-left {
        border-left-color: $awesome_blue_border_color !important;
        border-right-color: $awesome_blue_border_color !important
    }

    .border-bottom {
        border-bottom-color: $awesome_blue_border_color !important
    }

    .border-top {
        border-top-color: $awesome_blue_border_color !important
    }
}

body.green {
    .card {
        background: $awesome_dark_blue_color;
    }
}

body.green .input-group-text {
    background-color: $awesome_dark_blue_color;
    border: 1px solid $awesome_blue_border_color;

    &:focus {
        outline: none;
    }
}

body.green {
    .ui-autocomplete {
        box-shadow: 0 6px 12px $awesome_theme_shadown_color;
        color: $awesome_theme_txt_color;
        background-color: $awesome_dark_blue_color;
        border: 1px solid $awesome_blue_border_color;

        .ui-menu-item:hover, .ui-menu-item>a:hover {
            color: $awesome_theme_txt_color;
            background-color: $awesome_dark_blue_color;
        }

        .ui-menu-item {
            > a.ui-state-active {
                background-color: $awesome_dark_blue_color;
            }
        }
    }
}

//  searchview
body.green {

    .o_searchview {
        background: $awesome_background_light_color;
        color: $awesome_theme_txt_color;
        border: 1px solid $awesome_dark_blue_color;

        .o_searchview_facet {
            border: 1px solid $awesome_blue_border_color;
            background:  $awesome_dark_blue_color;
            .o_searchview_facet_label {
                background-color:  $awesome_dark_blue_color;
            }
        }

        .o_searchview_autocomplete {
            li.o-selection-focus {
                background-color: $awesome_dark_blue_color;
            }

            .ui-menu-item.ui-state-focus {
                background-color: $awesome_dark_blue_color;
            }
        }

        .o_searchview_input_container {
            .o_searchview_input {
                background: $awesome_background_light_color;
                color: $awesome_theme_txt_color;
            }
        }

        .o_searchview_autocomplete {
            li {
                &.o_selection_focus {
                    background-color: $awesome_dark_blue_color;
                }
            }
        }
    }
}


body.green {
    .o_kanban_view {
        .o_kanban_record {
            background-color: $awesome_dark_blue_color !important;
            box-shadow: -8px 12px 18px 0 $awesome_background_light_color;
            border-color: $awesome_blue_border_color !important;
            color: $awesome_theme_txt_color;

            .o_dropdown_kanban.show {
                .dropdown-toggle {
                    background: $awesome_dark_blue_color;
                    border-color: $awesome_blue_border_color !important;
                }
            }
        }

        .o_kanban_quick_create {
            border: 1px solid $awesome_dark_blue_color;
            background-color: $awesome_dark_blue_color;
        }
    }

    .oe_kanban_card {
        .o_dropdown_kanban{
            &.show {
                .dropdown-toggle {
                    background: $awesome_dark_blue_color;
                    border-color: $awesome_blue_border_color !important;
                }
            }
        }
    }
}


body.green {
    .table {
        color: $awesome_theme_txt_color;
    }

    .o_list_view {
        .o_list_table {
            background-color: transparent !important;
            thead {
                th:focus-within {
                    background-color: transparent !important;
                }

                color: $awesome_theme_txt_color !important;
                border-bottom: none !important;
                background-color: $awesome_dark_blue_color !important;
                &>tr>th:nth-of-type(1) {
                    border-left: none;
                }
            }

            tbody{
                &.o_keyboard_navigation {
                    td:focus-within {
                        background-color: transparent !important;
                    }
                }
            }

            tfoot {
                background-color: $awesome_dark_blue_color !important;
            }

            tr:focus-within, th:focus-within {
                background-color: transparent !important;
            }

            &.table-striped tr:focus-within{
                background-color: transparent !important;
            }

            .thead, thead tr:nth-child(1) th {
                background: $awesome_background_light_color;
            }

            tfoot tr:nth-child(1) td {
                background-color: $awesome_background_light_color;
            }
        }
    }
}

body.green {
    .oe_button_box {
        box-shadow: inset 0 -1px 0 $awesome_dark_blue_color;
    }
}

body.green {
    .o_form_view {
        .oe_button_box.o_not_full {
            .oe_stat_button {
                border-left: 1px solid $awesome_dark_blue_color;
                padding-left: 5px;
            }
        }
    }
}

body.green {
    .custom-control-input:not(:disabled):active~.custom-control-label::before {
        color: #c7c7c7;
        background-color: transparent;
        border: 1px solid $awesome_dark_blue_color;
    }
}

body.green {
    .card-body {
        background: $awesome_dark_blue_color !important;
        color: #c3c3c3;
    }
}

body.green .o_list_view tbody>tr.o_group_header,
body.green .o_list_view tbody>tr.o_group_header:focus-within {
    background-image: linear-gradient(to bottom, $awesome_background_light_color, $awesome_dark_blue_color);
}

body.green {
    .custom-control-input{
        &:checked~.custom-control-label::before {
            background-color: $awesome_dark_blue_color;
        }
    }
}

body.green {
    .bootstrap-datetimepicker-widget{
        &.dropdown-menu{
            &.bottom::after {
                border-bottom: 10px solid $awesome_background_light_color;
            }

            &.top:after {
                border-top: 6px solid $awesome_background_light_color;
            }
        }
    }
}


body.green {
    .o_kanban_view {

        &.o_kanban_grouped {
            background-color: $awesome_background_light_color;
        }
        
        .o_column_quick_create {
            .o_quick_create_unfolded {
                padding: 8px 8px;
                width: 240px;
                height: 100%;
                border: none;
                box-shadow: 0 0 20px -10px;
                background-color: $awesome_background_light_color;
            }
        }
    }
}

body.green {
    .o_mail_preview {
        background-color: $awesome_dark_blue_color;
        color: $awesome_theme_txt_color;

        &.o_systray_activity:hover {
            background-color: $awesome_dark_blue_color;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $awesome_dark_blue_color;
        }

        .o_preview_name {
            color: $awesome_theme_txt_color;
        }
    }
}

body.green {
    .o_mail_discuss {
        .o_mail_discuss_content {
            background-color: $awesome_background_light_color;
        }
    }
}

body.green {
    .o_graph_controller {
        .o_graph_renderer {
            .o_graph_canvas_container {
                canvas {
                    background-color: $awesome_background_light_color;
                }
            }
        }
    }
}

body.green {
    .o_control_panel {
        background: $awesome_dark_blue_color !important;
        box-shadow: 0px 4px 16px $awesome_background_light_color !important;
        border-bottom: 1px solid $awesome_background_light_color !important;

        .o_panel {
            padding: 5px;
        }
    }
}

body.green .list-group-item-action:hover, body.green .list-group-item-action:focus {
    color: #c7c7c7;
    background-color: $awesome_dark_blue_color;
}

body.green {
    .o_search_panel {

        background-color: $awesome_dark_blue_color;
        color: #c7c7c7;
        border-right: none;

        .list-group-item {
            background: 0 0;
            background-color: $awesome_dark_blue_color;
            .active {
                background-color: $awesome_dark_blue_color;
            }
        }
    }
}

body.green {
    .o_onboarding {
        border-bottom: none;
    }
}

body.green {
    .navigation {
        background-color: $awesome_dark_blue_color !important;
    
        .navigation-menu-tab {
            background-color: $awesome_dark_blue_color !important;
            border-right: 1px solid $awesome_dark_blue_color !important;
            box-shadow: 0 -4px 25px 0 $awesome_theme_shadown_color;
            header {
                background-color: $awesome_dark_blue_color
            }
        }
    
        .navigation-menu-body {
            border-right: 1px solid $awesome_blue_border_color !important;
        }
    
        .navigation-menu-body {
            
            .navigation-section-name {
                border-bottom-color: $awesome_blue_border_color !important;
            }
    
            ul {
                li {
                    a {
                        color: #c7c7c7 !important;
    
                        &:focus,
                        &:hover {
                            background: 0 0;
                            color: $awesome_theme_txt_color;
                        }
    
                        &.active {
                            color: $awesome_theme_active_txt_color !important;
                            background:$awesome_background_light_color !important;
                        }
                    }
    
                    a+ul li a.active {
                        color: $awesome_theme_active_txt_color !important;
                    }
    
                    &.open>a {
                        color: $awesome_theme_txt_color;
                        background-color: $awesome_blue_border_color
                    }
    
                    .dropdown-divider {
                        color: $awesome_blue_border_color
                    }
                }
            }
        }
    
        .awesome-nav-footer {
            background: $awesome_dark_blue_color;
            border-top-color: $awesome_blue_border_color;

            .awesome_menu_board {
                .board-pannel {
                    .search_box, .search_input {
                        background-color: $awesome_dark_blue_color !important
                    }
                }
            }
        }
    }
}

body.green {
    .customizer {
        background: $awesome_dark_blue_color !important;
        border-left-color: $awesome_dark_blue_color !important;

        .top_title {
            border-bottom: 1px solid $awesome_dark_blue_color;
            background: $awesome_dark_blue_color;
            border-top: 1px solid $awesome_dark_blue_color;
            background: $awesome_dark_blue_color;
            box-shadow: 0 -4px 25px 0 $awesome_theme_shadown_color;
        }
    
        .customizer-content {
            .style_item_container {
                .style_item_group {
                    .style_item_group_name {
                        border-top: 1px solid $awesome_dark_blue_color;
                        border-bottom: 1px solid $awesome_dark_blue_color;
                        background-color: $awesome_background_light_color;
                    }
                    .style_sub_group_name {
                        background: $awesome_background_light_color;
                        border-bottom: 1px solid $awesome_blue_border_color;
                    }
                }

                .add_new_group {
                    border-top: 1px solid $awesome_dark_blue_color;
                    border-bottom: 1px solid $awesome_dark_blue_color;
                    background-color: $awesome_background_light_color;
                }
            }

            .settings {
                .tab-content {
                    .tab-pane {
                        background: $awesome_dark_blue_color;
                        border-color: $awesome_background_light_color;
                    }
                }
            }

            .style-preview-box {
                box-shadow: 0 2px 10px $awesome_theme_shadown_color;
            }
        }

        .theme_styles {
            .style_item_container {
                .theme-style-nav-item {
                    background: transparent;
                }

                .style_items {
                    padding: 0px 0px 15px 0px;
                }
            }
        }

        .style-preview-box {
            border-color: $awesome_blue_border_color;
            .sidebar-box {
                border-right-color: $awesome_blue_border_color;
            }
        }

        .theme-mode-container {
            .theme_style_tab{
                &.active {
                    background: transparent;
                }
            }
        }

        .customizer-footer {
            border-top: 1px solid $awesome_dark_blue_color;
            background: $awesome_dark_blue_color;
            box-shadow: 0 -4px 25px 0 $awesome_theme_shadown_color !important;
        }
    }
}

body.green {
    .o_form_view {
        .o_form_statusbar {

            background-color: $awesome_dark_blue_color !important;
            border: 1px solid $awesome_dark_blue_color;
            padding-left: 25px;
            
            & > .o_statusbar_status {
                & > .o_arrow_button:not(:first-child) {
                    &:after {
                        border-left: 11px solid $awesome_dark_blue_color;
                    }

                    &:before {
                        border-left-color: $awesome_dark_blue_color;
                    }
                }

                .o_arrow_button.btn-primary.disabled {
                    background-color: $awesome_dark_blue_color;
                    &:after {
                        border-left-color: $awesome_dark_blue_color;
                    }
                }

                .o_arrow_button.disabled {
                    border-left: 1px solid #585f79;
                }
            }
        }

        .o_required_modifier{
            &.o_input, .o_input {
                background-color: $awesome_dark_blue_color !important;
            }
        }
    }
}

body.green {
    .note-editor {
        border: 1px solid $awesome_background_light_color !important;
        .note-editing-area {
            .note-editable {
                background-color: $awesome_dark_blue_color;
                color: #c7c7c7;
            }
        }

        .note-statusbar {
            background-color: $awesome_blue_border_color;
        }

        .panel-heading.note-toolbar {
            border-bottom: 1px solid $awesome_dark_blue_color;
            background-color: $awesome_dark_blue_color;
    
            .btn {
                border-left: none;
                border-right: none;
                background: transparent
            }
        }
    }
}

body.green {
    .alert-info {
        border-color: $awesome_dark_blue_color;
    }
}

body.green {
    .o_widget_Discuss {
        .o_Discuss_content {
            border-top: none;
        }

        .o_MessageList {
            background-color: $awesome_background_light_color;
        }
    
        .o_DiscussSidebar {
            background-color: $awesome_dark_blue_color;
        }
    }

    .o_MessagingMenu {
        .o_MessagingMenu_notificationList {
            background-color: $awesome_dark_blue_color;
    
            .o_NotificationList_notificationRequest, .o_NotificationGroup, .o_ThreadPreview {
                background-color: $awesome_dark_blue_color;
                &:hover {
                    background-color: $awesome_dark_blue_color;
                }
            }
    
            .o_NotificationList_separator {
                border-bottom: 1px solid $awesome_dark_blue_color;
            }
        }

        .o_MessagingMenu_dropdownMenuHeader {
            border-bottom: 1px solid $awesome_dark_blue_color;
        }
    }
}

body.green { 
    .o_field_widget{
        &.o_field_many2manytags {
            .o_tag_color_0 {
                background-color: $awesome_dark_blue_color;
                color: $awesome_theme_txt_color;
                box-shadow: inset 0 0 0 2px $awesome_dark_blue_color;
            }
        }
    }
}

body.green {
    .o_setting_search {
        background: $awesome_dark_blue_color;
        border: 1px solid $awesome_dark_blue_color;

        border-radius: 999px;
        padding: 1px 30px 1px 20px;
        input {
            border-bottom: none !important;
            background: $awesome_dark_blue_color;
            color: $awesome_theme_txt_color;
        }

        .searchIcon {
            right: 10px !important;
        }
    }

    .o_base_settings {
        .o_setting_container{
            .settings {
                background-color: $awesome_dark_blue_color !important;
                & > .app_settings_block h2 {
                    padding: 0.75rem 16px;
                    background-color: $awesome_dark_blue_color !important;
                }
            }

             .settings_tab {
                background: $awesome_dark_blue_color;
                .selected {
                    background-color: $awesome_dark_blue_color;
                    box-shadow: inset 3px 0 0 $awesome_theme_shadown_color;
                }
            }
        }
    }
}

body.green {
    .navigation-menu-tab-header{

        .user_profile_header_image {
            background: $awesome_background_light_color;
        }
    
        .dropdown-menu {
            background: $awesome_background_light_color !important;

            .dropdown-menu-body {
                background: $awesome_background_light_color;
            }
    
            .user_profile_footer {
                background: $awesome_background_light_color;
            }
        }
    }
}


body.green {
    .o_calendar_view {
        background-color: $awesome_dark_blue_color;
        background: linear-gradient(-45deg, $awesome_dark_blue_color, $awesome_dark_blue_color);

        .o_calendar_widget {

            color: $awesome_theme_txt_color !important;

            td {
                border-color: $awesome_blue_border_color;
            }

            .fc-widget-header {
                border-bottom-color: $awesome_blue_border_color;
            }

            .fc-timeGridDay-view, .fc-timeGridWeek-view {
                tbody {
                    td {
                        border-top-color: $awesome_blue_border_color;
                    }
                }
            }
            
            .fc-body {
                > tr {
                    > td {
                        border-color: $awesome_blue_border_color;
                    }
                }
            }

            .fc-day-grid {
                background-color: $awesome_dark_blue_color;
                .fc-row {
                    border-bottom: none;
                }
            }

            .fc-widget-content {
                background-color: $awesome_dark_blue_color;
            }

            hr.fc-widget-header {
                background: $awesome_blue_border_color !important;
            }

           .fc-slats tr:first-child td.fc-widget-content:last-child {
                box-shadow: inset 0 1px 0 $awesome_dark_blue_color !important;
            }

            .fc-dayGridMonth-view {
                .fc-bg {
                    .fc-today {
                        background: $awesome_dark_blue_color;
                        border-color: $awesome_blue_border_color;
                    }
                }
            }

            .fc-dayGridMonth-view .fc-day-number {
                color: $awesome_theme_txt_color;
            }
        }
    }

    .o_calendar_sidebar_container {
        background-color: $awesome_dark_blue_color;
        border-left: 1px solid $awesome_blue_border_color;

        .o_calendar_mini  {
            .ui-widget-content {
                border: 1px solid $awesome_blue_border_color;
                background: $awesome_dark_blue_color;
                color: $awesome_theme_txt_color;
            }
        }
    }
}


body.green {
    .navigation-menu-tab-header {
        .dropdown-menu {
            .arrow {
                &::before {
                    border-right-color: $awesome_blue_border_color;
                }

                &::after {
                    border-right-color: $awesome_dark_blue_color;
                }
            }
        }
    }
}


body.green {

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: $awesome_background_light_color;
    }

    ::-webkit-scrollbar-thumb {
        background: $awesome_dark_blue_color;
        border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb:increment,
    ::-webkit-scrollbar-thumb:decrement {
        background: $awesome_dark_blue_color;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: $awesome_background_light_color;
    }
}