.o_control_panel {
    
    padding: 0px 16px;
    background-color: white;
    border-bottom: 1px solid #e6e5e5;

    .o_cp_buttons {
        button:not(:first) {
            margin-left: 5px;
        }
    }

    .o_cp_action_menus {
        .btn-group {
            margin-left: 5px;
        }
    }
    
    .o_list_selection_box {
        border: none;
        background-color: transparent;
    }

    .breadcrumb {
        background-color: transparent;
        font-size: 16px;

        & > li {
            max-width: inherit
        }

        &.active {
            color: #333 !important;
        }
    }

    .fa-chevron-down {
        display: none !important;
    }
}

.o_cp_sidebar {
    padding-left: 5px;
}

.awesome_hook_hide {
    display: none !important;
}

@include media-breakpoint-down(xs) {
    .o_cp_action_menus {
        .o_dropdown_title, .fa-chevron-right {
            display: none;
        }
    }
}

.awesome_search_pannel_toggler {
    display: none;
    position: absolute;
    width: 16px;
    border-left: none;
    margin-right: -15px;
    right: 0px;
    top: calc(50% - 8px);
    height: 50px;
    background: #212529;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
} 

@include media-breakpoint-down(xs) {
    .o_search_panel {
        display: fixed;
        position: absolute;
        left: 0;
        top: 0;
        width: 200px;
        z-index: 2;
        bottom: 0px;
        left: -200px;
        overflow: visible !important;

        &.show {
            margin-left: 0px;
        }

        .awesome_search_pannel_toggler {
            @include awesome-align-items-center;
            @include awesome-justify-content-center;
            @include awesome-flex;
        }
    }
}
