
.o_action_manager {
    margin-top: 60px;
    margin-left: 300px;

    @include awesome-flex;
    @include awesome-flex-column;
    
    overflow-y: auto;
    background: #F1F2FA;
}

@include media-breakpoint-down(sm) {
    .o_action_manager {
        margin-left: 0px;
    }
}
