
$dark-mode-background-color: #182139;
$dark-mode-border-color: #6d748e;
$dark-mode-txt-color: #c7c7c7;

body.dark {
    
    background-color: $dark-mode-background-color;
    color: #c7c7c7;

    .awesome_header{
        .navigation-toggler {
            background-color: #454c66
        }
    }

    .nav {
        li.nav-item {
            border-bottom-color:$dark-mode-border-color
        }
    }

    .btn-primary {
        color: $dark-mode-txt-color;
        border-color: #4d5075;
        background-color: #313852;
        box-shadow: none;

        &:hover {
            border-color: #797bf2 !important;
            color: #8d8d97 !important;
        }
    }

    .btn-secondary {
        color: $dark-mode-txt-color;
        background-color: #3b425c;
        border-color: #4d5075;
        
        &:hover {
            border-color: #797bf2 !important;
            color: #797bf2 !important;
        }
    }

    a:not(.btn) {
        color: rgba(255, 255, 255, .5);

        &:hover {
            color: rgba(255, 255, 255, .8)
        }
    }

    .awesome_header {
        background-color: #313852;
        border-bottom-color: #454c66;

        .navigation-toggler {
            background-color: #3b425c;
            border: 1px solid #313852;
        }

        .avatar {
            border-color: transparent
        }
    }

    .nav-tabs {

        .nav-link:focus,
        .nav-link:hover {
            background-color: #313852 !important;
            border-bottom-color: #313852 !important
        }

        .nav-link.active {
            background: #313852 !important;
            border-bottom-color: #313852 !important
        }
    }

    .o_list_table {
        thead {
            th {
                border-bottom: 1px solid rgba(155, 155, 155, 0.2);
            }
        }
    }

    .page-header {
        color: rgba(255, 255, 255, .6);
        background-color: #313852
    }

    .navigation-menu-body {
        border-right: 1px solid #444d67;
    }
}


body.dark {
    .navigation {
        background-color: #313852;
        border-right-color: #454c66;
        
        .navigation-menu-body {

            ul li>a.active:after {
                background-color: #6c71af;
            }

            .navigation-section-name {
                border-bottom-color: #454c66;
            }

            ul {
                li {

                    & > a{
                        &.active{
                            &:after {
                                background-color: #6c71af;
                            }
                        }
                    }

                    a {
                        color: #c7c7c7;

                        .nav-link-icon {
                            stroke: rgba(199, 199, 199, .5)
                        }

                        &:focus,  &:hover{
                            background: 0 0;
                            color: #fff
                        }

                        &.active {
                            color: #fff
                        }

                        &+ul {
                            li {
                                a.active {
                                    color: #fff
                                }
                            }
                        }
                    }

                    &.open {
                        &>a {
                            color: #fff;
                            background-color: #8e93a3
                        }
                    }
                }
            }
        }
    }

    .popover {
        .popover-navigation {
            border-top-color: rgba(240, 240, 240, .12)
        }
    }
}


@media (min-width:1200px) {
    body.dark.navigation-toggle-one.navigation-show .navigation .navigation-menu-body {
        background-color: #313852
    }
}


body.dark {
    .awesome_multi_tab_container {
        .awesome_multi_tab {
            background: #454c66;

            .awesome_tab_scroller {
                .awesome_page_items {
                    background: #454c66;

                    li{
                        border-right: 1px solid rgba(49,56,82,0.48);
                        &:hover {
                            background-color: rgba(49,56,82,0.48);
                        }
                    }
                }
            }

            .awesome_tab_control {
                border-right: 1px solid rgba(49,56,82,0.48);
                border-left: 1px solid rgba(49,56,82,0.48);

                &:hover {
                    background-color: #3b425c;
                }
            }

            .awesome_multi_tab_active {
                background-color: #3b425c;
            }

            .awesome_icon_prev {
                border-right: 1px solid rgba(49,56,82,0.48);
            }

            .awesome_icon_next {
                border-right: 1px solid rgba(49,56,82,0.48);
                border-left: 1px solid rgba(49,56,82,0.48);
            }

            .awesome_icon_down {
                border-left: none;
            }
        }
    }
}

body.dark {
    .breadcrumb {
        li {
            a {
                color: #b3b3b3;
                &:hover {
                    color: #c7c7c7
                }
            }
            
            .breadcrumb-item.active {
                color: #e5e5e5
            }
        }
    }
}

body.dark {

    [data-backround-image]:after {
        background-color: rgba(0, 0, 0, .6)
    }

    .layout-alert {
        border-color: #59607a
    }

    .alert {
        color: rgba(255, 255, 255, .6);
        hr {
            border-color: rgba(255, 255, 255, .1)
        }
        .close:focus, .close:hover {
            opacity: .2;
            color: inherit
        }
    }

    .custom-control-label::before {
        border: 1px solid #59607a;
        background-color: #454c66;
    }

    .custom-control-input:disabled~.custom-control-label::before {
        background-color: #454c66
    }

    .custom-radio {
        .custom-control-label{
            &::after {
                background: #c3c3c3;
            }
        }
    }

    .form-control {
        background: #313852;
        border-color: #454c66 !important;
        color: #c3c3c3;

        &:focus {
            border-color: #1565c0 !important
        }
    }

    .custom-select {
        background-color: inherit;
        border-color: rgba(255, 255, 255, .2);
        color: inherit
    }

    .custom-file-label {
        background-color: inherit;
        border-color: rgba(255, 255, 255, .2);
        color: inherit
    }

    .custom-range::-webkit-slider-runnable-track {
        background-color: #454c66
    }

    hr {
        border-color: #454c66
    }

    .o_dropdown:hover .o_dropdown_toggler_btn, .o_dropdown.show .o_dropdown_toggler_btn {
        color: $dark-mode-txt-color;
    }

    .dropdown-menu {
        border: none;
        color: #c7c7c7;
        background-color: #3b425c;

        .dropdown-item {
            color: #c3c3c3;

            &:focus, &:hover {
                background: #313852
            }
        }

        .dropdown-item-text {
            color: $dark-mode-txt-color;
        }

        .o_menu_item > .dropdown-item:hover {
            color: $dark-mode-txt-color;
        }
    } 

    .bg-light {
        background: #59607a !important
    }

    .list-group-item {
        background: 0 0;
        border-color: rgba(155, 155, 155, .1)
    }

    .list-group-item-action {
        color: inherit
    }

    .card {
        .card-header {
            border-bottom-color: #2c2f42 !important
        }

        .card-footer {
            border-top-color: #2c2f42
        }
    }

    .avatar{
        &:before {
            border-color: #313852
        }

        .avatar-title {
            background-color: #59607a
        }
    }

    .img-thumbnail {
        border-color: #59607a;
        background-color: #313852
    }

    .progress {
        background-color: #59607a
    }

    .timeline {
        .timeline-item::before {
            background: #59607a
        }
    }
}


body.dark {

    .select2-drop {
        color: #fff;
        background-color: #3b425c;
    }
}


body.dark {
    .select2-dropdown {
        background-color: #313852;
        border-color: #59607a
    }

    .select2-container .select2-choice {
        background-color: #3b425c;
        border: 1px solid #454c66;
    }

    .select2-dropdown-open .select2-choice, .select2-dropdown-open .select2-selection--multiple {
        background-color: #313852;
        border-color: #454c66;
    }
}

body.dark{
    .daterangepicker {
        background-color: #3b425c;
        border-color: #3b425c;

        select {
            background-color: inherit;
            color: inherit;
            border-color: #59607a
        }

        &:after, &:before {
            border-bottom-color: #3b425c
        }

        td.in-range {
            background-color: #59607a;
            color: inherit
        }

        td.end-date {
            color: #fff;
            background-color: #1565c0
        }

        .drp-buttons {
            border-top-color: #3b425c;

            .btn.btn-default {
                color: inherit
            }
        }

        td.off, td.off.end-date, td.off.start-date {
            background-color: inherit;
            color: #636a84
        }

        td {
            &.off.in-range {
                background-color: #59607a;
                color: #8b92ac
            }

            &.available:hover {
                background-color: #59607a;
                color: #6d748e;
                border-color: #6d748e
            }
        }

        th {
            &.available:hover {
                background-color: #59607a;
                color: #6d748e;
                border-color: #6d748e
            }
        }

        .ranges li:hover {
            background-color: #454c66
        }

        .popover.clockpicker-popover {
            overflow: hidden;
            border: 1px solid #59607a;

            &.popover-title {
                background-color: #313852;
                color: inherit
            }

            &.popover-content {
                background-color: #313852
            }
        }

        .calendar-table {
            background-color: #3b425c;
            border-color: #3b425c;

            .next span, .prev span {
                border-color: #6d748e
            }
        }
    }

    .popover{
        &.clockpicker-popover {
            .clockpicker-plate {
                border-color: #59607a;
                background-color: #313852;

                .clockpicker-tick {
                    color: inherit
                }

                .clockpicker-canvas-bg {
                    fill: #59607a
                }
            }
        }
    }
}

body.dark .nav-tabs .nav-item.show .nav-link,
body.dark .nav-tabs .nav-link.active {
    background-color: #59607a;
    color: inherit;
    border-color: #59607a
}

body.dark .nav-tabs .nav-link:focus,
body.dark .nav-tabs .nav-link:hover {
    border-color: #3b425c;
    background-color: #3b425c
}

body.dark {
    .nav-tabs {
        border-bottom-color: #3b425c
    }

    .figure-caption {
        color: inherit
    }

    .btn-link {
        color: inherit
    }
}


body.dark  {
    .table td, table th {
        border-color: rgba(155, 155, 155, .2)
    }

    .border-bottom {
        border-bottom-color: rgba(155, 155, 155, .2) !important
    }

    .nicescroll-cursors {
        background-color: rgba(255, 255, 255, .15) !important
    }

    .table-hover tbody tr:hover {
        color: inherit
    }

    .o_list_view {
        .table-responsive{
            .o_list_table {
                thead, thead tr:nth-child(1) th {
                    background: #313852;
                }
            }

            tfoot > tr > td {
                position: sticky;
                bottom: 0;
                background: #454c66;
                background-color: #454c66;
            }
        }
    }
}

body.dark {
    .input-group-text {
        background: #454c66;
        color: inherit
    }
}

body.dark .dropdown-divider {
    border-top-color: rgba(240, 240, 240, .12)
}


body.dark .btn.btn-outline-light {
    border: 1px solid rgba(255, 255, 255, .1);
    color: #c7c7c7
}

body.dark .btn.btn-outline-light:hover {
    background: 0 0 !important;
    color: #d6d6d6 !important;
    border: 1px solid rgba(255, 255, 255, .1) !important
}

body.dark .modal-content {
    background-color: #313852
}

body.dark .modal-content .modal-header {
    border-bottom-color: rgba(240, 240, 240, .12);
    background-color: #454c66 !important
}

body.dark .modal-content .modal-header .close {
    text-shadow: none;
    opacity: 1;
    color: inherit;
    background-color: transparent !important
}

body.dark .modal-content .modal-footer {
    border-top-color: rgba(240, 240, 240, .12)
}

body.dark .popover {
    background-color: #454c66
}

body.dark .popover .popover-header {
    background-color: #59607a;
    border-color: transparent
}

body.dark .popover .popover-body {
    color: inherit
}

body.dark .popover .popover-navigation {
    border-top-color: rgba(240, 240, 240, .12)
}

body.dark .bs-popover-auto[x-placement^=top]>.arrow::after,
body.dark .bs-popover-top>.arrow::after {
    border-top-color: #454c66
}

body.dark .bs-popover-auto[x-placement^=right]>.arrow::after,
body.dark .bs-popover-right>.arrow::after {
    border-right-color: #454c66
}

body.dark .bs-popover-auto[x-placement^=bottom]>.arrow::after,
body.dark .bs-popover-bottom>.arrow::after {
    border-bottom-color: #454c66
}

body.dark .bs-popover-auto[x-placement^=left]>.arrow::after,
body.dark .bs-popover-left>.arrow::after {
    border-left-color: #454c66
}

body.dark ul.links .awesome_header form .input-group .input-group-append button.btn,
body.dark ul.links a {
    color: inherit
}

body.dark .page-link {
    background-color: inherit;
    color: inherit;
    border-color: rgba(240, 240, 240, .12)
}

body.dark .page-item.disabled .page-link {
    background-color: #272e48;
    border-color: rgba(240, 240, 240, .12);
    color: inherit
}

body.dark .nav a.nav-link:not(.active) {
    color: #c7c7c7
}

body.dark .nav a.nav-link:not(.active):active,
body.dark .nav a.nav-link:not(.active):hover {
    background-color: #3b425c
}

body.dark.hidden-navigation .navigation {
    background-color: #313852
}

body.dark.sticky-footer footer {
    background-color: #182139 !important
}

@media (min-width:1200px) {
    body.dark{
        &.navigation-toggle-one{
            &.navigation-show {
                .navigation {
                    .navigation-menu-body {
                        background-color: #313852
                    }
                }
            }
        }
    }
}

@media (max-width:414px) {
    body.dark {
        .nav {
            li.nav-item {
                border-bottom-color: #6d748e
            }
        }
    }
}

body.dark {
    .o_Chatter {
        background-color: #4d5075;
        border-color: #565c71;

        .o_Message{
            &.o-not-discussion {
                background-color: #454c66;
            }
        }

        .o_MessageList_separatorLabel {
            background-color: transparent;
        }
    }
}

body.dark {
    .o_action_manager {
        background-color: #313852;
    }
}

body.dark {
    .h1, .h2, .h3, .h4, .h5, .h6 {
        margin-bottom: none;
        font-weight: 400;
        color: rgba(255, 255, 255, .6);
    }
}

body.dark {
    .awesome_footer {
        color: rgba(255, 255, 255, .6);
        background-color: #313852;
        border-top: 1px solid #454c66;

        .o_pager .o_pager_counter {
            color: $dark-mode-txt-color;
        }
    }
}

body.dark {
    .o_form_view {
        background-color: #313852;

        .o_form_sheet_bg>.o_form_sheet {
            min-width: initial;
            border: 1px solid #59607a;
            background: transparent;
        }

        .o_notebook_headers {

            > .nav.nav-tabs {
                border-bottom: $nav-tabs-border-width solid #59607a;

                > .nav-item {
                    > .nav-link {
                        color: #ffffff;
                        border-color: #59607a;

                        &:hover, &:focus, &:active {
                            outline: none;
                            color: $link-color;
                        }

                        &.active {
                           border-bottom-color: #ffffff;

                            &, &:hover, &:focus, &:active {
                                color: $headings-color;
                                border-top-color: $o-brand-odoo;
                            }
                        }

                        &.disabled {
                            color: $text-muted;
                        }
                    }
                }
            }
        }
    }

    .o_input, .single-line {
        background: #313852;
        border-color: #454c66 !important;
        color: #c3c3c3;
    }

    
    .text-divider:after {
        background-color: #454c66
    }

    input {
        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, .5)
        }

        &::-moz-placeholder {
            color: rgba(255, 255, 255, .5)
        }

        &::-ms-input-placeholder {
            color: rgba(255, 255, 255, .5)
        }

        &::placeholder {
            color: rgba(255, 255, 255, .5)
        }
    }

    .border {
        border-color: #454c66 !important
    }

    .border-right {
        border-left-color: #454c66 !important;
        border-right-color: #454c66 !important
    }

    .border-left {
        border-left-color: #454c66 !important;
        border-right-color: #454c66 !important
    }

    .border-bottom {
        border-bottom-color: #454c66 !important
    }

    .border-top {
        border-top-color: #454c66 !important
    }
}

body.dark {
    .card {
        background: #313852;
    }
}

body.dark .input-group-text {
    background-color: #313852;
    border: 1px solid #454c66;

    &:focus {
        outline: none;
    }
}

body.dark {
    .ui-autocomplete {
        background: #313852;
        border-color: #454c66 !important;
    
        .ui-menu-item:hover, .ui-menu-item>a:hover {
            background-color: #434B74;
        }

        .ui-menu-item {
            > a.ui-state-active {
                background-color: #434B74;
            }
        }
    }
}

//  searchview
body.dark {
    .o_searchview {
        background: #313852;
        color: #c3c3c3;
        border: 1px solid #59607a;

        .o_searchview_facet {
            border: 1px solid #6c757d;
            background: #5d6275;
            .o_searchview_facet_label {
                background-color: #4d5075;
            }
        }

        .o_searchview_autocomplete {
            li.o-selection-focus {
                background-color: #434B74;
            }

            .ui-menu-item.ui-state-focus {
                background-color: #4d5075;
            }
        }

        .o_searchview_input_container {
            .o_searchview_input {
                background: #313852;
                color: #c3c3c3;
            }
        }

        .o_searchview_autocomplete {
            li {
                &.o_selection_focus {
                    background-color: #454c66;
                }
            }
        }
    }
}


body.dark {
    .o_kanban_view {
        .o_kanban_record {
            background: #313852;
            border-color: #454c66 !important;
            color: #c3c3c3;

            .o_dropdown_kanban.show {
                .dropdown-toggle {
                    background: #313852;
                    border-color: #454c66 !important;
                }
            }
        }
    }

    .oe_kanban_card {
        .o_dropdown_kanban{
            &.show {
                .dropdown-toggle {
                    background: #313852;
                    border-color: #454c66 !important;
                }
            }
        }
    }
}


body.dark {

    .table {
        color: #c7c7c7;
    }

    .o_list_view {
        .o_list_table {

            background-color: transparent !important;
            thead {
                color: #c7c7c7;
                border-bottom: 1px solid #181924;
                background-color: transparent !important;
                &>tr>th:nth-of-type(1) {
                    border-left: none;
                }

                th:focus-within {
                    background-color: transparent !important;
                }
            }

            tbody{
                &.o_keyboard_navigation {
                    td:focus-within {
                        background-color: transparent !important;
                    }
                }

                &>tr.o_group_header {
                    background-image: linear-gradient(to bottom, #4d5075, #4d5075);
                    &:focus-within {
                        background-image: linear-gradient(to bottom, #4d5075, #4d5075);
                    }
                }
            }

            tr:focus-within, th:focus-within {
                background-color: transparent !important;
            }

            &.table-striped tr:focus-within{
                background-color: transparent !important;
            }

            tfoot {
                color: #c7c7c7;
                background-color: #4d5075;
                border-top: 1px solid #454c66;
                border-bottom: 1px solid #454c66;
            }
        }
    }
}

body.dark .oe_button_box {
    box-shadow: inset 0 -1px 0 #59607a;
}

body.dark {
    .o_form_view {
        .oe_button_box.o_not_full .oe_stat_button {
            border-left: 1px solid #59607a;
        }
    }
}

body.dark {
    .o_form_view {
        .o_form_statusbar {
            background-color: transparent !important;
        }
    }
}

body.dark {
    .custom-control-input:not(:disabled):active~.custom-control-label::before {
        color: #c7c7c7;
        background-color: transparent;
        border: 1px solid #59607a;
    }
}

body.dark {
    .card-body {
        background: #313852 !important;
        color: #c3c3c3;
    }
}

body.dark {
    .custom-control-input:checked~.custom-control-label::before {
        background-color: #5c6174;
    }
}

body.dark {
    .bootstrap-datetimepicker-widget.dropdown-menu.bottom::after {
        border-bottom: 10px solid #3b425c;
    }

    .bootstrap-datetimepicker-widget.dropdown-menu.top:after {
        border-top: 6px solid #3b425c;
    }
}

body.dark {
    .o_kanban_view {

        &.o_kanban_grouped {
            background-color: #3b425c;
        }
        
        .o_column_quick_create {
            .o_quick_create_unfolded {
                padding: 8px 8px;
                width: 240px;
                height: 100%;
                border: none;
                box-shadow: 0 0 20px -10px;
                background-color: #3b425c;
            }
        }
    }
}

body.dark {
    .o_mail_preview {
        background-color: #313852;
        color: #c7c7c7;

        &.o_systray_activity:hover {
            background-color: #454c66;
        }

        &:not(:last-child) {
            border-bottom: 1px solid #454c66;
        }
    }
}

body.dark {
    .o_mail_discuss {
        .o_mail_discuss_content {
            background-color: #3b425c;
        }
    }

    .o_MessagingMenu {
        .o_MessagingMenu_notificationList {
            background-color: #3b425c;
    
            .o_NotificationList_notificationRequest, .o_NotificationGroup, .o_ThreadPreview {
                background-color: #3b425c;
                &:hover {
                    background-color: #454c66;
                }
            }
    
            .o_NotificationList_separator {
                border-bottom: 1px solid #454c66;
            }
        }

        .o_MessagingMenu_dropdownMenuHeader {
            border-bottom: 1px solid #454c66;
        }
    }
}

body.dark {
    .o_graph_controller {
        .o_graph_renderer {
            .o_graph_canvas_container {
                canvas {
                    background-color: #313852;
                }
            }
        }
    }
}

body.dark {
    .o_control_panel {
        background-color: #3b425c;
        color: #4c4c4c;
        border-bottom: 1px solid #454c66;
    }
}

body.dark .list-group-item-action:hover, body.dark .list-group-item-action:focus {
    color: #c7c7c7;
    background-color: #313852;
}

body.dark {
    .o_search_panel {

        background-color: #3b425c;
        color: #c7c7c7;
        border-right: 1px solid #454c66;

        .list-group-item .active {
            background-color: #313852
        }
    }
}

body.dark {
    .o_onboarding {
        border-bottom: none;
    }
}

body.dark {
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #FFFFFF;
        background-color: #f8f9fa;
        border: 1px solid #454c66;
    }
}

body.dark {
    .navigation-menu-tab-header {
        .dropdown-menu {
            .arrow{
                &::before {
                    border-right-color: rgba(0, 0, 0, 0.25);
                }
                &::after {
                    border-right-color: #3b425c;
                }
            }
        }
    }
}

body.dark {
    .btn-secondary:not(:disabled):not(.disabled).active {
        color: $dark-mode-txt-color;
        background-color: #1a233a;
        border-color: #4d5075;
    }
}


body.dark {
    .navigation {
        background-color: #313852;
        border-right-color: #454c66;
    
        .navigation-menu-tab {
            background-color: #313852;
            border-right: 1px solid #565c71;
            box-shadow: 6px 0px 10px 0 rgba(49,56,82,0.42);
            header {
                background-color: #2c2f42
            }
        }
    
        .navigation-menu-body {
            border-right: 1px solid #565c71;
        }
    
        .navigation-menu-body {
            .navigation-logo {
                border-bottom-color: #454c66;
    
                img {
                    display: block;
    
                    &:not(.logo-light) {
                        display: none
                    }
                }
            }
    
            ul {
                li {
                    &.navigation-divider {
                        color: #dbdbdb
                    }
    
                    a {
                        color: #c7c7c7;
    
                        .nav-link-icon {
                            stroke: rgba(199, 199, 199, .5)
                        }
    
                        &:focus,
                        &:hover {
                            background: 0 0;
                            color: #fff
                        }
    
                        &.active {
                            color: #fff;
                            background: #384161;
                        }
                    }
    
                    a+ul li a.active {
                        color: #fff
                    }
    
                    &.open>a {
                        color: #fff;
                        background-color: #454c66
                    }
    
                    .dropdown-divider {
                        color: #454c66
                    }
                }
            }
        }
    
        .awesome-nav-footer {
            background-color: #3b425c;
            
            .awesome_menu_board {
                .board-pannel {
                    .search_box, .search_input {
                        background-color: #454c66 !important
                    }
                }
            }
        }
    }
}

body.dark {
    .customizer {
        background-color: #272E48;
        border-color: #4d5075;
        
        .customizer-content {

            .add_new_style_icon {
                fill: #FFF;
            }

            .theme_mode_tool_bar {
                border-top: 1px solid $dark-mode-border-color;
                border-bottom: 1px solid $dark-mode-border-color;
                background-color: $dark-mode-background-color;
            }

            .style_item_container {
                .style_item_group {
                    .style_item_group_name {
                        height: 35px;
                        line-height: 35px;
                        margin: 0 0 .5rem 0;
                        border-top: 1px solid #272e48;
                        border-bottom: 1px solid #272e48;
                        background-color: #272e48;
                    }

                    .style_sub_group_name {
                        background: #313852;
                        border-bottom: 1px solid #454c66;
                    }
                }
            }

            .add_new_group {
                color: #fff;
                border-top: 1px solid #272e48;
                border-bottom: 1px solid #272e48;
                background-color: #272e48; 
            }
        }

        .style-preview-box {
            border-color: #4d5075;
            .sidebar-box {
                border-right-color: #4d5075;
            }
        }

        .theme_styles {
            .style_item_container {
                .theme-style-nav-item {
                    background: transparent;
                }

                .style_items {
                    padding: 0px 0px 15px 0px;
                }
            }
        }

        .theme-mode-container {
            .theme_style_tab{
                &.active {
                    background: transparent;
                    border-color: #4d5075;
                }
            }
        }

        .tab-content {
            background-color: #313852;
        }

        .customizer-close i {
            color: #8A99B5
        }
    
        .customizer-footer {
            border-top: 1px solid rgba(10,17,41,0.52);
            background-color: #313852;
            box-shadow: 0 4px 25px 0 rgba(10,17,41,0.52);
        }

        .top_title {
            box-shadow: 0 4px 25px 0 rgba(10,17,41,0.52);
            border-bottom: 1px solid rgba(10,17,41,0.52);
        }
    }
}

body.dark {
    .o_form_view {
        .o_form_statusbar {
            & > .o_statusbar_status {
                & > .o_arrow_button:not(:first-child) {
                    &:after {
                        border-left: 11px solid #3b425c;
                    }

                    &:before {
                        border-left-color: #59607a;
                    }
                }

                .o_arrow_button.btn-primary.disabled {
                    background-color: #313852;
                }

                .o_arrow_button.disabled {
                    border-left: 1px solid #585f79;
                }
            }
        }
    }

    .o_required_modifier{
        &.o_input, .o_input {
            background-color: #454c66  !important;
        }
    }
}

body.dark {
    .note-editor {
        border: 1px solid #3b425c !important;
        .note-editing-area {
            .note-editable {
                background-color: #3b425c !important;
                color: #000 !important;
            }
        }

        .note-statusbar {
            background-color: #454c66;
        }
    }
}

body.dark {
    .alert-info {
        background-color: rgba(138,28,38,0.71);
        border-color: #59607a;
    }

    .panel-heading.note-toolbar {
        border-bottom: 1px solid #59607a;
        background-color: #3b425c;

        .btn {
            border-left: none;
            border-right: none;
            background: transparent
        }
    }
}

body.dark {
    .o_widget_Discuss .o_Discuss_content {
        border-top: none;
    }

    .o_MessageList {
        background-color: #454c66;
    }
}

body.dark { 
    .o_field_widget{
        &.o_field_many2manytags {
            .o_tag_color_0 {
                background-color: #313852;
                color: #c7c7c7;
                box-shadow: inset 0 0 0 2px #777777;
            }
        }
    }
}

body.dark {
    .o_setting_search {
        border: 1px solid #454c66;
        background: #313852;
        border-radius: 999px;
        padding: 3px 30px 3px 20px;
        input {
            border-bottom: none !important;
            background: #313852;
        }

        .searchIcon {
            right: 10px !important;
        }
    }

    .o_base_settings {
        .o_setting_container{
            .settings {
                background-color: #454c66;
                & > .app_settings_block h2 {
                    background-color: #313852;
                }
            }
        }

        .o_control_panel {
            .o_panel {
                .o_setting_search {
                    .searchInput {
                        border-bottom: none !important
                    }
                }
            }
        }
    }
}


body.dark {
    .navigation-menu-tab-header{

        .user_profile_header_image {
            background: #424961;
        }
    
        .dropdown-menu {
            background: #424961 !important;

            .dropdown-menu-body {
                background: #3b415b;
            }
    
            .user_profile_footer {
                background: #424961;
            }
        }
    }
}

body.dark {

    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    ::-webkit-scrollbar-track {
        background: #3b425c;
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 3px;
    }

    ::-webkit-scrollbar-thumb:increment,
    ::-webkit-scrollbar-thumb:decrement {
        background: #000;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body.dark  {
    .o_loading {
        background-color: #313852;
    }
}

body.dark {
    .o_calendar_view {
        background-color: #3b425c;
        background: linear-gradient(-45deg, #454c66, #3b425c);

        .o_calendar_widget {

            td {
                border-color: #565c71;
            }

            .fc-widget-header {
                border-bottom-color: #565c71;
            }

            .fc-timeGridDay-view, .fc-timeGridWeek-view {
                tbody {
                    td {
                        border-top-color: #59607a;
                    }
                }
            }
            
            .fc-body {
                > tr {
                    > td {
                        border-color: #59607a;
                    }
                }
            }

            .fc-day-grid {
                background-color: #454c66;
                .fc-row {
                    border-bottom: none;
                }
            }

            .fc-widget-content {
                background-color: #454c66;
            }

            hr.fc-widget-header {
                background: #59607a !important;
            }

           .fc-slats tr:first-child td.fc-widget-content:last-child {
                box-shadow: inset 0 1px 0 #59607a !important;
            }

            .fc-dayGridMonth-view {
                .fc-bg {
                    .fc-today {
                        background: #313852;
                        border-color: #313852;
                    }
                }
            }
        }
    }

    .o_calendar_sidebar_container {
        background-color: #424963;
        border-left: 1px solid #555b70;

        .o_calendar_mini  {
            .ui-widget-content {
                border: 1px solid #59607a;
                background: #424963;
                color: #333333;
            }
        }
    }

    .o_widget_Discuss {
        .o_Discuss{

            &.o-mobile:not(.o-adding-item) {
                border-top: none;
            }

            .o_MobileMessagingNavbar {
                background-color: #454c66;
                box-shadow: 0 0 8px #232940;
            }
        
            .o_Discuss_mobileMailboxSelection {
                button {
                    border-radius: 0px;
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .awesome_header {
            .header_right_part {
                border-top: 1px solid #454c66;
            }
        }
    }    
}