
.rightbar-overlay {
    background-color: rgba(52, 58, 64, .55);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 990;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

