
.navigation {

    @include awesome-flex;
    @include awesome-flex-row;

    background: #fff;
    z-index: 4;
    width: 300px;
    position: fixed;
    top: 0;
    bottom: 0;
    -webkit-box-shadow: 0 3px 10px rgba(62, 85, 120, .045);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, .045);
    box-shadow: 0 3px 10px rgba(62, 85, 120, .045);

    .navigation-menu-tab {
        @include awesome-flex;
        @include awesome-flex-column;
        
        background-color: #1565c0;
        width: $sidebar_toggle_one_width;
        overflow: hidden;
        box-shadow: 5px 1px 10px 0 rgba(20,27,71,0.26);

        .navigation-menu-tab-header {
            height: 70px;

            @include awesome-flex;
            @include awesome-align-items-center;
            @include awesome-justify-content-center;

            .oe_topbar_avatar {
                width: 48px;
                height: 48px;
            }
        
            .user_profile_header_image {
                background: #f6f6f6;
            }
        
            .dropdown-menu {
                background: #f6f6f6 !important;
                border-radius: 5px;
        
                .dropdown-menu-body {
                    background: #fff;
                }
        
                &.dropdown-menu-big {
                    &.user_profile_dropdown {
                        width: 230px;
                    }
                }
        
                .dropdown-item {
                    padding: 6px 20px;
                }
        
                .logout_menu_item {
                    padding: 10px 20px;
                }
        
                .user_profile_footer {
                    background: #f6f6f6;
                }
            }
        }

        a {
            &.active {
                position: relative;
                color: #fff;

                &:after {
                    position: absolute;
                    content: '';
                    right: 8px;
                    left: 8px;
                    top: 0px;
                    bottom: 25px;
                    -webkit-border-radius: .5rem;
                    -moz-border-radius: .5rem;
                    border-radius: .5rem;
                    display: block;
                    background: rgba(255, 255, 255, .2);
                }
            }
        }

        ul {
            li {
                a:hover {
                    color: #fff
                }
            }
        }

        .tab_body_scroller {
            width: 80px;
            overflow: hidden;

            .navigation-menu-tab-body {
                width: 100px;
                height: 100%;
                
                overflow-y: scroll;
                overflow-x: hidden;
                
                .navigation-menu-tab-items {
                    width: $sidebar_toggle_one_width;

                    .o-app-icon {
                        width: 48px;
                        height: 48px;
                    }    
                }
            }
        }
    }

    .navigation-menu-group {
        & > div {
            display: none
        }
    }

    .navigation-menu-tab ul li a svg {
        width: 20px;
        height: 20px
    }

    .navigation-menu-body {

        @include awesome-flex;
        @include awesome-flex;
        @include awesome-flex-column;

        width: 220px;

        flex: 1 1 auto;

        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -moz-box-orient: vertical;
        -moz-box-direction: normal;

        overflow: auto;
        border-right: 1px solid #ebebeb;
        box-shadow: 0 4px 20px 1px rgba(0,0,0,.06), 0 1px 4px rgba(0,0,0,.08);

        &.navigation-menu-group {
            padding: 1rem 0;
            &> div {
                display: none
            }
        }  
        
        ul {
            li {
                > a + ul {
                    display: none;
                    li {
                        margin: 0;
                        a {
                            padding-left: 50px
                        }
                    }

                    ul {
                        border-left: none;
                        li {
                            a {
                                padding-left: 70px
                            }
                        }
                    }
                }

                &.open > a {
                    color: #1565c0;
                    font-weight: 600;

                    .nav-link-icon {
                        stroke: #1565c0
                    }
                }

                &.open > ul {
                    display: block;

                    a.active {
                        background-color: inherit;

                        &:before {
                            content: '';
                            display: inline-block;
                            width: 5px;
                            height: 5px;
                            background-color: #1565c0;
                            @include border-radius(50%);
                            margin-right: .5rem
                        }
                    }                    
                }
            }
        }
    }

    .awesome-nav-footer {
        background-color: rgb(18, 84, 158);
        height: 45px;

        @include awesome-flex;
        @include awesome-align-items-center;
        @include awesome-justify-content-center;

        flex-shrink: 0;

        .board_toggler  {
            transition: 0.70s;
            -webkit-transition: 0.70s;
            -moz-transition: 0.70s;
            -ms-transition: 0.70s;
            -o-transition: 0.70s;

            &:hover {
                transition: 0.70s;

                -webkit-transition: 0.70s;
                -moz-transition: 0.70s;
                -ms-transition: 0.70s;
                -o-transition: 0.70s;

                -webkit-transform: rotate(180deg);
                -moz-transform: rotate(180deg);
                -o-transform: rotate(180deg);
                -ms-transform: rotate(180deg);
                transform: rotate(180deg);
            }
          }
    }
    
    .navigation-menu-group > div.open {
        display: block
    }

    .navigation-section-name {
        @include awesome-flex;
        @include awesome-align-items-center;
        @include awesome-justify-content-center;

        height: 60px;
        padding: 5px;
        border-bottom: 1px solid #ebebeb;

        > p {
            font-size: 18px;
            max-width: 180px;
            font-weight: bold;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 30px;
            margin: 0px;
            padding: 0px;
        }
    }

    ul li{
        &.navigation-divider:first-child {
            margin-top: 0;
            padding-top: 0
        }

        > a {
            @include awesome-flex;
            @include awesome-align-items-center;

            align-items: center;
            padding: 10px 30px;
            color: #505050;

            -webkit-transition: background .3s;
            -o-transition: background .3s;
            -moz-transition: background .3s;
            transition: background .3s;

            &:hover {
                color: #1565c0 !important;
                background-color: rgba(33,37,41,0.06);
            }

            &.active {
                position: relative;
                color: #1565c0;
                background: #eee;

                &:after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 3px;
                    -webkit-border-top-left-radius: 5px;
                    -moz-border-radius-topleft: 5px;
                    border-top-left-radius: 5px;
                    -webkit-border-bottom-left-radius: 5px;
                    -moz-border-radius-bottomleft: 5px;
                    border-bottom-left-radius: 5px;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    background-color: #1565c0
                }
            }

            .sub-menu-arrow {
                margin-left: auto;
                font-size: 1rem;

                -webkit-transition: -webkit-transform .5s;
                transition: -webkit-transform .5s;
                -o-transition: -o-transform .5s;
                -moz-transition: transform .5s, -moz-transform .5s;
                -moz-transition: transform .5s, -moz-transform .5s;

                transition: transform .5s;
                transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;
                transition: transform .5s, -webkit-transform .5s, -moz-transform .5s, -o-transform .5s;

                &.rotate-in {
                    -webkit-transform: rotate(360deg);
                    -moz-transform: rotate(360deg);
                    -ms-transform: rotate(360deg);
                    -o-transform: rotate(360deg);
                    transform: rotate(360deg)
                }
            }
        }
    }
}

// because we need to drag app items, it is standlone, so we put it here
.awesome_nav_bar_app_item {
        
    @include awesome-flex;
    @include awesome-justify-content-center;
    @include awesome-align-items-center;
    
    color: #fff;
    flex-direction: column;
    height: 85px;
    padding: 5px;

    &:hover {
        background-color: transparent !important;
    }

    .awesome_app_name {
        max-width: 95%;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 0px 0px 0px;
        color: #fff;
    }

    .o-app-icon {
        width: 48px;
        height: 48px;
    }
}

body {

    &.no-sub-menu {

        .navigation {
            width: $sidebar_toggle_one_width;
        }

        .o_action_manager, .awesome_footer {
            margin-left:$sidebar_toggle_one_width;
        }

        .awesome_header {
            margin-left: $sidebar_toggle_one_width;
        }

        .navigation-menu-body {
            display: none;
        }
    }

    &.navigation-toggle-one {

        .navigation {
            width: $sidebar_toggle_one_width;

            .navigation-menu-body {
                display: none;
                border-right: 1px solid rgb(235, 235, 235);
            }
        }

        &.navigation-show:not(.no-sub-menu) {
            .navigation {
                .navigation-menu-body { 
                    width: 225px;
                    display: block;
                    
                    position: absolute;
                    background: #fff;
                    top: 0;
                    bottom: 0;
                    left: $sidebar_toggle_one_width;

                    -webkit-box-shadow: 0 3px 10px rgba(62, 85, 120, .21);
                    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, .21);
                    box-shadow: 0 3px 10px rgba(62, 85, 120, .21)
                }
            }
        }

        .awesome_header {
            margin-left: $sidebar_toggle_one_width;
        }

        .awesome_footer {
            margin-left: $sidebar_toggle_one_width;
        }

        .o_action_manager {
            height: 100%;
            margin-left: $sidebar_toggle_one_width;
            @include awesome-flex;
        }

        &.no-sub-menu {

            .navigation {
                width: $sidebar_toggle_one_width;
            }

            .o_action_manager, .awesome_footer {
                margin-left:$sidebar_toggle_one_width;
            }

            .navigation-menu-body {
                display: none;
            }

        }
    }

    &.navigation-toggle-two {

        .navigation {
            display: flex;
        }
    
        .awesome_header {
            margin-left: $sidebar_toggle_two_width;
    
            .navigation-toggler {
                display: block !important
            }
    
            .navigation-toggler.mobile-toggler {
                display: none !important
            }
        }
    
        .awesome_footer, .o_action_manager {
            margin-left: $sidebar_toggle_two_width;
        }
    
        .o_action_manager {
            @include awesome-flex;
        }
    
        &.no-sub-menu {
            .navigation {
                width: $sidebar_toggle_one_width;
            }
    
            .o_action_manager {
                margin-left: $sidebar_toggle_one_width;
            }
    
            .awesome_header {
                margin-left: $sidebar_toggle_one_width;
            }
    
            .awesome_footer {
                margin-left: $sidebar_toggle_one_width;
            }
    
            .navigation-menu-body {
                display: none;
            }
        }
    }

    &.navigation-toggle-none {

        .navigation {
            display: none
        }
    
        .awesome_header {
            margin-left: 0px;
    
            .navigation-toggler {
                display: none !important
            }
    
            .navigation-toggler.mobile-toggler {
                display: block !important
            }
        }
    
        .awesome_footer {
            margin-left: 0px
        }
    
        .o_action_manager {
            margin-left: 0px;
            width: 100%;
            @include awesome-flex;
        }
        
        &.navigation-show {
            .navigation {
                left: 0;
                opacity: 1;
                display: flex;
                z-index: 1000;
            }
        }
    }
}

@include media-breakpoint-down(sm) {

    body {
        display: block;

        &.navigation-show {
            .navigation {
                left: 0;
                opacity: 1
            }
        }
    }

    .awesome_header {
        
        margin-left: 0 !important;
        padding: 0 1rem;

        .awesome_header-toggler {
            display: block
        }

        div:nth-child(1) ul li.navigation-toggler {
            display: block
        }

        .navbar-toggler, .navigation-toggler {
            a {
                background: 0 0 !important
            }
        }

        .navigation-toggler {
            display: none !important
        }

        .navigation-toggler.mobile-toggler {
            display: block !important
        }    

        .navigation-toggler a:hover {
            background: 0 0 !important
        }

        .dropdown-menu {
            top: 85px !important;
            width: auto !important;
            -webkit-transform: inherit !important;
            -moz-transform: inherit !important;
            -ms-transform: inherit !important;
            -o-transform: inherit !important;
            transform: inherit !important
        }
    }

    .o_action_manager {
        margin-left: 0px !important;
    }

    .awesome_footer {
        margin-left: 0px !important;
    }

    .navigation {
        z-index: 1000;
        left: -500px;
        top: 0;
        bottom: 0;
        position: fixed !important;

        &.open {
            left: 0;
        }

        header {
            &.navigation-header {
                padding-top: 20px
            }
        }
        
        .navigation-icon-menu {
            margin: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0
        }

        .awesome-nav-footer {
            height: 45px;
            flex-shrink: 0;
        }

        .navigation-logo {
            height: 45px;
        }
    }
}

@include media-breakpoint-down(xs) {
    .navigation header.navigation-header .nav {
        @include awesome-flex;
    }

    body.dark .nav li.nav-item {
        border-bottom-color: #6d748e
    }

    .navigation {
        width: 75%
    }
}

body.hide_awesome_app_name {
    
    .awesome_app_name  {
        display: none !important;
    }

    .navigation {
        .navigation-menu-tab {
            a {
                &.active{
                    &:after {
                        top: 10px;
                        bottom: 10px;
                    }
                }
            }
        }
    }
}


body.layout_mode2 {

    .navigation {
        top: 60px;

        .navigation-menu-tab-header {
            display: none !important;
        }

        .navigation-menu-tab {
            padding-top: 10px !important;
        }
    }

    .awesome_header {
        margin-left: 0px !important;

        .o_user_menu {
            display: block !important;

            .oe_topbar_avatar {
                width: 36px;
            }

            .oe_topbar_name{
                display: none !important;
            }
        }
    }
}

body.layout_mode3 {

    .navigation {

        .navigation-menu-tab-header {
            display: none !important;
        }

        .navigation-menu-tab {
            padding-top: 30px !important;
        }
    }

    .awesome_header {

        .o_user_menu {
            display: block !important;

            .oe_topbar_avatar {
                width: 36px;
            }
            .oe_topbar_name{
                display: none !important;
            }
        }
    }
}

