
.page-header {
    padding: 1rem 1rem;
    height: 40px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 10px rgba(62, 85, 120, .07);
    -moz-box-shadow: 0 3px 10px rgba(62, 85, 120, .07);
    box-shadow: 0 3px 10px rgba(62, 85, 120, 0.21);
    @include awesome-flex();
    @include awesome-flex();
    @include awesome-align-items-center();
    border-bottom: 1px solid #dee2e6;
}

.page-header-content {
    width: 100%;
}

.page-header .breadcrumb {
    background: 0 0;
    padding: 0;
    margin: 0
}

.page-header .breadcrumb a:hover {
    text-decoration: underline
}

.page-header .breadcrumb li.breadcrumb-item {
    font-size: inherit !important
}

.page-header .breadcrumb li.breadcrumb-item:first-child:before {
    content: "\f015";
    width: 32px;
    font-size: 14px;
    display: inline-block;
    text-align: right;
    margin-right: 10px;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-header .breadcrumb li.breadcrumb-item + .breadcrumb-item::before {
    font-size: 10px
}

.page-header .breadcrumb li.breadcrumb-item.active {
    color: #1565c0;
    font-weight: 600
}

.page-header .breadcrumb li.breadcrumb-item, .small, small {
    font-size: 11px
}

.page-header .navigation-toggler {
    display: none;
}
