
.theme_style_tab {
    padding: 5px;
}

.o_action {
    flex: 1 1 auto;
    
    @include awesome-flex;
    @include awesome-flex-column;

    .o_content {
        flex: 1 1 auto !important;
    }
}

.o_widget_Discuss {
    .o_Discuss{
        
        &.o-mobile:not(.o-adding-item) {
            border-top: none;
        }
    
        .o_Discuss_mobileMailboxSelection {
            button {
                border-radius: 0px;
            }
        }
    }
}

.awesome_overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 990;
    background: rgba(0, 0, 0, .3);
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
}

.ui-autocomplete .ui-menu-item > a, 
.show .dropdown-menu .dropdown-item, 
.show .dropdown-menu .dropdown-header, 
.navbar-nav .show .dropdown-menu .dropdown-item, 
.navbar-nav .show .dropdown-menu .dropdown-header {
    padding: 1px 20px;
}

