.nav-pills {
    .nav-item {
        margin-right: 0.5rem;

        .nav-link {
            padding: 0.75rem 1.25rem;
            font-size: 1rem;
            font-weight: 400;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            font-size: 1rem;
            font-weight: 400;
            color: #595d6e;

            i {
                vertical-align: middle;
                line-height: 0;
                display: inline-block;
                margin-right: 0.5rem;
            }

            &.active {
                -webkit-transition: all 0.3s;
                transition: all 0.3s;
            }
        }

        &:last-child {
            margin-right: 0;
        }

        &:active,
        .active:hover {
            color: #ffffff;
        }

        &.show>.nav-link {
            color: #ffffff;
        }
    }

    &.nav-pills-sm .nav-item .nav-link {
        font-size: 0.9rem;
        padding: 0.5rem 1rem;
    }

    &.nav-pills-bold .nav-item .nav-link {
        font-weight: 500;
    }

    &.nav-pills-label {
        &.nav-item {
            .nav-link {
                &:active,
                &:active:hover {
                    background-color: rgba(93, 120, 255, 0.1);
                }
            }

            &.show>.nav-link {
                background-color: rgba(93, 120, 255, 0.1);
            }
        }
    }

    &.nav-tabs-btn {
        @include awesome-flex();
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        &:before,
        &:after {
            content: " ";
            display: table;
        }

        &:after {
            clear: both;
        }

        .nav-item {
            max-width: 100%;
            min-width: 75px;
            margin: 0.5rem;
            -webkit-box-shadow: rgba(69, 65, 78, 0.06) 0px 1px 15px 1px;
            box-shadow: rgba(69, 65, 78, 0.06) 0px 1px 15px 1px;
            border-radius: 0.5rem;
            text-align: center;

            .nav-link {
                @include awesome-flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                @include awesome-align-items-center();
                padding: 0.85rem 0.75rem;

                border: 0;
                padding: 12px 0;
                font-size: 1rem;
                font-weight: 400;

                .nav-link-title {
                    display: block;
                    font-weight: 500;
                }

                .nav-link-icon i {
                    margin: 0;
                    font-size: 1.3rem;
                }

                i {
                    vertical-align: middle;
                    line-height: 0;
                    display: inline-block;
                    margin-right: 0.5rem;
                }
            }
        }

        &.nav-tabs-btn-2x a.nav-link {
            border-bottom-width: 2px !important;
        }

        &.nav-tabs-btn-left {
            float: left;
        }
        
        &.nav-tabs-btn-right {
            float: right;
        }

        &.nav-tabs-bold .nav-item .nav-link {
            font-weight: 500;
        }

        a {
            &.nav-link {
                &.active {
                    .nav-link-icon i {
                        color: #fff;
                    }
        
                    .nav-link-title {
                        color: #fff;
                    }
                }
    
                .nav-link-icon i {
                    color: #a2a5b9;
                }
    
                .nav-link-title {
                    color: #74788d;
                }
            }
        }

        &.nav-pills-btn-brand  {
            a.nav-link {
                &.active {
                    background-color: #5d78ff;
    
                    .nav-link-icon i {
                        color: #ffffff !important;
                    }

                    .nav-link-title {
                        color: #ffffff !important;
                    }

                }
            }
        }
    }
}

body.dark {
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #313852;
    }
}

.nav-tabs{
    &.nav-tabs-line {
        margin: 0 0 25px 0;

        &:before, &:after {
            content: " ";
            display: table;
        }

        .nav-item {
            margin-right: 20px;
            margin-bottom: -1px;
        }
    }

    &:after {
        clear: both;
    }
}

@include media-breakpoint-down(md) {
    .nav-pills.nav-tabs-btn .nav .nav-item {
        max-width: 100%;
        width: 6.5rem;
        margin: 0.6rem;
    }

    .nav-pills.nav-tabs-btn .nav .nav-item .nav-link .nav-link-icon i {
        font-size: 1.2rem;
    }

    .nav-pills.nav-tabs-btn .nav .nav-item .nav-link .nav-link-title {
        font-size: 1rem;
    }
}
