

.note-popover .popover .popover-body .dropdown-menu,
.panel-heading.note-toolbar .dropdown-menu {
    border: 1px solid #dcdfe6 !important;
    background-color: #ffffff !important;
    box-shadow: 0 2px 8px 0 #E6DFE6 !important;
}
