.modal {
    .modal-content {
        .modal-footer {
            button:not(:first-child) {
                margin-left: 5px;
            }
        }
    }
} 

.modal-footer {
    button:not(:first) {
        margin-left: 5px;
    }
}

@include media-breakpoint-up(md) {
    .modal-dialog {
        height: auto;
    }
}
