.pos .customize_bom_popups .popup {
    padding: 30px;
    max-width: 450px;
}
.pos .customize_bom_popups .popup > .title {
    background: #fff;
    border: none;
    text-align: left;
    padding: 0 0 10px 0;
}
.pos .customize_bom_popups .bom-component {
    padding-bottom: 20px;
    position: relative;
    max-height: 552px;
    overflow: scroll;
}
.pos .customize_bom_popups .bom-component.not_configurable:before {
    content: "BOM NOT CONFIGURABLE";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 30px;
    color: black;
}
.pos .customize_bom_popups .bom-component .bom-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0;
}
.pos .customize_bom_popups .bom-component .bom-line[data-is_configure="0"] {
    pointer-events: none;
    opacity: 0.3;
    cursor: default;
}
.pos .customize_bom_popups .bom-component .bom-line > label, 
.pos .customize_bom_popups .bom-component .bom-line > .bom-line-form {
    flex: 1 1 50%;
    text-align: left;
    font-weight: bold;
    color: #2d3648;
}
.pos .customize_bom_popups .bom-component .bom-line > .bom-line-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
}
.pos .customize_bom_popups .bom-component .bom-line > .bom-line-form > span {
    font-weight: normal;
    padding-right: 10px;
    font-size: 14px;
}
.pos .customize_bom_popups .bom-component .bom-line input[type=checkbox] {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    background: #2d3648 !important;
}
.pos .customize_bom_popups .bom-component .bom-line[data-extra="1"] > label:before {
    content: "Extra ";
}

.pos .customize_bom_popups .bom-notes {
    padding-bottom: 30px;
}
.pos .customize_bom_popups .bom-notes > label {
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    width: 100%;
    display: block;
    padding: 10px 0;
    color: #008F8B;
}
.pos .customize_bom_popups .bom-notes .bom-line-form{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.pos .customize_bom_popups .bom-notes .bom-line-form textarea {
    display: block;
    font-size: 16px;
    border-radius: 10px;
    padding: 10px;
    margin: 0px;
    border: none;
    width: 100%;
    background: #f1f1f1;
    outline: none;
    box-shadow: none;
    min-height: 100px;
}
.pos .customize_bom_popups .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 25px;
    border: 0;
}
.pos .customize_bom_popups .footer .button {
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
    color: #008F8B;
    background: #fff;
    border: 2px solid #008F8B;
    border-radius: 10px;
}
.pos .customize_bom_popups .footer .button:hover,
.pos .customize_bom_popups .footer .button:focus{
    color: #008F8B !important;
    background: #fff !important;
}
.pos .customize_bom_popups .footer .button.confirm {
    background: #008F8B !important;
    color: #ffffff !important;
}
.pos .customize_bom_popups .footer .button.confirm:hover,
.pos .customize_bom_popups .footer .button.confirm:focus{
    color: #008F8B;
    background: #fff;
}
.pos .order-container .ul-description{
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: flex !important;
    flex-direction: column;
}
.pos .order-container .ul-description .order-line-bom-component,
.pos .order-container .ul-description .order-line-pos-combo-option {
    display: block;
    width: 100%;
    order: 0;
    font-size: 11px;
    font-weight: normal;
    line-height: 1.3;
}
.pos .order-container .ul-description .line-bom-combo ~ .orderline-quantity {
    line-height: 1;
}
.pos .order-container .ul-description .order-line-bom-component + .orderline-quantity,
.pos .order-container .ul-description .order-line-pos-combo-option + .orderline-quantity {
    display: none;
}
.pos .order-container .ul-description .line-bom-combo ~ .orderline-quantity .line-icon[title="Set Notes"] {
    display: none;
}
.pos .order-container .ul-description .line-bom-combo ~ .orderline-quantity .line-icon[title="Set Notes"] + .product-name2 {
    font-size: 11px;
    font-weight: normal;
}
.pos .order-container .ul-description .order-line-pos-combo-option .edit-bom-components {
    display: inline-block;
    padding-left: 6px;
}

.pos .order-container .ul-description .order-line-pos-combo-option .edit-bom-components:hover {
    cursor: pointer;
}

.pos .combo_option_popups .popup {
    padding: 30px;
    max-width: 450px;
}
.pos .combo_option_popups .popup > .title {
    background: #fff;
    border: none;
    text-align: left;
    padding: 0 0 10px 0;
}
.pos .combo_option_popups .combo {
    padding-bottom: 20px;
}
.pos .combo_option_popups .combo .combo-name {
    text-align: left;
    color: #008F8B;
    font-size: 16px;
    font-weight: bold;
}
.pos .combo_option_popups .combo .combo-group .combo-error-msg {
    display: none;
    color: red;
    font-size: 14px;
    line-height: 1.5;
}

.pos .combo_option_popups .combo .combo-group.has_error .combo-error-msg {
    display: block;
}
.pos .combo_option_popups .combo .combo-group.has_error .combo-name {
    color: red;
    font-size: 18px;
}
.pos .combo_option_popups .combo .combo-name .combo-required {
    color: red;
}
.pos .combo_option_popups .combo .combo-name .combo-maximum_pick {
    font-size: 12px;
}
.pos .combo_option_popups .combo .combo-name > span {
    padding-right: 4px;
}
.pos .combo_option_popups .combo .combo-group {
    padding-bottom: 10px;
}
.pos .combo_option_popups .combo .combo-option {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding: 5px 0;
}
.pos .combo_option_popups .combo .combo-option > label, 
.pos .combo_option_popups .combo .combo-option > .combo-option-form {
    flex: 1 1 50%;
    text-align: left;
    font-weight: bold;
    color: #2d3648;
}
.pos .combo_option_popups .combo .combo-option .extra_price {
    padding-left: 5px;
    font-weight: normal;
}
.pos .combo_option_popups .combo .combo-option > .combo-option-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    text-align: right;
    justify-content: right;
}
.pos .combo_option_popups .combo .combo-option > .combo-option-form > span {
    font-weight: normal;
    padding-right: 10px;
    font-size: 14px;
}
.pos .combo_option_popups .combo .combo-option input[type=checkbox] {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    background: #2d3648 !important;
    box-shadow: none;
}
.pos .combo_option_popups .combo .combo-option input[type=radio] {
    width: 25px;
    height: 25px;
    min-width: 25px;
    min-height: 25px;
    background: #2d3648 !important;
    box-shadow: none;
}

.pos .combo_option_popups .combo .combo-option.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.pos .combo_option_popups .combo .combo-option .edit-bom-components {
    width: 25px;
    height: 25px;
    font-size: 25px;
    margin-right: 8px;
    line-height: 28px;
    color: #008F8B;
    cursor: pointer;
}
.pos .combo_option_popups .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 25px;
    border: 0;
}
.pos .combo_option_popups .footer .button {
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
    color: #008F8B;
    background: #fff;
    border: 2px solid #008F8B;
    border-radius: 10px;
}
.pos .combo_option_popups .footer .button:hover,
.pos .combo_option_popups .footer .button:focus{
    color: #008F8B !important;
    background: #fff !important;
}
.pos .combo_option_popups .footer .button.confirm {
    background: #008F8B !important;
    color: #ffffff !important;
}
.pos .combo_option_popups .footer .button.confirm:hover,
.pos .combo_option_popups .footer .button.confirm:focus{
    color: #008F8B;
    background: #fff;
}

.pos .kitchen-screen .order-line-pos-combo-option,
.pos .kitchen-screen .order-line-bom-component {
    padding-top: 5px;
    position: relative;
    font-size: 11px;
    font-weight: normal !important;
    line-height: 1.3;
    clear: both;
}
.pos .kitchen-screen .order-line-pos-combo-option .extra-component, 
.pos .kitchen-screen .order-line-bom-component .extra-component {
    font-weight: normal !important;
}
.pos .kitchen-screen .order-line-pos-combo-option {
    position: relative;
    font-size: 12px;
    padding-left: 0;
}
.pos .kitchen-screen .order-line-pos-combo-option .bom_components{
    padding-left: 0;
}
.pos .kitchen-screen.screen .kitchen-box .box-state {
    font-size: 14px;
}
.pos .kitchen-screen.screen .kitchen-box .bg-classes {
    font-size: 14px !important;
}
.pos .kitchen-screen.screen .kitchen-box {
    padding: 0;
    width: 24%;
}
.pos .kitchen-screen.screen .kitchen-box .product-line-name, 
.pos .kitchen-screen.screen .kitchen-box .order-item-detail > table td {
    font-size: 14px;
}
.pos .kitchen-screen.screen .kitchen-box .order-item-detail > table td {
    padding: 5px 0 5px 13px !important;
}
.pos .kitchen-screen.screen .kitchen-box .order-item-detail > table td:last-child {
    text-align: center !important;
}


.pos .kitchen-screen.screen .kitchen-box .receipt-line[pos_combo_options="1"],
.pos .kitchen-screen.screen .kitchen-box .receipt-line.receipt-line-combo {
    border-bottom: 1px solid transparent;
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line.receipt-line-combo td {
    font-weight: normal !important;
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line.receipt-line-combo.last_option{
    border-bottom: solid 1px rgb(209, 209, 209);
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line[pos_combo_options="1"] ul.info {
    display: none;
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line[pos_combo_options="1"] .cb-done-line {
    display: none;
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line[pos_combo_options="1"] .product-line-name {
    margin-left: -20%;
    margin-left: calc(-20% - 10px);
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line.receipt-line-combo .td-qty {
    text-align: center !important;
}

.pos .kitchen-screen.screen .kitchen-box .receipt-line.receipt-line-option-separator {
    border: 1px solid rgb(209, 209, 209);
    position: relative;
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line.receipt-line-option-separator:after {
    content: "";
    display: block;
    border-bottom: 1px solid white;
    width: 30px;
    position: absolute;
    left: 0;
    top: -1px;
    display: none;
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line.receipt-line-combo.bg-danger ~ .receipt-line-option-separator:after {
    border-bottom: 2px solid red;
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line.receipt-line-combo.Cancelled ~ .receipt-line-option-separator:after {
    border-bottom: 2px solid #eeeeee;
}
.pos .kitchen-screen.screen .kitchen-box .receipt-line:last-child.receipt-line-option-separator {
    display: none;
}

.pos .product-screen tr.orderline .row-name .line-change-combo-option {
    margin-left: 7px;
    cursor: pointer;
    color: #008f8b;
}


.pos .OrderChangeReceipt {
    color: black;
    line-height: 160%;
}

.pos .OrderChangeReceipt .change-receipt-header1 {
    font-size: 100%;
    text-align: center;
    line-height: 160%;
}
.pos .OrderChangeReceipt .change-receipt-header2 {
    font-size: 80%;
    line-height: 160%;
}
.pos .OrderChangeReceipt .change-receipt-header1 .change-receipt-order_type {
    font-weight: bold;
}
.pos .OrderChangeReceipt .change-receipt-header1 .change-receipt-floor-table {
    font-weight: bold;
}
.pos .OrderChangeReceipt .change-receipt-separator {
    border-bottom: 1px dashed;
    display: block;
    margin: 15px 0;
}

.pos .OrderChangeReceipt .change-receipt-items {
    text-align: left;
    font-size: 100%;
    margin-bottom: 30px;
}
.pos .OrderChangeReceipt .change-receipt-items .change-receipt-orderline {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px; 
    gap: 10px;
}
.pos .OrderChangeReceipt .change-receipt-items .change-receipt-orderline .change-receipt-orderline-name {
    flex: 1;
}
.pos .OrderChangeReceipt .change-receipt-items .change-receipt-note {
    font-size: 80%;
    line-height: 160%;
    padding: 5px 0;
}
.pos .OrderChangeReceipt .change-receipt-total_items {
    font-size: 80%;
}
.pos .OrderChangeReceipt .change-receipt-company_name {
    font-size: 80%;
    text-align: center;
}
.pos .OrderChangeReceipt .pos-receipt-order-data,
.pos .OrderChangeReceipt .pos-receipt-order-data ~ * {
    display: none;
}



/* Start Checker Receipt */

.pos .pos-receipt.checker-receipt {
    color: black;
    line-height: 160%;
}

.pos .checker-receipt .checker-receipt-header1 {
    font-size: 100%;
    text-align: center;
    line-height: 160%;
}
.pos .checker-receipt .checker-receipt-header2 {
    font-size: 80%;
    line-height: 160%;
}
.pos .checker-receipt .checker-receipt-header1 .checker-receipt-order_type {
    font-weight: bold;
}
.pos .checker-receipt .checker-receipt-header1 .checker-receipt-floor-table {
    font-weight: bold;
}
.pos .checker-receipt .checker-receipt-separator {
    border-bottom: 1px dashed;
    display: block;
    margin: 15px 0;
}

.pos .checker-receipt .checker-receipt-items {
    text-align: left;
    font-size: 100%;
    margin-bottom: 30px;
}
.pos .checker-receipt .checker-receipt-items .checker-receipt-orderline {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5px; 
    gap: 10px;
    line-height: 160%;
}
.pos .checker-receipt .checker-receipt-items .checker-receipt-orderline .checker-receipt-orderline-name {
    flex: 1;
}
.pos .checker-receipt .checker-receipt-items .checker-receipt-orderline-categ {
    font-size: 80%;
    line-height: 160%;
}
.pos .checker-receipt .checker-receipt-items .checker-receipt-note {
    font-size: 80%;
    line-height: 160%;
    padding: 5px 0;
}
.pos .checker-receipt .checker-receipt-total_items {
    font-size: 80%;
    line-height: 160%;
}
.pos .checker-receipt .checker-receipt-company_name {
    font-size: 80%;
    text-align: center;
    line-height: 160%;
}
.pos .checker-receipt > * {
    display: none;
}
.pos .checker-receipt .checker-receipt-container{
    display:block;
}
/* End Checker Receipt */