.purchase_tender_dashboard {
    .ks_dashboard_ninja {
        .ks_dashboard_main_content {
            .ks_dashboard_item_content {
                .ks_item_click {
                    .ks_dashboarditem_id {
                        box-shadow: 3px 3px 7px 2px #dbdbdb;
                    }
                }
            }
        }
    }
    .heading_1 {
        h1 {
          font-size: 1rem;
          position: relative;
        }

        h1 span {
          background-color: white;
          padding-right: 10px;
          b {
            color: #5686E1;
          }
        }

        h1:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          right: 40px;
          height: 0.7em;
          border-top: 1px solid black;
          z-index: -1;
        }
    }
    .second-table {
        box-shadow: 3px 3px 7px 2px #dbdbdb;
        border-radius: 15px;
        padding: 25px;
        height: 300px;
        overflow-x: scroll;
        .cards {
            border: 1px solid gray;
            border-radius: 10px;
            padding: 10px;
            .title {
                color: blue;
                font-size: 20px;
            }
            .details {
                color: gray;
                font-size: 15px;
            }
        }
    }
}