<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Hide configuration menu -->
        <menuitem 
            id="hr_attendance.menu_hr_attendance_settings" 
            name="Configuration" 
            active="False"/>
        
        <!-- Confuguration sub menu -->
        <menuitem 
            id="menu_ph_hr_attendance_configuration_root" 
            name="Configuration" 
            parent="hr_attendance.menu_hr_attendance_root"
            sequence="100" 
            groups="hr_attendance.group_hr_attendance_manager"/>
        
        <menuitem 
            id="menu_ph_hr_working_times_configuration" 
            name="Working Times" 
            parent="menu_ph_hr_attendance_configuration_root"
            sequence="1"
            action="resource.action_resource_calendar_form"
            groups="hr_attendance.group_hr_attendance_manager"/>
        
        <menuitem 
            name="Shift Variations" 
            id="menu_ph_hr_shift_variation"
            parent="menu_ph_hr_attendance_configuration_root"
            action="equip3_ph_hr_shift_variation_act_window"
            sequence="2"/>
    </data>
</odoo>
