.bg-primary-hm {
    background-color: #2780EA !important;
    color: #FFFFFF !important;
}

.bg-primary2-hm {
    background-color: #302DC4 !important;
    color: #FFFFFF !important;
}

.bg-primary3-hm {
    background-color: #0BC3CF !important;
    color: #132A40 !important;
}

.bg-secondary-hm {
    background-color: #A4A4A4 !important;
    color: #FFFFFF !important;
}

.bg-muted-hm {
    background-color: #A4A4A4 !important;
    color: #FFFFFF !important;
}

.bg-info-hm {
    background-color: #0BC3CF !important;
    color: #132A40 !important;
}

.bg-success-hm {
    background-color: #44BF49 !important;
    color: #FFFFFF !important;
}

.bg-success2-hm {
    background-color: #006641 !important;
    color: #FFFFFF !important;
}

.bg-success3-hm {
    background-color: #50CD89 !important;
    color: #10482A !important;
}

.bg-danger-hm {
    background-color: #D95551 !important;
    color: #FFFFFF !important;
}

.bg-danger2-hm {
    background-color: #9F0056 !important;
    color: #FFFFFF !important;
}

.bg-danger3-hm {
    background-color: #CC1377 !important;
    color: #FFFFFF !important;
}

.bg-warning-hm {
    background-color: #FFC107 !important;
    color: #464646 !important;
}

.bg-warning2-hm {
    background-color: #F3722C !important;
    color: #FFFFFF !important;
}

.bg-warning3-hm {
    background-color: #F3994B !important;
    color: #3C250B !important;
}