.btn-primary, .o_field_x2many_list_row_add > a {
    border-radius: 7px !important;
    box-shadow: none !important;
    background-color: $o-theme-btn-primary-bgcolor;
    color: $o-theme-btn-primary-color;
    border: 1px solid $o-theme-btn-primary-bgcolor;
    .fa {
        font-size: 10px !important;
        color: $o-theme-btn-primary-color;
    }
    &:hover {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        background-color: $o-theme-btn-primary-bgcolor-hover;
        color: $o-theme-btn-primary-color-hover;
        border: 1px solid $o-theme-btn-primary-bgcolor-hover;
        .fa {
            color: $o-theme-btn-primary-color-hover;
        }
    }
}

.o_control_panel .o_cp_top .o_cp_top_right .o_cp_buttons .o_list_buttons, 
.o_control_panel .o_cp_top .o_cp_top_right .o_cp_buttons .o_form_buttons_edit,
.o_control_panel .o_cp_top .o_cp_top_right .o_cp_buttons,
.o_control_panel .o_cp_action_menus .o_dropdown,
.o_control_panel .o_form_statusbar .o_statusbar_buttons,
.o_content .o_kanban_view .o_kanban_record .oe_module_desc .oe_module_action,
.o_content .o_kanban_view .o_kanban_record .o_kanban_card_content,
.o_content .o_form_view .o_form_sheet_bg .o_form_statusbar .o_statusbar_buttons,
.ks_dashboard_ninja .ks_dashboard_header .ks_dashboard_top_menu,
.modal-dialog .modal-content .modal-footer,
.oe_right,
.oe_fileupload,
.dropdown-item-text {
    button.btn {
        &:not(.fa){
            font-family: 'Lato';
        }

        border-radius: 7px !important;
        box-shadow: none !important;
        text-transform: none !important;

        &.btn-primary, &.btn-primary.show {
            background-color: $o-theme-btn-primary-bgcolor;
            color: $o-theme-btn-primary-color;
            border: 1px solid $o-theme-btn-primary-bgcolor;
            margin-left: 0 !important;
            .fa {
                font-size: 10px !important;
                color: $o-theme-btn-primary-color;
            }
            &:hover {
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
                background-color: $o-theme-btn-primary-bgcolor-hover;
                color: $o-theme-btn-primary-color-hover;
                border: 1px solid $o-theme-btn-primary-bgcolor-hover;
                .fa {
                    color: $o-theme-btn-primary-color-hover;
                }
            }
        }
        &.btn-secondary, &.btn-secondary.show, &.o_dropdown_toggler_btn.btn-secondary {
            background-color: $o-theme-btn-secondary-bgcolor;
            color: $o-theme-btn-secondary-color;
            border: 1px solid $o-theme-btn-secondary-border-color;
            margin-left: 0 !important;
            .fa {
                font-size: 10px !important;
                color: $o-theme-btn-secondary-color;
            }
            &:hover {
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
                background-color: $o-theme-btn-secondary-bgcolor-hover;
                color: $o-theme-btn-secondary-color-hover;
                border: 1px solid $o-theme-btn-secondary-border-color;
                .fa {
                    color: $o-theme-btn-secondary-color-hover;
                }
            }
        }
    }
}

.o_FormRenderer_chatterContainer .o_Chatter_fixedPanel .o_Chatter_topbar .o_ChatterTopbar_actions {
    button.btn {
        border-radius: 7px !important;
        box-shadow: none !important;
        text-transform: none !important;

        &.btn-link.o_ChatterTopbar_button:not(.o_ChatterTopbar_buttonAttachments) {
            background-color: $o-theme-btn-secondary-bgcolor-hover;
            color: $o-theme-btn-secondary-color-hover;
            border: 1px solid $o-theme-btn-secondary-border-color;
            margin-left: 0 !important;
            .fa {
                font-size: 10px !important;
                color: $o-theme-btn-secondary-color-hover;
            }
            &:hover {
                box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
                background-color: $o-theme-btn-secondary-bgcolor;
                color: $o-theme-btn-secondary-color;
                border: 1px solid $o-theme-btn-secondary-border-color;
                .fa {
                    color: $o-theme-btn-secondary-color;
                }
            }
        }
    }
}

// filters
.o_cp_bottom_right button.o_dropdown_toggler_btn.btn.btn-secondary {
    background-color: transparent !important; 
    border: 1px solid #ccc !important;
    box-shadow: 0 0 0 0 transparent !important;
    border-width: 1px !important;
    border-radius: 7px !important;
    &:hover {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
        background-color: $o-theme-btn-secondary-bgcolor-hover;
        color: $o-theme-btn-secondary-color-hover;
        border: 1px solid $o-theme-btn-secondary-border-color;
        .fa {
            color: $o-theme-btn-secondary-color-hover;
        }
    }
}

// statusbar widget
.o_view_controller .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.disabled {
    box-shadow: none !important;
    background-color: #e8e8e8 !important;
}

.o_form_view > .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled, 
.o_form_view > .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-secodary.disabled {
    &:before, &:after {
        top: -1px !important;
        right: -12px !important;
    }
}

.o_content > .o_form_view > .o_form_sheet_bg > .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled,
.o_form_view > .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled {
    background-color: $o-theme-btn-primary-bgcolor;
    color: $o-theme-btn-primary-color;
    &:before, &:after {
        border-left-color: $o-theme-btn-primary-bgcolor;
    }
}

// tabs
.o_notebook_headers > .nav.nav-tabs > .nav-item > a.nav-link:before {
    background-color: $o-theme-btn-primary-bgcolor;
}

// overrided sh_backmate
.btn-warning {
    color: #212529 !important;
    background-color: #ffc107 !important;
}

@media only screen and (max-width: 767px) {
    .d-sm-inline {
        display: inline !important;
    }
    .o_form_button_cancel .fa.fa-times {
        display: inline-block;
        visibility: visible;
    }
    .o_form_button_save .fa.fa-check {
        display: inline-block;
        visibility: visible;
    }
    .o_list_button_add .fa.fa-plus {
        display: inline-block;
        visibility: visible;
    }

}