:root {
    --o-theme-sb-bgcolor: #181919;
    --o-theme-sb-color: #FFFFFF;
    --o-theme-sb-box-shadow: none;
    --o-theme-sb-icon-color: #FFFFFF;
    --o-theme-sb-search-bgcolor: #154559;
    --o-theme-sb-bgcolor-active: #FFFFFF;
    --o-theme-sb-color-active: #181919;
    --o-theme-sb-icon-color-active: #181919;
    --o-theme-sb-bgcolor-hover: #FFFFFF;
    --o-theme-sb-color-hover: #181919;
    --o-theme-sb-icon-color-hover: #181919;
    --o-theme-sb-font-weight: 650;
    --o-theme-sb-font-weight-hover: inherit;
    --o-theme-sb-font-weight-active: inherit;
    --o-theme-btn-primary-bgcolor:#ED8E2A;
    --o-theme-btn-primary-color:#FFFFFF;
    --o-theme-btn-primary-bgcolor-hover:#9F5E19;
    --o-theme-btn-primary-color-hover:#FFFFFF;
    --o-theme-btn-secondary-bgcolor:#FFFFFF;
    --o-theme-btn-secondary-border-color:#007C4B;
    --o-theme-btn-secondary-color: #007C4B;
    --o-theme-btn-secondary-bgcolor-hover:#004A2D;
    --o-theme-btn-secondary-color-hover: #FFFFFF;
    --o-theme-smart-color: #181919;
}

//Default
$o-theme-sb-bgcolor: var(--o-theme-sb-bgcolor) !important;
$o-theme-sb-color: var(--o-theme-sb-color) !important;
$o-theme-sb-box-shadow: var(--o-theme-sb-box-shadow) !important;
$o-theme-sb-icon-color: var(--o-theme-sb-icon-color) !important;
$o-theme-sb-search-bgcolor: var(--o-theme-sb-search-bgcolor) !important;
$o-theme-sb-bgcolor-active: var(--o-theme-sb-bgcolor-active) !important;
$o-theme-sb-color-active: var(--o-theme-sb-color-active) !important;
$o-theme-sb-icon-color-active: var(--o-theme-sb-icon-color-active) !important;
$o-theme-sb-bgcolor-hover: var(--o-theme-sb-bgcolor-hover) !important;
$o-theme-sb-color-hover: var(--o-theme-sb-color-hover) !important;
$o-theme-sb-icon-color-hover: var(--o-theme-sb-icon-color-hover) !important;
$o-theme-sb-font-weight: var(--o-theme-sb-font-weight) !important;
$o-theme-sb-font-weight-hover: var(--o-theme-sb-font-weight-hover) !important;
$o-theme-sb-font-weight-active: var(--o-theme-sb-font-weight-active) !important;
$o-theme-btn-primary-bgcolor: var(--o-theme-btn-primary-bgcolor) !important;
$o-theme-btn-primary-color: var(--o-theme-btn-primary-color) !important;
$o-theme-btn-primary-bgcolor-hover: var(--o-theme-btn-primary-bgcolor-hover) !important;
$o-theme-btn-primary-color-hover: var(--o-theme-btn-primary-color-hover) !important;
$o-theme-btn-secondary-bgcolor: var(--o-theme-btn-secondary-bgcolor) !important;
$o-theme-btn-secondary-border-color: var(--o-theme-btn-secondary-border-color) !important;
$o-theme-btn-secondary-color: var(--o-theme-btn-secondary-color) !important;
$o-theme-btn-secondary-bgcolor-hover: var(--o-theme-btn-secondary-bgcolor-hover) !important;
$o-theme-btn-secondary-color-hover: var(--o-theme-btn-secondary-color-hover) !important;
$o-theme-smart-color: var(--o-theme-smart-color) !important;
