.o_cp_switch_buttons > .o-hm-icon::before {
    margin-right: 5px;
}

.o_cp_switch_buttons_menu {
    min-width: unset;
    text-align: center;
}

.o_control_panel .o_cp_bottom .o_cp_bottom_right .btn {
    width: unset;
    &.o_active_view {
        box-shadow: none !important;
        background-color: transparent !important;
        border: 1px solid #ccc !important;
        border-radius: 7px !important;
        color: #787373 !important;
        margin: 0 !important;
        &:active, &:hover {
            color: #787373 !important;
        }
    }
}

.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button + button:after{
    display: none !important;
}

.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:hover {
    border: 0px !important;
}

div.o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options {
    position: unset !important;
}

.o_cp_switch_buttons {
    position: unset !important;
    margin-left: auto;
}

.o_control_panel .o_cp_bottom_right > .o_cp_pager {
    position: unset !important;
    margin-left: unset !important;
    min-width: unset;
    padding-left: 0 !important;
}

// .o_pager > span > button.o_pager_previous {
//     margin-left: 10px !important;
// }

.o_view_nocontent .o_nocontent_help .o_view_nocontent_smiling_face:before {
    background: transparent url(/equip3_hashmicro_ui/static/src/img/no_content.svg) no-repeat center;
}

.o_pager_counter {
    white-space: nowrap;
}

nav.o_main_navbar .o_menu_systray li.d-none {
    display: none !important;
    padding: 0 !important;
}

.o_action_manager .o_control_panel,
.o_action_manager .o_view_controller .o_control_panel,
.modal-body .o_view_controller .o_control_panel {
    font-family: 'Lato';

    .o_cp_top_top {
        display: flex;
        position: absolute;
        top: 3.5px;
        right: 0;
        width: 40%;
        margin: 3px 0;
        transition: .2s;

        .o_cp_searchview {
            flex: unset !important;
            width: 100% !important;
            padding: 0 10px;
            display: flex;
            align-items: center;

            .o_searchview {
                height: 35px;
                padding-top: 6px;
                padding-bottom: 5px;
                padding-right: 5px;
                padding-left: 35px;
                z-index: 1;
                transition: unset;

                .o_searchview_input_container {
                    background-color: white;
                    display: flex;
                    align-items: center;
                    height: 22px;

                    .o_searchview_autocomplete {
                        z-index: 1;
                    }

                    &:hover:not(:has(.o_searchview_toggler:hover)):not(:has(.o_facet_dropdown_menu:hover)) {
                        background-color: #e9ecef;
                    }

                    .o_facet_dropdown_menu {
                        width: 100%;
                        padding-left: 5px;
                        padding-right: 5px;
                        border-radius: 7px;
                        z-index: 0;
                    }

                    .o_searchview_facet {
                        height: 20px;
                        margin-top: 0;
                        background: none;
                        padding: 0 25px;

                        .o_facet_color {
                            position: absolute;
                            width: 18px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: 0;
                            bottom: 0;
                            left: 4px;
                            right: auto;

                            &.o_indicator_0 {
                                color: #9825B8;
                            }
                            &.o_indicator_1 {
                                color: #0B64B2;
                            }
                            &.o_indicator_2 {
                                color: #936204;
                            }
                            &.o_indicator_3 {
                                color: #0C7718;
                            }
                            &.o_indicator_4 {
                                color: #C11B11;
                            }
                            
                        }

                        .o_searchview_facet_label {
                            color: #4c4c4c;
                            background: none !important;
                            font-weight: bold;
                            padding: 0;
                        }

                        .o_facet_separator {
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            margin: 0 5px;
                        }

                        .o_facet_values {
                            line-height: unset;
                            background: none;
                            display: flex;
                            align-items: center;
                            padding: 0;
                            overflow-x: hidden;

                            .o_facet_value:last-child {
                                overflow-x: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        .o_facet_remove {
                            right: 4px;
                            color: #ccc;
                        }

                        &:hover {
                            background-color: #e9ecef !important;
                            .o_facet_remove {
                                color: #4c4c4c;
                            }
                        }
                    }

                    .o_searchview_input {
                        padding-top: 0;
                        padding-bottom: 0;
                        padding-left: 0;
                        padding-right: 0;
                        height: 100%;
                        border-radius: 7px;
                        transition: unset;
                    }
                }

                .o_searchview_toggler {
                    border: 1px solid #ccc !important;
                    padding: 2px 5px;
                    font-size: 11px;
                    font-weight: bold;
                    border-radius: 5px !important;
                    display: flex;
                    align-items: center;
                    background-color: white;

                    .o_searchview_toggler_text {
                        margin: 0 5px;
                    }

                    &:hover {
                        background-color: #e9ecef;
                    }
                }

                &:hover {
                    border: 1px solid #ccc;
                
                    &:not(:has(.o_searchview_toggler:hover)):not(:has(.o_facet_dropdown_menu:hover)) {
                        border-color: #ccc !important;
                        background-color: #e9ecef;
                        transition: inherit;

                        .o_searchview_input_container {
                            background-color: #e9ecef;

                            .o_searchview_input {
                                background-color: #e9ecef;
                            }
                        }
                    }
                }

                .o_searchview_icon {
                    position: absolute;
                    top: 9px;
                    left: 10px;
                    right: unset;
                }
            }
        }

        .o_search_options {
            height: 100%;
            padding: 0 10px;

            .o_equip_search_filters_dropdown {
                border-radius: 7px;

                &:hover {
                    background-color: #e9ecef;
                }

                .o_filters_toggler {
                    border: 1px solid #ccc !important;
                    color: #787373 !important;
                    box-shadow: none !important;
                    background-color: transparent !important;
                    border-radius: 7px !important;
                    margin: 0 !important;
                    height: 35px;
                    display: flex;
                    align-items: center;
                }

                .o_equip_search_filters_dropdown_menu {
                    overflow: visible !important;
            
                    > .dropdown-item {
                        padding: 0;

                        .o_dropdown_toggler_btn {
                            padding: 3px 20px !important;
                            margin: 0;
                            width: 100%;
                            text-align: right;
                            display: flex;
                            align-items: center;
                            text-transform: none;
                            box-shadow: none !important;

                            i.fa {
                                font-size: 12px;
                            }
                        }
            
                        .dropdown-menu {
                            left: auto;
                            right: 100%;
                            top: 0;
                        }

                        .o_menu_item {
                            &:hover {
                                background-color: #e9ecef;
                            }
                            > .dropdown-item {
                                width: 100% !important;
                            }
                        }

                        .o_search_menu {
                            div.o_input {
                                padding: 0 !important;

                                &:not(.o_field_many2manytags) {
                                    padding: .429rem 1.072rem !important;
                                }
                            }

                            .o_search_label {
                                margin-bottom: 0;
                            }
                            
                            > .dropdown-item-text:not([t-as='field']) > span {
                                display: none;
                            }
                        }
                    }

                    .o_apply_filter, .o_apply_search, .o_search_all_fields {
                        margin-right: .5rem;
                    }
                }
            }
        }
    }

    .o_cp_top {
        min-height: 34px;
        
        .o_cp_top_right {
            text-align: right;

            .o_list_buttons {
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }

    .o_cp_bottom {

        .o_cp_bottom_left {
            display: flex;
            width: auto !important;
            position: relative;

            .o_search_panel_toggler {
                display: flex;
                width: 85px;
                border: 1px solid white;
                background-color: white;
                cursor: pointer;
                transition: .2s;
                height: 65px;
            
                .o_search_panel_content {
                    display: flex; 
                    align-items: center; 
                    flex-direction: column;
                    width: 65px;
            
                    .o_search_panel_icon > i {
                        font-size: 25px;
                    }
            
                    .o_search_panel_label {
                        margin-top: auto; 
                        display: flex;
                        text-align: center;
                        line-height: 1.2;
                    }
                }
            
                .o_search_panel_arrow {
                    display: flex;
                    align-items: center;
                    
                    i {
                        transition: .5s;
                    }
                }
            }
    
            .app-search-panel {
                overflow: hidden;
                width: auto;
                transition: .2s;
                position: absolute;
                left: 95px;
                display: flex;
                align-items: end;
                height: 100%;
            
                &.o_search_panel_hide {
                    left: -370px; 
                }

                .app-search-range {
                    .o_separator {
                        .app-search-range-date-container {
                            span.app-search-range-date {
                                height: 30px;
                                width: 150px;
                                font-size: 13px !important;
                                select.app_select_field_date {
                                    height: 30px;
                                    width: 150px;
                                    font-size: 13px !important;
                                }
                            }
                            span[name='app_start_date'], span[name='app_end_date'] {
                                height: 30px;
                                width: 100px;
                                font-size: 13px !important;

                                input.o_input {
                                    height: 30px;
                                    width: 100px;
                                    font-size: 13px !important;
                                }
                            }
                        }
                        .app-search-range-number-container {
                            span.app-search-range-number {
                                height: 30px;
                                width: 150px;
                                font-size: 13px !important;
                                select.app_select_field_number {
                                    height: 30px;
                                    width: 150px;
                                    font-size: 13px !important;
                                }
                            }
                            span[name='app_start_number'], span[name='app_end_number'] {
                                height: 30px;
                                width: 100px;
                                font-size: 13px !important;

                                input.o_input {
                                    height: 30px;
                                    width: 100px;
                                    font-size: 13px !important;
                                }
                            }
                        }
                    }
                }
            }

        }

        .o_cp_bottom_right {
            width: 100% !important;

            .o_cp_bottom_right_wrapper {
                display: flex;
                width: auto;
                margin-left: auto;
                align-items: end;

                .o_cp_pager {
                    position: unset;

                    .fa-chevron-left {
                        margin-left: 0 !important;
                        margin-right: 5px !important;
                    }
                    .fa-chevron-right {
                        margin-left: 5px !important;
                        margin-right: 0 !important;
                    }

                    .fa-chevron-left:hover, .fa-chevron-right:hover {
                        color: inherit !important;
                        box-shadow: none !important;
                        background-color: transparent !important;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    .o_cp_action_menus {
        position: absolute;
        top: 53px;
        left: 50%;
        transition: .2s;
    }
}

.modal-body .o_view_controller .o_control_panel {
    .o_cp_top_top {
        width: 69% !important;
    }
}

.o_calendar_buttons {
    position: unset;
}

.o_control_panel > div {
    min-height: 0;
}

.parent_menu_autocomplete_dropdown {
    .search_dropdown {
        position: unset;
    }
}

.o_control_panel .o_search_options .o_favorite_menu .o_dropdown_menu.dropdown-menu.show .dropdown-item-text .dropdown-item-text,
.o_control_panel .o_search_options .o_favorite_menu .o_dropdown_menu.dropdown-menu.show .dropdown-item-text .dropdown-item-text[role='menuitem'] {
    padding-left: 0;
    padding-right: 0; 
}

.parent_menu_autocomplete_dropdown {
    top: 0;
    // left: 330px;
    height: 100%;
    display: flex;
    align-items: center;

    .parent_menu_autocomplete:hover {
        cursor: pointer;
    }
}

@media (min-width:992px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        position: absolute !important;
        left: 50% !important;
        top: 56px !important;
        right: unset !important
    }
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, 
a, label, b, p, span, div, button,
.o_form_view .o_group .o_td_label .o_form_label, 
.o_control_panel .breadcrumb {
    font-family: 'Lato';
}

.breadcrumb {
    font-family: 'Lato' !important;
}

.o_search_panel {
    border-radius: 10px;

    .o_search_panel_section_header {
        border-radius: 10px 10px 0 0;
    }

    .o_search_panel_field {
        border-radius: 0 0 10px 10px !important;

        .o_search_panel_category_value {
            border-radius: 0 0 10px 10px;
        }
    }
}

.o_action .o_controller_with_searchpanel .o_search_panel ul.list-group {
    border-radius: 0 0 10px 10px !important;
}

.o_search_options .o_dropdown_menu {
    padding: 5px;

    a[role="menuitemcheckbox"].dropdown-item {
        &:before {
            font-family: FontAwesome;
            position: absolute;
            left: 4px;
            content: "\f096";
        }
    
        &.selected {
            &:before {
                content: "\f046";
            }
        }
    }
}

.o_field_widget .o_input_dropdown > input {
    padding-right: 25px;
}

.o_field_widget .o_input_dropdown .o_dropdown_button {
    top: -2px;
    right: 20px;
}

.o_field_widget input.o_input {
    padding-right: 25px;
}

.o_datepicker .o_datepicker_button {
    top: -2px;
    right: 20px;
}

@media only screen and (max-width: 992px) {
    .o_main_navbar {
        z-index: unset !important;
    }
    .o_cp_top_top {
        .o_cp_searchview {
            padding: 5px 50px !important;

            .o_searchview {
                height: 0px !important;

                .o_searchview_input_container {
                    top: 7%;
                    visibility: hidden;
                    width: 96% !important;
                    left: 2%;
                    position: fixed;
                    z-index: 1;
                    height: 35px !important;
                    transition: all 0.3s ease 0s;
                    background-color: #fff !important;
                    border: 1px solid #ccc;

                    .o_searchview_input {
                        background-color: #fff !important;
                    }
                }
                .o_searchview_input_container.active {
                    visibility: unset;
                }
            }
        }
    }
    .o_menu_apps .dropdown-menu.sh_backmate_theme_appmenu_div {
        height: calc(100vh - 60px) !important;
    }
    .o_control_panel > div {
        z-index: 101;
    }
    button.btn.btn-secondary.o-hm-icon.o-hm-view-download.o_list_export_xlsx {
        z-index: -1;
    }
    .o_search_menu {
        ul.o_dropdown_menu.dropdown-menu.show {
            top: 23% !important;
            height: 350px;
            left: 0 !important;
            right: 0 !important;
            position: fixed;
        }
    }
    #o_equip_filter_dropdown {
        background: unset !important;
        color: black !important;
        height: 34px;
        margin-right: 2px;
    }
    .o_equip_search_filters_dropdown {
        position: fixed;
        top: 103px;
        right: 10px;
    }
    .o_cp_bottom_right_wrapper {
        position: absolute;
        top: 70%;
        right: 0;
    }
    .o_equip_search_filters_dropdown_menu.show {
        right: 0;
        left: unset;
        width: 165px;
    }
    .o_searchview_icon {
        position: fixed !important;
        top: 115px !important;
        right: 125px !important;
        left: unset !important;
    }
}

