
// form renderer
.o_form_view .o_group.o_inner_group > tbody > tr > td {
    .o_field_widget, 
    .o_field_widget.o_readonly_modifier {
        height: unset;
        min-height: 31.45px;
        
        /* fix height issue with inline-block */
        vertical-align: top;

        .o_field_widget {
            min-height: unset;
        }
    }
    .o_field_empty:not(.o_invisible_modifier) {
        display: block !important;
    }
}

select.o_input {
    height: unset;
}

.o_required_modifier.o_input, 
.o_required_modifier .o_input, 
.o_field_number.o_input, 
.o_field_number .o_input {
    font-size: 16px !important;
}

.o_fixed_height {
    height: 31.45px;
}

// radio & checkboxes
.custom-control {
    padding-left: 0px !important;
}

[type='checkbox'] + label:not(.lever):before, 
[type='checkbox']:checked + label:not(.lever):before {
    top: 0px !important;
    left: 0px !important;
}

[type='radio'] + label:before,
[type='radio'] + label:after {
    top: 5px;
    left: 5px;
}

.o_field_widget.o_field_radio.o_vertical .o_radio_item {
    margin-bottom: 0 !important;
}

.o_field_widget.o_field_radio.o_vertical .o_radio_item label {
    min-height: 26px !important;
    display: flex;
    align-items: center;
}


// list view
.o_content {
    padding: 0 10px;
}

.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th {
    border-top: 1px solid #ccc !important;
    border-bottom: 1px solid #ccc !important;
}

.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th:nth-child(1) {
    border-left: 1px solid #ccc !important;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th:last-child {
    border-right: 1px solid #ccc !important;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.o_list_view .table-responsive .o_list_table tbody tr td:nth-child(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.o_list_view .table-responsive .o_list_table tbody tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.table, .table-hover tbody tr:hover {
    color: black;
}

html .o_web_client > .o_action_manager > .o_action > .o_control_panel {
    border-bottom: none;
}

// sh_mbs
.btn {
    border-radius: 7px !important;
}

// hashmicro_ui
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary.disabled:before {
    right: -10px !important;
}

.o_form_statusbar .o_statusbar_status .o_statusbar_status > .o_arrow_button:before, .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
    border-left: 12px solid #e8e8e8 !important;
}

.o_form_view {
    .o_field_widget.o_address_street, 
    .o_field_widget.o_address_city, 
    .o_field_widget.o_address_state, 
    .o_field_widget.o_address_zip, 
    .o_field_widget.o_address_country {
        margin-bottom: 0.5rem !important
    }
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:before, 
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:after {
    display: none;
}

.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):before, 
.o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button:not(:first-child):after {
    display: none;
}

.o_view_controller .o_form_view .o_form_statusbar {
    padding-right: 0;
}

.o_form_view .o_form_statusbar > .o_statusbar_status {
    border-radius: 20px;
    padding: 5px !important;
    background-color: #e8e8e8;
    margin-top: .5rem !important;
}

.o_content > .o_form_view > .o_form_sheet_bg > .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary, 
.o_content > .o_form_view > .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-primary,
.o_content > .o_form_view > .o_form_sheet_bg > .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-secondary,
.o_content > .o_form_view > .o_form_statusbar > .o_statusbar_status > .o_arrow_button.btn-secondary {
    border-radius: 20px !important;
    padding: 0px 15px !important;
    color: gray !important;
    text-transform: none;
}

.o_field_empty {
    cursor: unset;
}

.nav.nav-tabs .nav-link {
    border-radius: 10px 10px 0 0;
}

div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::before,
.o_form_view .o_group.o_inner_group div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::before,
.o_content .o_form_view .o_form_sheet_bg .o_form_sheet div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::before {
    border-radius: 100px !important;
    height: 20px;
}

div.o_boolean_toggle.custom-control.custom-checkbox > input.custom-control-input:checked + label.custom-control-label::before {
    background-color: $o-theme-btn-primary-bgcolor;
}

[type='checkbox'] + label:not(.lever):before {
    border: 1px solid #a0a0a0 !important;
}

[type='checkbox']:checked + label:not(.lever):before {
    border-right: 2px solid $o-theme-btn-primary-bgcolor;
    border-bottom: 2px solid $o-theme-btn-primary-bgcolor;
}

[type='checkbox'] + label:not(.lever):before, 
[type='checkbox']:not(.filled-in) + label:not(.lever):after,
div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::after {
    margin-top: 0;
}

.o_form_view:not(.oe_form_configuration) {

    .o_td_label, 
    .o_td_widget,
    textarea,
    .o_form_label,
    [type='radio']:not(:checked) + label, 
    [type='radio']:checked + label {
        font-size: 16px !important;
    }
}

.o_form_readonly {
    div.o_boolean_toggle.custom-control.custom-checkbox {
        > label.custom-control-label, 
        > label.custom-control-label::after {
            cursor: default;
        }
    }
}

.o-hm2-question:before {
    font-size: 23px !important;
    color: $o-theme-btn-primary-bgcolor;
}

.o-hm2-external_link {
    background-color: transparent !important;
    box-shadow: none !important;
    border: none !important;
    color: $o-theme-btn-primary-bgcolor;

    &:hover {
        background-color: transparent !important;
        box-shadow: none !important;
        border: none !important;
        color: $o-theme-btn-primary-bgcolor;
    }
}

.o_field_widget.o_field_many2one .o_external_button {
    font-size: 25px;
    font-weight: normal;
}

.o_pivot {
    table {
        border-collapse: separate;
        border: none;
        border-spacing: 0;

        thead {
            tr:first-child {
                th:first-child {
                    border-radius: 15px 0 0 0;
                }
                th:last-child {
                    border-radius: 0 15px 0 0;
                }
            }
        }
        
        tbody{
            tr:last-child {
                th:first-child {
                    border-radius: 0 0 0 15px;
                }
                td:last-child {
                    border-radius: 0 0 15px 0;
                }
            }
        }
    }
}

.o_list_view .o_optional_columns_dropdown_toggle {
    right: 15px;
}

.o_list_table .o_optional_columns_dropdown_toggle {
    font-size: 20px;
}

.o_form_sheet .ribbon {
    height: 150px;
    width: 150px;
    top: 0;
    margin-top: 0;
}

.o_ribbon_active .oe_button_box {
    padding-right: 120px;
}