.o-hm-icon {
    font-family: 'hm-font' !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.o-hm-menu-icon {
        margin-left: -0.5rem;
        margin-right: 0.5rem;
        font-size: 22px !important;
    }
    &.o-hm-f14 {
        font-size: 14px !important;
    }
    &.o-hm-f18 {
        font-size: 18px !important;
    }
}

.o_button_icon .o-hm-icon {
    text-align: center !important;
}

span.icon-activity {
    width: unset !important;
    height: unset !important;
}

span.icon-activity, .o_mail_systray_item i.fa-clock-o {
    font-family: 'hm-font' !important;
    font-size: 18px !important;
    &::before {
        content: "\e934";
    }
}

.o_mail_systray_item.show .o_mail_systray_dropdown {
    left: auto !important;
}

.o_mail_systray_item a[title=Activities], .o_MessagingMenu a[title=Conversations] {
    display: flex;
    align-items: center;
    justify-content: center;
}