.parent_menu_select {
    width: 150px;
    position: absolute;
    left: 500px;
    top: 10px;
}

.o_form_view .o_group .o_td_label .o_form_label {
    color: #2c2929 !important;
    font-size: 16px;
}

// .o_form_view .o_group.o_inner_group>tbody>tr>td {
//     padding: 0px 15px 0px 0px !important;
// }

h1 {
    color: #2c2929 !important;
}

.o_view_controller .o_kanban_view.o_kanban_ungrouped .oe_kanban_global_click .o_kanban_record_title span,
.o_form_view .o_group .o_td_label .o_form_label,
.o_form_view .o_group .o_td_label .o_form_label b,
.o_kanban_view strong {
    font-weight: 600 !important;
}

.o_content .o_kanban_view .o_kanban_record,
.o_content .o_kanban_view .o_kanban_quick_create {
    transition: none !important;
}

.o_input {
    border-bottom: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
    border-right: 1px solid #ccc !important;
    border-top: 1px solid #ccc !important;
    border-radius: 7px !important;
}

.parent_menu_autocomplete {
    border: 0 !important;
}

.hide_menu {
    display: none !important;
}

.close_sidebar {
    transition: all 0.2s;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0px;
    left: 275px;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 100%;
    &.closed {
        left: 15px;
    }
}

.menu_image {
    transition: all 0.2s;
    height: 30px;
    width: 30px;
    position: absolute;
    left: 300px;
    top: 10px;
    &.closed {
        left: 45px;
    }
}


.o_form_editable {
    .o_required_modifier {
        &.o_field_widget:not(.o_readonly_modifier):not(.o_statusbar_status) {
            background-color: #ededf1 !important;
            border-radius: 7px !important;
        }
    }
    span.o_required_modifier {
        &.o_field_widget:not(.o_readonly_modifier):not(.o_statusbar_status) {
            background-color: unset !important;
        }
    }
}

.o_list_table {
    .o_data_row {
        .o_data_cell {
            padding: 1.1rem 0.00rem !important;
            .o_field_widget {
                /* height: 32.6px !important; */
                height: 32.6px;
                padding: 5px !important;
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
            }
        }
    }
}

.parent_menu_autocomplete_dropdown {
    // transition: all 0.2s;
    /* width: 250px; */
    position: absolute;
    left: 330px;
    top: 10px;
    // .search_dropdown {
    //     position: absolute;
    //     /* left: 150px; */
    //     top: 9px;
    // }
    &.closed {
        left: 75px;
    }
}


.parent_menu_autocomplete_ui {
    height: 200px;
    overflow-y: auto;
}

.sh_backmate_theme_appmenu_div {
    transition: all 0.2s !important;

    .o_company_autocomplete {
        width: 200px;
        position: relative;
        left: 30px;
    }
    .search-container {
        background-color: #4a5b6a;
        position: relative;
        border: 1px solid black;
        border-radius: 30px;
        right: 0px;
        padding: 0px 0px 0px 10px;
        top: 20px;
        left: 25px;
        width: 80%;
        /* z-index: 9999; */
        padding: 5px 20px;
        .search-box {
            background-color: transparent;
            outline: none;
            height: 35px;
            font-size: 15px;
            border: 0;
            width: 100%;
            color: #fff;
            padding-left: 25px;
        }
        .search-box::placeholder {
            color: #fff;
            opacity: 1;
        }
        .search-box:-ms-input-placeholder {
            color: #fff;
        }
        .search-box::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #fff;
        }
        .search-button {
            position: absolute;
            left: 15px;
            top: 12px;
            border-radius: 50%;
            border: 0;
            color: #fff;
            outline: 0;
            font-size: 20px;
        }
    }
}

.o_action_manager {
    .o_view_controller {
        .o_control_panel {
            min-height: 110px;
            .o_cp_top {
                .o_cp_top_right {
                    .o_cp_searchview {
                        width: 40%;
                        position: relative;
                        left: 159px;
                        top: 38px;
                    }
                }
            }
            .o_cp_bottom {
                .o_cp_bottom_left {
                    .o_cp_action_menus {
                        position: absolute;
                        left: 750px;
                        top: 100px;
                    }
                }
                .o_cp_bottom_right {
                    .o_search_options {
                        position: absolute !important;
                        right: 140px;
                        top: 145px;
                    }
                    .o_cp_switch_buttons {
                        position: absolute;
                        right: 10px;
                    }
                    .o_cp_pager {
                        position: absolute;
                        top: 145px;
                        right: 5px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 992px) {
    .mobile_dropdown {
        left: 0;
    }
    .close_sidebar {
        display: none;
    }
}

.switch_company {
    text-align: center;
}

.switch_company .btn-secondary {
    border-color: transparent !important;
    border-width: 1px !important;
    border-radius: 7px !important;
    background: transparent !important;
    color: $o-theme-sb-color;
    box-shadow: none !important;
}

.switch_company .dropdown-menu.show {
    margin-left: 5px;
    overflow-y: auto;
    min-width: 90%;
    // height: fit-content;
    border-radius: 7px;
    z-index: 1001;
    height: 90px;
}

.switch_company .dropdown-item {
    cursor: pointer;
}

.switch_company .dropdown-item:hover {
    color: #fff;
    background: #4a5b6a;
}

.o_calendar_buttons {
    position: absolute;
}

.measure-button {
    > .o_graph_measures_list {
        > .btn.btn-primary {
            margin-right: 2px;
        }
    }
}

// .measure-settings-button {
//     left: 105px;
//     top: 2px;
// }

// .chart-graph-button {
//     top: 2px;
//     left: 114px;
// }

// .stacked-graph-button {
//     top: 2px;
//     left: 113px;
// }

// .sort-graph-button {
//     top: 2px;
//     left: 114px;
// }

.o_user_menu {
    .dropdown-menu {
        a[data-menu="documentation_dev"] {
            display: none;
        }
        a[data-menu="documentation"] {
            display: none;
        }
        a[data-menu="support"] {
            display: none;
        }
    }
}

@media (max-width: 1515px) {
    .o_control_panel .o_cp_top_left,
    .o_control_panel .o_cp_bottom_left {
        display: block;
    }
}

@media only screen and (max-width: 767px) {
    .o_cp_pager .btn-secondary {
        color: black !important;
    }
    .o_cp_pager .btn-secondary:hover {
        color: white !important;
    }
}

// Override
@media (max-width: 576px) {
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o_list_export_xlsx,
    .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_buttons .o_list_selection_box,
    .o_cp_bottom_left .o_cp_buttons .btn.o_button_generate_leads {
        display: block !important;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left div[aria-label="Sort graph"] {
        display: block !important;
    }
    .o_control_panel .o_cp_bottom_left .o_cp_buttons {
        display: flex;
        flex-direction: row;
    }
    // .chart-graph-button,
    // .stacked-graph-button,
    // .sort-graph-button {
    //     left: 0px;
    //     top: 36px;
    //     width: fit-content;
    // }
}

// Override
// Override
@media only screen and (max-width: 992px) {
    .parent_menu_autocomplete_dropdown {
        top: 0px !important;
    }
    nav.o_main_navbar .o_menu_apps .dropdown-menu.sh_backmate_theme_appmenu_div .logo {
        background: transparent !important;
    }
    .dropdown-menu.sh_backmate_theme_appmenu_div .logo {
        display: flex !important;
    }
}

@media (max-width: 1074px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        left: unset;
        right: 180px !important;
    }
}

@media only screen and (max-width: 1330px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        width: unset !important;
        position: unset !important;
    }
}

@media only screen and (max-width: 767px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options {
        position: unset !important;
    }
}

@media (max-width: 575px) {
    // .measure-settings-button {
    //     position: absolute;
    //     left: 0px;
    //     top: 36px;
    // }
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        top: unset;
        right: 5px !important;
    }
}

// Order-date Search Bar
@media (max-width: 575px) {
    // .measure-settings-button {
    //     position: absolute;
    //     left: 10px;
    //     top: 90px;
    // }
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        top: unset;
    }
}

@media (max-width: 745px) {
    .o_control_panel {
        height: 180px !important;
        position: relative;
    }
}

@media (max-width: 477px) {
    select.app_select_field_date {
        width: 20% !important;
    }
    div.o_datepicker {
        width: 30% !important;
    }
}

@media (max-width: 745px) {
    .o_control_panel .o_cp_bottom .o_cp_bottom_left {
        margin-top: 26px;
    }
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_pager {
        position: unset;
        top: 145px;
        right: 5px;
    }
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons {
        position: unset;
        right: 10px;
    }
    .o_control_panel {
        height: 140px !important;
        position: relative;
    }
    .o_action_manager .o_view_controller .o_control_panel {
        min-height: unset;
    }
    //   Hide Search Bar mobile responsive
    .app-search-range-date-container {
        display: none;
    }
    .app-search-btn {
        display: none;
    }
}

@media (max-width: 576px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        top: unset;
        bottom: 5px;
        right: 15px !important;
    }
    /* .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        top: 60px;
        left: 20px;
    } */
    .o_cp_bottom_right {
        margin-bottom: 40px !important;
    }
    .o_control_panel {
        height: 130px !important;
        position: relative;
    }
    .o_control_panel .o_cp_bottom .o_cp_bottom_left {
        margin-top: 0px;
    }
    .o_cp_action_menus .o_dropdown:first-child ul {
        left: -125px !important;
    }
    .o_cp_action_menus .o_dropdown:last-child ul {
        left: -175px !important;
    }
}

.o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
    left: 350px !important;
}

@media (max-width: 2100px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 375px !important;
    }
}

@media (max-width: 1920px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 330px !important;
    }
}

@media (max-width: 1800px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 270px !important;
    }
}

@media (max-width: 1643px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 220px !important;
    }
}

@media (max-width: 1504px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 150px !important;
    }
}

@media (max-width: 992px) {
    .parent_menu_autocomplete_dropdown {
        margin-left: 90px;
    }
    .menu_image {
        left: unset;
        margin-left: 54px;
    }
}

@media (max-width: 1400px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
        left: 120px !important;
        width: 45%;
    }
}

@media (max-width: 1330px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_cp_switch_buttons {
        top: unset !important;
    }
}

.o_searchview_input_container button {
    border: unset !important;
    box-shadow: unset !important;
}

@media (max-width: 992px) {
    .o_searchview_input_container button {
        margin-right: 20px !important;
    }
}

.o_switch_company_menu a.dropdown-toggle .oe_topbar_name {
    display: inline-block;
}

.modal.o_legacy_dialog.o_technical_modal.show {
    z-index: 2000;
}

.o_searchview_input_container button {
    border: unset !important;
    box-shadow: unset !important;
}

.o_searchview_input_container button:hover {
    border: unset !important;
}

// @media screen and (min-width:577px) and (max-width:767px) {
//     .o_control_panel .o_cp_searchview .o_searchview:hover {
//         border: 1px solid #ccc;
//         background-color: #e9ecef;
//         transition: inherit;
//         .o_searchview_input {
//             background-color: #e9ecef;
//         }
//         .o_searchview_facet:not(.o_facet_toggle) .o_facet_values {
//             background-color: white;
//         }
//     }
// }

.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.active,
.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:hover {
    background: #484848 !important;
}

.o_searchview .o_searchview_facet .o_searchview_facet_label {
    background-color: $o-theme-smart-color;
}

.o_menu_systray .badge {
    background-color: #484848;
}

.o_menu_apps .hover_menuitem .sh_backmate_theme_appmenu_div .logo {
    background-color: #262628;
}


.sh_backmate_theme_appmenu_div .search-container {
    background-color: $o-theme-sb-search-bgcolor;
    border-color: $o-theme-sb-bgcolor;;
}

.action-menu:hover {
    background-color: #484848 !important;
}

.ui-state-active {
    background-color: #262628 !important;
}

.o_cp_searchview .o_searchview_input_container .btn-secondary:hover {
    background-color: #484848 !important;
}

#js_bar_toggle_btn_mobile {
    background-color: #484848 !important;
}

.ks_dashboard_top_menu .btn.btn-secondary.ks_date_filter_dropdown {
    padding: 0.5rem 0.75rem !important;
}

.ks_dashboard_top_menu #ks_date_filter_selection {
    font-weight: normal !important;
}

.o_Discuss .o_DiscussSidebar.o_Discuss_sidebar .o_DiscussSidebarItem:hover {
    background-color: #767676!important;
}

.o_DiscussSidebarItem_activeIndicator.o-item-active {
    background-color: #767676 !important;
}

.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active {
    background-color: #262628 !important;
}

.switch_company .dropdown-item:hover {
    background: #767676 !important;
}

.show>.btn-secondary.dropdown-toggle {
    background-color: #484848 !important;
    border: 1px solid #484848 !important;
}

.show>.btn-secondary.dropdown-toggle:hover {
    background-color: #767676 !important;
    border: 1px solid #767676 !important;
}


.o_base_settings .o_setting_container .settings_tab .selected {
    background-color: #262628 !important;
    box-shadow: inset 3px 0 0 $o-theme-btn-primary-bgcolor;
    color: #484848 !important;
}

.parent_menu_autocomplete_dropdown {
    color: #262628;
}

.parent_menu_autocomplete_dropdown .o_input:focus {
    background: none !important;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option a:hover,
.ui-autocomplete .ui-menu-item.o_m2o_start_typing a:hover {
    color: white !important;
}

@media (max-width: 767px) {
    .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:active,
    .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button.active,
    .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button:focus,
    .o_cp_switch_buttons .btn-sm {
        background: #484848 !important;
    }
    .o_cp_switch_buttons button.btn.btn-sm:hover {
        background-color: white !important;
        color: #262628 !important;
    }
}

@media only screen and (max-width: 576px) {
    .modal-header {
        background: #262628 !important;
    }
}

.o_cp_buttons .btn.btn-primary:hover.o-kanban-button-new:before,
.o_cp_buttons .btn.btn-primary:hover.o_form_button_save:before {
    color: #edc928 !important;
    transition: 0.3s !important;
}

@media (max-width: 992px) {
    .parent_menu_image {
        left: unset;
        margin-left: 54px;
    }
}

.parent_menu_image {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
}

@media (max-width: 524px) {
    .parent_menu_image {
        display: none !important;
    }
    .o_input.parent_menu_autocomplete.ui-autocomplete-input {
        width: 200px !important;
        padding-right: 20px
    }
    .parent_menu_autocomplete_dropdown {
        margin-left: 35px !important;
    }
}

@media (max-width: 427px) {
    .parent_menu_image {
        display: none !important;
    }
    .o_input.parent_menu_autocomplete.ui-autocomplete-input {
        width: 150px !important;
        padding-right: 20px
    }
    .parent_menu_autocomplete_dropdown {
        margin-left: 30px !important;
    }
    nav.o_main_navbar ul.o_menu_systray li.o_mail_systray_item.switch_pos {
        display: none !important;
    }
}

@media (max-width: 367px) {
    .parent_menu_image {
        display: none !important;
    }
    .o_input.parent_menu_autocomplete.ui-autocomplete-input {
        width: 100% !important;
        padding-right: 20px
    }
    .parent_menu_autocomplete_dropdown {
        margin-left: 30px !important;
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: unset !important;
    margin-bottom: unset !important;
}

.btn,
a {
    transition: 0.2s !important;
}

.oe_right .btn-secondary,
.o_kanban_primary_left .btn-secondary:hover {
    background: #484848 !important;
    color: #fcfcfc !important;
}

.oe_right .btn-secondary:hover,
.o_kanban_primary_left .btn-secondary {
    color: #262628 !important;
    background: #fcfcfc !important;
    border-color: #262628 !important;
}


/* Tue, 29 Mar 2022 */

.o_action_manager .o_view_controller .o_control_panel .o_cp_top .o_cp_top_right .o_cp_searchview {
    left: unset !important;
    right: 0 !important;
    width: 100%
}

div.o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_right .o_search_options {
    right: unset !important;
}

@media (max-width: 1075px) {
    .o_control_panel .o_cp_top_right,
    .o_control_panel .o_cp_bottom_right {
        width: 95% !important;
    }
}

@media (max-width: 991px) {
    .o_control_panel .o_cp_top_right,
    .o_control_panel .o_cp_bottom_right {
        width: 72% !important;
    }
}

.bootstrap-datetimepicker-widget {
    z-index: 9051 !important;
}

@media screen and (max-width:350px) {
    header nav.o_main_navbar {
        flex-direction: column !important;
    }
    div.o_input_dropdown.parent_menu_autocomplete_dropdown.mobile_dropdown {
        width: 140px !important;
        position: relative !important;
    }
    nav.o_main_navbar {
        height: 70px !important;
    }
    nav.o_main_navbar>ul.o_menu_systray>li .dropdown-menu {
        top: 90px !important;
    }
}

@media (min-width:768px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        position: absolute !important;
        left: 485px !important;
        top: 145px !important;
        right: unset !important
    }
}

@media (min-width:992px) {
    .o_action_manager .o_view_controller .o_control_panel .o_cp_bottom .o_cp_bottom_left .o_cp_action_menus {
        position: absolute !important;
        left: 750px !important;
        top: 105px !important;
        right: unset !important
    }
}
/* Mon, 4 Apr 2022 */

.o_control_panel .o_cp_searchview .o_searchview {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    word-break: break-all;
    height: 40px;
    align-items: baseline;
    border-radius: 7px;
    transition: inherit;
}

.o_search_recs.fa.fa-ellipsis-v.dropdown-toggle.hidden {
    flex: 1 0 auto;
    text-align: center;
}

.o_searchview .o_searchview_input_container {
    flex: 1 0 90%;
    background-color: white;
}

@media (max-width: 992px) {
    .o_web_client .o_action_manager {
        margin-left: 0px !important;
    }

    .o_touch_device .o_control_panel .o_cp_searchview .o_searchview {
        padding-right: 25px !important;
    }

    .o_searchview_input_container button {
        margin-right: 0px !important;
    }
}

div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::before,
div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::after{
 left: 0 !important
}


.o_list_view table.o_list_table td.o_data_cell{
 padding-left: 10px !important;
}

.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector).o_list_number_th{
 text-align: center;
}

.o_field_boolean.o_boolean_toggle.o_field_widget.custom-control.custom-checkbox{
 width: 44px;
}
.modal-content .o_view_controller > div {
    overflow: unset !important;
    min-height: 100px !important;
}
.modal-title {
    font-size: inherit !important;
}
div.sh_backmate_theme_appmenu_div ul.dropdown-menu .dropdown-header .sh_icon_text span{
    line-height: normal !important;
}
.dropdown-header.o_menu_header_lvl_2 ul{
    padding-left: 1rem !important;
    padding-bottom: 1rem !important;
}
div.dropdown-header{
    white-space: unset !important;
}
.sh_backmate_theme_appmenu_div ul.dropdown-menu a{
    line-height: normal !important;
    display: flex !important;
    align-items:center !important;
}

.sh_backmate_theme_appmenu_div ul.dropdown-menu.show_ul .dropdown-header > a {
    &:active {
        background-color: $o-theme-sb-bgcolor-active;
        color: $o-theme-sb-color-active;
        box-shadow: $o-theme-sb-box-shadow;
    }
    &:hover {
        background-color: $o-theme-sb-bgcolor-hover;
        color: $o-theme-sb-color-hover;
        box-shadow: $o-theme-sb-box-shadow;
    }
}

.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div ul.dropdown-menu a {
    border-radius: 20px 0 0 20px !important;
    &:active {
        background-color: $o-theme-sb-bgcolor-active;
        color: $o-theme-sb-color-active;
        box-shadow: $o-theme-sb-box-shadow;
    }
    &:hover {
        background-color: $o-theme-sb-bgcolor-hover;
        color: $o-theme-sb-color-hover;
        box-shadow: $o-theme-sb-box-shadow;
    }
}

.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle:after {
    color: $o-theme-sb-color;
}
.sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-toggle:hover::after {
    color: $o-theme-sb-color-hover;
}

.o_list_table_grouped {
    thead {
        tr {
            th {
                width: 150px !important;
                max-width: 150px !important;
            }
        }
    }
}

.o_field_one2many {
    .o_list_view {
        .table-responsive::-webkit-scrollbar {
            height: 12px;
        }
    }
}

nav.o_main_navbar .o_menu_systray li .sh_search_container .sh_search_input .input-group-text span:hover,
nav.o_main_navbar .o_menu_systray li.o_debug_manager a span:hover,
nav.o_main_navbar .o_menu_systray li.o_mail_systray_item a i:hover,
nav.o_main_navbar .o_menu_systray li.o_no_notification a span.icon-activity:hover,
nav.o_main_navbar .o_menu_systray li.o_MessagingMenu a i.fa:hover,
nav.o_main_navbar .o_menu_systray li.o_login_as a i:hover,
nav.o_main_navbar .o_menu_systray li.sh_calc_util a span:hover,
nav.o_main_navbar .o_menu_systray li.sh_bookmark_menu_list a span:hover,
nav.o_main_navbar .o_menu_systray li.o_user_bookmark_menu a i:hover {
    color: #505050 !important;
}

// @media (max-width: 992px) {
//     .o_control_panel .o_cp_searchview .o_searchview:hover {
//         border: 1px solid #ccc;
//         background-color: #e9ecef;
//         transition: inherit;
//         .o_searchview_input {
//             background-color: #e9ecef;
//         }
//         .o_searchview_facet:not(.o_facet_toggle) .o_facet_values {
//             background-color: white;
//         }
//     }
// }

.ks_dashboard_header_sticky {
    position: inherit;
    z-index: unset;
}

@media only screen and (min-width: 769px) {
    .dropdown-menu.sh_backmate_theme_appmenu_div {
        transition: all 0.2s !important;
        left: 0 !important;
        &.closed {
            left: -260px !important;
        }
    }
}

html .o_web_client {
    overflow: hidden;
    > .o_action_manager {
        transition: all 0.2s;
        margin-left: 260px;
        &.closed {
            margin-left: 0px !important;
        }
    }
}

.o_searchview_input_container.o_search_float {
    position: absolute;
    left: 0;
    width: 100% !important;
    top: 40px;
    background-color: white;
    padding: 3px 4px;
    text-align: left;
    z-index: 1;
}

.btn-group.o_cp_switch_buttons > .btn.active {
    z-index: unset;
}

.o_action.o_view_controller .o_controller_with_searchpanel .o_list_view.o_renderer_with_searchpanel.o_list_optional_columns div.o_boolean_toggle.custom-control.custom-checkbox > label.custom-control-label::after {
    margin-top: 0;
}

.o_list_selection_box {
    margin-right: 2px;
}

.o_view_controller .o_form_view .o_form_statusbar {
    padding-left: 0;
    padding-right: 0;
}

.modal .modal-dialog {
    transform: unset;
}

.modal-dialog .modal-content .o_dropdown_menu {
    max-height: calc(100vh - 250px);
}

.o_switch_company {
    padding: 0 10px;
        
    .o_switch_company_container {
        position: relative;
        list-style-type: none;
        padding-inline-start: 0;
        text-align: center;
        margin-bottom: 0;
        height: 30px;

        .o_switch_company_menu {
            color: $o-theme-sb-color;
            width: 100%;
            height: 100%;

            .dropdown-toggle::after {
                display: inline-block;
                margin-left: 0.255em;
                vertical-align: 0.255em;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
            }

            .dropdown-menu {
                width: 100% !important;
                transition: none;
                border-radius: 3px;
                z-index: 9999;

                .dropdown-item {
                    cursor: pointer;

                    .log_into {
                        overflow: hidden;

                        .company_label {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }
        }
    }

    ul > li {
        display: flex;

        > a {
            width: 100%;
            color: inherit;
            border-radius: $border-radius;
            padding: 5px;
        }
    }
}

.o_main_navbar .o_switch_company_menu.show .dropdown-toggle {
    background: inherit !important;
}