/* top menu select */
.o_input:focus, .o_input:focus-within{background-image:linear-gradient(#2e3d52, #2e3d52), linear-gradient(#475972, #475972) !important;}
.o_required_modifier.o_input, .o_required_modifier .o_input, .o_field_number.o_input, .o_field_number .o_input{background-image:unset !important}
.o_search_options{height: 30px;}
.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn.btn-secondary, 
.o_cp_bottom_left .o_cp_buttons .btn.btn-secondary.o_list_export_xlsx {
    background-color: transparent !important; 
    color: #0D2A36 !important; 
    box-shadow: 0 0 0 transparent !important;
}
.o_cp_bottom_left .o_cp_buttons .btn.btn-secondary.o_list_export_xlsx:hover{
    background-color:#475972 !important
}
.o_cp_bottom_left .o_cp_buttons .btn,.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn,
.o_cp_bottom_left .o_cp_buttons .btn{
    border-radius:10px !important
}
.o_cp_bottom_left .o_cp_buttons .btn.btn-secondary.o_list_export_xlsx.fa {
    border: 0px !important;
}
.o_cp_bottom_left .o_cp_buttons .btn,.o_form_view .o_form_statusbar > .o_statusbar_buttons .btn,.o_cp_bottom_left .o_cp_buttons .btn{border-radius:10px !important}
button.o_dropdown_toggler_btn.btn.btn-secondary.o_list_export_xlsx {
    background-color: transparent !important;
    border: 0 !important;
}
#company_name_logo{
    display:none!important;
}
#company_logo{
    width:100% !important;
    height: auto !important;
    margin: 15px 0 0 0 !important;
    display: block !important;
    max-width:500px!important;
}
.sh_backmate_theme_appmenu_div .o_company_autocomplete{
    display:none !important;
}
.o_list_view .o_list_table thead > tr > th:not(.o_list_record_selector) {
    white-space: unset !important;
    overflow: unset !important;
    text-overflow: unset !important; 
}
.tooltip {
    z-index: 999999 !important;
}

.variant_attribute {
    .css_attribute_color {
        .js_variant_change {
            position: unset !important;
            pointer-events: unset !important;
        }
    }
    .js_attribute_value {
        .js_variant_change {
            position: unset !important;
            pointer-events: unset !important;
            opacity: unset !important;
        }
    }
}

button.o_dropdown_toggler_btn.btn.btn-secondary.o_list_export_xlsx:hover{
    background-color: #475972 !important;
}
.o_cp_action_menus
a{color:#2e3d52}
.o_searchview_input_container .o_menu_item a{background-color:transparent !important;color:#2e3d52 }
.o_searchview .o_searchview_autocomplete li.o_selection_focus {background-color: #2e3d52 !important;}
.o_searchview .o_searchview_autocomplete li.o_selection_Focus a{color:#fff !important;}
 .parent_menu_select {
     width: 150px;
     position: absolute;
     left: 300px;
     top: 10px;
}

/* sidebar styling */
.o_main_navbar .o_menu_apps {
    .sh_backmate_theme_appmenu_div {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
        .fa-circle-thin {
            display: none !important;
        }
        
        background-color: $o-theme-sb-bgcolor;
        .dropdown-menu .dropdown-header, .cssmenu {
            &:not(.cssmenu){
                padding-top: 5px !important;
            }
            &.o_menu_header_lvl_1, &.o_menu_header_lvl_2 {
                padding-left: 5px !important;
            }
            &.o_menu_header_lvl_1 {
                font-weight: $o-theme-sb-font-weight;
            }
            span {
                color: $o-theme-sb-color;
                &.o-hm-icon, &.fa {
                    color: $o-theme-sb-icon-color;
                }
            }
            a.action_menu, a.sh_sub_dropdown, a.dropdown-item {
                border-radius: 20px 0 0 20px !important;
                &.o_app:not(.d-none){
                    padding: 0px 20px !important;
                    height: 44px;
                    display: flex;
                    align-items: center;
                }
                &.active {
                    background-color: $o-theme-sb-bgcolor-active;
                    box-shadow: $o-theme-sb-box-shadow;
                    font-weight: $o-theme-sb-font-weight-active;
                    span {
                        color: $o-theme-sb-color-active;
                        &.o-hm-icon {
                            color: $o-theme-sb-icon-color-active;
                        }
                    }
                }
                &:hover {
                    background-color: $o-theme-sb-bgcolor-hover;
                    box-shadow: $o-theme-sb-box-shadow;
                    font-weight: $o-theme-sb-font-weight-hover;
                    span {
                        color: $o-theme-sb-color-hover;
                        &.o-hm-icon {
                            color: $o-theme-sb-icon-color-hover;
                        }
                    }
                }
            }
        }
        .cssmenu {
            border-radius: 20px 0 0 20px !important;
            box-shadow: none !important;
            margin: 0px 0px 0px 10px !important;
        }
    }
}

.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div a.dropdown-item.o_app.active,
.o_main_navbar .o_menu_apps .sh_backmate_theme_appmenu_div .cssmenu .dropdown-menu-right .dropdown-header > a:hover {
    border-radius: 20px 0 0 20px !important;
}
.o_menu_apps .hover_menuitem .sh_backmate_theme_appmenu_div .logo {
    background-color: #2e3d52;
}

 [type='radio']:checked + label:after {
     background-color: $o-theme-btn-primary-bgcolor;
     border-color: $o-theme-btn-primary-bgcolor;
}
 .o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button + button {
     background-color: transparent !important;
     box-shadow: 0 0 0 transparent !important;
     margin: 0 3px !important;
     padding: 10px !important;
}
.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button{position:relative}
.o_control_panel .o_cp_bottom_right .o_cp_switch_buttons button + button:after{
    content: '';
    display: block;
    width:1px;
    height: calc(100% + 5px);
    left:-3px;
    top:-3px;
    position:absolute;
    background: lightgrey;}

.btn-secondary.fa{background-color: transparent !important;border-color: transparent !important;box-shadow: 0 0 0 0 transparent !important;}
.btn-secondary.fa:hover{background-color:#475972 !important}
.o_cp_bottom_left .o_cp_buttons .btn, .o_cp_switch_buttons button{box-shadow: 0 0 0 0 transparent !important;}

/* TEXT Styling */
.nav.nav-tabs .nav-link:focus, .nav.nav-tabs .nav-link:active, .nav.nav-tabs .nav-link.active, .o_form_view .o_form_uri > span:first-child, .o_form_view .o_horizontal_separator, .ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
    color: #2e3d52 !important;
}
.o_form_view .oe_button_box .oe_stat_button .o_button_icon, .nav.nav-tabs .nav-link:focus, .nav.nav-tabs .nav-link:active, .nav.nav-tabs .nav-link.active, .o_form_view .o_form_uri > span:first-child, .o_form_view .o_horizontal_separator, .ui-autocomplete .ui-menu-item.o_m2o_dropdown_option > a {
    color: $o-theme-smart-color;
}
.o_view_controller .o_kanban_ungrouped .oe_kanban_global_click .o_kanban_record_title span{color: #2e3d52;}
.badge-primary{background-color: #2e3d52;}
/* Notification Styling */
 .o_mail_systray_item .o_notification_counter, .o_MessagingMenu_counter {
     background-color: #2e3d52;
}
nav.o_main_navbar .o_menu_systray li > a{
    background-color:transparent !important;
    &.o-no-notification {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.o_cp_buttons .btn.btn-secondary.o-hm-icon {
    line-height: 1.5 !important;
}

.o_main_navbar .o_menu_systray .o_MessagingMenu i.fa:hover, .o_main_navbar .o_menu_systray .sh_bookmark_menu_list span:hover{
 color:#2e3d52 !important;
}
 .btn-link, .o_NotificationGroup_date, .o_ThreadPreview_date {
     color: #2e3d52;
}
 .o_ChatWindowHeader {
     background-color: #2e3d52 !important;
}
/* Search Bar & Input Styling */
 .o_searchview .o_searchview_facet .o_searchview_facet_label {
     background-color: #2e3d52 !important;
}

// .o_control_panel .o_cp_searchview .o_searchview:hover {
//     border-color: #ccc !important;
//     background-color: #e9ecef;
//     transition: inherit;
//     .o_searchview_input {
//         background-color: #e9ecef;
//     }
//     .o_searchview_facet:not(.o_facet_toggle) .o_facet_values {
//         background-color: white;
//     }
// }
 
/* .o_required_modifier.o_input, .o_required_modifier .o_input, .o_field_number.o_input, .o_field_number .o_input {
     border-color: #475972 !important;
} */

/* calendar styling */
.o_activity_view .o_activity_summary_cell.overdue,
.o_activity_view .o_activity_summary_cell.planned{background-color:transparent !important}

.o_activity_view .o_activity_summary_cell.overdue >div {
    background-color: #dc3545;
    border-radius: 15px;
}
.o_activity_view .o_activity_summary_cell.planned >div {
    background-color: green;
    border-radius: 15px;
}
.o_mail_activity .o_activity_color_planned{
    color: #73D75A !important;
}
.o_calendar_container .o_calendar_view .o_calendar_widget .fc-widget-header{
    background-color: #fff !important;
    color: #2e3d52 !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header{
    background-color: #fff !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker .ui-widget-header .ui-datepicker-title{
    color: #2e3d52 !important;
}
.o_calendar_container .o_calendar_sidebar_container .ui-datepicker table .ui-state-active{
    background-color: #2e3d52 !important;
}
.fc-row.fc-widget-header th{line-height: 30px}
.fa-circl
/* Other */
 .o_horizontal_separator:before {
     background-color: #2e3d52;
}
 .ui-state-active, .ui-widget-content .ui-state-active, .ui-autocomplete .ui-menu-item > a.ui-state-active {
     background-color: #2e3d52;
}

/*discussion*/
.o_DiscussSidebarItem_activeIndicator.o-item-active{background-color: #475972 !important;}
.o_Discuss .o_DiscussSidebar.o_Discuss_sidebar .o_DiscussSidebarItem:hover{background-color: #475972 !important;}


.o_onboarding.o_onboarding_blue .o_onboarding_step.o_onboarding_done .o_onboarding_dot, .o_onboarding.o_onboarding_blue .o_onboarding_step.o_onboarding_done .o_onboarding_progress, .o_onboarding.o_onboarding_blue .o_onboarding_step .o_onboarding_done + .o_onboarding_done .o_onboarding_dot, .o_onboarding.o_onboarding_blue .o_onboarding_step .o_onboarding_done + .o_onboarding_done .o_onboarding_progress {
	background: #2a90e2 !important;
}


 .o_company_autocomplete {
	 color: #fff;
	 background-image: unset !important;
	 border-bottom: 0px;
	 margin-top:20px;
}

.parent_menu_autocomplete_dropdown{
    position:relative;
    font-size:16px;
    color:#2E3D52;
}
.parent_menu_autocomplete {
    border-color: transparent !important;
    font-weight:600 !important
}
.parent_menu_autocomplete_dropdown .fa-chevron-down{
    position:absolute;
    top:8px;
    right:0;
}
.parent_company_autocomplete {
    position: relative;
	.fa-chevron-down {
	    position: absolute;
	    color: #fff;
	    top: 8px;
	    right: 30px;
	}
}

/* background logo transparent */
.o_menu_apps .hover_menuitem .sh_backmate_theme_appmenu_div .logo {
    background-color: unset !important;
}

/* box shadow kanban general */
.o_action .o_content .o_kanban_view .o_kanban_record {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}

@media only screen and (max-width: 992px){
    nav.o_main_navbar .o_menu_apps {
        .sh_backmate_theme_appmenu_div {
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
            .fa-circle-thin {
                display: none !important;
            }
            
            background-color: $o-theme-sb-bgcolor;
            .dropdown-menu .dropdown-header, .cssmenu {
                &:not(.cssmenu){
                    padding-top: 5px !important;
                }

                &.o_menu_header_lvl_1, &.o_menu_header_lvl_2 {
                    padding-left: 5px !important;
                }
                &.o_menu_header_lvl_1 {
                    font-weight: $o-theme-sb-font-weight;
                }
                span {
                    color: $o-theme-sb-color;
                    &.o-hm-icon, &.fa {
                        color: $o-theme-sb-icon-color;
                    }
                }
                a.action_menu, a.sh_sub_dropdown, a.dropdown-item {
                    border-radius: 20px 0 0 20px !important;
                    &.o_app:not(.d-none){
                        padding: 0px 20px !important;
                        height: 44px;
                        display: flex;
                        align-items: center;
                    }
                    &.active {
                        background-color: $o-theme-sb-bgcolor-active;
                        box-shadow: $o-theme-sb-box-shadow;
                        font-weight: $o-theme-sb-font-weight-active;
                        span {
                            color: $o-theme-sb-color-active;
                            &.o-hm-icon {
                                color: $o-theme-sb-icon-color-active;
                            }
                        }
                    }
                    &:hover {
                        background-color: $o-theme-sb-bgcolor-hover;
                        box-shadow: $o-theme-sb-box-shadow;
                        font-weight: $o-theme-sb-font-weight-hover;
                        span {
                            color: $o-theme-sb-color-hover;
                            &.o-hm-icon {
                                color: $o-theme-sb-icon-color-hover;
                            }
                        }
                    }
                }
            }
            .cssmenu {
                border-radius: 20px 0 0 20px !important;
                box-shadow: none !important;
                margin: 0px 0px 0px 10px !important;
            }
        }
    }
    .parent_menu_autocomplete_dropdown{
        position: unset;
        display: inline-block;
        margin-left: 42px;
        // margin-top: 8px;
    }
}

.ui-autocomplete {
    z-index: 9051 !important;
}
/* fixing table head */
.o_list_table_ungrouped tr th {
    vertical-align: top !important;
}

/* box shadow kanban */
.o_action .o_content .o_kanban_view.o_kanban_grouped .o_kanban_record {
    margin-bottom: 20px !important;
}

/* Dashboard Fix */
@media only screen and (max-width: 799.98px) {
  .ks_item_click.grid-stack-item.ui-draggable-disabled.ui-resizable-disabled {
    display: flex;
  }

  .ks_dashboard_item_main_body .fa {
    font-size: 30px;
    margin: 14px 0;
  }

  .ks_dashboard_item_button_container {
    display: none !important;
    justify-content: center;
    flex: 1;
  }

  .ks_dashboard_item_main_body {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .ks_dashboard_item_domain_count_l3 {
    font-size: 24px;
    min-width: max-content;
    text-align: unset;
  }

  .ks_dashboard_item_name_l3 {
    font-size: 12px;
  }

  .ks_dashboard_item_name {
    font-size: 16px;
    text-overflow: unset;
    text-align: center;
    min-height: 20px;
  }

  .ks_dashboard_item_domain_count {
    font-size: 16px;
    text-align: center;
    min-width: max-content;
  }

  .ks_dashboard_item_info {
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0 !important;
  }

  .ks_dashboard_item_info_l3 {
    padding-left: 0 !important;
  }

  .ks_dashboard_item_name_l3 {
    text-transform: none;
    white-space: nowrap;
    overflow: hidden;
    width: 160px;
    text-overflow: ellipsis;
    text-align: center;
    font-size: medium;
    min-height: 24px;
  }
  /* memperbaikii layout mobile */ 
.grid-stack-item {
    display: flex !important;
    width: 100% !important;
    position: unset !important;
    margin-bottom: 20px;
}
.grid-stack-item>.grid-stack-item-content {
    width: 100% !important;
}
.grid-stack-item-content {
    position: unset !important
}
.ks_chart_card_body {
    position: unset !important;
}

.ks_dashboard_item {
        height: 160px ;
}

@media only screen and (max-width: 599px) {
  .ks_dashboard_item_domain_count_l3 {
    font-size: 18px !important;
    min-width: max-content;
    text-align: center;
  }

  .ks_dashboard_item_name_l3 {
    font-size: 10px !important;
    width: 85px;
    min-width: max-content;
  }

  .ks_dashboard_item_name {
    font-size: 12px !important;
    text-overflow: ellipsis;
    width: 90px;
    min-width: max-content;
  }

  .ks_dashboard_item_domain_count {
    font-size: 16px !important;
    text-align: center;
    min-width: max-content;
  }
  .ks_dashboard_item {
    height: 134px ;
 }
}
}

@media (max-width: 576px){
    li.o_menu_category.col-4 {
        max-width: 100%;
        flex: 0 0 100% !important;
    }

    html .o_web_client {
        overflow: hidden;
        > .o_action_manager{
            margin-left: unset !important;
        }
    }
}

a.dropdown-toggle.o-no-caret.js_cls_document_search_btn, a#login_as {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

div.input-group-text {
    background-color: transparent !important;
}

h1 {
    font-size: 2em !important;
    font-weight: bold !important;
}

h2 {
    font-size: 1.5em !important;
    font-weight: bold !important;
}

h3 {
    font-size: 1.17em !important;
    font-weight: bold !important;
}

h4 {
    font-size: 1em !important;
    font-weight: bold !important;
}

h5 {
    font-size: 0.83em !important;
    font-weight: bold !important;
}

h6 {
    font-size: 0.67em !important;
    font-weight: bold !important;
}

p {
    font-size: 1em !important;
}

.o_cp_bottom_right .o_cp_switch_buttons .btn {
    margin: 0px 3px !important;
    padding: 10px !important;
}

.o_pivot .table-bordered thead tr th {
    background-color: $o-theme-smart-color;
    color: white !important;
}

.o_pivot table thead .o_pivot_header_cell_opened > span,
.o_pivot table thead .o_pivot_header_cell_closed > span {
    font-size: 14px;
    font-weight: bold;
}

.o_field_many2manytags {
    padding: .429rem 1px .429rem .429rem !important
}

.o_field_widget .o_input_dropdown .o_dropdown_button {
    top: 0px;
}

.o_field_many2manytags .o_field_many2one .o_dropdown_button {
    top: -8px;
}

.o_datepicker .o_datepicker_button {
    top: 0px;
}

table > tbody > tr > td ~ td > span {
    margin-left: 0px !important;
}

.o_control_panel .o_cp_bottom .o_list_selection_box {
    border-radius: 7px !important;
    padding: 5px 10px;
    box-shadow: none !important;
    margin-right: 2px;
}

.o_form_sheet .oe_button_box {
    margin-right: 0;
}

.o_DiscussSidebarItem_counter.o_DiscussSidebarItem_item.badge.badge-pill {
    background-color: $o-theme-sb-bgcolor;
    color: $o-theme-sb-color;
}

.o_form_view .oe_button_box .btn.oe_stat_button {
    border-radius: 8px !important;
    border-color: $o-theme-smart-color;
    margin-left: 5px !important;
    // width: 12.5% !important;
    // padding: 0 !important;
}

.o_form_view .oe_button_box.o_full .o_dropdown_more {
    width: unset;
}

.o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_value {
    color: #4c4c4c;
}

.o_form_view .oe_button_box .o_dropdown_more .btn.oe_stat_button {
    margin-left: 0px !important;
    width: 100% !important;
}

.o_td_label .o_form_label_help {
    display: flex;
    align-items: center;
    
    .o_field_help {
        margin-left: auto;
    }
}

.oe_title .o_field_help {
    margin-left: 5px;
}

.o_notebook .tab-content .o_group.o_inner_group > tbody > tr > td {
    padding: 0px 36px 0px 0px !important;
}

.switch_company .dropdown-menu.show::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
      

// .o_form_view .oe_button_box .oe_stat_button .o_button_icon {
//     margin-left: 0 !important;
//     width: 25% !important;
// }

// .o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info {
//     display: inline-block;
//     height: 100%;
//     width: 75%;
//     max-width: 75%;
//     align-items: center;
//     padding: 0;
//     position: relative;
// }

// .o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_value {
//     align-items: center;
//     display: flex;
//     justify-content: center;
//     border-radius: 50%;
//     background-color: #f24455;
//     color:white;
//     font-weight: normal;
//     height: 25px;
//     width: 25px;
//     position: absolute;
//     right: 5px;
//     top: 11px;
// }

// .o_form_view .oe_button_box .btn.oe_stat_button > .o_stat_info .o_stat_text {
//     position: absolute;
//     height: 100%;
//     display: flex;
//     align-items: center;
//     width: calc(100% - 25px);
//     word-break: break-word;
//     white-space: break-spaces;
// }



/* shadow form view style */
.o_web_client {
    font-family: 'Lato' !important;
}

.o_form_view.o_form_readonly .o_group.o_inner_group > tbody > tr > td .o_field_empty:not(.o_invisible_modifier) {
    display: none !important;
}

.o_form_editable .o_td_label label:not(.o_invisible_modifier) {
    margin-top: 14px !important;
    margin-bottom: 3px;
}

.o_form_editable .o_form_sheet_bg > .o_form_sheet, .o_form_readonly .o_form_sheet_bg > .o_form_sheet {
    padding: 16px 30px 30px;
    margin-top: 14px !important;
    box-shadow: 0 0 15px -1px #999;
    border-radius: 20px;
}

.o_form_editable, .o_form_readonly {
    padding: 0 23px;
}

.o_form_sheet_bg > button.btn {
    margin-right: 5px;
}
.o_view_controller .o_form_view .o_form_statusbar > .o_statusbar_status > .o_arrow_button{
    text-transform:uppercase !important;
}
.o_form_readonly .o_form_label_empty {
    margin-bottom: 33px !important;
    position:relative;
}
.o_td_label .o_form_label_help .o_field_help{
    margin-left:5px
}
.o_form_readonly .o_form_label_empty:after{
    content:'-';
    color:#bbb;
    position:absolute;
    left:1px;
    top:20px;
}

.o_search_panel_section_icon, .btn-super-toggle {
    color: $o-theme-smart-color;
}

.o_action .o_controller_with_searchpanel .o_search_panel .list-group-item header.active {
    border-radius: 0;
    background-color: $o-theme-smart-color;
    .o_search_panel_counter {
        color: inherit !important;
    }
}

/* table report accounting */
.table_main_view{
    padding:0 10px;
}
.table_main_view tbody tr{
    border-color: #777 !important;
}
.table_view_dfr tbody tr.gl-line {
    border: 0px !important;
}
.table_main_view tbody tr.gl-line td{
    padding-top: 2px !important;
    padding-bottom: 0px!important;
}

/* update */
.tbl_report_title {
border-bottom: double;
}

.table_main_view tbody tr {
    border-left: none !important;
    border-right: none !important;

    border-left-style: none !important;
    border-right-style: none !important;
}

.table_main_view {
    overflow-x: scroll;
}

tr i.fa.fa-caret-down {
    transform: rotate(-90deg) !important;
}
tr:not(.collapsed) i.fa.fa-caret-down {
    transform: unset !important;
}

/* Double line  */
.table_view_tb .table_main_view .tbl_report_title{
    padding-top: 25px !important;
    border-bottom: #777 double;
}
.table_view_tb .table_main_view .tbl_report_title td, 
.table_view_tb .table_main_view .tbl_report_title th{
    padding-top: 20px !important;
}

.fa.fa-stack {
    text-align: center;
    
    .fa-caret-down {
        position: absolute;
        bottom: 0;
        color: $o-theme-btn-primary-bgcolor;
    }
  
    .fa-caret-up {
        position: absolute;
        top: 0;
        color: $o-theme-btn-primary-bgcolor;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.dropdown-menu.sh_backmate_theme_appmenu_div {
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 0;
        border-left: 5px solid transparent;
        background-clip: padding-box;
    }
    
    &::-webkit-scrollbar-thumb:hover{
        border-radius: 10px;
        border-left: 0;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}