#ui-id-1.ui-widget.ui-widget-content {
    border-radius: 15px;
    padding: 20px 10px !important;
    background: #f6f6f5;
    border: 1px solid #c5c5c5;
    width: 100% !important;
    max-width: 700px;
    display: flex;
    flex-wrap: wrap;
    height: fit-content !important;
    max-height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#ui-id-1.ui-widget.ui-widget-content::-webkit-scrollbar {
    display: none;
}

#ui-id-1.ui-menu li.o_menu_category {
    font-family: 'Poppins';
    padding: 10px !important;
    h3 {
        // to override sh_backmate
        font-family: 'Poppins';
        margin-bottom: 5px !important;
    }
    .o_hm_menu {
        padding: 0px !important;
    }
}

#ui-id-1.ui-menu .o_menu_flag.ui-menu-item:hover {
    background: white !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px !important;
    border-radius: 10px !important;
}

#ui-id-1.ui-widget.ui-widget-content .ui-state-active {
    background: unset !important;
    border-right: unset !important;
    border-top: unset !important;
    border-left: unset !important;
    border-bottom: unset !important;
    margin: unset !important;
    color: unset !important;
}

#ui-id-1.ui-menu .ui-menu-item div {
    border-bottom: none !important;
    transition: 0.3s !important;
}

.ui-menu-item-wrapper img {
    width: 25px;
    margin-right: 5px;
}

#ui-id-1.ui-menu .o_menu_flag.ui-menu-item {
    padding: 5px 0px !important;
}

@media screen and (max-width:767px) {
    #ui-id-1.ui-widget.ui-widget-content {
        max-width: 390px !important;
    }
    #ui-id-1.ui-menu .o_menu_category.ui-menu-item {
        flex: 0 1 50% !important;
    }
}

@media (max-width: 480px) {
    #ui-id-1.ui-menu .o_menu_category.ui-menu-item {
        flex: 1 1 100% !important;
    }
    #ui-id-1.ui-widget.ui-widget-content {
        max-width: 200px !important;
        max-height: 450px !important;
        overflow-y: scroll !important;
        padding-top: 0 !important;
    }
}

.o_error_detail {
    color: #2F4F4F;
    background-color: #CDEFFA;
    border-color: #CDEFFA;

    pre {
        color: #2F4F4F;
    }
}