.oe_order_line .o_list_table .o_data_row:not(.o_selected_row) .o_list_many2one .o_field_widget:not(.o_row_handle):not(.o_field_badge),
.oe_order_line .o_list_table .o_data_row:not(.o_selected_row) .o_list_char .o_field_widget:not(.o_row_handle):not(.o_field_badge),
.oe_order_line .o_list_table .o_data_row:not(.o_selected_row) .o_list_number .o_field_widget:not(.o_row_handle):not(.o_field_badge) {
    display: inline-block;
}

.oe_order_line .table-responsive .o_list_table {
    thead > tr > th[data-name="product_template_id"] {
        width: 190px !important;
    }
}

.oe_order_line .table-responsive .o_list_table {
    tbody > tr > td > a[name="product_template_id"] {
        width: 190px !important;
    }
}

.oe_order_line .table-responsive .o_list_table {
    tbody > tr > td > span[name="product_template_id"] {
        width: 190px !important;
    }
}
.oe_order_line .table-responsive .o_list_table {
    thead > tr > th[data-name="name"] {
        width: 250px !important;
    }
}

.oe_order_line .table-responsive .o_list_table {
    tbody > tr > td > span[name="name"] {
        width: 250px !important;
    }
}

.oe_order_line .o_list_table tbody > tr > td:not(.o_list_record_selector):not(.o_handle_cell):not(.o_list_button) {
    display: table-cell;
    max-width: 100%;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.oe_order_line .o_list_table .o_data_row.o_selected_row > .o_data_cell:not(.o_readonly_modifier):not(.o_invisible_modifier) > .o_field_widget {
    width: fit-content;
}
