.report_header_print {
    .table-responsive {
        .o_list_table {
            thead {
                display: none !important;
            }
            tbody {
                tr {
                    td.o_list_record_remove {
                        display: none !important;
                    }
                }
                tr:nth-of-type(odd) {
                    background-color: #FFFFFF !important;
                    background: #FFFFFF !important;
                }
                tr:nth-of-type(even) {
                    background-color: #FFFFFF !important;
                    background: #FFFFFF !important;
                }
            }
            tfoot {
                display: none !important;
            }
        }
    }
}
.report_header_print_filter {
    .table-responsive {
        .o_list_table {
            thead {
                display: none !important;
            }
            tbody {
                tr:nth-of-type(odd) {
                    background-color: #FFFFFF !important;
                    background: #FFFFFF !important;
                }
                tr:nth-of-type(even) {
                    background-color: #FFFFFF !important;
                    background: #FFFFFF !important;
                }
            }
            tfoot {
                display: none !important;
            }
        }
    }
}
.potrait {
    .o_preview_iframe {
        width: 794px !important;
    }
}
.landscape {
    .o_preview_iframe {
        width: 1500px !important;
    }
}
