@media only screen and (max-width: 767px) {
    .d-sm-inline {
        display: inline !important;
    }
    .o_form_button_cancel .fa.fa-times {
        display: inline-block;
        visibility: visible;
    }
    .o_form_button_save .fa.fa-check {
        display: inline-block;
        visibility: visible;
    }
    .o_list_button_add .fa.fa-plus {
        display: inline-block;
        visibility: visible;
    }
}
