<?xml version="1.0" encoding="UTF-8"?>
<odoo>
	<menuitem name="Activity Dashboard"  id="sh_activity_dashboard" web_icon="sh_activities_management,static/description/icon.svg" sequence="4" groups="sh_activities_management.group_activity_user,sh_activities_management.group_activity_supervisor,sh_activities_management.group_activity_manager" />
	<menuitem name="Configuration" id="menu_config" parent="sh_activity_dashboard" groups="sh_activities_management.group_activity_manager" sequence="4" />

	<record id="sh_activities_management.sh_activity_dashboard" model="ir.ui.menu">
          <field name="equip_category_id" ref="equip3_hashmicro_ui.category_management"/> 
      </record>     

</odoo>