.o_cp_it_inventory {
    flex-flow: column;
    margin-top: 10px !important;

    .o_date_filter {
        .o_date_filter_container {
            display: flex;
            align-items: center;

            .o_date_filter_label, .o_date_filter_from, .o_date_filter_to {
                margin-right: 4px;
            }

            .o_date_filter_label {
                min-width: 120px;
            }

            .o_date_filter_from, .o_date_filter_to {
                min-width: 100px;
                width: 100px;
            }
        }
    }

    .o_warehouse_filter, .o_document_filter {
        .o_warehouse_container, .o_document_container {
            display: flex;
            align-items: center;
            margin-top: 4px;

            .o_warehouse_label, .o_warehouse_input, .o_document_label, .o_document_input {
                margin-right: 4px;
            }

            .o_warehouse_label, .o_document_label {
                min-width: 120px;
            }

            .o_warehouse_input, .o_document_input {
                min-width: 204px;
                width: 204px;
            }
        }
    }
}