.tableFloatingHeaderOriginal .bg-primary{
	background-color: var(--o-theme-sb-bgcolor) !important;
    color: var(--o-theme-sb-color) !important;
    font-family: 'Lato';
}


.tableFloatingHeaderOriginal .bg-primary th{
    color: var(--o-theme-sb-color) !important;
    font-family: 'Lato';
}

.o_list_view .o_column_sortable::after {
	color: unset ;
}
.o_list_view .tableFloatingHeaderOriginal .bg-primary th.o_column_sortable::after {
    color: var(--o-theme-sb-color) !important;
}

.tableFloatingHeaderOriginal .bg-primary td{
    font-family: 'Lato';
}
.dropdown-menu.sh_backmate_theme_appmenu_div {
    z-index: 999;
}

.modal-content .o_cp_top .o_cp_top_right {
    position: relative;
    display: block;
    margin-top: 60px;
}
.modal-content .tableFloatingHeaderOriginal {
    top:unset !important;
}
.ks_lvm_o_content .o_list_view table.o_list_table thead tr:nth-child(1) th:nth-child(1), .ks_lvm_o_content .o_list_view table.o_list_table thead tr:nth-child(1) th:last-child {
    border: unset !important;
}
@media (max-width: 752px) {
    #ks_dropdown, .ks_lvm_o_content .hide-on-modal {
        display: none;
    }
}