.o_kiosk_mrp_workorder {
    height: 100%;
    display: flex;
    padding: 0px 0px 5px 0px;

    .o_kiosk_workorder_left {
        width: 20%;
        padding: 10px;

        .o_kiosk_workorder_info {
            height: 100%;
            background-color: #f6f6f5;
            border-radius: 7px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

            .o_kiosk_workorder_info_header {
                .o_kiosk_workorder_logo {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }

                .o_kiosk_workorder_operation {
                    font-weight: bold;
                    text-align: center;
                    margin-top: 15px;
                }
            }

            .o_kiosk_workorder_info_content {
                height: 80%;
                display: flex;
                flex-direction: column;

                .o_info {
                    margin-top: auto;
                    
                    .o_info_label {
                        font-weight: bold;
                    }

                    .o_workorder_name {
                        overflow-wrap: break-word;
                    }
                }
            }
        }
    }

    .o_kiosk_workorder_right {
        width: 80%;

        .o_kiosk_workorder_cp {
            height: 150px;

            .o_kiosk_workorder_cp_container {
                min-height: 100%;
                padding: 10px;

                .o_kiosk_workorder_cp_top {
                    margin-bottom: 10px;
                    display: flex;
                    width: 100%;

                    .o_kiosk_cp_top_left {
                        width: 70%;
                        display: flex;
                        height: 60px;

                        .o_kiosk_cp_button {
                            width: 32%;
                            font-weight: bold;
                            margin-left: auto;
                            border-radius: 7px !important;
                            box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

                            &.o_kiosk_btn_block {
                                margin-left: 0;
                            }
                        }
                    }

                    .o_kiosk_cp_top_right {
                        position: relative;
                        width: 30%;

                        .o_kiosk_cp_upper_right {
                            position: absolute;
                            right: 0;
                            top: 0;

                            .o_kiosk_wifi {
                                font-size: 20px;
                                margin-right: 10px;
                                color: #28a745;
                            }

                            .o_kiosk_close {
                                font-size: 20px;
                            }
                        }
                    }
                }

                .o_kiosk_workorder_cp_bottom {
                    margin-top: 15px;
                    width: 50%;

                    .o_kiosk_identifier_container {
                        display: flex;
                        padding-right: 10px;

                        .o_kiosk_identifier {
                            width: -webkit-fill-available;
                        }

                        .o_kiosk_btn_add, .o_kiosk_btn_scan {
                            margin-left: 10px;
                            margin-right: 0;
                        }
                    }
                }
            }
        }

        .o_kiosk_workorder_content {
            height: calc(100% - 150px);

            .o_kiosk_workorder_content_container {
                height: 100%;
                background-color: red;
                display: flex;

                .o_kiosk_workorder_material {
                    width: 50%;
                    height: 100%;
                    padding: 10px;
                }
            }
        }
    }

    .o_kiosk_btn_fa {
        white-space: nowrap;
        margin-right: 10px;
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px !important;
    }
}