.o_mr_product_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="section"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="variable"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="group_of_product"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="product"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="product_variant"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="description"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="analytic_account_group_ids"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="quantity"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="budget_quantity"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="progress_quantity"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="done_qty"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="product_unit_measure"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="destination_warehouse_id"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="status"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="request_date"]{
                            min-width: 200px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

.o_mr_line {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="name"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="create_date"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="schedule_date"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="requested_by"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="source_document"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }
                        th[data-name="purchase_request"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }
                        th[data-name="internal_transfer"]{
                            min-width: 400px !important;
                            width: 400px !important;
                            max-width: 400px !important;
                            text-align: center;
                        }
                        th[data-name="itr_war_count"]{
                            min-width: 400px !important;
                            width: 400px !important;
                            max-width: 400px !important;
                            text-align: center;
                        }
                        th[data-name="status"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                    }
                }
            }
        }
}
