.o_po_product_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="project_scope"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="section"]{
                            min-width: 100px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="variable"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_quantity"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="agreement_id"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="date_planned"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="analytic_tag_ids"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="discount_method"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="discount_amount"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_tender_note"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_sec_qty"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="sh_sec_uom"]{
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="price_unit"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="budget_unit_price"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="taxes_id"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 200px !important;
                        }
                        th[data-name="last_purchased_price"]{
                            min-width: 220px !important;
                            width: 220px !important;
                            max-width: 220px !important;
                        }
                        th[data-name="last_customer_purchase_price"]{
                            min-width: 250px !important;
                            width: 250px !important;
                            max-width: 250px !important;
                        }
                        th[data-name="remining_budget_amount"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                        }
                    }
                }
            }
        }
    }
}