.customer_delivery_order_view{
    main {
        background-color: white;
        nav {
            box-shadow: 0px 0px 7px 4px #dbdbdb;
            border-radius: 15px !important;
            overflow: hidden;
            width: 100%;
            margin-bottom: 3rem !important;
            ol {
                margin-left: 0 !important;
                li:first-child {
                    margin-left: 0.25rem !important;
                    a {
                        color: #A20025;
                        font-size: 25px;
                    }
                }
                li.active {
                    color: #aea6a6 !important;
                    margin-top: 8px;
                }
            }
            #o_portal_navbar_content {
                display: none !important;
            }
        }
        .table-responsive {
            box-shadow: 0px 0px 7px 4px #dbdbdb;
            border-radius: 15px !important;
            overflow: hidden;
            width: 100%;
            margin-bottom: 1.5rem !important;
            .table {
                tbody {
                    tr {
                        td:first-child {
                            a {
                                color: #A20025 !important;
                            }
                        }
                        td {
                            a {
                                color: #A20025 !important;
                            }
                        }
                    }
                }
            }
        }
        .o_portal_pager {
            margin-bottom: 1.5rem !important;
            ul {
                li:not(.active) {
                    a {
                        color: #A20025 !important;
                    }
                }
                .active {
                    a {
                        color: #fff !important;
                        background-color: #A20025 !important;
                        border-color: #A20025 !important;
                    }
                }
            }
        }
        div.o_portal {
            div.row {
                box-shadow: 0px 0px 7px 4px #dbdbdb;
                border-radius: 15px !important;
                overflow: hidden;
                width: 100%;
                margin-bottom: 1rem !important;
                .col {
                    ol {
                        margin-left: 0 !important;
                        margin-top: 0.25rem !important;
                        li:first-child {
                            a {
                                color: #A20025;
                                font-size: 25px;
                            }
                        }
                        li:not(:first-child) {
                            color: #aea6a6 !important;
                            margin-top: 8px;
                            a {
                                color: #aea6a6;
                            }
                            &::before {
                                padding-right: unset !important;
                            }
                        }
                    }
                }
            }
        }
        .o_portal_wrap {
            margin-left: 1.9rem !important;
            div.container {
                div.container {
                    .o_portal_sale_sidebar {
                        div.d-print-none {
                            padding-left: unset !important;
                            div.card {
                                box-shadow: 0px 0px 7px 4px #dbdbdb;
                                border-radius: 15px;
                                overflow: hidden;
                                ul {
                                    li {
                                        div.btn-toolbar {
                                            div.btn-group {
                                                .btn {
                                                    font-size: 18px;
                                                    font-weight: bolder;
                                                    background-color: #A20025;
                                                }
                                            }
                                        }
                                        .small {
                                            strong {
                                                color: #A20025 !important;
                                            }
                                        }
                                        div.flex-nowrap {
                                            color: #A20025;
                                        }
                                    }
                                }
                                div.card-body {
                                    div.btn-group {
                                        .btn {
                                            font-size: 18px;
                                            font-weight: bolder;
                                            background-color: #A20025;
                                        }
                                    }
                                }
                                div.card-footer {
                                    color: #A20025 !important;
                                    a {
                                        color: #A20025 !important;
                                    }
                                    a:hover {
                                        color: #A20025 !important;
                                    }
                                }
                            }
                        }
                        div.col-12 {
                            padding: unset !important;
                            .card {
                                box-shadow: 0px 0px 7px 4px #dbdbdb;
                                border-radius: 15px !important;
                                overflow: hidden;
                                .card-header {
                                    padding: 30px !important;
                                    border-bottom-color: #A20025 !important;
                                    h2 {
                                        font-weight: bolder !important;
                                    }
                                    div.row {
                                        margin-left: 1rem !important;
                                        margin-top: 0.5rem !important;
                                        div {
                                            flex: unset !important;
                                            max-width: unset !important;
                                            width: unset !important;
                                            h2 {
                                                font-weight: bolder !important;
                                            }
                                            .update-vendor-invoice-form {
                                                border-color: #A20025 !important;
                                                background-color: #A20025 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}


.customer_my_orders_view{
    main {
        background-color: white;
        nav {
            box-shadow: 0px 0px 7px 4px #dbdbdb;
            border-radius: 15px !important;
            overflow: hidden;
            width: 100%;
            margin-bottom: 3rem !important;
            ol {
                margin-left: 0 !important;
                li:first-child {
                    margin-left: 0.25rem !important;
                    a {
                        color: #A20025;
                        font-size: 25px;
                    }
                }
                li.active {
                    color: #aea6a6 !important;
                    margin-top: 8px;
                }
            }
            #o_portal_navbar_content {
                display: none !important;
            }
        }
        .table-responsive {
            box-shadow: 0px 0px 7px 4px #dbdbdb;
            border-radius: 15px !important;
            overflow: hidden;
            width: 100%;
            margin-bottom: 1.5rem !important;
            .table {
                tbody {
                    tr {
                        td:first-child {
                            a {
                                color: #A20025 !important;
                            }
                        }
                        td {
                            a {
                                color: #A20025 !important;
                            }
                        }
                    }
                }
            }
        }
        .o_portal_pager {
            margin-bottom: 1.5rem !important;
            ul {
                li:not(.active) {
                    a {
                        color: #A20025 !important;
                    }
                }
                .active {
                    a {
                        color: #fff !important;
                        background-color: #A20025 !important;
                        border-color: #A20025 !important;
                    }
                }
            }
        }
        div.o_portal {
            div.align-items-center {
                box-shadow: 0px 0px 7px 4px #dbdbdb;
                border-radius: 15px !important;
                overflow: hidden;
                width: 100%;
                margin-bottom: 1rem !important;
            }
            div.row {
                box-shadow: 0px 0px 7px 4px #dbdbdb;
                border-radius: 15px !important;
                overflow: hidden;
                width: 100%;
                margin-bottom: 1rem !important;
                .col {
                    ol {
                        margin-left: 0 !important;
                        margin-top: 0.25rem !important;
                        li:first-child {
                            a {
                                color: #A20025;
                                font-size: 25px;
                            }
                        }
                        li:not(:first-child) {
                            color: #aea6a6 !important;
                            margin-top: 8px;
                            a {
                                color: #aea6a6;
                            }
                            &::before {
                                padding-right: unset !important;
                            }
                        }
                    }
                }
            }
        }
        .o_portal_wrap {
            margin-left: 1.9rem !important;
            div.container {
                div.container {
                    .o_portal_sale_sidebar {
                        div.d-print-none {
                            padding-left: unset !important;
                            div.card {
                                box-shadow: 0px 0px 7px 4px #dbdbdb;
                                border-radius: 15px;
                                overflow: hidden;
                                ul {
                                    li {
                                        div.btn-toolbar {
                                            div.btn-group {
                                                .btn {
                                                    font-size: 18px;
                                                    font-weight: bolder;
                                                    background-color: #A20025;
                                                }
                                            }
                                        }
                                        .small {
                                            strong {
                                                color: #A20025 !important;
                                            }
                                        }
                                        div.flex-nowrap {
                                            color: #A20025;
                                        }
                                    }
                                }
                                div.card-body {
                                    div.btn-group {
                                        .btn {
                                            font-size: 18px;
                                            font-weight: bolder;
                                            background-color: #A20025;
                                        }
                                    }
                                }
                                div.card-footer {
                                    color: #A20025 !important;
                                    a {
                                        color: #A20025 !important;
                                    }
                                    a:hover {
                                        color: #A20025 !important;
                                    }
                                }
                            }
                        }
                        div.col-12 {
                            padding: unset !important;
                            .card {
                                box-shadow: 0px 0px 7px 4px #dbdbdb;
                                border-radius: 15px !important;
                                overflow: hidden;
                                .card-header {
                                    padding: 30px !important;
                                    border-bottom-color: #A20025 !important;
                                    h2 {
                                        font-weight: bolder !important;
                                    }
                                    div.row {
                                        margin-left: 1rem !important;
                                        margin-top: 0.5rem !important;
                                        div {
                                            flex: unset !important;
                                            max-width: unset !important;
                                            width: unset !important;
                                            h2 {
                                                font-weight: bolder !important;
                                            }
                                            .update-vendor-invoice-form {
                                                border-color: #A20025 !important;
                                                background-color: #A20025 !important;
                                            }
                                        }
                                    }
                                }
                            }
                            #sale_order_communication {
                                #discussion {
                                    .o_portal_chatter {
                                        .o_portal_chatter_composer {
                                            .media {
                                                .media-body {
                                                    .o_portal_chatter_composer_form {
                                                        div {
                                                            textarea {
                                                                border-radius: 15px;
                                                                border: 1px solid #A20025;
                                                            }
                                                            .o_portal_chatter_composer_btn {
                                                                background-color: #A20025 !important;
                                                                border-color: #A20025 !important;
                                                            }
                                                            .o_portal_chatter_attachment_btn {
                                                                background-color: #A20025 !important;
                                                                border-color: #A20025 !important;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}

.customer_quotes_view{
    main {
        background-color: white;
        nav {
            box-shadow: 0px 0px 7px 4px #dbdbdb;
            border-radius: 15px !important;
            overflow: hidden;
            width: 100%;
            margin-bottom: 3rem !important;
            ol {
                margin-left: 0 !important;
                li:first-child {
                    margin-left: 0.25rem !important;
                    a {
                        color: #A20025;
                        font-size: 25px;
                    }
                }
                li.active {
                    color: #aea6a6 !important;
                    margin-top: 8px;
                }
            }
            #o_portal_navbar_content {
                display: none !important;
            }
        }
        .table-responsive {
            box-shadow: 0px 0px 7px 4px #dbdbdb;
            border-radius: 15px !important;
            overflow: hidden;
            width: 100%;
            margin-bottom: 1.5rem !important;
            .table {
                tbody {
                    tr {
                        td:first-child {
                            a {
                                color: #A20025 !important;
                            }
                        }
                        td {
                            a {
                                color: #A20025 !important;
                            }
                        }
                    }
                }
            }
        }
        .o_portal_pager {
            margin-bottom: 1.5rem !important;
            ul {
                li:not(.active) {
                    a {
                        color: #A20025 !important;
                    }
                }
                .active {
                    a {
                        color: #fff !important;
                        background-color: #A20025 !important;
                        border-color: #A20025 !important;
                    }
                }
            }
        }
        div.o_portal {
            div.align-items-center {
                box-shadow: 0px 0px 7px 4px #dbdbdb;
                border-radius: 15px !important;
                overflow: hidden;
                width: 100%;
                margin-bottom: 1rem !important;
            }
            div.row {
                box-shadow: 0px 0px 7px 4px #dbdbdb;
                border-radius: 15px !important;
                overflow: hidden;
                width: 100%;
                margin-bottom: 1rem !important;
                .col {
                    ol {
                        margin-left: 0 !important;
                        margin-top: 0.25rem !important;
                        li:first-child {
                            a {
                                color: #A20025;
                                font-size: 25px;
                            }
                        }
                        li:not(:first-child) {
                            color: #aea6a6 !important;
                            margin-top: 8px;
                            a {
                                color: #aea6a6;
                            }
                            &::before {
                                padding-right: unset !important;
                            }
                        }
                    }
                }
            }
        }
        .o_portal_wrap {
            margin-left: 1.9rem !important;
            div.container {
                div.container {
                    .o_portal_sale_sidebar {
                        div.d-print-none {
                            padding-left: unset !important;
                            div.card {
                                box-shadow: 0px 0px 7px 4px #dbdbdb;
                                border-radius: 15px;
                                overflow: hidden;
                                ul {
                                    li {
                                        div.btn-toolbar {
                                            div.btn-group {
                                                .btn {
                                                    font-size: 18px;
                                                    font-weight: bolder;
                                                    background-color: #A20025;
                                                }
                                            }
                                        }
                                        .small {
                                            strong {
                                                color: #A20025 !important;
                                            }
                                        }
                                        div.flex-nowrap {
                                            color: #A20025;
                                        }
                                    }
                                }
                                div.card-body {
                                    div.btn-group {
                                        .btn {
                                            font-size: 18px;
                                            font-weight: bolder;
                                            background-color: #A20025;
                                        }
                                    }
                                }
                                div.card-footer {
                                    color: #A20025 !important;
                                    a {
                                        color: #A20025 !important;
                                    }
                                    a:hover {
                                        color: #A20025 !important;
                                    }
                                }
                            }
                        }
                        div.col-12 {
                            padding: unset !important;
                            .card {
                                box-shadow: 0px 0px 7px 4px #dbdbdb;
                                border-radius: 15px !important;
                                overflow: hidden;
                                .card-header {
                                    padding: 30px !important;
                                    border-bottom-color: #A20025 !important;
                                    h2 {
                                        font-weight: bolder !important;
                                    }
                                    div.row {
                                        margin-left: 1rem !important;
                                        margin-top: 0.5rem !important;
                                        div {
                                            flex: unset !important;
                                            max-width: unset !important;
                                            width: unset !important;
                                            h2 {
                                                font-weight: bolder !important;
                                            }
                                            .update-vendor-invoice-form {
                                                border-color: #A20025 !important;
                                                background-color: #A20025 !important;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        
    }
}