.oe_kanban_color_2{
  background-color: #A9D08E !important;
  color: white;
}
.oe_kanban_color_3{
  background-color: #B7E1CD !important;
  color: white;
}
.oe_kanban_color_4{
  background-color: #FFE699 !important;
  color: white;
}
.d-home {
    height: 90px;
}
