.o_main_navbar .dropdown-menu.o_open_weather_systray_dropdown.show {
    overflow: unset;
    padding: 0;
    margin: 0;
    border-radius: 6px;

    .widget-left {
        height: 100%;
        margin: 0;
    }

    .o_no_apikey {
        min-width: 200px;
        padding: 10px;
        text-align: center;
    }
}

// FIX for sh_backmate_theme_adv & equip3_hashmicro_ui

.widget-left-menu__header {
    font-weight: 700 !important;
    font-size: 18px !important;
}

.weather-left-card__number {
    font-size: 48px !important;
}

.weather-left-card__number--small {
    font-size: 18px !important;
}

.weather-right__temperature {
    span {
        font-family: "Oswald",Arial,sans-serif !important;
    }
}