.o_hr_attendance_kiosk_mode {
    max-width: 600px !important;
}

#main-attendance {
    padding: 2em 0 !important;
}
 

.o_hr_attendance_kiosk_mode_container .nav-tabs {
    margin-bottom: 85px;
    width: 100%;
    max-width: 550px;
}

.o_hr_attendance_kiosk_mode_container .nav-tabs .nav-item{
    text-align: center !important;
    width: 50%;
}

.o_hr_attendance_kiosk_mode_container .nav-tabs .nav-link{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.o_hr_attendance_kiosk_mode_container .nav-tabs .nav-link.active{
    background-color: #e4e4e4;
}

.o_hr_attendance_kiosk_mode_container .nav-tabs .nav-link:hover{
    background-color: #e4e4e4;
    font-weight: 400;
    color: black !important;
}

.o_hr_attendance_start_end_break_icon{
    cursor: pointer;
    font-size: 6em !important;
    padding: 15px 25px !important;
    background: transparent;
    line-height: 85px;
    margin: 0.1em 0 0.4em !important;
    transition: all 0.3s ease-out !important;;
    border-radius: .1em;
    box-shadow: inset 0 -3px 0 fade-out(black, 0.7);
}

.o_hr_attendance_kiosk_mode .o_hr_attendance_user_badge {
    height: 100px !important;
}

.o_hr_attendance_kiosk_mode .attendance_wrapper {
    display: flex;
    position: relative;
}

.o_hr_attendance_kiosk_mode .attendance_wrapper .col {
    flex: 1;
    padding: 15px;
}

.o_hr_attendance_kiosk_mode .attendance_wrapper h3 {
    font-weight: bold !important;
}

.o_hr_attendance_kiosk_mode .attendance_wrapper .separator {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #e1dfdf;
}

.o_hr_attendance_sign_in_out_icon {
    background-color: #ffc107 !important;
    color: black !important;
}

.o_hr_attendance_start_end_break_icon {
    background-color: #c4c4c4 !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.225) !important;
    color: black !important;
}

.o_hr_attendance_sign_in_out_icon:hover,
.o_hr_attendance_start_end_break_icon:hover {
    background-color: #475972 !important;
    color: #ffffff !important;
}