#filter-parent{
	width: 15%;
	margin: 2rem 1rem;
	float: left;
	#dpt_parent,#j_pos_parent{
		border: 1px solid;
		margin-bottom: 2rem;
		background: #fff;
		& h4{
			padding: 1rem 1rem;
			background: #aaaaaa;
			margin: 0;
		}
		& ul{
			display: block;
			list-style: none;
			padding: 0px;
			background: #fff;
			max-height: 25rem;
			overflow: auto;
		}
	}
	#department_filter{
		& li{
			padding: 5px 15px;
			cursor: pointer;
			&:hover:not(:first-child),&.active:not(:first-child){
				background: blue;
				color: #fff;
				font-weight:bolder;
			}
		}
	}
	#job_position_filter{
		& li{
			padding: 5px 15px;
			cursor: pointer;
			&:hover:not(:first-child),&.active:not(:first-child){
				background: blue;
				color: #fff;
				font-weight:bolder;
			}
		}
	}
}
#org-chart-main{
	position: relative;
}
.orgchart{
	max-width: 80%;
	display: inline-block;
	float: left;
}
.chart_title{
	padding: 2rem 1.5rem;
}
.chart_title:nth(1){
	display:none;
}
/*
#org-chart-main>div:nth-child(2){
	width: 30% !important;
	float: right;
	margin-right: 18rem;
} */
