:root{
    --emenu-btn-color: #FFFFFF;
    --emenu-btn-bg: #008F8B;
    --emenu-btn-sc-color: #FFFFFF;
    --emenu-btn-sc-bg: #EA3A60;
}
html, body{
    overflow: auto;
}

.emenu {
    font-family: 'Inter', sans-serif;
}
.copy_clipboard {
    cursor: pointer;
}
.emenu.page_404 {
    height: 100%;
}
.emenu.page_404 > main {
    height: 100%;
}

.dots-waiting {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #D9D9D9;
    animation: dots-waiting 1.5s infinite linear;
}
.dots-waiting::before, .dots-waiting::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
}
.dots-waiting::before {
    left: -15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #D9D9D9;
    animation: dots-waiting-before 1.5s infinite linear;
}
.dots-waiting::after {
    left: 15px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #D9D9D9;
    color: #D9D9D9;
    animation: dots-waiting-after 1.5s infinite linear;
}
@keyframes dots-waiting-before {
  0% {
    background-color: black;
    color: black;
  } 
  50% {
    background-color: #D9D9D9;
    color: #D9D9D9;
  } 
  100% {
    background-color: #D9D9D9;
    color: #D9D9D9;
  }
}
@keyframes dots-waiting {
  0% {
    background-color: #D9D9D9;
    color: #D9D9D9;
  } 
  50% {
    background-color: black;
    color: black;
  } 
  100% {
    background-color: #D9D9D9;
    color: #D9D9D9;
  }
}
@keyframes dots-waiting-after {
  0% {
    background-color: #D9D9D9;
    color: #D9D9D9;
  } 
  50% {
    background-color: #D9D9D9;
    color: #D9D9D9;
  } 
  100% {
    background-color: black;
    color: black;
  }
}



#home {
    box-shadow: 0px 4px 25px 0px rgb(175 180 185 / 69%);
    width: 100%;
    min-height: 580px;
    max-width: 430px;
    margin: 0 auto 30px auto;
}
.emenu .container {
    max-width: 430px;
    padding: 44px 20px;
}
.emenu .emenu-header {
    position: relative;
    height: 61px;
}
.emenu .emenu-header .back-button {
    position: absolute;
    color: transparent;
    width: 28px;
    height: 28px;
    overflow: hidden;
    cursor: pointer;
    top: 0;
    left: 0;
}
.emenu .emenu-header .back-button:before {
    content: "";
    height: 28px;
    width: 28px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-arrow-left.svg) no-repeat;
    background-position: center;
    background-size: 18px;
}
.emenu .emenu-header .emenu-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}
.emenu .emenu-header .refresh-button {
    position: absolute;
    top: -3px;
    right: 0;
    width: 32px;
    height: 32px;
    padding: 4px;
    background: var(--emenu-btn-bg);
    border-radius: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emenu .emenu-header .refresh-button > img {
    width: 20px;
    height: 20px;
    display: block;
}
.emenu .emenu-header .emenu-title > a {
    color: inherit;
    text-decoration: none !important;
}
.emenu .emenu-header .emenu-buttons {
    position: absolute;
    top: 0;
    right: 0;
}
.emenu .emenu-header .emenu-buttons .emenu-btn-order {
    font-size: 12px;
    height: 32px;
    width: 82px;
    border-radius: 6px;
    padding: 4px;
    display: inline-block;
    padding-left: 30px;
    text-align: right;
    cursor: pointer;

    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: right;
    align-items: center;
}
.emenu .emenu-header .emenu-buttons .emenu-btn-order:before {
    content: "";
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    left: 4px;
    background: url(/equip3_pos_emenu/static/src/img/icon-orders.svg) no-repeat;
    background-position: center;
}

.emenu .emenu-header .emenu-sub-title{
    margin-top: 7px;
}
.emenu .emenu-header .emenu-sub-title .emenu-table {
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    min-width: 85px;
    border-radius: 8px;
    padding: 0px 8px 0px 8px;
    padding-left: 35px;
    text-align: right;
    color: var(--emenu-btn-sc-color);
    background: var(--emenu-btn-sc-bg);
    display: inline-block;
}
.emenu .emenu-header .emenu-sub-title .emenu-table:before {
    content: "";
    height: 24px;
    width: 24px;
    display: block;
    position: absolute;
    left: 8px;
    background: url(/equip3_pos_emenu/static/src/img/icon-table.svg) no-repeat;
    background-position: center;
}

.emenu .emenu-search-bar {
    padding: 12px 0;
}
.emenu .emenu-search-bar .emenu-search-form {
    position: relative;
}
.emenu .emenu-search-bar .emenu-search-form input[name=search] {
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    height: 44px;
    background: #FFFFFF;
    color: #A3A3A3;
    border: 1px solid #A3A3A3;
    border-radius: 1000px;
    font-size: 12px;
}
.emenu .emenu-search-bar .emenu-search-form button {
    position: absolute;
    right: 0;
    top: 0;
    height: 44px;
    width: 44px;
    outline: none;
    border: none;
    border-radius: 1000px;
    background: transparent;
    color: transparent;
}
.emenu .emenu-search-bar .emenu-search-form button:before {
    content: "";
    height: 32px;
    width: 32px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-search.svg) no-repeat;
    background-position: center;
}
.emenu .emenu-search-bar .emenu-search-form button > .fa{
    display: none;
}
.emenu .emenu-search-bar .emenu-search-form .search-clear {
    position: absolute;
    right: 44px;
    top: 0;
    height: 44px;
    width: 44px;
    outline: none;
    border: none;
    border-radius: 1000px;
    background: transparent;
    color: transparent;
    cursor: pointer;
}
.emenu .emenu-search-bar .emenu-search-form .search-clear:before {
    content: "";
    height: 44px;
    width: 44px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-close.svg) no-repeat;
    background-position: center;
    background-size: 32px 32px;
}

.emenu .emenu-banner {
    padding: 12px 0;
}
.emenu .emenu-banner .emenu-banner-img img{
    height: auto;
    width: 100%;
}


.emenu .emenu_cart_info {
    position: fixed;
    left: 0;
    bottom: 15px;

    padding: 0 20px;
    width: 100%;
    display: none;
}
.emenu .emenu_cart_info[data-item-count] {
    display: block;
}
.emenu .emenu_cart_info[data-item-count="0"]{
    display: none;
}
.emenu .emenu_cart_info .cart_info_button{
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 12px;
    color: #fff;
    background: #148F8B;
    width: 100%;
    border-radius: 12px;
    box-shadow: 0px 0px 19px 0px #00000026;
    cursor: pointer;
}
.emenu .emenu_cart_info .total-item {
    position: relative;
    padding-left: 50px;
}
.emenu .emenu_cart_info .total-item:before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    height: 40px;
    width: 40px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-shopping-cart.svg) no-repeat;
    background-position: center;
    background-size: 24px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.emenu .emenu_cart_info .total-item-label {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 2px;
}
.emenu .emenu_cart_info .total-item-value {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
}
.emenu .emenu_cart_info .price-info {
    padding: 12px 20px;
    background: #fff;
    color: #148f8b;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    min-height: 40px;
    min-width: 100px;
    text-align: center;
}


.emenu .emenu-categories {
    height: 42px;
    overflow: hidden;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: -15px;
}
.emenu .emenu-categories .wrapper {
    overflow:auto;

}
.emenu .emenu-categories .inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.emenu .emenu-categories .item {
    padding: 8px 12px;
    flex: 0 0 auto;
    min-width: 62px;
    font-size: 14px;
    border-radius: 1000px;
    text-align: center;
    cursor: pointer;
    color: #148F8B;
}
.emenu .emenu-categories .item.active {
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);
}

.emenu .emenu-products-list {
    padding-top: 16px;
    min-height: 400px
}
.emenu .emenu-products-list .emenu-products {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding-bottom: 26px
}
.emenu .emenu-products-list .emenu-products:last-child {
    padding-bottom: 0;
}
.emenu .emenu-products-list .emenu-products .categ-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
}

.emenu .emenu-products-list .product {
    width: 100%;
    min-height: 117px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 12px;
}
.emenu .emenu-products-list .product .product-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
}
.emenu .emenu-products-list .product .product-content .product-img {
    height: 81px;
    width: 81px;
    overflow: hidden;
    border-radius: 10px;
}
.emenu .emenu-products-list .product .product-content .product-img img {
    display: block;
    height: 100%;
    width: auto;
    margin: auto;
    object-fit: cover;
}
.emenu .emenu-products-list .product .product-content .product-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
}
.emenu .emenu-products-list .product .product-content .product-name {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}
.emenu .emenu-products-list .product .product-content .product-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7B7B7B;
}
.emenu .emenu-products-list .product .product-content .product-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #148F8B;
}
.emenu .emenu-products-list .product .product-content .product-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-top: -8px;
}
.emenu .emenu-products-list .product .product-content .product-add-qty {
    height: 32px;
    width: 32px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-plus.svg) no-repeat;
    background-position: center;
    cursor: pointer;
}
.emenu .emenu-products-list .product .product-content .product-cart-qty {
    min-width: 55px;
    height: 32px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 12px;
    
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emenu .emenu-products-list .product .product-content .product-add-qty.loading {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat;
}
.emenu .emenu-products-list .product .product-content .product-add-qty.loading .spinner-border {
    display: block !important;
    width: 27px;
    height: 27px;
    border: 0.25em solid var(--emenu-btn-bg);
    border-right-color: transparent;
}
.emenu .product .product-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    gap: 12px;
    width: 100%;
    height: 142px;
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
}

.emenu-product-detail {
    padding-bottom: 170px;
}
.emenu-product-detail .product-image {
    height: 288px;
    position: relative;
    overflow: hidden;
    z-index: -1;
}
.emenu-product-detail .product-image img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: contain;
    margin: auto;
}
.emenu-product-detail .product-content {
    padding: 12px;
    border-radius: 12px;
    margin-top: -95px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0px 4px 13px 0px rgb(175 180 185 / 69%);
}
.emenu-product-detail .product-content .product-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    padding-bottom: 15px;
}
.emenu-product-detail .product-content .product-price {
    font-size: 16px;
    font-weight: 700;
    color: #148F8B;
    padding-bottom: 15px;
}
.emenu-product-detail .product-content  .product-description {
    font-size: 12px;
    line-height: 14px;
    text-align: left;
    color: #7B7B7B;
}

.emenu-product-detail .custom-order {
    margin-top: 20px;
    padding: 12px;
    border-radius: 12px;
    min-height: 100px;
    background: #fff;
    box-shadow: 0px 4px 13px 0px rgb(175 180 185 / 69%);
}
.emenu-product-detail .custom-order .title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #148F8B;
    padding-left: 24px;
    position: relative;
    padding-bottom: 12px;
}
.emenu-product-detail .custom-order .title:before {
    content: "";
    height: 19px;
    width: 19px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-custom-order.svg) no-repeat;
    background-position: center;
    background-size: 19px 19px;
    position: absolute;
    top: 0;
    left: 0;
}
.emenu-product-detail .custom-order .c-form-control .c-label {
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.emenu-product-detail .custom-order .c-form-control.c-add-notes .c-label .c-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-align: left;
    color: #148F8B;
    padding-left: 24px;
    position: relative;
}
.emenu-product-detail .custom-order .c-form-control.c-add-notes .c-label .c-title:before {
    content: "";
    height: 19px;
    width: 19px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-add-notes.svg) no-repeat;
    background-position: center;
    background-size: 19px 19px;
    position: absolute;
    top: 0;
    left: 0;
}
.emenu-product-detail .custom-order .c-form-control .c-label .c-optional {
    font-size: 10px;
    line-height: 12px;
    color: #7F7F7F;
}
.emenu-product-detail .custom-order .c-form-control .c-label {
    padding-bottom: 7px;
}
.emenu-product-detail .custom-order .c-form-control .c-input > textarea {
    color: #7F7F7F;
    background: #F8F8F8;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 8px;
    min-height: 64px;
}

.product-add-cart {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #fff;
    box-shadow: 0px 4px 13px 0px rgb(175 180 185 / 69%);
}


.emenu-product-detail .custom-order .c-option-variants {
    color: #121212;
    padding-top: 7px;
}
.emenu-product-detail .custom-order .c-option-variants > ul > li {
    padding-bottom: 15px;
}
.emenu-product-detail .custom-order .c-option-variants > ul > li > .attribute_name {
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    text-transform: capitalize;
    border-bottom: 2px dotted #F2F2F2;
    padding-bottom: 2px;
}
.emenu-product-detail .custom-order .c-option-variants > ul > li > ul > li .col-form-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #F2F2F2;
}
.emenu-product-detail .custom-order .c-option-variants > ul > li > ul > li:last-child .col-form-label {
    border-bottom: none;
}
.emenu-product-detail .custom-order .c-option-variants > ul > li > ul > li .col-form-label .radio_input_value {
    font-size: 14px;
    text-transform: capitalize;
}
.emenu-product-detail .custom-order .c-option-variants > ul > li > ul > li .col-form-label .radio_input {
    margin: 0;
    width: 20px;
}


.product-add-cart .add-cart-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-add-cart .add-cart-content .add-quantity {
    margin-bottom: 12px;
}
.product-add-cart .add-cart-content .add-quantity .add-quantity-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #7F7F7F;
    padding-bottom: 4px;
}
.product-add-cart .add-cart-content .add-quantity .add-quantity-action {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-add-cart .add-cart-content .add-quantity .add-quantity-action .add-quantity-button {
    position: relative;
    color: transparent;
    width: 32px;
    height: 32px;
    overflow: hidden;
    cursor: pointer;
}
.product-add-cart .add-cart-content .add-quantity .add-quantity-action .add-quantity-button:before {
    content: "";
    height: 32px;
    width: 32px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.product-add-cart .add-cart-content .add-quantity .add-quantity-action .add-quantity-button[type="minus"]:before {
    background: url(/equip3_pos_emenu/static/src/img/icon-qty-minus.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.product-add-cart .add-cart-content .add-quantity .add-quantity-action .add-quantity-button[type="plus"]:before {
    background: url(/equip3_pos_emenu/static/src/img/icon-qty-plus.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.product-add-cart .add-cart-content .add-quantity .add-quantity-action .add-quantity-input {
    width: 32px;
    height: 32px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 1.1;
}
.product-add-cart .add-cart-content .total-payment .total-payment-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    color: #7F7F7F;
    padding-bottom: 4px;
}
.product-add-cart .add-cart-content .total-payment .total-payment-price {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    color: #2F2F2F;
}

.product-add-cart button.add-cart {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    width: 172px;
    height: 49px;
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);
    border: 1px solid var(--emenu-btn-bg);
    box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 15%);
    border-radius: 8px;
    outline: none;
    position: relative;
    font-size: 16px;
}
.product-add-cart button.add-cart:before {
    content: "";
    height: 25px;
    width: 25px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-add-cart.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.product-add-cart button.add-cart.block {
    pointer-events: none;
    opacity: 0.8;
}
.product-add-cart button.add-cart.loading .spinner-border {
    display: block !important;
    width: 23px;
    height: 23px;
    border: 0.25em solid #fff;
    border-right-color: transparent;
}
.product-add-cart button.add-cart.loading:before{
    display: none;
}



#cart {
    width: 100%;
    min-height: 580px;
}
.cart .container {
    padding-bottom: 100px;
    margin-bottom: 170px;
}
.cart .cart-lines {
    min-height: 400px
}
.cart .cart-lines .cart-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 0px #00000040;
    margin-bottom: 28px;
}
.cart .cart-lines .cart-line:last-of-type:not(:only-of-type) {
    padding-bottom: 0;
}
.cart .cart-lines .cart-line .categ-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart .cart-lines .cart-line .categ-name .item-count {
    font-size: 12px;
    line-height: 14px;
    color: #2F2F2F;
    font-weight: 400;
}
.cart .cart-lines .product {
    width: 100%;
    min-height: 117px;
    background: #FFFFFF;
}
.cart .cart-lines .product .product-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
}
.cart .cart-lines .product .product-content .product-img {
    height: 81px;
    width: 81px;
    overflow: hidden;
    border-radius: 10px;
}
.cart .cart-lines .product .product-content .product-img img {
    display: block;
    height: 100%;
    width: auto;
    margin: auto;
    object-fit: cover;
}
.cart .cart-lines .product .product-content .product-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
}
.cart .cart-lines .product .product-content .product-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
}
.cart .cart-lines .product .product-content .product-desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #7B7B7B;
}
.cart .cart-lines .product .product-content .product-price {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #148F8B;
}
.cart .cart-lines .product .product-content .product-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-top: -8px;
}
.cart .cart-lines .product .product-content .product-cart-qty {
    min-width: 55px;
    height: 32px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 12px;
    
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart .cart-lines .product .product-content .product-add-qty.loading {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: no-repeat;
}
.cart .cart-lines .product .product-content .product-add-qty.loading .spinner-border {
    display: block !important;
    width: 27px;
    height: 27px;
    border: 0.25em solid var(--emenu-btn-bg);
    border-right-color: transparent;
}

.cart .cart-lines .change-qty {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 12px;
    width: 100%;
}
.cart .cart-lines .change-qty .add-quantity-action {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart .cart-lines .change-qty .add-quantity-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
}
.cart .cart-lines .change-qty .add-quantity-action .add-quantity-button {
    position: relative;
    color: transparent;
    width: 28px;
    height: 28px;
    overflow: hidden;
    cursor: pointer;
}
.cart .cart-lines .change-qty .add-quantity-action .add-quantity-button:before {
    content: "";
    height: 28px;
    width: 28px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.cart .cart-lines .change-qty .add-quantity-action .add-quantity-button[type="minus"]:before {
    background: url(/equip3_pos_emenu/static/src/img/icon-qty-minus.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.cart .cart-lines .change-qty .add-quantity-action .add-quantity-button[type="plus"]:before {
    background: url(/equip3_pos_emenu/static/src/img/icon-qty-plus.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}
.cart .cart-lines .change-qty .add-quantity-action .add-quantity-input {
    width: 28px;
    height: 28px;
    text-align: center;
    outline: none;
    border: none;
    font-size: 14px;
    line-height: 1.1;
}

.cart .add-item {
    height: 44px;
    width: 100%;
    color: #148F8B;
    border: 2px solid #148F8B;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
    text-decoration: none;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.cart .add-item .icon {
    position: relative;
    padding: 0;
    min-width: 0;
}
.cart .add-item .icon:before{
    content: "";
    height: 21px;
    width: 21px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-add-item.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}

.cart .icon-danger {
    position: relative;
    padding: 0;
    min-width: 0;
}
.cart .icon-danger:before{
    content: "";
    height: 21px;
    width: 21px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-danger.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}



.payment-details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background: #fff;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    box-shadow: 0px -4px 15px 0px #0000001A;
    padding: 25px 20px 15px 20px;
}
.payment-details .payment-title {
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
}
.payment-details .payment-lines .payment-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 4px;
    justify-content: space-between;
    line-height: 15px;
}
.payment-details .payment-lines .payment-line .payment-line-label {
    font-size: 14px;
    color: #8C8C8C;
}
.payment-details .payment-lines .payment-line .payment-line-amount {
    font-size: 14px;
    color: #1F1F1F;
    font-weight: 600;
}
.payment-details .payment-addition {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}
.payment-details .payment-warning-message {
    color: #FF3333;
    font-size: 12px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.payment-details .payment-action {
    padding-bottom: 10px;
}
.payment-details .payment-action .payment-order,
.payment-details .payment-action .submit-order {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    height: 49px;
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);
    border: 1px solid var(--emenu-btn-bg);
    box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 15%);
    border-radius: 8px;
    outline: none;
    position: relative;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}

.payment-details .payment-action .payment-order:focus,
.payment-details .payment-action .payment-order:hover,
.payment-details .payment-action .submit-order:focus,
.payment-details .payment-action .submit-order:hover {
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);
    border: 1px solid var(--emenu-btn-bg);
}
.payment-details .payment-action .payment-order.block,
.payment-details .payment-action .submit-order.block {
    pointer-events: none;
    opacity: 0.8;
}
.payment-details .payment-content {
    padding-bottom: 10px;
}



#process_order {
    box-shadow: 0px 4px 25px 0px rgb(175 180 185 / 69%);
    width: 100%;
    height: 100vh;
    min-height: 580px;
    max-width: 430px;
    margin: 0 auto;
}
.process_order .container {
    height: 100%;
}
.process_order .process-order-content {
    font-size: 12px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}
.process_order .process-order-content .wrapper {
    border-radius: 10px;
    padding: 24px;
    box-shadow: 0px 4px 25px 0px #AFB4B940;
}
.process_order .process-order-content .process-order-message .message-title{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding-bottom: 7px;
}
.process_order .process-order-content .process-order-message .message-subtitle{
    font-size: 14px;
    line-height: 17px;
}
.process_order .process-order-content .process-order-icon {
    padding-bottom: 16px;
}
.process_order .process-order-content .process-order-message {
    padding-bottom: 16px;
}
.process_order .process-order-content .process-order-loading {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.bill .bill-transaction {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: #F7F7F7;
    padding: 8px;
    gap: 4px;
    border-radius: 12px;
    margin-bottom: 12px;
}
.bill .bill-transaction .bill-transaction-label {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    color: #7F7F7F;
}
.bill .bill-transaction .bill-transaction-number {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #148F8B;
}

.bill .bill-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 30px;
}
.bill .bill-info > div {
    flex: 1 1 50%;
    background: #F5F5F5;
    gap: 8px;
    border-radius: 12px;
    padding: 4px 0;
    text-align: center;
}
.bill .bill-info .bill-info-label {
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    color: #7F7F7F;
}
.bill .bill-info .bill-info-value {
    color: #148F8B;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
}

.bill .new-order {
    height: 44px;
    width: 100%;
    color: #148F8B;
    border: 2px solid #148F8B;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    padding: 12px;
    gap: 8px;
    border-radius: 8px;
    text-decoration: none;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bill .new-order .icon {
    position: relative;
    padding: 0;
    min-width: 0;
}
.bill .new-order .icon:before{
    content: "";
    height: 21px;
    width: 21px;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-add-item.svg) no-repeat;
    background-position: center;
    background-size: 100%;
}

.bill .container {
    padding-bottom: 100px;
    margin-bottom: 170px;
}
.bill .bill-lines {
    min-height: 150px
}
.bill .bill-lines .bill-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
    padding: 12px;
    border-radius: 16px;
    box-shadow: 0px 0px 12px 0px #00000040;
    margin-bottom: 28px;
}
.bill .bill-lines .bill-line .categ-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bill .bill-lines .bill-line .categ-name .item-count {
    font-size: 12px;
    line-height: 14px;
    color: #2F2F2F;
    font-weight: 400;
}
.bill .bill-lines .bill-line .categ-name > span {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.bill .bill-lines .bill-line .categ-name .created_from {
    color: #148F8B;
    font-size: 14px;
}
.bill .bill-lines .product {
    width: 100%;
    min-height: 40px;
    background: #FFFFFF;
    border-bottom: 1px solid #F1F1F1;
}
.bill .bill-lines .product .product-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
    gap: 12px;
}
.bill .bill-lines .product .product-content .product-img {
    height: 81px;
    width: 81px;
    overflow: hidden;
    border-radius: 10px;
}
.bill .bill-lines .product .product-content .product-img img {
    display: block;
    height: 100%;
    width: auto;
    margin: auto;
    object-fit: cover;
}
.bill .bill-lines .product .product-content .product-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    flex: 1;
}
.bill .bill-lines .product .product-content .product-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
    text-transform: capitalize;
}
.bill .bill-lines .product .product-content .product-price {
        font-weight: 600;
    font-size: 14px;
    line-height: 16px;
}
.bill .bill-lines .product .product-content .product-action {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 8px;
    margin-top: -8px;
}
.bill .bill-lines .product .product-content .product-cart-qty {
    min-width: 55px;
    height: 32px;
    border-radius: 6px;
    font-weight: 700;
    font-size: 12px;
    
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}


.payment .payment-payment-details {
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 19px 0px #00000026;
    margin-bottom: 30px;
}
.payment .payment-payment-details .payment-title {
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
    line-height: 19px;
}
.payment .payment-payment-details .payment-lines {
    padding-bottom: 15px;
}
.payment .payment-payment-details .payment-lines .payment-line {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding-bottom: 4px;
    justify-content: space-between;
    line-height: 15px;
}
.payment .payment-payment-details .payment-lines .payment-line:last-child {
    padding-bottom: 0;
}
.payment .payment-payment-details .payment-lines .payment-line .payment-line-label {
    font-size: 14px;
    color: #8C8C8C;
}
.payment .payment-payment-details .payment-lines .payment-line .payment-line-amount {
    font-size: 14px;
    color: #1F1F1F;
    font-weight: 600;
}
.payment .payment-payment-details .payment-addition {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
}
.payment .payment-payment-details .payment-warning-message {
    color: #FF3333;
    font-size: 12px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.payment .payment-payment-details .payment-action {
    padding-bottom: 10px;
}

.payment .payment-at-cashier {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    text-align: center;
    box-shadow: 0px 0px 19px 0px #00000026;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
}
.payment .payment-at-cashier .pay-at-cashier {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.payment .payment-at-cashier .pay-at-cahier-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.payment .payment-at-cashier  .pay-at-cahier-msg {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}


.payment .payment-cashier-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    width: 100%;
    height: 49px;
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);
    border: 1px solid var(--emenu-btn-bg);
    box-shadow: 1px 2px 5px 2px rgb(0 0 0 / 15%);
    border-radius: 8px;
    outline: none;
    position: relative;
    font-size: 16px;
    margin: auto;
    cursor: pointer;
}
.payment .payment-cashier-button:focus,
.payment .payment-cashier-button:hover {
    color: var(--emenu-btn-color);
    background: var(--emenu-btn-bg);
    border: 1px solid var(--emenu-btn-bg);
}
.payment .payment-cashier-button.block{
    pointer-events: none;
    opacity: 0.8;
}
.payment .payment-cashier-button.done {
    pointer-events: none;
    opacity: 0.5;
}


.popups {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    width: 100%;
    z-index: 11;
    background: #fff;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}
.popups .spinner-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--emenu-btn-bg);
}
.popups .back-button {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    background: white;
    border: 1px solid #d3d6d9;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    box-shadow: 0px 2px 7px 0px rgb(175 180 185 / 69%);
    cursor: pointer;
    z-index: 11;
}
.popups .back-button:before {
    content: "";
    height: 100%;
    width: 100%;
    display: block;
    background: url(/equip3_pos_emenu/static/src/img/icon-arrow-left.svg) no-repeat;
    background-position: center;
    background-size: 18px;
}
.popups .wrapper {
    max-width: 500px;
    margin: auto;
    position: relative;
}
.popups .emenu-header {
    padding: 30px 0 45px 0;
}
.popups .emenu-header .emenu-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
}
.popups .emenu-header .emenu-title > a {
    color: inherit;
    text-decoration: none !important;
}
.popups.popup-process-order {
    overflow: hidden;
}
.popups .emenu-header .refresh-button {
    display: none;
}



.payment .payment-paid {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    text-align: center;
    box-shadow: 0px 0px 19px 0px #00000026;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
}
.payment .payment-paid .payment-paid-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.payment .payment-paid .payment-paid-content .payment-paid-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
}
.payment .payment-paid .payment-paid-content .payment-paid-msg {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
}