@media screen and (max-width: 1400px) { 

}


/*Breakpoint Mobile*/
@media screen and (max-width: 1200px) {
    
   .pos .products-widget-control .emenu-qrorder-button {
      border-radius: 7px;
      font-size: 13px;
      height: 38px;
      flex: 0 0 45px;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 15px;
   }

}


@media screen and (max-width: 768px) {

}


@media screen and (max-width: 648px) {


}

@media screen and (max-width: 574px) {


}

@media screen and (max-width: 368px) {

}