.pos .products-widget-control .emenu-qrorder-button {
    flex: 1;
    color: #fff;
    background: #008F8B;
    padding: 0 7px;
    border: 1px solid transparent;
    border-radius: 30px;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0;
    min-width: 45px;
    cursor: pointer;
    position: relative;
}
.pos .products-widget-control .emenu-qrorder-button:before {
    content: "";
    display: block;
    position: absolute;
    left: 11px;
    height: 34px;
    width: 34px;
    max-width: 100%;
    background: url(/equip3_pos_emenu/static/src/img/icon-qrcode.svg) no-repeat;
    background-size: 35px 35px;
}
.pos .products-widget-control .emenu-qrorder-button[sent_state=process]:before {
    display: none;
}
.pos .products-widget-control .emenu-qrorder-button .fa-spin {
    color: #fff !important;
}
.pos[data-emenu-status] .products-widget-control .emenu-qrorder-button {
    color: #fff;
    background: #ffc107;
    border-color: #ffc107;
}


.pos .emenu_qrcode_label {
    line-height: 1.1;
    border: 1px solid #d7d7d7;
    max-width: 330px;
    margin: auto;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
}
.pos .pos-receipt-container .emenu_qrcode_label {
    font-size: 12px;
    font-weight: normal;
    line-height: 1.1;
    text-align: center;
}

.pos .emenu_qrcode_label div[class^='em_'] {
    padding-bottom: 7px;
}
.pos .emenu_qrcode_label .em_company_logo > img {
    height: 35px;
    width: auto;
}
.pos .emenu_qrcode_label .em_company_name {
    font-weight: bold;
}
.pos .emenu_qrcode_label .em_floor_table {
    text-align: left;
}
.pos .emenu_qrcode_label .em_printed_date {
    text-align: left;
}
.pos .emenu_qrcode_label .em_qrcode_image {
    padding: 30px 0 !important;
}
.pos .emenu_qrcode_label .em_qrcode_image > img {
    display: block;
    width: 170px;
    height: 170px;
    margin: auto;
}
.pos .emenu_qrcode_label .em_dash_line {
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 5px;
    margin-bottom: 15px;
}
.pos .emenu_qrcode_label .em_dash_line:before {
    content: "";
    position: absolute;
    border-bottom: 10px dashed #000;
    top: -8px;
    bottom: -8px;
    left: -8px;
    right: -8px;
}
.pos .emenu_qrcode_label .em_info {
    padding: 0;
}


.popups .emenu_qrcode_popups .popup {
    max-width: 600px !important;
    border-radius: 15px;
    overflow: hidden;
}
.popups .emenu_qrcode_popups .popup .title {
    color: #fff;
    background: #008f8b;
    padding: 30px 15px;
}
.popups .emenu_qrcode_popups .popup .title .close {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 1;
    cursor: pointer;
    z-index: 1;
    width: 70px;
    height: 100%;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popups .emenu_qrcode_popups .footer {
    border: none;
    padding-top: 10px;
    padding-bottom: 45px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.popups .emenu_qrcode_popups .footer .button {
    float: none;
    margin: 0;
    box-shadow: none;
    width: 100%;
    max-width: 380px;
    color: #000;
    background: #fabe55;
    border-color: #fabe55;
    border-radius: 10px;
}
.popups .emenu_qrcode_popups .emenu_qrcode_content {
    padding: 30px;
}
.popups .emenu_qrcode_popups .emenu_qrcode_content .em_wrapper {
    width: auto !important;
    padding: 30px !important;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.1;
}



/* Cannot continue order before customer ready To Pay */
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .products-widget:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    background: rgb(0 0 0 / 50%);
    z-index: 111;
    position: absolute;
    border-top-right-radius: 16px;
}
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .products-widget:after {
    content: 'E-menu order Created, waiting for Customer to Order';
    display: block;
    position: absolute;
    z-index: 112;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    line-height: 1.1;
    font-weight: bold;
}

.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .pos_new_section .subpads,
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .pos_new_section .fire-btn-sec,
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .pos_new_section .take_away_and_order_button_class,
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .pos_new_section .custom_row .custom_column, 
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .order-total-btn {
    pointer-events: none;
    opacity: 0.4;
}
/*Start: allow click sync button in features*/
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .display-list-features-button .pos-button-list .control-button:not(.sync-models-button){
    pointer-events: none;
    opacity: 0.4;
}
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .pos_new_section .custom_row .custom_column.button_open_feature {
    pointer-events: all;
    opacity: 1;
}
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .display-list-features-button .pos-button-list {
    z-index: 113;
}
/*End: allow click sync button in features*/
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) table.summary-table .orderline {
    pointer-events: none;
}
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .cart_order_title .order_screen_clear_cart,
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .cart_order_title > div > button,
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) table.summary-table .orderline .li_allow_remove_line {
    display: none;
}
.pos[data-emenu-status]:not([data-emenu-status=to_pay]) .cart_order_title .sync_session_current_order_button {
    display: inline-block;
}

/*Start: Additional orders on the cashier screen*/
.pos[data-emenu-allow_additional=true] .products-widget:before,
.pos[data-emenu-allow_additional=true] .products-widget:after {
    display: none !important;
}
.pos[data-emenu-allow_additional=true] .pos_new_section .subpads,
.pos[data-emenu-allow_additional=true] .pos_new_section .take_away_and_order_button_class {
    pointer-events: all !important;
    opacity: 1 !important;
}
.pos[data-emenu-allow_additional=true] .pos_new_section .subpads .mode_discount {
    pointer-events: none;
    opacity: 0.4;
}
/*End: Additional orders on the cashier screen*/



.pos .emenu_validate_order_button {
    display: none;
    position: absolute;
    right: 15px;
    bottom: 16px;
    width: 31%;
}
.pos[data-emenu-status][data-emenu-status='new_order'] .emenu_validate_order_button {
   display: block;
}
.pos .emenu_validate_order_button .validate-button {
    font-weight: bold;
    color: #fff;
    border-color: #008F8B;
    background: #008F8B;

    border: solid 1px rgb(209, 209, 209);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    width: 100%;
    height: 46px;
    cursor: pointer;

    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}