<odoo>
<data >

    <menuitem
    name="Settings"
    id="equip3_hr_eva_recruitment.settings"
    web_icon="base,static/description/settings.png"
    groups=""
    sequence="499"/>


        <record model="ir.ui.menu" id="equip3_hr_eva_recruitment.settings">
            <field name="groups_id" eval="[(6,0,[ref('equip3_hr_eva_recruitment.custom_setting_groups')])]"/>
        </record>


    <menuitem
    name="Users"
    parent="equip3_hr_eva_recruitment.settings"
    id="equip3_hr_eva_recruitment.users"
    action="base.action_res_users"
     sequence="0"/>

    <menuitem
    name="Users"
    parent="equip3_hr_eva_recruitment.settings"
    id="equip3_hr_eva_recruitment.users"
    action="base.action_res_users"
     sequence="0"/>

    <menuitem
    name="Branch"
    parent="equip3_hr_eva_recruitment.settings"
    id="equip3_hr_eva_recruitment.branch"
    action="branch.branch_action_res_branch"
     sequence="1"/>


    

</data>



</odoo>