.o_field_one2many_tree {
    table.o_list_table {
        tbody {
            tr.o_data_row {
                td.o_data_cell {
                    &:first-child {
                        display: flex;
                        align-items: center;
                    }

                    .o_tree_toggler {
                        position: relative;

                        .o_toggler_line {
                            position: absolute;
                            display: block;
                            background-color: grey;

                            &.o_line_bottom {
                                width: 1px;
                                height: 200%;
                                top: 100%;
                                left: 50%;
                            }

                            &.o_line_top {
                                width: 1px;
                                height: 200%;
                                top: -150%;
                                right: 215%;
                            }

                            &.o_line_left {
                                width: 100%;
                                height: 1px;
                                top: 50%;
                                right: 115%;
                            }
                        }
                    }
                }

                td.o_tree_level {
                    text-align: center;
                    position: relative;

                    .o_tree_line {
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        display: block;
                        background-color: grey;

                        &.o_line_top, &.o_line_bottom {
                            width: 1px;
                            height: 50%;
                            left: 49%
                        }

                        &.o_line_top {
                            top: 0;
                        }

                        &.o_line_bottom {
                            top: 50%;

                            &.o_with_icon {
                                top: calc(50% + 6.5px);
                                height: calc(50% - 6.5px);
                            }
                        }

                        &.o_line_left, &.o_line_right {
                            width: 50%;
                            height: 1px;
                            top: 49%
                        }

                        &.o_line_left {
                            left: 0;

                            &.o_with_icon {
                                width: calc(50% - 6.5px);
                            }
                        }

                        &.o_line_right {
                            left: 50%;
                        }

                    }
                }
            }

            tr.o_line_child {
                background: #FFFFFF !important;
            }

            tr.o_line_parent {
                background: #ECECEC !important;
            }
        }
    }
}