.oe_workcenter_state {
    cursor: pointer;
    /* font-weight: bold;
    position: absolute;
    height: 100%;
    width: 132px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px; */
}

.o_field_widget.o_field_radio.o_vertical.o_mrp_po_creation .o_radio_item {
    margin-bottom: 10px !important;
}