<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    
    <record id="stock.menu_stock_root" model="ir.ui.menu">
        <field name="equip_category_id" ref="equip3_hashmicro_ui.category_operations"/>
    </record>
    
    <menuitem name="Location Removal Priority" id="menu_manage_wh_sublevel"
              action="stock.action_warehouse_form"
              parent="stock.menu_warehouse_config"
              />

    <menuitem name="Zones" id="menu_wh_sublevel_zone"
              action="stock.action_warehouse_form"
              parent="stock.menu_warehouse_config"
              />

    <menuitem name="Shelf" id="menu_wh_sublevel_shelf"
              action="stock.action_warehouse_form"
              parent="stock.menu_warehouse_config"
              />

    <menuitem name="Rack" id="menu_wh_sublevel_rack"
              action="stock.action_warehouse_form"
              parent="stock.menu_warehouse_config"
              />

    <menuitem name="Bin" id="menu_wh_sublevel_bin"
              action="stock.action_warehouse_form"
              parent="stock.menu_warehouse_config"
              />
</odoo>
