.nd_connector .nd_connector_line {
    width: 95%;
    height: 2px;
    background: #383838;
}
.nd_connector .nd_connector_arrow_right {
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #383838;
    border-left: 2px solid #383838;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
    right: 0;
    top: -5px;
    left: 36%;
}
.dotted {
    background-image: linear-gradient(90deg, #ffffff 2px, #383838 0);
    background-size: 10px 3px;
    background-position: 0 100%;
}


.ems_flow_action {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 0 !important;
}
.ems_flow_action .content-header {
    flex: 0 0 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 1rem;
    font-size: 1.8rem;
}
.ems_flow_action .content-body {
    flex: 1 1 auto;
    overflow: auto;
    padding: 30px;
}
 
.ems_flow_action .accordion {
    width: 100%;
}
.ems_flow_action .accordion .accordion-collapse.collapse:not(.show) {
    display: none;
}
.ems_flow_action .accordion-item {
    box-shadow: 3px 3px 7px 2px #dbdbdb;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
}
.ems_flow_action .accordion-body {
    padding: 1rem 1.25rem;
    overflow: auto;
}
.ems_flow_action .accordion-body .accordion-content.width-node {
    position: relative;
}
.ems_flow_action .accordion-item .accordion-button {
    outline: none;
    display: block;
    background: #fff;
    border: none;
    font-weight: bold;
    line-height: 1;
}
.ems_flow_action .accordion-item .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 2rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.ems_flow_action .accordion-item .accordion-button::after {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: auto;
    content: "";
    background-image: url('/equip3_school_flow_configuration/static/src/img2/chevron-bottom.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform .2s ease-in-out;
    float: right;
}
.ems_flow_action .accordion-item .accordion-button:not(.collapse)::after {
    background-image: url('/equip3_school_flow_configuration/static/src/img2/chevron-bottom.svg');
    transform: rotate(-180deg);
}

.ems_flow_action .accordion-master-data .btn-flow {
    display: inline-block;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px !important;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 1rem;
    min-width: 170px;
}
.ems_flow_action .accordion-master-data .col-button-right .btn-flow {
    float:right;
}

.ems_flow_action .accordion-master-data .btn-flow:hover,
.ems_flow_action .accordion-master-data .btn-flow:active{
    box-shadow: 1px 2px 5px 1px #dbdbdb;
    border-color: transparent;
}
.ems_flow_action .accordion-master-data .btn-flow .button-img {
    display: inline-block;
    width: 32px
}
.ems_flow_action .accordion-master-data .btn-flow .button-img > img {
    height: 25px;
}
.ems_flow_action .accordion-master-data .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: #808080;
}

.ems_flow_action .content-body .container{
    width: 100%;
    max-width: 100%;
}

.ems_flow_action .accordion-ems-flow .accordion-content{
    width: 1050px;
    height: 540px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.accordion-content-masterdata{
    width: 1050px;
    height: 200px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.ems_flow_action .accordion-content-masterdata .btn-flow {
    width: 31%;
    height: 50px;
    text-align: left;
    float: center;
}

.ems_flow_action .accordion-ems-flow .btn-flow-active {
    display: block;
    align-items: center;
    background-color: #e79a09d8;
    border-radius: 4px !important;
    box-shadow: 2px 2px 3px 1px #dbdbdb;
    height: 35px; 
    z-index: 10;
    min-width: 150px;
}
.ems_flow_action .accordion-ems-flow .btn-flow-active:hover,
.ems_flow_action .accordion-ems-flow .btn-flow-active:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.ems_flow_action .accordion-ems-flow .btn-flow-active .button-text {
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

.ems_flow_action .accordion-ems-flow .btn-flow-deactive {
    display: block;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px !important;
    box-shadow: 2px 2px 3px 1px #dbdbdb;
    height: 35px; 
    z-index: 10;
    min-width: 150px;
}
.ems_flow_action .accordion-ems-flow .btn-flow-deactive:hover,
.ems_flow_action .accordion-ems-flow .btn-flow-deactive:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.ems_flow_action .accordion-ems-flow .btn-flow-deactive .button-text {
    display: inline-block;
    font-weight: bold;
    color: #252121;
    text-align: center;
}

.ems_flow_action .accordion-content .btn-flow {
    text-align: left;
    min-width: 200px !important;
}

.ems_flow_action .accordion-ems-flow .btn-flow {
    display: block;
    align-items: center;
    background-color: #f3fcfe;
    border-left: 3px solid #1b6278;
    border-radius: 4px !important;
    box-shadow: 2px 2px 3px 1px #dbdbdb;
    padding-right: 20px;
    height: 50px; 
    position: absolute;
    z-index: 1;
    min-width: 183px;
}
.ems_flow_action .accordion-ems-flow .btn-flow:hover,
.ems_flow_action .accordion-ems-flow .btn-flow:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.ems_flow_action .accordion-ems-flow .btn-flow .button-img {
    display: inline-block;
    width: 32px
}
.ems_flow_action .accordion-ems-flow .btn-flow .button-img > img {
    height: 25px;
}
.ems_flow_action .accordion-ems-flow .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
}
.ems_flow_action .accordion-ems-flow .accordion-content .nd_connector{
    position: absolute;
}
.ems_flow_action .accordion-ems-flow .accordion-content .nd_connector .nd_connector_line {
    width: 90%;
    height: 2px;
    background: #272124;
}
.ems_flow_action .accordion-ems-flow .accordion-content .nd_connector .nd_connector_arrow_right {
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
    right: 7px;
    top: -5px;
    left: auto;
}
.ems_flow_action .accordion-ems-flow .accordion-content .nd_connector .nd_connector_line_end_right,
.ems_flow_action .accordion-ems-flow .accordion-content .nd_connector .nd_connector_line_end_left {
    position: absolute;
    background: #272124;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    left: -5px;
    top: -4px;
}
.ems_flow_action .accordion-ems-flow .accordion-content .nd_connector .nd_connector_line_end_right{
    right: -5px;
    left: auto;
    top: -4px;
}

.accordion-reporting .accordion-content{
    width: 1050px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}

.ems_flow_action .accordion-reporting .btn-flow {
    display: inline-block;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px !important;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 1rem;
    width: 30%;
    height: 50px;
}
.ems_flow_action .accordion-reporting .col-button-right .btn-flow {
    float:right;
}

.ems_flow_action .accordion-reporting .btn-flow:hover,
.ems_flow_action .accordion-reporting .btn-flow:active{
    box-shadow: 1px 2px 5px 1px #dbdbdb;
    border-color: transparent;
}
.ems_flow_action .accordion-reporting .btn-flow .button-img {
    display: inline-block;
    width: 32px
}
.ems_flow_action .accordion-reporting .btn-flow .button-img > img {
    height: 25px;
}
.ems_flow_action .accordion-reporting .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
}

.upper_button {
    display: block;
    padding-bottom: 75px;
}
.upper_button .btn{
    padding-right: 10px;
    margin-right: 10px;
    float: left;
}