/* 23-10-2020 */

.sticky_table {
    .o_list_view {
        .table-responsive {
            max-height: 600px;
            overflow-y: scroll;
            overflow-x: initial;
            display: inline-block;
            thead {
                th {
                    position: sticky !important;
                    top: 0;
                    z-index: 0;
                }
                th:first-child {
                    position: sticky;
                    width: 292px !important;
                    min-width: 292px !important;
                    left: 0;
                    z-index: 2;
                }
                tr:nth-child(1) th {
                    background-color: $o-list-footer-bg-color;
                }
            }
            tbody {
                tr:nth-child(odd) td {
                    background-color: #fff !important;
                }
                tr {
                    td:first-child {
                        position: sticky;
                        left: 0;
                        background-color: #ECECEC;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

// Sticky Header & Footer in List View
.o_content > .o_list_view {
    .table-responsive {
        overflow-x: initial;

        .o_list_table {
            // th & td are here for compatibility with chrome
            thead,
            thead tr:nth-child(1) th {
                position: sticky;
                top: 0;
                z-index: 1;
            }
        }
    }
}
/* 22-12-2020 */
.o_list_view .table-responsive{overflow: auto;}

// Sticky Header & Footer in List View
.o_content > .o_list_view {
    .table-responsive {
        overflow-x: initial;
        .o_list_table {
            tfoot,
            tfoot tr:nth-child(1) td {
                position: sticky;
                bottom: 0;
            }
        }
    }
}
/* 22-12-2020 */
.o_list_view .table-responsive{overflow: auto;}
