.ribbon-applicant {
    width: 110px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    left: 178px;
  }
  .ribbon-applicant::before,
  .ribbon-applicant::after {
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    border: 5px solid #2980b9;
  }
  .ribbon-applicant span {
    position: absolute;
    display: block;
    width:185px;
    padding-top: 3px;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    color: #fff;
    font: 400 10px/1 'Lato', sans-serif;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    text-transform: uppercase;
    text-align: center;
    height: 15px;
  }
  .ribbon-blacklist {
    background-color: #e82424;
  }
  
  /* top right*/
  .ribbon-top-right-applicant {
    top: 0px;
    right: 0px;
    margin-top: 2px;
  }
  .ribbon-top-right-applicant::before,
  .ribbon-top-right-applicant::after {
    border-top-color: transparent;
    border-right-color: transparent;
  }
  .ribbon-top-right::before {
    top: 0;
    left: 0;
  }
  .ribbon-top-right-applicant::after {
    bottom: 0;
    right: 0;
  }
  .ribbon-top-right-applicant span {
    left: -20px;
    top: 20px;
    transform: rotate(45deg);
  }
  
  