.required-class{
    border: 1px solid red;
}

.o_required:after {
    content: "  *";
    color: red;
}

.school_portal_sidebar {
    position: relative;
    background: #fff;
    padding: 20px;
    margin-top: 18px;
    margin-bottom: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    max-height: 650px;
    min-width:300px;
    &.other_form {
        max-height: unset;
        margin-top: unset;
        margin-bottom: unset;
        border-radius: 15px !important;
    }
    #sidebar {
        ul.parent_links {
            li.parent_url {
                margin-left: 0.5rem !important;
                span.o-hm-icon {
                    position: relative;
                    top: 4px;
                    margin-right: unset !important;
                }
                a {
                    font-size: 16px;
                    font-weight: bolder;
                    color: #6C757D;
                    text-decoration: none;
                }
            }
            div.menu-border {
                border-bottom: 3px solid #6C757D;
            }
            ul.child_links {
                font-size: 15px;
                color: rgb(0, 0, 0);
                li.child_url {
                    margin-left: 2rem !important;
                    margin-top: 0.25rem !important;
                    a {
                        color: #6C757D;
                        text-decoration: none;
                        margin-left: -10px;
                    }
                }
            }
        }
    }
}

#top {
    .navbar {
        height: 60px;
        #top_menu_container {
            a.logo {
                position: absolute;
                left: 30px;
            }
        }
        #top_menu_collapse {
            position: absolute;
            right: 110px;
        }
        .oe_structure_solo {
            position: absolute;
            right: 26px;
        }
    }
}
.o_portal {
    max-width: 100% !important;
}
