<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data noupdate="0">
<!--        <menuitem id="izi_tiktok.menu_separator_mp_data_tiktok" name="Tiktok" parent="izi_marketplace.menu_separator_mp_data" sequence="10"/>-->
        <menuitem id="izi_tiktok.menu_separator_mp_data_tiktok" name="Tiktok" parent="izi_marketplace.menu_root_marketplace" sequence="10"/>

        <!-- Marketplace / Marketplace Data / Tiktok / Shop -->

        <menuitem id="izi_tiktok.menu_item_tts_shop" name="Shop" parent="izi_tiktok.menu_separator_mp_data_tiktok" action="izi_tiktok.action_window_tts_shop" sequence="10"/>

        <!-- Marketplace / Marketplace Data / TIktok / Logistic -->
        <menuitem id="izi_tiktok.menu_item_tts_logistic" name="Logistic" parent="izi_tiktok.menu_separator_mp_data_tiktok" action="izi_tiktok.action_window_tts_logistic" sequence="20"/>

        <menuitem id="izi_tiktok.menu_item_mp_stock" name="Stock"
            parent="izi_tiktok.menu_separator_mp_data_tiktok" action="izi_tiktok.action_window_mp_stock" sequence="41" />

        <menuitem id="izi_tiktok.menu_item_tts_category" name="Product Category"
            parent="izi_tiktok.menu_separator_mp_data_tiktok" action="izi_tiktok.action_window_tts_category" sequence="42" />
    </data>
</odoo>