<odoo>
    <data>

        <menuitem id="equip3_hr_working_schedule.equip3_menu_hr_attendance_settings" name="Settings" 
        parent="equip3_hr_basic_custom_menu.menu_hr_attendance_configuration"
        action="hr.hr_config_settings_action"
        sequence="0"/>



              <menuitem id="equip3_hr_holidays_extend.hr_holidays_config_settings_menu_action" name="Settings"
              parent="hr_holidays.menu_hr_holidays_configuration"
              action="hr.hr_config_settings_action" sequence="0" groups="base.group_system"/>


              <menuitem id="hr_expense.menu_hr_expense_global_settings" name="Settings"
            parent="hr_expense.menu_hr_expense_configuration" sequence="0" action="hr.hr_config_settings_action" groups="base.group_system"/>

            <menuitem id="equip3_hr_employee_loan_extend.menu_hr_loan_global_settings" name="Settings"
            parent="hr_employee_loan.policy_configure" sequence="11"
            action="hr.hr_config_settings_action"
            groups="base.group_system"/>

            <menuitem id="hr_payroll_community.menu_hr_payroll_global_settings" name="Settings"
            parent="hr_payroll_community.menu_hr_payroll_community_configuration"
            sequence="10"
            action="hr.hr_config_settings_action"
            groups="base.group_system"/>


            <menuitem id="equip3_hr_career_transition.equip3_hr_career_transition_menu_configuration"
                name="Settings"
                parent="equip3_hr_career_transition.hr_career_transition_configuration_menu_root"
                sequence="0"
                action="hr.hr_config_settings_action"
                groups="base.group_system"/>

                <menuitem id="equip3_hr_travel_extend.menu_hr_travel_global_settings" name="Settings"
                parent="equip3_hr_travel_extend.menu_hr_travel_conf_settings"
                action="hr.hr_config_settings_action"
                groups="base.group_system"/>


                <menuitem id="equip3_hr_training.menu_hr_training_global_settings" name="Settings"
                parent="equip3_hr_training.main_menu_configuration"
                action="hr.hr_config_settings_action"
                groups="base.group_system" sequence="1"/>


                <menuitem name="Settings"
                id="website_slides.website_slides_menu_config_settings"
                parent="website_slides.website_slides_menu_configuration"
                sequence="1"
                action="hr.hr_config_settings_action"
                groups="base.group_system"/>


                <menuitem id="equip3_hr_employee_appraisals.menu_hr_employee_appraisals_global_settings" parent="employee_performance.menu_performance_config"
                action="hr.hr_config_settings_action" sequence="1" groups="hr.group_hr_manager"/>
       

    </data>


</odoo>