.attendance-dialog {
    text-align: center;
}

.attendance-input {
    font-size: 18px;
    width: 100%;
    background-color: #ffff !important;
    text-align: center;
    border-radius: 25px !important;
}

.input-group-attendance {
    border-radius: 25px;
    background-color: #ffff !important;
    border: 1px solid var(--o-theme-btn-primary-bgcolor) !important;
    margin-bottom: 25px;
    position: relative;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 15px;
}

.num-btn {
    width: 100%;
    height: 40px;
    background-color: #ffff;
    border-color: rgba(205, 203, 203, 0.2);
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
}

.o_enter{
    font-size: 18px;
    width: 30%;
}
.o_cancel{
    font-size: 18px;
    width: 30%;
}

.header_custom_attendance {
    margin-left: 45px;
    height: 40px;
}

.center_footer_attendance {
    justify-content: center !important;
    gap: 20px !important;
}

.centered-dialog{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-radius: 25px !important;
}

#eye-icon {
    color: black !important;
}

#eye-icon:hover{
    color: grey !important;
}