.o_hr_attendance_mark_center_direction {
    cursor: pointer;
}

.o_hr_attendance_mark_box {
    margin-top: auto;
    padding: 8px;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
}

.o_hr_attendance_mark_box:hover {
    background-color: rgb(235, 235, 243);
}

.o_hr_attendance_mark_box img {
    width: 35px;
}