<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- Add you code here -->
        <!-- This Menu Item must have a parent and an action -->
        <menuitem id="menu_purchase_request_line_rental_assigned" name="Assigned Request Line" action="product_purchase_request_line_rental_assigned"
        parent="main_menu_rental_purchase_request" sequence="10" />
        <menuitem id="menu_purchase_request_line_rental_not_assigned" name="Unassigned Request Line" action="product_purchase_request_line_rental_not_assigned"
        parent="main_menu_rental_purchase_request" sequence="20" />
    </data>
</odoo>