.o_field_mps {
    width: 100%;

    .o_mps_table_container {
        width: 100%;
        overflow-x: auto;

        table {
            white-space: nowrap;
            width: 100%;
    
            thead th {
                text-align: right;
            }
    
            tbody td:not(.o_sticky_1):not(.o_sticky_2) {
                text-align: right;
            }
    
            tbody td.o_new_section {
                font-weight: bold;
            }
    
            thead th {
                background-color: #e9ecef;
            }

            .o_set_width {
                width: 120px;
                min-width: 120px;
                max-width: 120px;
            }

            .o_sticky_1, .o_sticky_2 {
                background-color: #e9ecef;
                position: sticky;
                top: 0;
            }

            .o_sticky_1 {
                left: 0;
            }

            .o_sticky_2 {
                left: 120px;
            }
    
            .o_mps_input {
                text-align: right;
                border: 1px solid #ced4da;
                border-radius: 3px;
    
                &[disabled] {
                    border: 1px solid transparent;
                }
    
                &.o_mps_short {
                    width: 70px;
                    line-height: .5em;
                }

                &.o_transparent {
                    color: transparent;
                    background-color: transparent;
                }
            }
    
            .text-muted {
                color: rgba(33, 37, 41, 0.7) !important
            }
    
            .o_mps_reset {
                line-height: .5em;
            }
    
            .btn {
                line-height: 1em;
            }

            .o_mps_select_inline {
                display: inline-flex;
                width: auto;
                background-color: transparent;
                border: 0;
            }

            .o_border_bold td {
                border-top-width: 3px;
            }
        }
    }
}

.o_field_mps_period {
    display: flex;
}