/* .app-search-range-date-container, .app-search-range-number-container {
    min-height: 40px !important;
}

.app-search-range-date-container .o_datepicker {
    display: inline-block;
    width: 100px;
}
.o_control_panel{
	height:135px !important;
}
select.app_select_field_date  {
    width: 200px !important;
}
select.app_select_field_number  {
    width: 200px !important;
}

.o_control_panel .app-search-panel {
    display: block;
} */
/*//只有大屏，>992px时才显示*/
/* @media (max-width: 992px) {
    .o_control_panel .app-search-panel {
        display: none!important;
    }
} */

.o_cp_bottom_bottom .app-search-panel {
    width: 100%;
}

.o_cp_bottom_bottom .app-search-panel .o_separator {
    margin-top: 4px;
}

.app-search-range-date-container, .app-search-range-number-container {
    display: flex;
}

.app-search-range-date-container > span, .app-search-range-number-container > span {
    margin-right: 4px;
}

.app-search-range-date, .app-search-range-number {
    display: flex;
    width: 200px;
    height: 35px;
}

span[name='app_start_date'] > div.o_datepicker, span[name='app_end_date'] > div.o_datepicker {
    height: 35px;
}

span[name='app_start_date'], span[name='app_start_date'] input, 
span[name='app_end_date'], span[name='app_end_date'] input, 
span[name='app_start_number'], span[name='app_start_number'] input, 
span[name='app_end_number'], span[name='app_end_number'] input {
    max-width: 100px;
    height: 35px;
}