.tab-content .tab-pane {
    overflow-x: auto !important;
}
.menu_hr_recruitment_sticky .tab-content .o_list_view .table-responsive {
    overflow-x: unset !important;
}

.menu_hr_recruitment_sticky .o_inner_group .o_field_one2many .o_list_view .table-responsive {
    overflow-x: unset !important;
}
// .o_form_view .o_form_sheet_bg > .o_form_sheet {
//     overflow: unset;
// }
.menu_hr_recruitment_sticky .tab-content .o_list_view .o_list_table th,
.menu_hr_recruitment_sticky .o_list_view.menu_hr_recruitment_sticky .o_list_table thead > tr > th,
.menu_hr_recruitment_sticky .o_inner_group .o_field_one2many .o_list_view .o_list_table th,
.o_pivot .o_enable_linking thead,
.o_list_view.menu_hr_recruitment_sticky .table-responsive table thead > tr > th {
    position: sticky !important;
    top: 0px !important;
    background-color: #eee;
    z-index: 0;
}