@font-face {
  font-family: 'hm-font';
  src:  url('/equip3_hashmicro_ui/static/src/fonts/hm-font.eot?oxjffc');
  src:  url('/equip3_hashmicro_ui/static/src/fonts/hm-font.eot?oxjffc#iefix') format('embedded-opentype'),
    url('/equip3_hashmicro_ui/static/src/fonts/hm-font.ttf?oxjffc') format('truetype'),
    url('/equip3_hashmicro_ui/static/src/fonts/hm-font.woff?oxjffc') format('woff'),
    url('/equip3_hashmicro_ui/static/src/fonts/hm-font.svg?oxjffc#hm-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.o-hm-smart-hrm-calendar:before {
  content: "\e900";
}
.o-hm-smart-hrm-cities:before {
  content: "\e901";
}
.o-hm-smart-hrm-company-s-document:before {
  content: "\e902";
}
.o-hm-smart-hrm-documents1:before {
  content: "\e903";
}
.o-hm-smart-hrm-documents:before {
  content: "\e904";
}
.o-hm-smart-hrm-expenses:before {
  content: "\e905";
}
.o-hm-smart-hrm-finished:before {
  content: "\e906";
}
.o-hm-smart-hrm-group-day:before {
  content: "\e907";
}
.o-hm-smart-hrm-group-leave:before {
  content: "\e908";
}
.o-hm-smart-hrm-in-contract:before {
  content: "\e909";
}
.o-hm-smart-hrm-leave:before {
  content: "\e90a";
}
.o-hm-smart-hrm-meetings:before {
  content: "\e90b";
}
.o-hm-smart-hrm-mpp-lines:before {
  content: "\e90c";
}
.o-hm-smart-hrm-payslip:before {
  content: "\e90d";
}
.o-hm-smart-hrm-payslips:before {
  content: "\e90e";
}
.o-hm-smart-hrm-present:before {
  content: "\e90f";
}
.o-hm-smart-hrm-preview:before {
  content: "\e910";
}
.o-hm-smart-hrm-qualification-answer:before {
  content: "\e911";
}
.o-hm-smart-hrm-receipt:before {
  content: "\e912";
}
.o-hm-smart-hrm-reconcile:before {
  content: "\e913";
}
.o-hm-smart-hrm-reviews:before {
  content: "\e914";
}
.o-hm-smart-hrm-start-interviiew:before {
  content: "\e915";
}
.o-hm-smart-hrm-test-result:before {
  content: "\e916";
}
.o-hm-smart-hrm-timesheets:before {
  content: "\e917";
}
.o-hm-smart-hrm-trackers:before {
  content: "\e918";
}
.o-hm-smart-hrm-view-probation:before {
  content: "\e919";
}
.o-hm-smart-hrm-visits-contents:before {
  content: "\e91a";
}
.o-hm-smart-pos-coupons:before {
  content: "\e91b";
}
.o-hm-smart-pos-orders:before {
  content: "\e91c";
}
.o-hm-smart-pos-pickings:before {
  content: "\e91d";
}
.o-hm-smart-pos-pos-order:before {
  content: "\e91e";
}
.o-hm-smart-pos-revised-order:before {
  content: "\e91f";
}
.o-hm-smart-school-academic-tracking:before {
  content: "\e920";
}
.o-hm-smart-school-assignment:before {
  content: "\e921";
}
.o-hm-smart-school-classes:before {
  content: "\e922";
}
.o-hm-smart-school-exam:before {
  content: "\e923";
}
.o-hm-smart-school-hostel:before {
  content: "\e924";
}
.o-hm-smart-school-intake:before {
  content: "\e925";
}
.o-hm-smart-school-invoices:before {
  content: "\e926";
}
.o-hm-smart-school-scoring:before {
  content: "\e927";
}
.o-hm-view-activity:before {
  content: "\e928";
}
.o-hm-view-bx-barcode-reader:before {
  content: "\e929";
}
.o-hm-view-calendar-view:before {
  content: "\e92a";
}
.o-hm-view-chart-view:before {
  content: "\e92b";
}
.o-hm-view-debug:before {
  content: "\e92c";
}
.o-hm-view-download:before {
  content: "\e92d";
}
.o-hm-view-favourite-book:before {
  content: "\e92e";
}
.o-hm-view-filter:before {
  content: "\e92f";
}
.o-hm-view-gantt-chart:before {
  content: "\e930";
}
.o-hm-view-group-by:before {
  content: "\e931";
}
.o-hm-view-kanban-view:before {
  content: "\e932";
}
.o-hm-view-message:before {
  content: "\e933";
}
.o-hm-view-notification:before {
  content: "\e934";
}
.o-hm-view-pivot-view:before {
  content: "\e935";
}
.o-hm-view-search:before {
  content: "\e936";
}
.o-hm-view-switch-user:before {
  content: "\e937";
}
.o-hm-view-tree-view:before {
  content: "\e938";
}
.o-hm-sidebar-main-accounting-account-dashboard:before {
  content: "\e939";
}
.o-hm-sidebar-main-accounting-dashboard:before {
  content: "\e93a";
}
.o-hm-sidebar-main-agriculture-activity-overview:before {
  content: "\e93b";
}
.o-hm-sidebar-main-agriculture-area:before {
  content: "\e93c";
}
.o-hm-sidebar-main-agriculture-dashboard:before {
  content: "\e93d";
}
.o-hm-sidebar-main-agriculture-dashboard-1:before {
  content: "\e93e";
}
.o-hm-sidebar-main-agriculture-outlet-order:before {
  content: "\e93f";
}
.o-hm-sidebar-main-announcement-announcement:before {
  content: "\e940";
}
.o-hm-sidebar-main-approval-dashboard:before {
  content: "\e941";
}
.o-hm-sidebar-main-asset-dashboard:before {
  content: "\e942";
}
.o-hm-sidebar-main-calendar-calendar:before {
  content: "\e943";
}
.o-hm-sidebar-main-central-dashboard-dashboard:before {
  content: "\e944";
}
.o-hm-sidebar-main-central-kitchen-dashboard:before {
  content: "\e945";
}
.o-hm-sidebar-main-chatroom-chatroom:before {
  content: "\e946";
}
.o-hm-sidebar-main-construction-budget-change-request:before {
  content: "\e947";
}
.o-hm-sidebar-main-construction-cost-sheet:before {
  content: "\e948";
}
.o-hm-sidebar-main-construction-progress-history:before {
  content: "\e949";
}
.o-hm-sidebar-main-contacts-contact:before {
  content: "\e94a";
}
.o-hm-sidebar-main-contract-dashboard:before {
  content: "\e94b";
}
.o-hm-sidebar-main-crm-crm-dashboard:before {
  content: "\e94c";
}
.o-hm-sidebar-main-crm-leads-monitoring:before {
  content: "\e94d";
}
.o-hm-sidebar-main-delivery-control-all-drivers:before {
  content: "\e94e";
}
.o-hm-sidebar-main-delivery-control-all-pickings:before {
  content: "\e94f";
}
.o-hm-sidebar-main-delivery-control-rejects-picking:before {
  content: "\e950";
}
.o-hm-sidebar-main-email-marketing-mailings:before {
  content: "\e951";
}
.o-hm-sidebar-main-events-events:before {
  content: "\e952";
}
.o-hm-sidebar-main-flow:before {
  content: "\e953";
}
.o-hm-sidebar-main-flow-polos:before {
  content: "\e954";
}
.o-hm-sidebar-main-hrm-hr-dashboard:before {
  content: "\e955";
}
.o-hm-sidebar-main-hrm-lms-forum:before {
  content: "\e956";
}
.o-hm-sidebar-main-inventory-inventory-dashboard:before {
  content: "\e957";
}
.o-hm-sidebar-main-inventory-stock-warehouse:before {
  content: "\e958";
}
.o-hm-sidebar-main-inventory-warehouse-overview:before {
  content: "\e959";
}
.o-hm-sidebar-main-inventory-warehouse-overview-1:before {
  content: "\e95a";
}
.o-hm-sidebar-main-manufacturing-dashboard:before {
  content: "\e95b";
}
.o-hm-sidebar-main-manufacturing-kiosk-mode:before {
  content: "\e95c";
}
.o-hm-sidebar-main-manufacturing-work-center-dashboard:before {
  content: "\e95d";
}
.o-hm-sidebar-main-mining-planning:before {
  content: "\e95e";
}
.o-hm-sidebar-main-order-display-order-display:before {
  content: "\e95f";
}
.o-hm-sidebar-main-petty-cash-petty-cash-voucher:before {
  content: "\e960";
}
.o-hm-sidebar-main-point-of-sale-dashboard:before {
  content: "\e961";
}
.o-hm-sidebar-main-pos-dashboard:before {
  content: "\e962";
}
.o-hm-sidebar-main-product-scanning-product-scanning:before {
  content: "\e963";
}
.o-hm-sidebar-main-purchase-purchase-dashboard:before {
  content: "\e964";
}
.o-hm-sidebar-main-purchase-purchase-rental-order:before {
  content: "\e965";
}
.o-hm-sidebar-main-purchase-purchase-summary:before {
  content: "\e966";
}
.o-hm-sidebar-main-purchase-purchase-team:before {
  content: "\e967";
}
.o-hm-sidebar-main-quality-control-dashboard:before {
  content: "\e968";
}
.o-hm-sidebar-main-repairs-customer-repair:before {
  content: "\e969";
}
.o-hm-sidebar-main-repairs-internal-repair:before {
  content: "\e96a";
}
.o-hm-sidebar-main-reports-creator-create-new-report:before {
  content: "\e96b";
}
.o-hm-sidebar-main-reports-creator-templates:before {
  content: "\e96c";
}
.o-hm-sidebar-main-sales-quotation-monitoring:before {
  content: "\e96d";
}
.o-hm-sidebar-main-sales-sales-dahboard:before {
  content: "\e96e";
}
.o-hm-sidebar-main-sales-target-comission:before {
  content: "\e96f";
}
.o-hm-sidebar-main-school-admission-register:before {
  content: "\e970";
}
.o-hm-sidebar-main-school-regular-exam:before {
  content: "\e971";
}
.o-hm-sidebar-parent-accounting-accounting:before {
  content: "\e972";
}
.o-hm-sidebar-parent-accounting-asset:before {
  content: "\e973";
}
.o-hm-sidebar-parent-accounting-bank-and-cash:before {
  content: "\e974";
}
.o-hm-sidebar-parent-accounting-bank-integration:before {
  content: "\e975";
}
.o-hm-sidebar-parent-accounting-budget:before {
  content: "\e976";
}
.o-hm-sidebar-parent-accounting-configuration:before {
  content: "\e977";
}
.o-hm-sidebar-parent-accounting-customer:before {
  content: "\e978";
}
.o-hm-sidebar-parent-accounting-e-bupot:before {
  content: "\e979";
}
.o-hm-sidebar-parent-accounting-e-faktur:before {
  content: "\e97a";
}
.o-hm-sidebar-parent-accounting-e-taxes:before {
  content: "\e97b";
}
.o-hm-sidebar-parent-accounting-reporting:before {
  content: "\e97c";
}
.o-hm-sidebar-parent-accounting-vendors:before {
  content: "\e97d";
}
.o-hm-sidebar-parent-agriculture-area:before {
  content: "\e97e";
}
.o-hm-sidebar-parent-agriculture-configuration:before {
  content: "\e97f";
}
.o-hm-sidebar-parent-agriculture-master-data-alternatif:before {
  content: "\e980";
}
.o-hm-sidebar-parent-agriculture-operations:before {
  content: "\e981";
}
.o-hm-sidebar-parent-agriculture-planning:before {
  content: "\e982";
}
.o-hm-sidebar-parent-agriculture-reporting:before {
  content: "\e983";
}
.o-hm-sidebar-parent-approvals-configuration:before {
  content: "\e984";
}
.o-hm-sidebar-parent-assembly-master-data-alternatif:before {
  content: "\e985";
}
.o-hm-sidebar-parent-assembly-operations:before {
  content: "\e986";
}
.o-hm-sidebar-parent-assembly-reporting:before {
  content: "\e987";
}
.o-hm-sidebar-parent-assembly-setting:before {
  content: "\e988";
}
.o-hm-sidebar-parent-asset-configuration:before {
  content: "\e989";
}
.o-hm-sidebar-parent-asset-employee-asset:before {
  content: "\e98a";
}
.o-hm-sidebar-parent-asset-master-data:before {
  content: "\e98b";
}
.o-hm-sidebar-parent-asset-master-data-alternatif:before {
  content: "\e98c";
}
.o-hm-sidebar-parent-asset-operations:before {
  content: "\e98d";
}
.o-hm-sidebar-parent-asset-reporting:before {
  content: "\e98e";
}
.o-hm-sidebar-parent-central-dashboard-configuration:before {
  content: "\e98f";
}
.o-hm-sidebar-parent-central-kitchen-master-data-alternatif:before {
  content: "\e990";
}
.o-hm-sidebar-parent-central-kitchen-operations:before {
  content: "\e991";
}
.o-hm-sidebar-parent-central-kitchen-reporting:before {
  content: "\e992";
}
.o-hm-sidebar-parent-central-kitchen-setting:before {
  content: "\e993";
}
.o-hm-sidebar-parent-chatroom-chatroom-analysis:before {
  content: "\e994";
}
.o-hm-sidebar-parent-consignment-configuration:before {
  content: "\e995";
}
.o-hm-sidebar-parent-consignment-inventories:before {
  content: "\e996";
}
.o-hm-sidebar-parent-consignment-orders:before {
  content: "\e997";
}
.o-hm-sidebar-parent-consignment-products:before {
  content: "\e998";
}
.o-hm-sidebar-parent-consignment-reporting:before {
  content: "\e999";
}
.o-hm-sidebar-parent-consignment-sales:before {
  content: "\e99a";
}
.o-hm-sidebar-parent-construction-asset:before {
  content: "\e99b";
}
.o-hm-sidebar-parent-construction-configuration:before {
  content: "\e99c";
}
.o-hm-sidebar-parent-construction-construction:before {
  content: "\e99d";
}
.o-hm-sidebar-parent-construction-employee:before {
  content: "\e99e";
}
.o-hm-sidebar-parent-construction-equipment:before {
  content: "\e99f";
}
.o-hm-sidebar-parent-construction-job-orders:before {
  content: "\e9a0";
}
.o-hm-sidebar-parent-construction-materials:before {
  content: "\e9a1";
}
.o-hm-sidebar-parent-construction-project:before {
  content: "\e9a2";
}
.o-hm-sidebar-parent-construction-reporting:before {
  content: "\e9a3";
}
.o-hm-sidebar-parent-construction-templates:before {
  content: "\e9a4";
}
.o-hm-sidebar-parent-contract-configuration:before {
  content: "\e9a5";
}
.o-hm-sidebar-parent-contract-master-data-alternatif:before {
  content: "\e9a6";
}
.o-hm-sidebar-parent-contract-operations:before {
  content: "\e9a7";
}
.o-hm-sidebar-parent-contract-reporting:before {
  content: "\e9a8";
}
.o-hm-sidebar-parent-crm-configuration:before {
  content: "\e9a9";
}
.o-hm-sidebar-parent-crm-meeting-overview:before {
  content: "\e9aa";
}
.o-hm-sidebar-parent-crm-phone-call:before {
  content: "\e9ab";
}
.o-hm-sidebar-parent-crm-sales:before {
  content: "\e9ac";
}
.o-hm-sidebar-parent-cutting-configuration:before {
  content: "\e9ad";
}
.o-hm-sidebar-parent-cutting-master-data-alternatif:before {
  content: "\e9ae";
}
.o-hm-sidebar-parent-cutting-operations:before {
  content: "\e9af";
}
.o-hm-sidebar-parent-cutting-reporting:before {
  content: "\e9b0";
}
.o-hm-sidebar-parent-delivery-control-all-pickings:before {
  content: "\e9b1";
}
.o-hm-sidebar-parent-delivery-control-configuration:before {
  content: "\e9b2";
}
.o-hm-sidebar-parent-delivery-control-drivers:before {
  content: "\e9b3";
}
.o-hm-sidebar-parent-delivery-control-rejects-picking:before {
  content: "\e9b4";
}
.o-hm-sidebar-parent-email-marketing-configuration:before {
  content: "\e9b5";
}
.o-hm-sidebar-parent-email-marketing-mailing-list:before {
  content: "\e9b6";
}
.o-hm-sidebar-parent-employees-configuration:before {
  content: "\e9b7";
}
.o-hm-sidebar-parent-employees-employees:before {
  content: "\e9b8";
}
.o-hm-sidebar-parent-events-configuration:before {
  content: "\e9b9";
}
.o-hm-sidebar-parent-events-reporting:before {
  content: "\e9ba";
}
.o-hm-sidebar-parent-hrm-application:before {
  content: "\e9bb";
}
.o-hm-sidebar-parent-hrm-appraisal:before {
  content: "\e9bc";
}
.o-hm-sidebar-parent-hrm-attendances:before {
  content: "\e9bd";
}
.o-hm-sidebar-parent-hrm-career-transition:before {
  content: "\e9be";
}
.o-hm-sidebar-parent-hrm-cash-advance:before {
  content: "\e9bf";
}
.o-hm-sidebar-parent-hrm-expenses:before {
  content: "\e9c0";
}
.o-hm-sidebar-parent-hrm-hr-training:before {
  content: "\e9c1";
}
.o-hm-sidebar-parent-hrm-job-portal:before {
  content: "\e9c2";
}
.o-hm-sidebar-parent-hrm-leaves:before {
  content: "\e9c3";
}
.o-hm-sidebar-parent-hrm-loans:before {
  content: "\e9c4";
}
.o-hm-sidebar-parent-hrm-man-power-planning:before {
  content: "\e9c5";
}
.o-hm-sidebar-parent-hrm-man-power-requisitions:before {
  content: "\e9c6";
}
.o-hm-sidebar-parent-hrm-organization:before {
  content: "\e9c7";
}
.o-hm-sidebar-parent-hrm-overtime:before {
  content: "\e9c8";
}
.o-hm-sidebar-parent-hrm-payroll:before {
  content: "\e9c9";
}
.o-hm-sidebar-parent-hrm-recruitment-dashboard:before {
  content: "\e9ca";
}
.o-hm-sidebar-parent-hrm-tax:before {
  content: "\e9cb";
}
.o-hm-sidebar-parent-hrm-tests:before {
  content: "\e9cc";
}
.o-hm-sidebar-parent-hrm-training:before {
  content: "\e9cd";
}
.o-hm-sidebar-parent-hrm-travel:before {
  content: "\e9ce";
}
.o-hm-sidebar-parent-inventory-barcode-labels:before {
  content: "\e9cf";
}
.o-hm-sidebar-parent-inventory-configuration:before {
  content: "\e9d0";
}
.o-hm-sidebar-parent-inventory-expired-products:before {
  content: "\e9d1";
}
.o-hm-sidebar-parent-inventory-import:before {
  content: "\e9d2";
}
.o-hm-sidebar-parent-inventory-intercompany-transaction:before {
  content: "\e9d3";
}
.o-hm-sidebar-parent-inventory-inventory-control:before {
  content: "\e9d4";
}
.o-hm-sidebar-parent-inventory-operations:before {
  content: "\e9d5";
}
.o-hm-sidebar-parent-inventory-products:before {
  content: "\e9d6";
}
.o-hm-sidebar-parent-inventory-reporting:before {
  content: "\e9d7";
}
.o-hm-sidebar-parent-manufacturing-configuration:before {
  content: "\e9d8";
}
.o-hm-sidebar-parent-manufacturing-master-data-alternatif:before {
  content: "\e9d9";
}
.o-hm-sidebar-parent-manufacturing-operations:before {
  content: "\e9da";
}
.o-hm-sidebar-parent-manufacturing-other-operations:before {
  content: "\e9db";
}
.o-hm-sidebar-parent-manufacturing-planning:before {
  content: "\e9dc";
}
.o-hm-sidebar-parent-manufacturing-reporting:before {
  content: "\e9dd";
}
.o-hm-sidebar-parent-mining-configuration:before {
  content: "\e9de";
}
.o-hm-sidebar-parent-mining-control:before {
  content: "\e9df";
}
.o-hm-sidebar-parent-mining-master-data-alternatif:before {
  content: "\e9e0";
}
.o-hm-sidebar-parent-mining-operations:before {
  content: "\e9e1";
}
.o-hm-sidebar-parent-mining-reporting:before {
  content: "\e9e2";
}
.o-hm-sidebar-parent-pos-clients:before {
  content: "\e9e3";
}
.o-hm-sidebar-parent-pos-configuration:before {
  content: "\e9e4";
}
.o-hm-sidebar-parent-pos-gift-card:before {
  content: "\e9e5";
}
.o-hm-sidebar-parent-pos-loyalities:before {
  content: "\e9e6";
}
.o-hm-sidebar-parent-pos-orders:before {
  content: "\e9e7";
}
.o-hm-sidebar-parent-pos-other-reports:before {
  content: "\e9e8";
}
.o-hm-sidebar-parent-pos-products:before {
  content: "\e9e9";
}
.o-hm-sidebar-parent-pos-promotions-vouchers-discount:before {
  content: "\e9ea";
}
.o-hm-sidebar-parent-pos-reporting:before {
  content: "\e9eb";
}
.o-hm-sidebar-parent-pos-retail-opertaions:before {
  content: "\e9ec";
}
.o-hm-sidebar-parent-pos-sale-coupons:before {
  content: "\e9ed";
}
.o-hm-sidebar-parent-property-configuration:before {
  content: "\e9ee";
}
.o-hm-sidebar-parent-property-master-data-alternatif:before {
  content: "\e9ef";
}
.o-hm-sidebar-parent-property-operations:before {
  content: "\e9f0";
}
.o-hm-sidebar-parent-property-reporting:before {
  content: "\e9f1";
}
.o-hm-sidebar-parent-purchase-assets-order:before {
  content: "\e9f2";
}
.o-hm-sidebar-parent-purchase-configuration:before {
  content: "\e9f3";
}
.o-hm-sidebar-parent-purchase-goods-order:before {
  content: "\e9f4";
}
.o-hm-sidebar-parent-purchase-orders:before {
  content: "\e9f5";
}
.o-hm-sidebar-parent-purchase-products:before {
  content: "\e9f6";
}
.o-hm-sidebar-parent-purchase-reporting:before {
  content: "\e9f7";
}
.o-hm-sidebar-parent-purchase-request-purchase-request:before {
  content: "\e9f8";
}
.o-hm-sidebar-parent-purchase-services-order:before {
  content: "\e9f9";
}
.o-hm-sidebar-parent-purchase-vendors:before {
  content: "\e9fa";
}
.o-hm-sidebar-parent-quality-control-all-operations:before {
  content: "\e9fb";
}
.o-hm-sidebar-parent-quality-control-configuration:before {
  content: "\e9fc";
}
.o-hm-sidebar-parent-quality-control-quality-alert:before {
  content: "\e9fd";
}
.o-hm-sidebar-parent-quality-control-quality-check:before {
  content: "\e9fe";
}
.o-hm-sidebar-parent-quality-control-reporting:before {
  content: "\e9ff";
}
.o-hm-sidebar-parent-repairs-configuration:before {
  content: "\ea00";
}
.o-hm-sidebar-parent-repairs-reporting:before {
  content: "\ea01";
}
.o-hm-sidebar-parent-report-creator-custom-report:before {
  content: "\ea02";
}
.o-hm-sidebar-parent-report-creator-dashboard:before {
  content: "\ea03";
}
.o-hm-sidebar-parent-report-creator-kpi:before {
  content: "\ea04";
}
.o-hm-sidebar-parent-sales-configuration:before {
  content: "\ea05";
}
.o-hm-sidebar-parent-sales-orders:before {
  content: "\ea06";
}
.o-hm-sidebar-parent-sales-products:before {
  content: "\ea07";
}
.o-hm-sidebar-parent-sales-reporting:before {
  content: "\ea08";
}
.o-hm-sidebar-parent-sales-rfm:before {
  content: "\ea09";
}
.o-hm-sidebar-parent-sales-sale-forecast:before {
  content: "\ea0a";
}
.o-hm-sidebar-parent-sales-sales-team:before {
  content: "\ea0b";
}
.o-hm-sidebar-parent-sales-to-invoice:before {
  content: "\ea0c";
}
.o-hm-sidebar-parent-school-academic-year:before {
  content: "\ea0d";
}
.o-hm-sidebar-parent-school-approving-matrix-config:before {
  content: "\ea0e";
}
.o-hm-sidebar-parent-school-class-schedule:before {
  content: "\ea0f";
}
.o-hm-sidebar-parent-school-configuration:before {
  content: "\ea10";
}
.o-hm-sidebar-parent-school-fees:before {
  content: "\ea11";
}
.o-hm-sidebar-parent-school-school-hierarchy:before {
  content: "\ea12";
}
.o-hm-sidebar-parent-settings-chatroom:before {
  content: "\ea13";
}
.o-hm-sidebar-parent-settings-joint-calendar:before {
  content: "\ea14";
}
.o-hm-sidebar-parent-settings-user-and-companies:before {
  content: "\ea15";
}
.o-hm-sidebar-parent-upgraded-apps:before {
  content: "\ea16";
}
.o-hm-sidebar-parent-website-configuration:before {
  content: "\ea17";
}
.o-hm-sidebar-parent-website-dashboard:before {
  content: "\ea18";
}
.o-hm-sidebar-parent-website-orders:before {
  content: "\ea19";
}
.o-hm-sidebar-parent-website-products:before {
  content: "\ea1a";
}
.o-hm-sidebar-parent-website-reporting:before {
  content: "\ea1b";
}
.o-hm-sidebar-parent-website-visitor-alternate:before {
  content: "\ea1c";
}
.o-hm-sidebar-sub-accounting-accounting:before {
  content: "\ea1d";
}
.o-hm-sidebar-sub-accounting-actions:before {
  content: "\ea1e";
}
.o-hm-sidebar-sub-accounting-analytic-accounting:before {
  content: "\ea1f";
}
.o-hm-sidebar-sub-accounting-approval-matrix-configuration:before {
  content: "\ea20";
}
.o-hm-sidebar-sub-accounting-bank:before {
  content: "\ea21";
}
.o-hm-sidebar-sub-accounting-business-intelligent:before {
  content: "\ea22";
}
.o-hm-sidebar-sub-accounting-business-statement:before {
  content: "\ea23";
}
.o-hm-sidebar-sub-accounting-end-of-period:before {
  content: "\ea24";
}
.o-hm-sidebar-sub-accounting-financial-reports:before {
  content: "\ea25";
}
.o-hm-sidebar-sub-accounting-generate-entries:before {
  content: "\ea26";
}
.o-hm-sidebar-sub-accounting-inventory:before {
  content: "\ea27";
}
.o-hm-sidebar-sub-accounting-invoicing:before {
  content: "\ea28";
}
.o-hm-sidebar-sub-accounting-journal-items:before {
  content: "\ea29";
}
.o-hm-sidebar-sub-accounting-journals:before {
  content: "\ea2a";
}
.o-hm-sidebar-sub-accounting-ledgers:before {
  content: "\ea2b";
}
.o-hm-sidebar-sub-accounting-legal-statements:before {
  content: "\ea2c";
}
.o-hm-sidebar-sub-accounting-manage-expenses:before {
  content: "\ea2d";
}
.o-hm-sidebar-sub-accounting-management:before {
  content: "\ea2e";
}
.o-hm-sidebar-sub-accounting-miscellaneous:before {
  content: "\ea2f";
}
.o-hm-sidebar-sub-accounting-payments:before {
  content: "\ea30";
}
.o-hm-sidebar-sub-accounting-periods:before {
  content: "\ea31";
}
.o-hm-sidebar-sub-accounting-reminder:before {
  content: "\ea32";
}
.o-hm-sidebar-sub-assembly-assembly:before {
  content: "\ea33";
}
.o-hm-sidebar-sub-assembly-disassembly:before {
  content: "\ea34";
}
.o-hm-sidebar-sub-asset-approval-matrix:before {
  content: "\ea35";
}
.o-hm-sidebar-sub-asset-maintanance-plans:before {
  content: "\ea36";
}
.o-hm-sidebar-sub-asset-maintanance-stages:before {
  content: "\ea37";
}
.o-hm-sidebar-sub-central-kitchen-approval-matrix:before {
  content: "\ea38";
}
.o-hm-sidebar-sub-construction-approval-matrix:before {
  content: "\ea39";
}
.o-hm-sidebar-sub-construction-construction-approval-matrix:before {
  content: "\ea3a";
}
.o-hm-sidebar-sub-construction-order-line:before {
  content: "\ea3b";
}
.o-hm-sidebar-sub-contract-bank-account:before {
  content: "\ea3c";
}
.o-hm-sidebar-sub-contract-localization:before {
  content: "\ea3d";
}
.o-hm-sidebar-sub-crm-hm-v1-sub-crm-leads:before {
  content: "\ea3e";
}
.o-hm-sidebar-sub-crm-leads:before {
  content: "\ea3f";
}
.o-hm-sidebar-sub-cutting-approval-matrix:before {
  content: "\ea40";
}
.o-hm-sidebar-sub-employees-activity-planning-alternative:before {
  content: "\ea41";
}
.o-hm-sidebar-sub-employees-challenges-alternative:before {
  content: "\ea42";
}
.o-hm-sidebar-sub-employees-employee:before {
  content: "\ea43";
}
.o-hm-sidebar-sub-employees-resume-alternate-7:before {
  content: "\ea44";
}
.o-hm-sidebar-sub-hrm-accounting:before {
  content: "\ea45";
}
.o-hm-sidebar-sub-hrm-configuration:before {
  content: "\ea46";
}
.o-hm-sidebar-sub-hrm-loans:before {
  content: "\ea47";
}
.o-hm-sidebar-sub-hrm-manage-cash-advance:before {
  content: "\ea48";
}
.o-hm-sidebar-sub-hrm-manage-expenses:before {
  content: "\ea49";
}
.o-hm-sidebar-sub-hrm-manage-leaves:before {
  content: "\ea4a";
}
.o-hm-sidebar-sub-hrm-manage-overtimes:before {
  content: "\ea4b";
}
.o-hm-sidebar-sub-hrm-manage-training:before {
  content: "\ea4c";
}
.o-hm-sidebar-sub-hrm-manage-travel:before {
  content: "\ea4d";
}
.o-hm-sidebar-sub-hrm-my-attendance:before {
  content: "\ea4e";
}
.o-hm-sidebar-sub-hrm-my-cash-advance:before {
  content: "\ea4f";
}
.o-hm-sidebar-sub-hrm-my-expenses:before {
  content: "\ea50";
}
.o-hm-sidebar-sub-hrm-my-leaves:before {
  content: "\ea51";
}
.o-hm-sidebar-sub-hrm-my-overtime:before {
  content: "\ea52";
}
.o-hm-sidebar-sub-hrm-my-training:before {
  content: "\ea53";
}
.o-hm-sidebar-sub-hrm-perfomance-evaluation:before {
  content: "\ea54";
}
.o-hm-sidebar-sub-hrm-reporting:before {
  content: "\ea55";
}
.o-hm-sidebar-sub-hrm-travel:before {
  content: "\ea56";
}
.o-hm-sidebar-sub-inventory-approval-matrix:before {
  content: "\ea57";
}
.o-hm-sidebar-sub-inventory-delivery:before {
  content: "\ea58";
}
.o-hm-sidebar-sub-inventory-expired-products:before {
  content: "\ea59";
}
.o-hm-sidebar-sub-inventory-inventory-analysis:before {
  content: "\ea5a";
}
.o-hm-sidebar-sub-inventory-inventory-control:before {
  content: "\ea5b";
}
.o-hm-sidebar-sub-inventory-operations:before {
  content: "\ea5c";
}
.o-hm-sidebar-sub-inventory-products:before {
  content: "\ea5d";
}
.o-hm-sidebar-sub-inventory-tracking:before {
  content: "\ea5e";
}
.o-hm-sidebar-sub-inventory-unit-of-measure:before {
  content: "\ea5f";
}
.o-hm-sidebar-sub-inventory-valuation:before {
  content: "\ea60";
}
.o-hm-sidebar-sub-inventory-warehouse-analysis:before {
  content: "\ea61";
}
.o-hm-sidebar-sub-inventory-warehouse-management:before {
  content: "\ea62";
}
.o-hm-sidebar-sub-manufacturing-approval-matrix:before {
  content: "\ea63";
}
.o-hm-sidebar-sub-manufacturing-notifications:before {
  content: "\ea64";
}
.o-hm-sidebar-sub-mining-approval-matrix:before {
  content: "\ea65";
}
.o-hm-sidebar-sub-pos-database:before {
  content: "\ea66";
}
.o-hm-sidebar-sub-pos-history:before {
  content: "\ea67";
}
.o-hm-sidebar-sub-pos-products:before {
  content: "\ea68";
}
.o-hm-sidebar-sub-pos-products-setting:before {
  content: "\ea69";
}
.o-hm-sidebar-sub-pos-reporting:before {
  content: "\ea6a";
}
.o-hm-sidebar-sub-purchase-approval-matrix-configuration:before {
  content: "\ea6b";
}
.o-hm-sidebar-sub-purchase-product-analysis:before {
  content: "\ea6c";
}
.o-hm-sidebar-sub-purchase-products:before {
  content: "\ea6d";
}
.o-hm-sidebar-sub-purchase-purchase-analysis:before {
  content: "\ea6e";
}
.o-hm-sidebar-sub-purchase-purchase-bill-analysis:before {
  content: "\ea6f";
}
.o-hm-sidebar-sub-purchase-purchase-request-analysis:before {
  content: "\ea70";
}
.o-hm-sidebar-sub-purchase-unit-of-measure:before {
  content: "\ea71";
}
.o-hm-sidebar-sub-purchase-vendor-analysis:before {
  content: "\ea72";
}
.o-hm-sidebar-sub-quality-control-all-operations:before {
  content: "\ea73";
}
.o-hm-sidebar-sub-quality-control-configuration:before {
  content: "\ea74";
}
.o-hm-sidebar-sub-quality-control-dashboard:before {
  content: "\ea75";
}
.o-hm-sidebar-sub-quality-control-inventory:before {
  content: "\ea76";
}
.o-hm-sidebar-sub-quality-control-manufacturing:before {
  content: "\ea77";
}
.o-hm-sidebar-sub-quality-control-mrp:before {
  content: "\ea78";
}
.o-hm-sidebar-sub-quality-control-quality-alert:before {
  content: "\ea79";
}
.o-hm-sidebar-sub-quality-control-quality-check:before {
  content: "\ea7a";
}
.o-hm-sidebar-sub-quality-control-reporting:before {
  content: "\ea7b";
}
.o-hm-sidebar-sub-quality-control-work-order:before {
  content: "\ea7c";
}
.o-hm-sidebar-sub-report-creator-measurements:before {
  content: "\ea7d";
}
.o-hm-sidebar-sub-sales-approval-matrix:before {
  content: "\ea7e";
}
.o-hm-sidebar-sub-sales-configuration:before {
  content: "\ea7f";
}
.o-hm-sidebar-sub-sales-customer:before {
  content: "\ea80";
}
.o-hm-sidebar-sub-sales-customer-analysis:before {
  content: "\ea81";
}
.o-hm-sidebar-sub-sales-product-analysis:before {
  content: "\ea82";
}
.o-hm-sidebar-sub-sales-products:before {
  content: "\ea83";
}
.o-hm-sidebar-sub-sales-promotion-programs:before {
  content: "\ea84";
}
.o-hm-sidebar-sub-sales-reports:before {
  content: "\ea85";
}
.o-hm-sidebar-sub-sales-sales-analysis:before {
  content: "\ea86";
}
.o-hm-sidebar-sub-sales-sales-blanket-order:before {
  content: "\ea87";
}
.o-hm-sidebar-sub-sales-sales-invoice-analysis:before {
  content: "\ea88";
}
.o-hm-sidebar-sub-sales-sales-order:before {
  content: "\ea89";
}
.o-hm-sidebar-sub-school-academic-tracking:before {
  content: "\ea8a";
}
.o-hm-sidebar-sub-school-academic-year:before {
  content: "\ea8b";
}
.o-hm-sidebar-sub-school-admission-approving-matrix:before {
  content: "\ea8c";
}
.o-hm-sidebar-sub-school-alumni:before {
  content: "\ea8d";
}
.o-hm-sidebar-sub-school-assign-assignment:before {
  content: "\ea8e";
}
.o-hm-sidebar-sub-school-classes:before {
  content: "\ea8f";
}
.o-hm-sidebar-sub-school-classroom:before {
  content: "\ea90";
}
.o-hm-sidebar-sub-school-daily-attendace:before {
  content: "\ea91";
}
.o-hm-sidebar-sub-school-equipment:before {
  content: "\ea92";
}
.o-hm-sidebar-sub-school-exam:before {
  content: "\ea93";
}
.o-hm-sidebar-sub-school-exam-result:before {
  content: "\ea94";
}
.o-hm-sidebar-sub-school-exam-timetable:before {
  content: "\ea95";
}
.o-hm-sidebar-sub-school-fee-head:before {
  content: "\ea96";
}
.o-hm-sidebar-sub-school-fee-register:before {
  content: "\ea97";
}
.o-hm-sidebar-sub-school-fee-stucture:before {
  content: "\ea98";
}
.o-hm-sidebar-sub-school-generate-classes:before {
  content: "\ea99";
}
.o-hm-sidebar-sub-school-generate-next-academic-year:before {
  content: "\ea9a";
}
.o-hm-sidebar-sub-school-grade:before {
  content: "\ea9b";
}
.o-hm-sidebar-sub-school-intake:before {
  content: "\ea9c";
}
.o-hm-sidebar-sub-school-monthly-attendance-sheet:before {
  content: "\ea9d";
}
.o-hm-sidebar-sub-school-program:before {
  content: "\ea9e";
}
.o-hm-sidebar-sub-school-public-holiday:before {
  content: "\ea9f";
}
.o-hm-sidebar-sub-school-reguler-timetable:before {
  content: "\eaa0";
}
.o-hm-sidebar-sub-school-religion:before {
  content: "\eaa1";
}
.o-hm-sidebar-sub-school-school:before {
  content: "\eaa2";
}
.o-hm-sidebar-sub-school-student-assignment:before {
  content: "\eaa3";
}
.o-hm-sidebar-sub-school-student-invoice:before {
  content: "\eaa4";
}
.o-hm-sidebar-sub-school-student-leave-request:before {
  content: "\eaa5";
}
.o-hm-sidebar-sub-school-subject:before {
  content: "\eaa6";
}
.o-hm-sidebar-sub-school-term:before {
  content: "\eaa7";
}
.o-hm-sidebar-sub-settings-custom-fields:before {
  content: "\eaa8";
}
.o-hm-sidebar-sub-website-ecommerce:before {
  content: "\eaa9";
}
.o-hm-sidebar-sub-website-products:before {
  content: "\eaaa";
}
.o-hm-smart-all-3-payments:before {
  content: "\eaab";
}
.o-hm-smart-all-action:before {
  content: "\eaac";
}
.o-hm-smart-all-asset-revaluation:before {
  content: "\eaad";
}
.o-hm-smart-all-asset-sale:before {
  content: "\eaae";
}
.o-hm-smart-all-bill-of-material:before {
  content: "\eaaf";
}
.o-hm-smart-all-bills:before {
  content: "\eab0";
}
.o-hm-smart-all-blanket-order:before {
  content: "\eab1";
}
.o-hm-smart-all-calls:before {
  content: "\eab2";
}
.o-hm-smart-all-coupons:before {
  content: "\eab3";
}
.o-hm-smart-all-digital-files:before {
  content: "\eab4";
}
.o-hm-smart-all-documents:before {
  content: "\eab5";
}
.o-hm-smart-all-expired:before {
  content: "\eab6";
}
.o-hm-smart-all-forecasted:before {
  content: "\eab7";
}
.o-hm-smart-all-invoices:before {
  content: "\eab8";
}
.o-hm-smart-all-items:before {
  content: "\eab9";
}
.o-hm-smart-all-leads:before {
  content: "\eaba";
}
.o-hm-smart-all-load:before {
  content: "\eabb";
}
.o-hm-smart-all-location:before {
  content: "\eabc";
}
.o-hm-smart-all-lost:before {
  content: "\eabd";
}
.o-hm-smart-all-lot-serial-number:before {
  content: "\eabe";
}
.o-hm-smart-all-mailing:before {
  content: "\eabf";
}
.o-hm-smart-all-manufacture-order:before {
  content: "\eac0";
}
.o-hm-smart-all-manufacturing:before {
  content: "\eac1";
}
.o-hm-smart-all-manufacturing-plan:before {
  content: "\eac2";
}
.o-hm-smart-all-material-request:before {
  content: "\eac3";
}
.o-hm-smart-all-meeting:before {
  content: "\eac4";
}
.o-hm-smart-all-nearly-expired:before {
  content: "\eac5";
}
.o-hm-smart-all-oee:before {
  content: "\eac6";
}
.o-hm-smart-all-on-hand:before {
  content: "\eac7";
}
.o-hm-smart-all-on-time:before {
  content: "\eac8";
}
.o-hm-smart-all-operations:before {
  content: "\eac9";
}
.o-hm-smart-all-package:before {
  content: "\eaca";
}
.o-hm-smart-all-perfomance:before {
  content: "\eacb";
}
.o-hm-smart-all-predict-sales:before {
  content: "\eacc";
}
.o-hm-smart-all-print:before {
  content: "\eacd";
}
.o-hm-smart-all-product-move:before {
  content: "\eace";
}
.o-hm-smart-all-projects:before {
  content: "\eacf";
}
.o-hm-smart-all-purchase-blanket:before {
  content: "\ead0";
}
.o-hm-smart-all-purchased:before {
  content: "\ead1";
}
.o-hm-smart-all-purchase-request-lines:before {
  content: "\ead2";
}
.o-hm-smart-all-purchases:before {
  content: "\ead3";
}
.o-hm-smart-all-purchase-tender:before {
  content: "\ead4";
}
.o-hm-smart-all-putaway:before {
  content: "\ead5";
}
.o-hm-smart-all-quality-alert:before {
  content: "\ead6";
}
.o-hm-smart-all-quality-check:before {
  content: "\ead7";
}
.o-hm-smart-all-rate:before {
  content: "\ead8";
}
.o-hm-smart-all-receipt:before {
  content: "\ead9";
}
.o-hm-smart-all-received-quatation:before {
  content: "\eada";
}
.o-hm-smart-all-reconciles:before {
  content: "\eadb";
}
.o-hm-smart-all-reordering:before {
  content: "\eadc";
}
.o-hm-smart-all-repair-order:before {
  content: "\eadd";
}
.o-hm-smart-all-request-payment:before {
  content: "\eade";
}
.o-hm-smart-all-routing-perfomance:before {
  content: "\eadf";
}
.o-hm-smart-all-selected-orders:before {
  content: "\eae0";
}
.o-hm-smart-all-send-whatsapp:before {
  content: "\eae1";
}
.o-hm-smart-all-sold:before {
  content: "\eae2";
}
.o-hm-smart-all-structure-cost:before {
  content: "\eae3";
}
.o-hm-smart-all-traceability:before {
  content: "\eae4";
}
.o-hm-smart-all-tune-hyper-parameter:before {
  content: "\eae5";
}
.o-hm-smart-all-used-in:before {
  content: "\eae6";
}
.o-hm-smart-all-valuation:before {
  content: "\eae7";
}
.o-hm-smart-all-variants:before {
  content: "\eae8";
}
.o-hm-smart-all-vendor-bill:before {
  content: "\eae9";
}
.o-hm-smart-all-vendor-bilss:before {
  content: "\eaea";
}
.o-hm-smart-all-website:before {
  content: "\eaeb";
}
.o-hm-smart-construction-bills:before {
  content: "\eaec";
}
.o-hm-smart-construction-budget-changes-requst:before {
  content: "\eaed";
}
.o-hm-smart-construction-claim:before {
  content: "\eaee";
}
.o-hm-smart-construction-cost-sheet:before {
  content: "\eaef";
}
.o-hm-smart-construction-document:before {
  content: "\eaf0";
}
.o-hm-smart-construction-invoices:before {
  content: "\eaf1";
}
.o-hm-smart-construction-issues:before {
  content: "\eaf2";
}
.o-hm-smart-construction-job-estimate:before {
  content: "\eaf3";
}
.o-hm-smart-construction-job-order:before {
  content: "\eaf4";
}
.o-hm-smart-construction-material-request:before {
  content: "\eaf5";
}
.o-hm-smart-construction-notes:before {
  content: "\eaf6";
}
.o-hm-smart-construction-product-list:before {
  content: "\eaf7";
}
.o-hm-smart-construction-product-usage:before {
  content: "\eaf8";
}
.o-hm-smart-construction-project:before {
  content: "\eaf9";
}
.o-hm-smart-construction-project-budget:before {
  content: "\eafa";
}
.o-hm-smart-construction-project-budget-transfer:before {
  content: "\eafb";
}
.o-hm-smart-construction-purchase-agreement:before {
  content: "\eafc";
}
.o-hm-smart-construction-recorded:before {
  content: "\eafd";
}
.o-hm-smart-construction-s-curve:before {
  content: "\eafe";
}
.o-hm-smart-construction-sub-tasks:before {
  content: "\eaff";
}
.o-hm-smart-crm-agreement:before {
  content: "\eb00";
}
.o-hm-smart-crm-certification:before {
  content: "\eb01";
}
.o-hm-smart-crm-consigment:before {
  content: "\eb02";
}
.o-hm-smart-crm-cost-revenue:before {
  content: "\eb03";
}
.o-hm-smart-crm-courses:before {
  content: "\eb04";
}
.o-hm-smart-crm-customer-preview:before {
  content: "\eb05";
}
.o-hm-smart-crm-delivery:before {
  content: "\eb06";
}
.o-hm-smart-crm-events:before {
  content: "\eb07";
}
.o-hm-smart-crm-map:before {
  content: "\eb08";
}
.o-hm-smart-crm-opportunity:before {
  content: "\eb09";
}
.o-hm-smart-crm-quotations:before {
  content: "\eb0a";
}
.o-hm-smart-crm-route:before {
  content: "\eb0b";
}
.o-hm-smart-crm-sales:before {
  content: "\eb0c";
}
.o-hm-smart-crm-set-delivery:before {
  content: "\eb0d";
}
.o-hm-smart-crm-similiar-vendors:before {
  content: "\eb0e";
}
.o-hm-smart-crm-tasks:before {
  content: "\eb0f";
}
.o-hm-smart-hrm-0-days:before {
  content: "\eb10";
}
.o-hm-smart-hrm-0-hours:before {
  content: "\eb11";
}
.o-hm-smart-hrm-add:before {
  content: "\eb12";
}
.o-hm-smart-hrm-answers:before {
  content: "\eb13";
}
.o-hm-smart-hrm-application:before {
  content: "\eb14";
}
.o-hm-smart-hrm-attendees:before {
  content: "\eb15";
}
.o-hm-smart-hrm-attendence:before {
  content: "\eb16";
}
