@font-face {
    font-family: 'hrm-dashboard-font';
    src: url('/equip3_hashmicro_ui/static/src/fonts/hrm-dashboard-font-v1-0/fonts/hrm-dashboard-font.eot?omgruy');
    src: url('/equip3_hashmicro_ui/static/src/fonts/hrm-dashboard-font-v1-0/fonts/hrm-dashboard-font.eot?omgruy#iefix') format('embedded-opentype'),
        url('/equip3_hashmicro_ui/static/src/fonts/hrm-dashboard-font-v1-0/fonts/hrm-dashboard-font.ttf?omgruy') format('truetype'),
        url('/equip3_hashmicro_ui/static/src/fonts/hrm-dashboard-font-v1-0/fonts/hrm-dashboard-font.woff?omgruy') format('woff'),
        url('/equip3_hashmicro_ui/static/src/fonts/hrm-dashboard-font-v1-0/fonts/hrm-dashboard-font.svg?omgruy#hrm-dashboard-font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.o-hm-sidebar-recruiter-dashboard:before {
    font-family: 'hrm-dashboard-font' !important;
    content: "\e901";
    font-size: 16px !important;
    margin-left: 5px;
    display: flex;
}

.o-hm-sidebar-director-dashboard:before {
    font-family: 'hrm-dashboard-font' !important;
    content: "\e902";
    font-size: 16px !important;
    margin-left: 5px;
    display: flex;
}

.o-hm-sidebar-hr-dashboard:before {
    font-family: 'hrm-dashboard-font' !important;
    content: "\e900";
    font-size: 16px !important;
    margin-left: 5px;
    display: flex;
}