@font-face {
    font-family: 'fontquip';
    src:  url('/equip3_hashmicro_ui/static/src/fontquip/fontquip.eot?w8jzhd');
    src:  url('/equip3_hashmicro_ui/static/src/fontquip/fontquip.eot?w8jzhd#iefix') format('embedded-opentype'),
      url('/equip3_hashmicro_ui/static/src/fontquip/fontquip.ttf?w8jzhd') format('truetype'),
      url('/equip3_hashmicro_ui/static/src/fontquip/fontquip.woff?w8jzhd') format('woff'),
      url('/equip3_hashmicro_ui/static/src/fontquip/fontquip.svg?w8jzhd#fontquip') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="o_equip_"], [class*=" o_equip_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fontquip' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .o_equip_mail_activity:before {
    content: "\e903";
  }
  .o_equip_view_activity:before {
    content: "\e905";
  }
  .o_equip_cp_favorite:before {
    content: "\e900";
  }
  .o_equip_cp_filter:before {
    content: "\e901";
  }
  .o_equip_cp_groupby:before {
    content: "\e902";
  }
  .o_equip_mail_message:before {
    content: "\e904";
  }
  .o_equip_view_calendar:before {
    content: "\e906";
  }
  .o_equip_view_graph:before {
    content: "\e907";
  }
  .o_equip_view_kanban:before {
    content: "\e908";
  }
  .o_equip_view_list:before {
    content: "\e909";
  }
  .o_equip_view_pivot:before {
    content: "\e90a";
  }
  