table.o_group.o_inner_group.member_card_group > tbody > tr:nth-child(2) > td.o_td_label {
    vertical-align: top !important;
}

.o_form_view .o_field_integer[name="count_product_redeem"][data_field_integer_value]:not([data_field_integer_value="0"]) ~ 
    [name="product_redeem_ids"] .o_field_x2many_list_row_add > a[role="button"]{
    display: none !important;
}


.o_form_view .field_member_card{
    border-radius: 7px !important;
    overflow: hidden;
}
.o_form_view .field_member_card .o_row_file, 
.o_form_view .field_member_card .o_row_radio {
    padding-top: 14px;
    background: #ededf1;
    padding-left: 10px;
    padding-right: 10px;
}
.o_form_view .field_member_card .o_row_radio .o_field_radio {
    flex-flow: nowrap !important;
}
.o_form_view .field_member_card .o_row_radio .o_field_radio .o_radio_item {
    flex: 0 0 25%;
}
.o_form_view .field_member_card .o_row_file .o_field_binary_file .o_select_file_button {
    font-size: 0;
}
.o_form_view .field_member_card .o_row_file .o_field_binary_file .o_select_file_button:before {
    content: "Upload Image";
    font-size: 1.08333333rem;
    display: inline-block;
    padding: 0 2px;
}
.o_form_view .field_member_card .o_row_file .o_field_binary_file[name="card_template_barcode"] .o_select_file_button:before {
    content: "Upload Image for Barcode";
}
.o_form_view .field_member_card .o_row_file .o_field_binary_file[name="card_template_qrcode"] .o_select_file_button:before {
    content: "Upload Image for QR";
}

.o_form_view .field_member_card .o_row_preview .member_card_preview .o_field_radio {
    flex-flow: nowrap !important;
}
.o_form_view .field_member_card .o_row_preview .member_card_preview .o_field_radio .o_radio_item {
    flex: 0 0 25%;
}
.o_form_view .field_member_card .o_row_preview .member_card_preview .preview_card_img {
    margin-top: 7px;
    height: 220px;
    width: 350px;
    overflow: hidden;
}
.o_form_view .field_member_card .o_row_preview .member_card_preview .preview_card_img[data-type="barcode"] .member-card-barcode,
.o_form_view .field_member_card .o_row_preview .member_card_preview .preview_card_img[data-type="qrcode"] .member-card-qrcode {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5); 

    -webkit-transform-origin: top left;
    -ms-transform-origin: top left; 
    transform-origin: top left;
}