.pos .popups .select2-container .select2-choice {
    height: 44px;
    border-radius: 0;
}
.pos .popups .select2-container .select2-choice .select2-arrow b {
    background: url('/web/static/lib/select2/select2.png') no-repeat 0 7px;
}
.pos .popups .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 7px;
}
.pos .popups .select2-container {
    width: 100%;
}
.pos .popups .select2-container .select2-choice > .select2-chosen {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
.pos .popups .select2-container-active .select2-choice {
    border: 1px solid #aaa;
    box-shadow: none;
}

.pos .member-deposit-popups .popup {
    padding: 30px;
    max-width: 550px !important;
}
.pos .member-deposit-popups .popup > .title {
    background: #fff;
    border: none;
    text-align: left;
    padding: 0 0 10px 0;
}

.pos .member-deposit-popups .member-deposit-form {
    min-height: 300px;
}
.pos .member-deposit-popups .member-deposit-form .input-group {
    margin-bottom: 15px;
}
.pos .member-deposit-popups .member-deposit-form .input-group > label {
    text-align: left;
    display: block;
    font-size: 16px;
    padding-bottom: 2px;
}
.pos .member-deposit-popups .member-deposit-form .form-control {
    text-align: left;
    display: inline-block;
    background: white;
    min-height: 44px;
    color: #444;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(220 220 220) inset;
    box-sizing: border-box;
}

.pos .member-deposit-popups .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 25px;
    border: 0;
}
.pos .member-deposit-popups .footer .button {
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
    color: #008F8B;
    background: #fff;
    border: 2px solid #008F8B;
    border-radius: 10px;
}
.pos .member-deposit-popups .footer .button:hover,
.pos .member-deposit-popups .footer .button:focus{
    color: #008F8B !important;
    background: #fff !important;
}
.pos .member-deposit-popups .footer .button.confirm {
    background: #008F8B !important;
    color: #ffffff !important;
}
.pos .member-deposit-popups .footer .button.confirm:hover,
.pos .member-deposit-popups .footer .button.confirm:focus{
    color: #008F8B;
    background: #fff;
}



.pos .popups .select2-container .select2-choice {
    height: 44px;
    border-radius: 0;
}
.pos .popups .select2-container .select2-choice .select2-arrow b {
    background: url('/web/static/lib/select2/select2.png') no-repeat 0 7px;
}
.pos .popups .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 7px;
}
.pos .popups .select2-container {
    width: 100%;
}
.pos .popups .select2-container .select2-choice > .select2-chosen {
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
}
.pos .popups .select2-container-active .select2-choice {
    border: 1px solid #aaa;
    box-shadow: none;
}

.pos .member-deposit-add-popups .popup {
    padding: 30px;
    max-width: 550px !important;
}
.pos .member-deposit-add-popups .popup > .title {
    background: #fff;
    border: none;
    text-align: left;
    padding: 0 0 10px 0;
}

.pos .member-deposit-add-popups .member-deposit-form {
    min-height: 300px;
}
.pos .member-deposit-add-popups .member-deposit-form .input-group {
    margin-bottom: 15px;
}
.pos .member-deposit-add-popups .member-deposit-form .input-group > label {
    text-align: left;
    display: block;
    font-size: 16px;
    padding-bottom: 2px;
}
.pos .member-deposit-add-popups .member-deposit-form .form-control {
    text-align: left;
    display: inline-block;
    background: white;
    min-height: 44px;
    color: #444;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(220 220 220) inset;
    box-sizing: border-box;
}

.pos .member-deposit-add-popups .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 25px;
    border: 0;
}
.pos .member-deposit-add-popups .footer .button {
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
    color: #008F8B;
    background: #fff;
    border: 2px solid #008F8B;
    border-radius: 10px;
}
.pos .member-deposit-add-popups .footer .button:hover,
.pos .member-deposit-add-popups .footer .button:focus{
    color: #008F8B !important;
    background: #fff !important;
}
.pos .member-deposit-add-popups .footer .button.confirm {
    background: #008F8B !important;
    color: #ffffff !important;
}
.pos .member-deposit-add-popups .footer .button.confirm:hover,
.pos .member-deposit-add-popups .footer .button.confirm:focus{
    color: #008F8B;
    background: #fff;
}



.pos .member-deposit-list .client-details-left {
    width: 45%;
    float: left;
    padding: 20px;
}
.pos .member-deposit-list .client-detail > .label {
    text-align: left;
    margin-left: 12px;
    vertical-align: middle;
}
.pos .member-deposit-list .client-details input, 
.pos .member-deposit-list .client-details select {
    margin-left: 12px;
    border: 1px solid #eee !important;
    font-weight: 400;
    color: black;
    padding: 10px;
    height: 40px;
    font-family: inherit;
    border-radius: 3px;
    margin-bottom: 4px;
    width: 340px;
    vertical-align: middle;
}

.pos .member-deposit-list .select2-container {
    margin-left: 12px;
    border: 1px solid #eee;
    font-weight: 400;
    color: black;
    height: 40px;
    font-family: inherit;
    border-radius: 3px;
    margin-bottom: 4px;
    width: 340px !important;
    padding: 0;
}
.pos .member-deposit-list .select2-container .select2-choice {
    height: 100%;
    border-radius: 0;
    width: 100%;
}
.pos .member-deposit-list .select2-container .select2-choice .select2-arrow b {
    background: url('/web/static/lib/select2/select2.png') no-repeat 0 7px;
}
.pos .member-deposit-list .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 7px;
}
.pos .member-deposit-list .select2-container {
    width: 100%;
}
.pos .member-deposit-list .select2-container .select2-choice > .select2-chosen {
    margin-top: 6px;
    font-size: 13px;
    font-weight: normal;
    text-align: right;
}
.pos .member-deposit-list .select2-container-active .select2-choice {
    border: 1px solid #aaa;
    box-shadow: none;
}
.pos .member-deposit-list .client-details input[readonly] {
    border: none !important;
}





.pos .member-deposit-payment-popups .popup {
    padding: 30px;
    max-width: 365px !important;
}
.pos .member-deposit-payment-popups .popup > .title {
    background: #fff;
    border: none;
    text-align: left;
    padding: 0 0 10px 0;
}

.pos .member-deposit-payment-popups .member-deposit-form {
    min-height: 300px;
}
.pos .member-deposit-payment-popups .member-deposit-form .input-group {
    margin-bottom: 7px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
.pos .member-deposit-payment-popups .member-deposit-form .input-group > label {
    flex: 0 0 121px;
    text-align: left;
    display: block;
    font-size: 16px;
    padding-bottom: 2px;
}
.pos .member-deposit-payment-popups .member-deposit-form .form-control {
    flex: 1;
    text-align: left;
    display: inline-block;
    background: white;
    min-height: 44px;
    color: #444;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(220 220 220) inset;
    box-sizing: border-box;
}
.pos .member-deposit-payment-popups .member-deposit-form .input-amount {
    padding: 15px 0;
}
.pos .member-deposit-payment-popups .member-deposit-form .input-amount > input {
    background: #f0f0f0 !important;
    color: #000 !important;
    font-weight: bold;
    text-align: center !important;
    font-size: 25px !important;
}

.pos .member-deposit-payment-popups .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 25px;
    border: 0;
}
.pos .member-deposit-payment-popups .footer .button {
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
    color: #008F8B;
    background: #fff;
    border: 2px solid #008F8B;
    border-radius: 10px;
}
.pos .member-deposit-payment-popups .footer .button:hover,
.pos .member-deposit-payment-popups .footer .button:focus{
    color: #008F8B !important;
    background: #fff !important;
}
.pos .member-deposit-payment-popups .footer .button.confirm {
    background: #008F8B !important;
    color: #ffffff !important;
}
.pos .member-deposit-payment-popups .footer .button.confirm:hover,
.pos .member-deposit-payment-popups .footer .button.confirm:focus{
    color: #008F8B;
    background: #fff;
}
.pos .member-deposit-payment-popups .popup-numpad {
    padding-bottom: 30px;
    padding-top: 7px;
}
.pos .member-deposit-payment-popups .popup-numpad .input-button, 
.pos .member-deposit-payment-popups .popup-numpad .mode-button {
    width: 80px;
    height: 70px;
    font-weight: bold;
}

/*hide payment method is_deposit_payment=true*/
.pos .r-left-content .paymentmethods .mode-button[payment-deposit] {
    display: none;
}

.pos .clientlist-screen .client-picture {
    border: 1px solid #c5c5c5 !important;
    height: 150px !important;
    width: 150px !important;
    border-radius: 80px !important;
    cursor: pointer;
}

.pos .clientlist-screen .client-picture .fa {
    line-height: 147px !important;
    font-size: 74px !important;
}
.pos .clientlist-screen .client-picture .image-uploader {
    height: 150px !important;
    width: 150px !important;
}

.pos .clientlist-screen .client-picture img{
    width: 135px !important;
    height: 153px !important;
    max-width: unset;
    max-height: unset;
}

.pos .clientlist-screen .client-details-box  input {
    text-align: left !important;
}
.pos .clientlist-screen .client-details-box  select {
    text-align: left !important;
}

.popup_edit_client select{
    border-radius: unset !important;
}
.pos #member_client_list_view .summary-table .header td {
    background: #bd1f2e !important;
/*    border-radius: unset !important;*/
        color: white;
}
.pos #member_client_list_view .top-content div.button {
    border: solid 1px rgb(189 31 46) !important;
    color: black !important;
    background: white !important;
    font-weight: bolder;
}
#member_client_list_view .top-content {
    background: white;
    width: unset !important;
}

#member_client_list_view .searchbox-client input {
    border: solid 1px #cecccc !important;
    border-radius: 8px;
    text-align: left;
}
#member_client_list_view table i {
    color: #bd1f2e !important;
}
#member_client_list_view .summary-table tr:nth-of-type(odd) {
    background: #f5f5f5;
}
#member_client_list_view .summary-table tr.tr_child_line {
    border: unset !important;
}
#member_client_list_view .summary-table tr.tr_child_line:hover {
    border: solid 1px #bd1f2e !important;
}
#member_client_list_view_popup .title,#member_popup_point .title,#member_popup_point .button.confirm,#member_popup_point .numpad-backspace{
    background: #bd1f2e !important;
    color: white !important;

}
#member_client_list_view_popup i:hover,#member_client_list_view_popup span:hover,#member_client_list_view_popup .selection-item:hover,#member_client_list_view_popup .button.cancel:hover  {
    background: #bd1f2e !important;
}
#member_client_list_view_popup   .footer {
    padding: unset;
    border-color: #d0d0d0;
}
#member_client_list_view_popup  .selection{
    padding: 15px 0;
}
#member_popup_point .numpad-backspace img{
     -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
    width: 40px;
    height: 43px;
}
#member_popup_point  .mode-button {
    font-size: 22px !important;
}
#member_client_list_view .client-details.edit input {
    background: #eeeeee;
}
.pos #member_client_list_view .button.new-customer.new-member {
    color: white !important;
    background: #bd1f2e !important;
}
.pos #member_client_list_view .searchbox-client input:focus {
    box-shadow: unset !important;
    color: black !important;
}

#member_client_list_view .fa-search{
    position: relative;
    left: 26px;
}
.pos #member_client_list_view  div.button.btn_clear{
    position: relative;
    right: 59px;
    top: -1px;
    padding: 0 11px;
    display: inline-flex;
    color: #bd1f2e !important;
    line-height: 22px;
    font-size: 11px;
    margin: unset;
    font-weight: bold;
}
.pos #member_client_list_view .searchbox-client input {
        width: 280px;
}
 .pos #member_client_list_view .top-content div.button.save{
    background: rgb(189 31 46) !important;
    color: white !important;
}

.reserve-table-popup .select2-container.rsv-form-control {
    box-shadow: unset !important;
    margin-bottom: 15px;
}

.reserve-table-popup .select2-choice.has_error {
    box-shadow: 0px 0px 0px 3px #f51b0b;
}