.loyalty-points{
    margin-left: 20px;
    float: left;
    padding: 10px;
    max-width: 216px;
    text-align: left !important;
    color: black !important;
    background: rgb(206 222 214);
    border-radius: 3px;
}
.pos .order .summary .loyalty-points.negative{
    color: #C86E6E;
    background: rgba(200, 110, 110, 0.17);
}
.loyalty .subtitle{
    text-align: center;
}

.loyalty .title {
    font-size: 1vw;
    text-align: left;
}
.pos .loyalty-points-title {
    font-weight: 400;
}

.loyalty-points {
    margin-left: 20px;
    float: left;
    padding: 6px;
    max-width: 216px;
    text-align: left !important;
    color: black !important;
}
.pos .order .summary .loyalty-points-total {
    text-align: left !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    font-weight: 400;
}


.loyalty-points{
    margin-left: 20px;
    float: left;
    padding: 6px;
    max-width: 216px;
    text-align: left !important;
    color: black !important;
}
.pos .order .summary .loyalty-points.negative{
    color: #e04040;
    background: white;
}
.pos .order .summary .loyalty-points-total {
    text-align: left !important;
    padding-top: 0px !important;
    margin-top: 0px !important;
    font-weight: 400;
}
.loyalty .subtitle{
    text-align: center;
}
.loyalty .title {
    font-size: 1vw;
    text-align: left;
}
.pos .summary .loyalty-points-total, .loyalty-points-title{
    /*border: 1px solid #e8e8e8;*/
    padding: 5px;
}
.pos .loyalty-border{
    display: flex;
}


table.loyalty-points{
    max-width: 100%;
    width: 100% !important;
    background: transparent;
    display: block;
    border-radius: 0px;
    margin: 0 auto !important;
    float: none;
    font-size: 1vw;
    font-family: 'Lato-Reg';
    /*box-shadow: 4px 4px 20px 10px #dcdbdb;*/
}
table.loyalty-points tr{
    display: block;
    border-bottom: 1px solid #000;
}
table.loyalty-points tr:not(:last-child){
    border-bottom: 1px solid #000;
}
table .loyalty-points-title{
    border: none;
    border-right: 1px solid #000;
    padding: 0.1vw !important;
    text-align: left;
    width: 100%;
    display: inline-block;
    max-width: 55%;
}
table .loyalty-points-total{
    width: auto;
    padding: 0px 10px;
    display: inline-block;
    text-align: left;
}

/*div.loyalty-points{
    max-width: 100%;
    width: 50% !important;
    background: transparent;
    display: block;
    border-radius: 12px;
    margin: 0 auto !important;
    float: none;
    box-shadow: 4px 4px 20px 10px #dcdbdb;
}
div.loyalty-points tr{
    border-bottom: 1px solid #000;
}
div .loyalty-points-title{
    border-right: 1px solid #000;
}*/

.loyalty-points-title,.pos .order .summary .loyalty-points-total{
    padding: 0.5vw !important;
    text-align: center;
    width: 40%;
    display: inline-block;
    /*border-radius: 50px;*/
}
.loyalty-points {
    margin: 5px !important;
    width: 25% !important;
    /* width: 25% !important; */
    text-align: left !important;
    /* border-collapse: collapse;
    display: table; */
}
.pos .order .summary .loyalty-points-total {
    text-align: right;
}
.pos .loyalty-points-title {
    font-weight: bold;
}
.pos .order .summary .loyalty-points-total {
    padding-top: 0px !important;
    margin-top: 0px !important;
    font-weight: 400;
}
.pos .redeem_product_and_reward {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pos .redeem_product_and_reward .control-button {
    height: auto;
    min-height: 50px;
    line-height: 50px;
    flex: 0 0 108px;

    font-family: 'Lato-Reg';
    font-weight: bold;
    font-size: 13px !important;
    color: #555555;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 10px;
    border: 1px solid #d1d1d1;
    padding: 0px 3px;
}
.pos .redeem_product_and_reward .control-button  span {
    font-weight: bold;
    padding: 0;
    margin: 0;
    height: auto;
}
.pos .redeem_product_and_reward .control-button:hover,
.pos .redeem_product_and_reward .control-button:focus{
    color: #fff !important;
    background: #008F8B !important;
    border: #fff 1px solid !important;
    transition: ease-out all 0.3s !important;
}

.pos .recharge-point-popup .popup-numpad .input-button,
.pos .recharge-point-popup .popup-numpad .mode-button {
    width: 20%;
}
.pos .recharge-point-popup .popup-subtitle {
    font-size: 15px;
    line-height: 1.4;
    padding: 10px 10px;
    text-align: left;
}