.pos .modal-dialog .popup {
    max-width: 900px;
}
.pos .order-online-list .button {
    padding: 10px 18px;
}
.pos .order-online-list .button.btn-accept-online-order {
    margin-right: 5px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.pos .order-online-list .button.btn-accept-online-order:hover{
    color: #155724 !important;
    background-color: #d4edda !important;
}

.pos .order-online-list .button.btn-reject-online-order {
    color: black;
    background-color: #efefef;
    border-color: #d1d1d1;
}
.pos .order-online-list .button.btn-reject-online-order:hover {
    color: black !important;
    background-color: #efefef !important;
}

.pos .order-online-list .button.btn-create-online-order {
    margin-right: 5px;
    color: #fff;
    background-color: #fb7e12;
    border-color: #fb7e12;
    min-width: 155px;
}
.pos .order-online-list .button.btn-create-online-order:hover{
    color: #fff !important;
    background-color: #fb7e12 !important;
}
.pos .order-online-list .link-ready-time {
    display: inline-block;
    text-decoration: underline;
    color: #0a11ff;
    cursor: pointer;
    padding: 10px 0;
}
.pos .order-online-list td.td-amount_total .order-amount_total {
    position: relative;
    display: inline-block;
}
.pos .order-online-list td.td-amount_total .order-amount_total .order-payment_type[data-type=cash] {
    position: absolute;
    top: -25px;
    right: -47px;
    border: 1px solid #40aa3c;
    background: #40aa3c;
    color: #fff;
    padding: 2px 6px;
    border-radius: 7px;
    font-size: 12px;
    text-transform: capitalize;
}
.pos .order-online-list td.td-amount_total .order-amount_total .order-payment_type[data-type=cashless] {
    position: absolute;
    top: -25px;
    right: -47px;
    border: 1px solid #9f9f9f;
    background: #9f9f9f;
    color: #fff;
    padding: 2px 6px;
    border-radius: 7px;
    font-size: 12px;
    text-transform: capitalize;
}

.pos[data-selected-order-method="online-order"] .status-buttons .order-button.floor-button.ticket-button,
.pos[data-order-type="online-order"] .status-buttons .order-button.floor-button.ticket-button{
    display: none !important;
}

.pos[data-selected-order-method="online-order"] .take_away_and_order_button_class,
.pos[data-order-type="online-order"] .take_away_and_order_button_class {
    display: none;
}
.pos[data-selected-order-method="online-order"] .pos_new_section,
.pos[data-order-type="online-order"] .pos_new_section {
    pointer-events: none;
    cursor: default;
    position: relative;
}
.pos[data-selected-order-method="online-order"] .pos_new_section:before,
.pos[data-order-type="online-order"] .pos_new_section:before {
    content: '';
    display: block;
    position: absolute;
    background: rgb(255 255 255 / 50%);
    z-index: 444;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}

.pos[data-selected-order-method="online-order"] .product-list,
.pos[data-order-type="online-order"] .product-list {
    position: relative;
}
.pos[data-selected-order-method="online-order"] .product-list:before,
.pos[data-order-type="online-order"] .product-list:before {
    content: '';
    display: block;
    position: absolute;
    background: rgb(255 255 255 / 50%);
    z-index: 444;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}
.pos[data-selected-order-method="online-order"] .product-list .product-name,
.pos[data-order-type="online-order"] .product-list .product-name,
.pos[data-selected-order-method="online-order"] .product-list .price-tag,
.pos[data-order-type="online-order"] .product-list .price-tag {
    z-index: 1;
}

.pos[data-selected-order-method="online-order"] .product-list-scroller.touch-scrollable,
.pos[data-order-type="online-order"] .product-list-scroller.touch-scrollable {
     position: relative;
}
.pos[data-selected-order-method="online-order"] .product-list-scroller.touch-scrollable:before,
.pos[data-order-type="online-order"] .product-list-scroller.touch-scrollable:before {
    content: '';
    display: block;
    position: absolute;
    background: rgb(255 255 255 / 50%);
    z-index: 444;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: not-allowed;
}

.pos[data-selected-order-method="online-order"] .new_order_btn,
.pos[data-order-type="online-order"] .new_order_btn,
.pos[data-selected-order-method="online-order"] .order_screen_clear_cart,
.pos[data-order-type="online-order"] .order_screen_clear_cart {
    pointer-events: none;
    display: none;
}

.pos[data-selected-order-method="online-order"] .order-summary-data .tr-summary-discount,
.pos[data-order-type="online-order"] .order-summary-data .tr-summary-discount,
.pos[data-selected-order-method="online-order"] .order-summary-data .tr-summary-employee-budget,
.pos[data-order-type="online-order"] .order-summary-data .tr-summary-employee-budget,
.pos[data-selected-order-method="online-order"] .order-summary-data .tr-summary-exchange-amount,
.pos[data-order-type="online-order"] .order-summary-data .tr-summary-exchange-amount,
.pos[data-selected-order-method="online-order"] .order-summary-data .tr-summary-before-taxes,
.pos[data-order-type="online-order"] .order-summary-data .tr-summary-before-taxes,
.pos[data-selected-order-method="online-order"] .order-summary-data .tr-summary-set-taxes,
.pos[data-order-type="online-order"] .order-summary-data .tr-summary-set-taxes{
    display: none;
}
.pos[data-selected-order-method="online-order"] .summary-table tr.orderline .line-icon,
.pos[data-order-type="online-order"] .summary-table tr.orderline .line-icon {
    display: none;
}

.pos[data-selected-order-method="online-order"]  .top-content .button.next,
.pos[data-order-type="online-order"]  .top-content .button.next,
.pos[data-selected-order-method="online-order"]  .top-content .button.button-next-takeaway,
.pos[data-order-type="online-order"]  .top-content .button.button-next-takeaway{
    display: none;
}
.pos[data-selected-order-method="online-order"] .button.button-next-online-order,
.pos[data-order-type="online-order"] .button.button-next-online-order {
    display: block !important;
    min-width: 250px;
    margin-right: 20px;
}
.pos[data-order-type="online-order"] .display-list-features-button > .pos-button-list {
    display: none !important;
}
.pos[data-order-type="online-order"] .back-to-home.hm_button_show {
    display: none !important;
}

.pos .pos-dropdown {
    border: solid 1px rgb(209, 209, 209);
    background: white;
    color: #000;
    height: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
    padding-right: 40px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 150px;
    font-size: 18px;
    margin-left: 60px;
    cursor: pointer;
}
.pos .pos-dropdown.radius-right {
    border-radius: 30px;
}
.pos .pos-dropdown .down-icon {
    position: absolute;
    right: 13px;
    top: 14px;
    font-size: 16px;
}
.pos .pos-dropdown .down-selected {
    font-weight: bold;
}
.pos .pos-dropdown ul.options {
    display: block;
    min-width: 220px;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 1;
    box-shadow: 1px 1px 5px grey;
    padding: 0.5em 0;
    background: white;
    color: black;
    max-height: 500px;
    overflow-y: auto;
}
.pos .pos-dropdown ul.options li {
    padding: 0.2em 1.2em;
    border-top: none;
    display: flex;
    justify-content: start;
    line-height: 35px;
    align-items: center;
    border-top: 1px solid #999999;
}
.pos .pos-dropdown ul.options li > .fa {
    font-size: 18px;
    padding-right: 4px;
}

.pos .change-outlet-status[data-value=open] .down-selected > .fa {
    color: green;
}
.pos .change-outlet-status[data-value=closed] .down-selected > .fa {
    color: red;
}