.o_claim_history_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="date"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="claim_for"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="claim_name"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="progressline"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="gross_amount"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="dp_deduction"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="retention_deduction"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="amount_deduction"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="paid_invoice"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="paid_bill"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="amount_untaxed"]{
                            min-width: 155px !important;
                            width: 155px !important;
                            max-width: 155px !important;
                            text-align: center;
                        }                       
                        th[data-name="tax_amount"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="amount_invoice"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="amount_bill"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="invoice_status"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="bill_status"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="payment_status"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_claim_request {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="request_for"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }       
                        th[data-name="request_id"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="partner_request_id"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="partner_id"]{
                            min-width: 250px !important;
                            width: 250px !important;
                            max-width: 250px !important;
                            text-align: center;
                        }
                        th[data-name="vendor"]{
                            min-width: 250px !important;
                            width: 250px !important;
                            max-width: 250px !important;
                            text-align: center;
                        }
                        th[data-name="created_by"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="creation_date"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="requested_progress"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="approved_progress"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                        th[data-name="state"]{
                            min-width: 230px !important;
                            width: 230px !important;
                            max-width: 230px !important;
                            text-align: center;
                        }         
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_request_line_wiz {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="work_order"]{
                            min-width: 210px !important;
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }
                        th[data-name="work_order_sub"]{
                            min-width: 210px !important;
                            width: 210px !important;
                            max-width: 210px !important;
                            text-align: center;
                        }
                        th[data-name="stage_new"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="assigned_to"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="completion_date"]{
                            min-width: 160px !important;
                            width: 160px !important;
                            max-width: 160px !important;
                            text-align: center;
                        }
                        th[data-name="stage_weightage"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="work_weightage"]{
                            min-width: 220px !important;
                            width: 220px !important;
                            max-width: 220px !important;
                            text-align: center;
                        }
                        th[data-name="work_progress"]{
                            min-width: 220px !important;
                            width: 220px !important;
                            max-width: 220px !important;
                            text-align: center;
                        }
                        th[data-name="last_progress"]{
                            min-width: 220px !important;
                            width: 220px !important;
                            max-width: 220px !important;
                            text-align: center;
                        }
                        th[data-name="progress"]{
                            min-width: 185px !important;
                            width: 185px !important;
                            max-width: 185px !important;
                            text-align: center;
                        }  
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_account_move {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="product_id"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="variable"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="account_id"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="analytic_tag_ids"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="quantity"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="product_uom_id"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="price_unit"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }
                        th[data-name="gross_amount"]{
                            min-width: 160px !important;
                            width: 160px !important;
                            max-width: 160px !important;
                            text-align: center;
                        }
                        th[data-name="progress"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }  
                        th[data-name="dp_deduction"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="retention_deduction"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="adjustment_line"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }  
                        th[data-name="discount_line"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }  
                        th[data-name="tax_ids"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="price_tax"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }  
                        th[data-name="price_subtotal"]{
                            min-width: 140px !important;
                            width: 140px !important;
                            max-width: 140px !important;
                            text-align: center;
                        }  
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_sale_approval_matrix_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sequence"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="user_name_ids"]{
                            min-width: 120px !important;
                            width: 120px !important;
                            max-width: 120px !important;
                            text-align: center;
                        }
                        th[data-name="approval_type"]{
                            min-width: 135px !important;
                            width: 135px !important;
                            max-width: 135px !important;
                            text-align: center;
                        }
                        th[data-name="minimum_approver"]{
                            min-width: 165px !important;
                            width: 165px !important;
                            max-width: 165px !important;
                            text-align: center;
                        }
                        th[data-name="state_char"]{
                            min-width: 155px !important;
                            width: 155px !important;
                            max-width: 155px !important;
                            text-align: center;
                        }
                        th[data-name="time_stamp"]{
                            min-width: 145px !important;
                            width: 145px !important;
                            max-width: 145px !important;
                            text-align: center;
                        }
                        th[data-name="signature"]{
                            min-width: 245px !important;
                            width: 245px !important;
                            max-width: 245px !important;
                            text-align: center;
                        }
                        th[data-name="feedback"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        } 
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_taxes_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 70px !important;
                            width: 70px !important;
                            max-width: 70px !important;
                            text-align: center;
                        }
                        th[data-name="tax_id"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }
                        th[data-name="amount_tax"]{
                            min-width: 250px !important;
                            width: 250px !important;
                            max-width: 250px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_milestone_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 75px !important;
                            width: 75px !important;
                            max-width: 75px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 600px !important;
                            width: 600px !important;
                            max-width: 600px !important;
                            text-align: center;
                        }
                        th[data-name="type_milestone"]{
                            min-width: 500px !important;
                            width: 500px !important;
                            max-width: 500px !important;
                            text-align: center;
                        }
                        th[data-name="claim_percentage"]{
                            min-width: 350px !important;
                            width: 350px !important;
                            max-width: 350px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_milestone_line_sale {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 75px !important;
                            width: 75px !important;
                            max-width: 75px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 400px !important;
                            width: 400px !important;
                            max-width:400px !important;
                            text-align: center;
                        }
                        th[data-name="type_milestone"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }
                        th[data-name="claim_percentage"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }
                        th[data-name="claim_date"]{
                            min-width: 300px !important;
                            width: 300px !important;
                            max-width: 300px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_milestone_line_claim {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 35px !important;
                            width: 35px !important;
                            max-width: 35px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width:200px !important;
                            text-align: center;
                        }
                        th[data-name="type_milestone"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="claim_percentage"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}