.wo_result_report_dashboard .select2-container {
	width: 100%;
    text-align: left;
}
.wo_result_report_dashboard input {
	border: 1px solid #aaa;
    border-radius: 3px;
}
.wo_result_report_dashboard table td:nth-child(1), .wo_result_report_dashboard table td:nth-child(2){
    background-color: rgb(233, 236, 239);
    font-family: Lato;
    font-size: 1.08333rem;
    font-weight: bolder;
}

.wo_result_report_dashboard table {
    border: none;
}

.wo_result_report_dashboard table td div {
 	font-family: Lato;
    font-size: 1.08333rem;
    font-weight: bolder;
 }

.wo_result_report_dashboard .o_set_width {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
}

.wo_result_report_dashboard .o_sticky_1, .wo_result_report_dashboard .o_sticky_2 {
    position: sticky;
    white-space: nowrap;
}

.wo_result_report_dashboard .o_sticky_1 {
    left: 0;
}

.wo_result_report_dashboard .o_sticky_2 {
    left: 100px;
}