.accounting_flow_action {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 0 !important;
}
.accounting_flow_action .content-header {
    flex: 0 0 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 1rem;
    font-size: 1.8rem;
}
.accounting_flow_action .content-body {
    flex: 1 1 auto;
    overflow: auto;
    padding: 30px;
}

.accounting_flow_action .content-body > .container {
    width: 100%;
    max-width: 100%;
}
 
.accounting_flow_action .accordion {
    width: 100%;
}
.accounting_flow_action .accordion .accordion-collapse.collapse:not(.show) {
    display: none;
}
.accounting_flow_action .accordion-item {
    box-shadow: 3px 3px 7px 2px #dbdbdb;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
}
.accounting_flow_action .accordion-body {
    padding: 1rem 1.25rem;
    overflow: auto;
}
.accounting_flow_action .accordion-body .accordion-content.width-node {
    position: relative;
}
.accounting_flow_action .accordion-item .accordion-button {
    outline: none;
    display: block;
    background: #fff;
    border: none;
    font-weight: bold;
    line-height: normal;
}
.accounting_flow_action .accordion-item .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 2rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.accounting_flow_action .accordion-item .accordion-button::after {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: auto;
    content: "";
    background-image: url('/equip3_accounting_reports/static/src/img/chevron-bottom.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform .2s ease-in-out;
    float: right;
}
.accounting_flow_action .accordion-item .accordion-button:not(.collapse)::after {
    background-image: url('/equip3_accounting_reports/static/src/img/chevron-bottom.svg');
    transform: rotate(-180deg);
}

.accounting_flow_action .accordion-master-data .btn-flow {
    display: inline-block;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px !important;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 1rem;
    float: left;
    min-width: 260px;
    text-align: left;
}

.accounting_flow_action .accordion-master-data .btn-flow {
    display: block;
    align-items: center;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: start;
    text-align: left;
}

.accounting_flow_action .accordion-master-data .col-button-right .btn-flow {
    float:right;
}

.accounting_flow_action .accordion-master-data .btn-flow:hover,
.accounting_flow_action .accordion-master-data .btn-flow:active{
    box-shadow: 1px 2px 5px 1px #dbdbdb;
    border-color: transparent;
}
.accounting_flow_action .accordion-master-data .btn-flow .button-img {
    display: inline-block;
    width: 75px;
    margin-left: 5px;
    flex: 0 0 32px;
}
.accounting_flow_action .accordion-master-data .btn-flow .button-img > img {
    font-size:3rem;
}
.accounting_flow_action .accordion-master-data .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
    flex: 1 1 auto;
    margin-left: 10px;
    width: 200px;
}


.accounting_flow_action .accordion-accounting-flow .accordion-content{
    width: auto;
    height: 540px;
    margin: 5px auto;
    padding: 5px;
}

.accounting_flow_action .accordion-accounting-flow .btn-flow-active {
    display: block;
    align-items: center;
    background-color: #e79a09d8;
    border-radius: 4px !important;
    box-shadow: 2px 2px 3px 1px #dbdbdb;
    padding-right: 15px;
    height: 35px; 
    position: absolute;
    z-index: 10;
    min-width: 150px;
}
.accounting_flow_action .accordion-accounting-flow .btn-flow-active:hover,
.accounting_flow_action .accordion-accounting-flow .btn-flow-active:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.accounting_flow_action .accordion-accounting-flow .btn-flow-active .button-text {
    display: inline-block;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 200px;
}


.accounting_flow_action .accordion-accounting-flow .btn-flow-deactive {
    display: block;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px !important;
    box-shadow: 2px 2px 3px 1px #dbdbdb;
    padding-right: 15px;
    height: 35px; 
    position: absolute;
    z-index: 10;
    min-width: 150px;
}
.accounting_flow_action .accordion-accounting-flow .btn-flow-deactive:hover,
.accounting_flow_action .accordion-accounting-flow .btn-flow-deactive:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.accounting_flow_action .accordion-accounting-flow .btn-flow-deactive .button-text {
    display: inline-block;
    font-weight: bold;
    color: #252121;
    text-align: center;
    width: 200px;
}



.accounting_flow_action .accordion-accounting-flow .btn-flow {
    display: block;
    align-items: center;
    background-color: #f3fcfe;
    border-left: 3px solid #1b6278;
    border-radius: 4px !important;
    box-shadow: 2px 2px 3px 1px #dbdbdb;
    padding-right: 10px;
    height: 50px; 
    position: absolute;
    z-index: 10;
    min-width: 150px;
}

.accounting_flow_action .accordion-accounting-flow .btn-flow {
    display: block;
    align-items: center;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: start;
    text-align: left;
}
.accounting_flow_action .accordion-accounting-flow .btn-flow:hover,
.accounting_flow_action .accordion-accounting-flow .btn-flow:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.accounting_flow_action .accordion-accounting-flow .btn-flow .button-img {
    display: inline-block;
    width: 75px;
}
.accounting_flow_action .accordion-accounting-flow .btn-flow .button-img > img {
    font-size:3rem;
    line-height: 100%;
}
.accounting_flow_action .accordion-accounting-flow .btn-flow .button-text {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    color: #808080;
    line-height: 100%;
    width: 200px;
}
.accounting_flow_action .accordion-accounting-flow .accordion-content .nd_connector{
    position: absolute;
}
.accounting_flow_action .accordion-accounting-flow .accordion-content .nd_connector .nd_connector_line {
    width: 100%;
    height: 2px;
    background: #272124;
}
.accounting_flow_action .accordion-accounting-flow .accordion-content .nd_connector .nd_connector_arrow_right {
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
    right: 7px;
    top: -5px;
    left: 2px;
    left: auto;
}
.accounting_flow_action .accordion-accounting-flow .accordion-content .nd_connector .nd_connector_line_end_right,
.accounting_flow_action .accordion-accounting-flow .accordion-content .nd_connector .nd_connector_line_end_left {
    position: absolute;
    background: #272124;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    left: -5px;
    top: -4px;
}
.accounting_flow_action .accordion-accounting-flow .accordion-content .nd_connector .nd_connector_line_end_right{
    right: -5px;
    left: auto;
    top: -4px;
}


.accounting_flow_action .accordion-reporting .btn-flow {
    display: inline-block;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px !important;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 1rem;
    float: left;
    min-width: 260px;
}
.accounting_flow_action .accordion-reporting .col-button-right .btn-flow {
    float:right;
}

.accounting_flow_action .accordion-reporting .btn-flow:hover,
.accounting_flow_action .accordion-reporting .btn-flow:active{
    box-shadow: 1px 2px 5px 1px #dbdbdb;
    border-color: transparent;
}
.accounting_flow_action .accordion-reporting .btn-flow .button-img {
    display: inline-block;
    width: 75px;
}
.accounting_flow_action .accordion-reporting .btn-flow .button-img > img {
    font-size:3rem;
}
.accounting_flow_action .accordion-reporting .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
    margin-left: 10px;
    width: 200px;
}


/*.purchase_flow_action .accordion-reporting .accordion-content{
    width: 830px;
    height: 240px;
    margin: 30px auto;
    padding: 30px;
}*/
.accounting_flow_action .accordion-reporting .btn-flow {
    display: block;
    align-items: center;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: start;
    text-align: left;
}

.accounting_flow_action .accordion-reporting .btn-flow:hover,
.accounting_flow_action .accordion-reporting .btn-flow:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.accounting_flow_action .accordion-reporting .btn-flow .button-img {
    display: inline-block;
    width: 75px;
    flex: 0 0 32px;
}
.accounting_flow_action .accordion-reporting .btn-flow .button-img > img {
    font-size:3rem;
}
.accounting_flow_action .accordion-reporting .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
    flex: 1 1 auto;
    margin-left: 10px;
    width: 200px;
}

.accounting_flow_action .accordion-reporting .nd_c{
    position: absolute;
}
.accounting_flow_action .accordion-reporting .nd_c .nd_c_line {
    width: 100%;
    height: 2px;
    background: #272124;
}
.accounting_flow_action .accordion-reporting .nd_c .nd_c_arrow {
    display: block;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
}
.accounting_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom {
    position: absolute;
    top: 19px;
    right: -19px;
    display: block;
    width: 40px;
    height: 2px;
    background: #272124;
    transform: rotate(90deg);
}
.accounting_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom .nd_c_arrow {
    display: block;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
    position: absolute;
    left: 25px;
    top: -5.5px;
}
.accounting_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom[data-id="003"] .nd_c_line_1 {
    width: 38px;
    height: 2px;
    background: #272124;
    position: absolute;
    left: -28px;
}