<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data noupdate="0">
    <!-- Marketplace / Marketplace Data / Tokopedia -->
<!--    <menuitem id="izi_tokopedia.menu_separator_mp_data_tokopedia" name="Tokopedia"-->
<!--              parent="izi_marketplace.menu_separator_mp_data" sequence="10"/>-->
    <menuitem id="izi_tokopedia.menu_separator_mp_data_tokopedia" name="Tokopedia"
          parent="izi_marketplace.menu_root_marketplace" sequence="10"/>

    <!-- Marketplace / Marketplace Data / Tokopedia / Shop -->
    <menuitem id="izi_tokopedia.menu_item_tp_shop" name="Shop" parent="izi_tokopedia.menu_separator_mp_data_tokopedia"
              action="izi_tokopedia.action_window_tp_shop" sequence="10"/>

    <!-- Marketplace / Marketplace Data / Tokopedia / Logistic -->
    <menuitem id="izi_tokopedia.menu_item_tp_logistic" name="Logistic"
              parent="izi_tokopedia.menu_separator_mp_data_tokopedia" action="izi_tokopedia.action_window_tp_logistic"
              sequence="20"/>

    <!-- Marketplace / Marketplace Data / Tokopedia / Promotion -->
    <menuitem id="izi_tokopedia.menu_item_tp_promotion" name="Promotion"
              parent="izi_tokopedia.menu_separator_mp_data_tokopedia" action="izi_tokopedia.action_window_tp_promotion"
              sequence="30"/>
    
    <!-- Marketplace / Marketplace Data / Shopee / Webhook Order -->
    <menuitem id="izi_tokopedia.menu_item_tp_webhook_order" name="Webhook Order" 
              parent="izi_tokopedia.menu_separator_mp_data_tokopedia" action="izi_tokopedia.action_window_tp_webhook_order" sequence="40"/>

    <menuitem id="izi_tokopedia.menu_item_mp_stock" name="Stock"
			parent="izi_tokopedia.menu_separator_mp_data_tokopedia" action="izi_tokopedia.action_window_mp_stock" sequence="41" />
    <menuitem id="izi_tokopedia.menu_item_tp_category" name="Product Category"
        parent="izi_tokopedia.menu_separator_mp_data_tokopedia" action="izi_tokopedia.action_window_tp_category" sequence="42" />
  </data>
</odoo>