<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="crm_meeting_overview_group" model="res.groups">
        <field name="name">Meeting Calendar Overview</field>
        <field name="category_id" ref="equip3_sale_accessright_setting.module_category_sales"/>
    </record>
    <menuitem
            id="crm_meeting_overview_main_menu"
            name="Meeting Overview"
            parent="crm.crm_menu_root"
            groups="crm_meeting_overview_group"
            sequence="15"/>

    <record id="equip3_crm_meeting_overview.crm_meeting_overview_main_menu" model="ir.ui.menu">
        <field name="equip_icon_class"> o-hm-sidebar-parent-crm-meeting-overview</field>
    </record>

    <menuitem
            id="crm_meeting_calendar_overview_menu"
            name="Meeting Calendar Overview"
            parent="crm_meeting_overview_main_menu"
            action="crm_meeting_overview_action_new"
            groups="crm_meeting_overview_group"
            sequence="8"/>
</odoo>