.reserve-order-back{
	padding: 1rem 2rem !important;
}
.reservation-screen .wrapper{
	/*overflow: auto;*/
	max-height: 35rem;
	height: 100%;
	margin-top: 1vw;
}

.reservation-screen .reservation-screen-searchbar{
	width: 50%;
	display: inline-block;
	margin-left: 25rem;
}
.reservation-screen .reservation-screen-searchbar .reservation-search{
	width: 90%;
	display: inline-block;
}
.reservation-screen .reservation-screen-searchbar button{
	display: inline-block;
	padding: 12px 15px;
	margin-left: 10px;
}

table.reservation-list-table{
	max-height: 480px;
	height: 100%;
	overflow-y: scroll !important;
}

.reservation-screen .reservation-list-table td, .reservation-list-table-header td{
	text-align: center;
	padding: 15px;
	border: 1px solid;
	vertical-align: middle;
}

.reservation-screen h1 {
	text-align: center;
	color: #4181ee;
}

.reservation-screen .order-details {
	margin: 1rem auto;
}

.reservation-screen .right-text {
	margin-left: 2rem;
}
.reservation-screen .card-title {
	text-align: center;
	margin: 0 !important;
}
.reservation-screen .arrive-btn {
	text-align: center;
}
.reservation-screen .arrive-btn .btn{
	padding: 10px 20px;
	font-weight: bolder;
}

.reservation-screen .wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;
}

.reservation-screen .card {
	max-width: 400px;
	padding: 30px;
	box-sizing: border-box;
	margin: 20px;
	box-shadow: 0px 2px 18px -4px rgba(0, 0, 0, 0.75);
}

.reservation-screen .card-title {
	margin-top: 0;
	font-size: 16px;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.reservation-screen .card-content {
	font-size: 14px;
	letter-spacing: 0.5px;
	line-height: 1.5;
}

.reservation-screen .card-btn {
	all: unset;
	display: block;
	margin-left: auto;
	border: 2px solid #FFF;
	padding: 10px 15px;
	border-radius: 25px;
	font-size: 10px;
	font-weight: 600;
	transition: all 0.5s;
	cursor: pointer;
	letter-spacing: 1.2px;
}

.reservation-screen .card-btn:hover {
	color: #02b875;
	background: #FFF;
}

.reservation-screen .card:nth-child(2) .card-btn:hover {
	color: #4181ee;
	background: #FFF;
}

.reservation-screen .card:last-child .card-btn:hover {
	color: #673ab7;
	background: #FFF;
}