.center {
  margin-left: auto;
  margin-right: auto;
}

.trcustom:nth-child(even) {
  background-color: #f2f2f2;
}

.grow-wrap {
  /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
  display: grid;
}
.grow-wrap::after {
  /* Note the weird space! Needed to preventy jumpy behavior */
  content: attr(data-replicated-value) " ";

  /* This is how textarea text behaves */
  white-space: pre-wrap;

  /* Hidden from view, clicks, and screen readers */
  visibility: hidden;
}
.grow-wrap > textarea {
  /* You could leave this, but after a user resizes, then it ruins the auto sizing */
  resize: none;

  /* Firefox shows scrollbar on growth, you can hide like this. */
  overflow: hidden;
}
.grow-wrap > textarea,
.grow-wrap::after {
  /* Identical styling required!! */
  border: 0px;
  padding: 0.5rem;
  font: inherit;

  /* Place on top of each other */
  grid-area: 1 / 1 / 2 / 2;
}

.filter_view_dfr {
    display: block;
    overflow: auto;
    height: 30vh;
}

.btn-budget-off:after {
    content: '🗙 Budget OFF';
}
.btn-budget-off:hover {
    background-color: #19a119 !important;
}
.btn-budget-off:hover:after {
    content: '✔ Budget ON';
}
.btn-budget-on:after {
    content: '✔ Budget ON';
}
.btn-budget-on:hover {
    background-color: #e53030 !important;
}
.btn-budget-on:hover:after {
    content: '🗙 Budget OFF';
}

i.fa.fa-caret-down, .show-gl {
    cursor: pointer;
}


/*td.table_detail_row {
    min-width: 200px !important;
}*/
th.table_detail_row {
    min-width: 200px !important;
}

td.table_header_row {
    min-width: 400px !important;
}
th.table_header_row {
    min-width: 400px !important;
}


tbody tr.gl-line td.table_header_row{
    min-width: 400px !important;
    width: 15% !important;
}

tbody tr.gl-line th.table_header_row{
    min-width: 400px !important;
    width: 15% !important
}


tbody tr.gl-line td.table_detail_row{
    min-width: 200px !important;
}

/*.table_row_many_mode{
    width: 27.5% !important;
}*/

/*.table_row_one_mode{
    width: 41% !important;
}*/

tbody tr.gl-line th.table_detail_row{
    min-width: 200px !important;
}

@media screen and (max-width: 1440px) {
    /*.table_row_many_mode{
        width: 21.5% !important;
    }*/
    /*.table_row_one_mode{
        width: 32.5% !important;
    }*/
}
@media screen and (max-width: 1920px) and (min-width: 1441px) {
    /*.table_row_many_mode{
        width: 25% !important;
    }*/
    /*.table_row_one_mode{
        width: 37.5% !important;
    }*/
}
$(".o_action_manager").css("overflow-y", "auto");
