@charset "UTF-8";

.o_acrux_chat .o_acrux_chat_content {
    max-width: 43%;
}

.o_acrux_chat .o_sidebar_right {
    width: 40%;
}

.o_acrux_group .o_form_view.o_form_editable {
    padding: 0;
}

.o_acrux_group .o_form_view.o_lead_opportunity_form .o_form_sheet > div > div.row {
    align-items: baseline;
}