.o_button_scale {
    height: 40px;
    width: 40px;
    padding: 0px;
    margin: 0px;
    border: white;
}

.o_stock_sale_action {
    width: 100%;
    text-align: center;

    .row {
        margin: 0;

        .o_button_increase, .o_button_decrease {
            span.fa {
                font-size: 50px;
                cursor: pointer;
            }
        }
    
        .o_scale {
            font-size: 100px;
        }
    }

    .o_footer_button {
        text-align: right;
    }
}