.pos .screen-login .o_hidden {
    display: none !important;
}
.pos .screen-login .btn-face-recognition {
    cursor: pointer;
}
.face_recognition_popup {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
}
.face_recognition_popup .modal-dialog {
    max-width: 610px;
    height: 600px;
    background: white;
    border-radius: 0.286rem;
    -webkit-box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
    box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%), 0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%);
}
.face_recognition_popup .title {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
}
.face_recognition_popup .result-container {
    font-size: 12px;
    line-height: 1;
}
.face_recognition_popup .title .button.cancel {
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
    z-index: 2;
    cursor: pointer;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.face_recognition_popup .title .button.cancel:hover{
    background: #e04040;
    color: white;
    cursor: pointer;
}
.face_recognition_popup .footer {
    width: 100%;
}
.face_recognition_popup .footer .button{
    float: right;
    cursor: pointer;
}
.face_recognition_popup .body {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.face_recognition_popup .o_background{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    z-index:1;
    background: rgb(45 45 45 / 65%);
}


.face_recognition_popup .live_webcam{
    background: black;
    width:600px;
    height:600px;
}

.label-face-regognition,
.label-select-employee{
   display: block;  
   padding: 5px; 
   font-size: 17px; 
}