.o_form_view.equip3_reporting_asset_wizard .o_group.o_inner_group > tbody > tr > td {
    display: table;
}
.o_form_view.equip3_reporting_asset_wizard .o_group.o_inner_group > tbody > tr > td > .o_td_label,
.o_form_view.equip3_reporting_asset_wizard .o_group.o_inner_group > tbody > tr > td > .o_td_widget {
    display: table-cell;
}
.o_form_view.equip3_reporting_asset_wizard .o_group.o_inner_group > tbody > tr > td > .o_td_label {
    width: 150px;
    padding: 0 15px 0 0;
    vertical-align: top;
}
.o_form_view.equip3_reporting_asset_wizard .o_group.o_inner_group > tbody > tr > td > .o_td_widget {
    padding: 14px 36px 0px 8px;
    vertical-align: top;
}


@media(max-width: 768px){
    .modal .modal-content .modal-body .o_form_view.equip3_reporting_asset_wizard .o_group_col_6 {
        width: 100%;
        display: table;
    }
}

