.edc-payment-loader-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1222;
}
.edc-payment-backdrop {
    display: block;
    background: rgb(0 0 0 / 40%);
    height: 2000%;
    width: 2000%;
    position: fixed;
    z-index: -1;
    left: -50%;
    top: -50%;
}
.edc-payment-text{
    font-size: 24px;
    color: white;
    padding-top: 30px;
}
.edc-payment-loader {
    width: 70px;
    height: 70px;
    border: 5px solid #fffdfd;
    border-bottom-color: #148F8B;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: edc_payment_loader_rotation 1s linear infinite;
}
.edc-payment-countdown {
    font-size: 50px;
    color: white;
    padding-top: 40px;
}
.edc-payment-cancel-request {
    font-size: 18px;
    margin-top: 15px;
    color: red;
    display: block;
    cursor: pointer;
}
.edc-payment-cancel-request:hover {
    text-decoration: underline;
}
.edc-payment-loader-wrap.timeout .edc-payment-cancel-request{
    display: inline-block;
}

@keyframes edc_payment_loader_rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

.pos .payment-screen.screen .payment-edc {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 15px;
}
.pos .payment-screen.screen .payment-edc .payment-edc-actions .btn-payment-edc {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 4px;
    font-weight: normal;
    background: #fff;
    color: #35b0ad;
    border: 1px solid #35b0ad;
    border-tops: 1px solid transparent;
}
.pos .payment-screen.screen tr.receipt-line.tr-payment-line[payment-edc] {
    border-bottom: 1px solid transparent;
}

.pos .payment-screen.screen tr.receipt-line.tr-payment-edc{
    background: #fff;
}
.pos .payment-screen.screen tr.receipt-line.tr-payment-line.selected + tr.receipt-line.tr-payment-edc{
    background: #a5f1ee;
}

.pos .payment-screen.screen .payment-edc .payment-edc-label.has_error {
    color: red;
}

.pos .payment-screen.screen .payment-edc .payment-edc-actions .btn-payment-edc.btn-payment-edc-paid{
    background-color: #22b14c;
    border-color: #22b14c;
    color: #fff;
}



.pos .modal-dialog .edc-popup-cc {
    max-width: 400px;
    color: #000;
    border-radius: 7px;
    overflow: hidden;
}
.pos .modal-dialog .edc-popup-cc main.body {
    margin-top: 0;
}
.pos .modal-dialog .edc-popup-cc .footer {
    border: none;
    height: auto;
    margin-bottom: 10px;
    text-align: right
}
.pos .modal-dialog .edc-popup-cc .title {
    background: none;
    border: none;
    text-align: left;
    margin-top: 5px;

}
.pos .modal-dialog .edc-popup-cc .payment-edc-field {
    text-align: left;
}
.pos .modal-dialog .edc-popup-cc .payment-edc-field .payment-edc-field-label {
    line-height: 1;
    padding-bottom: 4px;
}
.pos .modal-dialog .edc-popup-cc .payment-edc-field .payment-edc-field-form  select {
    width: 100%;
    background: #d9d9d9;
    border-color: #d9d9d9;
    border-radius: 7px;
    height: 40px;
    line-height: 34px;
    color: #000;
    font-size: 18px;
}

.pos .modal-dialog .edc-popup-cc .footer .button {
    float: none;
    height: auto;
    min-width: auto;
    display: inline-block;
    line-height: 1;
    padding: 10px 13px;
    margin: 0;
    margin-right: 15px;

    background: #fff;
    color: #008f8c;
    border: 1px solid #008f8c;
    border-radius: 7px;
    box-shadow: none;
}

.pos .modal-dialog .edc-popup-cc .footer .button:hover{
    background: #fff !important;
    color: #008f8c !important;
    border: 1px solid #008f8c !important;
}

.pos .modal-dialog .edc-popup-cc .footer .button.confirm {
    background: #008f8c;
    color: #fff;
    border: 1px solid #008f8c;
}
.pos .modal-dialog .edc-popup-cc .footer .button.confirm:hover {
    background: #008f8c !important;
    color: #fff !important;
    border: 1px solid #008f8c !important;
}