.o_procurement_planning_graph {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;

    .o_filters {
        display: flex;
        margin-bottom: 10px;
        
        input, select, button {
            margin-right: 10px;
        }
    }
}