.hr_training_flow_menu {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 0 !important;
}
.hr_training_flow_menu .content-header {
    flex: 0 0 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 1rem;
    font-size: 1.8rem;
}
.hr_training_flow_menu .content-body {
    flex: 1 1 auto;
    overflow: auto;
}
.hr_training_flow_menu .btn {
    display: block;
    width: 100%;
    max-width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.hr_training_flow_menu .btn:hover,
.hr_training_flow_menu .btn:focus {
    transform:scale(1.1);
}

.hr_training_flow_menu .content-body .container > .row div[class^="col-"] {
    justify-content: center;
}
/* .hr_training_flow_menu .content-body .container > .row div[class^="col-"] > .row{
    margin:0;
} */
.hr_training_flow_menu .content-body .container > .row div[class^="col-"] > .row > div {
    padding-top: 0; 
    padding-left: 0; 
    padding-right: 0; 
    padding-bottom: 20px;
}
.hr_training_flow_menu .btn .button-text {
    font-weight: bold;
    font-size: 1rem;
}
.hr_training_flow_menu .btn .button-img > img{
    height: 45px; 
    width: auto;
}
.hr_training_flow_menu .menu-arrow {
    position: absolute;
    right: -45px;
    top: 30%;
    transform: translate(0, -45%);
}
.hr_training_flow_menu .arrow {
    margin: 25px;
    display: inline-block;
    height: 12px;
    position: relative;
    width: 12px;
}
.hr_training_flow_menu .arrow::after {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
}
.hr_training_flow_menu .arrow.is-right {
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
.hr_training_flow_menu .arrow.is-left {
    -moz-transform: rotate(110deg);
    -ms-transform: rotate(110deg);
    -webkit-transform: rotate(110deg);
    transform: rotate(110deg);
    margin-left: -100px;
}
.hr_training_flow_menu .arrow.arrow-bar::before {
    bottom: 1px;
    content: "";
    height: 50px;
    position: absolute;
    right: 0;
    transform-origin: bottom;
    width: 2px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.hr_training_flow_menu .menu-arrow-up {
    position: absolute;
    right: 60px;
    top: -55%;
    transform: translate(0, -55%);
}
.hr_training_flow_menu .arrow.is-up {
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.hr_training_flow_menu .menu-arrow-down {
    position: absolute;
    right: 60px;
    top: 110%;
    transform: translate(0, -55%);
}
.hr_training_flow_menu .arrow.is-down {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.hr_training_flow_menu .menu-arrow-up-right {
    position: absolute;
    right: -45px;
    top: -10%;
    transform: translate(0, -45%);
}
.hr_training_flow_menu .arrow.is-up-right {
    -moz-transform: rotate(290deg);
    -ms-transform: rotate(290deg);
    -webkit-transform: rotate(290deg);
    transform: rotate(290deg);
}

.hr_training_flow_menu .menu-arrow-down-right {
    position: absolute;
    right: -45px;
    top: 10%;
    transform: translate(0, 45%);
}
.hr_training_flow_menu .arrow.is-down-right {
    -moz-transform: rotate(335deg);
    -ms-transform: rotate(335deg);
    -webkit-transform: rotate(335deg);
    transform: rotate(335deg);
}

.hr_training_flow_menu .arrow::before, 
.hr_training_flow_menu .arrow .arrow::before {
    background-color: black;
}
.hr_training_flow_menu .arrow.is-triangle::after, 
.hr_training_flow_menu .arrow .arrow.is-triangle::after {
    border-color: transparent;
    border-bottom-color: black;
}
.hr_training_flow_menu .arrow.is-triangle::after {
    border-style: solid;
    border-width: 0 0 12px 12px;
    height: 0;
    width: 0;
}
/* .hr_training_flow_menu .m-top {
    margin-top: -170px;
} */
.hr_training_flow_menu .top-1 {
    margin-top: 120px;
}

/* New Training Styles */
.training_flow_action {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 0 !important;
}
.training_flow_action .content-header {
    flex: 0 0 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 1rem;
    font-size: 1.8rem;
}
.training_flow_action .content-body {
    flex: 1 1 auto;
    overflow: auto;
    padding: 30px;
}
 
.training_flow_action .accordion {
    width: 100%;
}
.training_flow_action .accordion .accordion-collapse.collapse:not(.show) {
    display: none;
}
.training_flow_action .accordion-item {
    box-shadow: 3px 3px 7px 2px #dbdbdb;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
}
.training_flow_action .accordion-body {
    padding: 1rem 1.25rem;
    overflow: auto;
}
.training_flow_action .accordion-body .accordion-content.width-node {
    position: relative;
}
.training_flow_action .accordion-item .accordion-button {
    outline: none;
    display: block;
    background: #fff;
    border: none;
    font-weight: bold;
    line-height: 1;
}
.training_flow_action .accordion-item .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 2rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
}
.training_flow_action .accordion-item .accordion-button::after {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: auto;
    content: "";
    background-image: url('/equip3_hr_training/static/src/img/chevron-bottom.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform .2s ease-in-out;
    float: right;
}
.training_flow_action .accordion-item .accordion-button:not(.collapse)::after {
    background-image: url('/equip3_hr_training/static/src/img/chevron-bottom.svg');
    transform: rotate(-180deg);
}

.training_flow_action .accordion-master-data .btn-flow {
    display: inline-block;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px !important;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 1rem;
    float: left;
    min-width: 170px;
}
.training_flow_action .accordion-master-data .col-button-right .btn-flow {
    float:right;
}

.training_flow_action .accordion-master-data .btn-flow:hover,
.training_flow_action .accordion-master-data .btn-flow:active{
    box-shadow: 1px 2px 5px 1px #dbdbdb;
    border-color: transparent;
}
.training_flow_action .accordion-master-data .btn-flow .button-img {
    display: inline-block;
    width: 32px
}
.training_flow_action .accordion-master-data .btn-flow .button-img > img {
    height: 25px;
}
.training_flow_action .accordion-master-data .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
}


.training_flow_action .accordion-training-flow .accordion-content{
    width: 1420px;
    height: 750px;
    margin: 30px auto;
    padding: 5px;
}
.training_flow_action .accordion-training-flow .btn-flow {
    display: block;
    align-items: center;
    background-color: #f3fcfe;
    border-left: 3px solid #1b6278;
    border-radius: 4px !important;
    box-shadow: 2px 2px 3px 1px #dbdbdb;
    padding-right: 15px;
    height: 50px; 
    position: absolute;
    z-index: 10;
    min-width: 150px;
}
.training_flow_action .accordion-training-flow .btn-flow:hover,
.training_flow_action .accordion-training-flow .btn-flow:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.training_flow_action .accordion-training-flow .btn-flow .button-img {
    display: inline-block;
    width: 32px
}
.training_flow_action .accordion-training-flow .btn-flow .button-img > img {
    height: 25px;
}
.training_flow_action .accordion-training-flow .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
}
.training_flow_action .accordion-training-flow .accordion-content .nd_connector{
    position: absolute;
}
.training_flow_action .accordion-training-flow .accordion-content .nd_connector .nd_connector_line {
    width: 100%;
    height: 2px;
    background: #272124;
}
.training_flow_action .accordion-training-flow .accordion-content .nd_connector .nd_connector_arrow_right {
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
    right: 7px;
    top: -5px;
    left: auto;
}
.training_flow_action .accordion-training-flow .accordion-content .nd_connector .nd_connector_line_end_right,
.training_flow_action .accordion-training-flow .accordion-content .nd_connector .nd_connector_line_end_left {
    position: absolute;
    background: #272124;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    left: -5px;
    top: -4px;
}
.training_flow_action .accordion-training-flow .accordion-content .nd_connector .nd_connector_line_end_right{
    right: -5px;
    left: auto;
    top: -4px;
}


.training_flow_action .accordion-reporting .btn-flow {
    display: inline-block;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px !important;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 1rem;
    float: left;
    min-width: 170px;
}
.training_flow_action .accordion-reporting .col-button-right .btn-flow {
    float:right;
}

.training_flow_action .accordion-reporting .btn-flow:hover,
.training_flow_action .accordion-reporting .btn-flow:active{
    box-shadow: 1px 2px 5px 1px #dbdbdb;
    border-color: transparent;
}
.training_flow_action .accordion-reporting .btn-flow .button-img {
    display: inline-block;
    width: 32px
}
.training_flow_action .accordion-reporting .btn-flow .button-img > img {
    height: 25px;
}
.training_flow_action .accordion-reporting .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
}


/*.training_flow_action .accordion-reporting .accordion-content{
    width: 830px;
    height: 240px;
    margin: 30px auto;
    padding: 30px;
}*/
.training_flow_action .accordion-reporting .btn-flow {
    display: block;
    align-items: center;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: start;
    text-align: left;
}

.training_flow_action .accordion-reporting .btn-flow:hover,
.training_flow_action .accordion-reporting .btn-flow:active{
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}
.training_flow_action .accordion-reporting .btn-flow .button-img {
    display: inline-block;
    width: 32px;
    flex: 0 0 32px;
}
.training_flow_action .accordion-reporting .btn-flow .button-img > img {
    height: 25px;
}
.training_flow_action .accordion-reporting .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
    flex: 1 1 auto;
}

.training_flow_action .accordion-reporting .nd_c{
    position: absolute;
}
.training_flow_action .accordion-reporting .nd_c .nd_c_line {
    width: 100%;
    height: 2px;
    background: #272124;
}
.training_flow_action .accordion-reporting .nd_c .nd_c_arrow {
    display: block;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
}
.training_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom {
    position: absolute;
    top: 19px;
    right: -19px;
    display: block;
    width: 40px;
    height: 2px;
    background: #272124;
    transform: rotate(90deg);
}
.training_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom .nd_c_arrow {
    display: block;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
    position: absolute;
    left: 25px;
    top: -5.5px;
}
.training_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom[data-id="003"] .nd_c_line_1 {
    width: 38px;
    height: 2px;
    background: #272124;
    position: absolute;
    left: -28px;
}

.menu-button-approval {
    left: 455px;
    top: 105px;
}

.menu-button-my-training-cancellation {
    left: 655px;
    top: 105px;
}

.menu-button-training-conduct {
    left: 225px;
    top: 105px;
}

.menu-button-approval2 {
    left: 935px;
    top: 105px;
}

.connector_line_right_training_conduct {
    width: 90px;
    left: 370px;
    top: 130px;
}

.connector_line_down_trainnig_conduct {
    width: 225px;
    left: 420px;
    top: 265px;
    transform:rotate(+90deg)
}

.connector_line_right_approval {
    width: 90px;
    left: 570px;
    top: 130px;
}

.connector_line_right_my_training_cancellation {
    width: 90px;
    left: 850px;
    top: 130px;
}

.connector_line_right_approval1 {
    width: 90px;
    left: 570px;
    top: 545px;
}

.connector_line_down_approval1 {
    width: 55px;
    left: 510px;
    top: 596px;
    transform:rotate(+90deg)
}

.menu-button-training-conduct-cancellation {
    left: 395px;
    top: 620px;
}

.connector_line_right_training_conduct_cancellation {
    width: 90px;
    left: 620px;
    top: 645px;
}

.menu-button-approval3 {
    left: 705px;
    top: 620px;
}

.menu-button-configuration {
    top: 275px;
}

.connector_line_right_configuration {
    width: 115px;
    left: 105px;
    top: 300px;
}

.menu-button-training {
    top: 275px;
}

.menu-button-training-requests {
    top: 75px;
}

.menu-button-my-training-request {
    left: 225px;
    top: 442px;
}

.menu-button-my-training-list {
    left: 455px;
    top: 375px;
}

.menu-button-approval1 {
    left: 455px;
    top: 520px;
}

.menu-button-training-to-do {
    left: 655px;
    top: 520px;
}

.connector_line_right_training_to_do {
    width: 90px;
    left: 770px;
    top: 545px;
}

.menu-button-training-histories {
    left: 855px;
    top: 520px;
}

.connector_line_right_training_histories {
    width: 90px;
    left: 990px;
    top: 545px;
}

.menu-button-certificate {
    left: 1075px;
    top: 520px;
}

.menu-button-my-training-request-lines1 {
    left: 25px;
    top: 570px;
}

.menu-button-training-request-to-approve1 {
    left: 400px;
    top: 570px;
}

.connector_line_right_my_training_request {
    width: 115px;
    left: 145px;
    top: 100px;
}

.connector_line_up_training{
    width: 150px;
    left: 40px;
    top: 205px;
    transform:rotate(-90deg)
}

.connector_line_right_training_1 {
    width: 115px;
    left: 115px;
    top: 130px;
}

.connector_line_down_training {
    width: 150px;
    left: 40px;
    top: 390px;
    transform:rotate(+90deg)
}

.connector_line_right_training_2 {
    width: 115px;
    left: 115px;
    top: 465px;
}

.connector_line_right_training_request {
    width: 115px;
    left: 345px;
    top: 130px;
}

.connector_line_right_training_installment {
    width: 115px;
    left: 890px;
    top: 30px;
}

.connector_line_right_actual_training_request {
    width: 115px;
    left: 645px;
    top: 130px;
}

.connector_line_up_actual_trainings_to_approve {
    width: 50px;
    left: 890px;
    top: 74px;
    transform:rotate(-90deg)
}

.connector_line_right_actual_trainings_to_approve_1 {
    width: 115px;
    left: 915px;
    top: 50px;
}

.connector_line_down_actual_trainings_to_approve {
    width: 50px;
    left: 890px;
    top: 171px;
    transform:rotate(+90deg)
}

.connector_line_right_actual_trainings_to_approve_2 {
    width: 115px;
    left: 915px;
    top: 195px;
}

.connector_line_up_my_training_request {
    width: 80px;
    left: 376px;
    top: 399px;
}

.connector_line_right_my_training_request_1 {
    width: 45px;
    left: 355px;
    top: 422px;
    transform:rotate(+90deg)
}

.connector_line_down_my_training_request {
    width: 55px;
    left: 350px;
    top: 518px;
    transform:rotate(+90deg)
}

.connector_line_right_my_training_request_2 {
    width: 85px;
    left: 376px;
    top: 545px;
}

.connector_line_left_down_my_training_request {
    width: 30px;
    left: 315px;
    top: 500px;
    transform:rotate(-90deg)
}

.connector_line_left_down_my_training_request_1 {
    width: 290px;
    left: 185px;
    top: 515px;
    transform:rotate(180deg)
}

.connector_line_down_my_training_request_1 {
    width: 60px;
    left: 155px;
    top: 543.5px;
    transform:rotate(+90deg)
}

.connector_line_down_my_training_request_2 {
    width: 60px;
    left: 445px;
    top: 543.5px;
    transform:rotate(+90deg)
}