.modal-content.installing_data .content-header {
    display: none;
}
.modal-content.installing_data .content-body {
    display: none;
}

.modal-content.installing_data .content-footer > .btn{
    display: none;
}
.modal-content.installing_data button.close {
    display: none;
}
.modal-content.installing_data .content-footer > .btn-cancel > span{
    display: none;
}
.modal-content.installing_data.done .content-footer > .btn.btn-cancel {
    display: block;
}
.modal-content.installing_data.done .loading_content{
    color: green;
}
.modal-content.installing_data.done .loading_content .loading_icon {
    display: none;
}
.modal-content.installing_data.done .content-footer > .btn-cancel:before{
    content: 'Close';
    display: inline-block;
}

.modal-content.installing_data .content-installing_data {
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.modal-content .content-installing_data {
    font-size: 25px;
    text-align: center;
}
.modal-content .content-installing_data .loading_icon {
    font-size: 48px;
    margin-bottom: 30px;
}
.modal-content.installing_data .loading_note {
    font-size: 10px;
    padding: 0 15px;
}

.modal .pos_restart_data_action .content-action {
    padding: 30px 0;
}
.modal .pos_restart_data_action .content-action .action-button {
    margin-bottom: 30px;
    display: flex;
    gap: 4px;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #eeebeb;
    padding-bottom: 15px;
}
.modal .pos_restart_data_action .content-action .action-button:last-child {
    margin-bottom: 0;
}

.modal .pos_restart_data_action .content-action .action-button button.btn > .fa {
    color: inherit !important;
    padding-right: 5px;
}
.modal .pos_restart_data_action .modal-content.installing_data .content-body {
    display: none;
}
