/*================= Receipt design ==============*/
.pos-receipt-print {
    width: 512px;
    height: 0;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    direction: ltr;
    font-size: 28px;
    color: #000000;
    font-family: "Montserrat", "Odoo Unicode Support Noto", sans-serif;
}
.pos-receipt .receipt-line td {
    max-width: 139px !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 90% !important;
    padding: 3px !important;
    color: black !important;
}

.pos .product-line-name {
    color: black;
    padding: 3px;
    padding-right: 0px !important;
}

.pos .receipt-row {
    display: flex;
    font-size: 0.9em;
    line-height: 0.5em;
}
.pos .product-unit-name {
    display: inline-block;
    width: 100%;
    font-size: 90%;
    margin-left: 5px;
}
.pos .receipt-cell {
    flex: 1;
    color: black;
    font-size: 0.85em;

}
.pos .receipt-orderlines {
    width: 100% !important;
}
.pos-receipt .receipt-line {
    color: black;
    line-height: unset !important;
    font-size: 90%;
    line-height: 150%;
}
.pos-receipt >h3, .h3 {
    margin: 0px !important;
}
.pos-receipt .product-line-name {
    font-size: 90% !important;
    color: black;
}

.pos-receipt .pos-receipt-right-align {
    float: right;
    text-align: right;
    line-height: normal;
}

.pos-receipt .pos-receipt-center-align {
    text-align: center;
    margin-bottom: 5px;
    font-size: 0.9em;
}

.pos-receipt .text-center {
    text-align: center !important;
}

.pos-receipt .text-left {
    text-align: left !important;
}

.pos-receipt .text-right {
    text-align: right !important;
}

.pos-receipt .text-bold {
    font-weight: 900 !important;
}

.pos-receipt .receipt-line {
    cursor: unset !important;
}

.pos-receipt .receipt-line:hover {
    background: unset !important;
}

.pos-receipt .pos-receipt-left-padding {
    padding-left: 0em;
    line-height: 1.5em;
}

.pos-receipt .orderline-product-name {
    line-height: 1.5em;
    font-size: 0.9em;
}

.pos-receipt .pos-receipt-logo {
    min-width: 3.5em;
    height: unset;
}

.pos-receipt .pos-receipt-contact {
    margin-top: 0em;
    font-size: 100% !important;
    text-align: left;
}

.pos-receipt .pos-receipt-order-data {
    display: inline-block;
    width: 100%;
}

.pos-receipt .pos-receipt-amount {
/*    font-size: 100% !important;*/
    padding-top: 10px !important;
    font-weight: 900 !important;
}

.pos-receipt .pos-receipt-title {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

.pos-receipt .pos-receipt-left-align2 {
    font-size: 12px;
    font-family: roboto;
    color: #000000;
    text-align: left;
    margin-bottom: -35px;
}

.pos-receipt .font-size {
    font-size: 12px;
    font-family: roboto;
    color: #000000;
    line-height: normal;
}

.pos-receipt .pos-receipt-left-padding2 {
    padding-left: 3em;
    text-align:center
}

.pos-receipt .pos-receipt-left-padding3 {
    padding-left: 2.01em;
    text-align:center
}
.pos-receipt .pos-receipt-left-padding4 {
    padding-left: .5em;
}

.pos-receipt .pos-receipt-center-align1 {
    text-align: center;
    font-family: roboto;
    font-size: 12px;
}

.pos-receipt .pos-receipt-center-align2 {
    text-align: center;
    font-family: roboto;
    font-size: 12px;
    color: #000000;
    line-height: normal;
}


.pos .qrcode {
    width: 100%;
    display: flex;
}
.pos .qrcode > img {
    justify-content: center;
    margin: auto;
    padding-bottom: 10px;
}
.pos-receipt .pos-order-receipt-cancel {
    color: black;
}

.pos-payment-terminal-receipt {
    text-align: center;
    font-size: 90%;
}

.pos-receipt .amount_total {
    font-size: 125%;
}

.pos-receipt .header_barcode {
    text-align: center;
    height: 5em;
    width: 15em;
    margin-left: -5em;
}

.pos-receipt .footer_barcode {
    display: block;
    height: 20mm;
    width: 40mm;
    margin: auto;
    vertical-align: middle;
}

.pos-receipt .receipt_line_image {
    width: 1.5em;
    height: 1.5em;
    border-radius: 65%;
}

.pos .take-away-screen.screen .adjust_tickets_content{
    flex:1 1 90%;
}
.take-away-screen.screen .left-content{
    width: 49%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    border-right: 2px solid gray;
    margin-right: 10px;
}
.take-away-screen.screen .right-content{
    width: 49%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
.take-away-screen.screen .left-content .adjust_tickets_content{
    width: 100%;
}
.take-away-screen.screen .right-content .adjust_tickets_content{
    width: 100%;
}
.pos .take-away-screen.screen .main-content {
    margin-top: 0px;
    flex: 1;
}
.pos .take-away-screen.screen .take_away_header_title{
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 30px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    font-size: 20px;
}
.pos .take-away-screen.screen .kitchen-box{
    width: 8rem;
    height: 7rem;
    border: 4px solid red;
}

.take-away-screen.screen .bg-red{
    color: red;
    font-size: 3rem;
    font-weight: bold;
}
.take-away-screen.screen .adjust_tickets_content .kitchen-box .bg-classes {
    padding: 0 !important;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}

.pos .kitchen-box .bg-green{
    color: #087408 !important;
    font-size: 3rem !important;
    padding-top: 2.5rem !important;
    padding-left: 1.6rem !important;
    font-weight: bold !important;
}
.pos .take-away-screen.screen .isNewline td{
    color:  red;
}
.pos .take-away-screen.screen .isNewline .product-line-name{
    color: red;
}
.pos .take-away-screen.screen .isDoneline td{
    color:  green;
}
.pos .take-away-screen.screen .isDoneline .product-line-name{
    color: green;
}

.pos .take-away-screen.screen .top-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0;
}
.pos .take-away-screen.screen .pos-logo-take-away{
    max-width: 100%;
    padding: 0;
    margin: 0px auto;
    height: 55px;
}
.pos .take-away-screen.screen .action-buttons-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: right;
}
.pos .take-away-screen.screen .action-buttons-right > button {
    padding: 12px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-color: #d1d1d1;
    margin: 0 3px;
    height: 57px;
    min-width: 57px;
    font-size: 16px;
}
.take-away-screen.screen .right-content .adjust_tickets_content .kitchen-box {
    border: 4px solid #087408;
}
.take-away-screen.screen .right-content .adjust_tickets_content .kitchen-box .bg-classes > span {
    color: #087408;
}

.pos .kitchen-screen.screen .kitchen-box .box-state {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0 10px;
}
.pos .kitchen-screen.screen .kitchen-box .table-cl {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0 10px;
}
.pos .kitchen-screen.screen .kitchen-box .floor-cl {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0 10px;
}
.pos .kitchen-screen.screen .kitchen-box .pp_buttons {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: 0 10px;
}
.pos .kitchen-screen.screen .kitchen-box .bg-classes {
    color: #fff !important;
    font-size: 15px !important;
    padding: 10px !important;
    font-weight: normal !important;
}
.pos .kitchen-screen.screen .kitchen-box .product-line-name, 
.pos .kitchen-screen.screen .kitchen-box .order-item-detail > table td {
    font-size: 15px;
}
pos-receipt{
    font-family: roboto;
    font-size: 12px;
}