<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data>
      <menuitem id="izi_data.izi_dashboard_root" web_icon="equip3_dashboard_with_ai,static/description/ai_dashboard_icon.png" name="AI Dashboard" sequence="-1" />
      <menuitem id="izi_data.izi_data_menu" parent="izi_data.izi_dashboard_root" name="Data Source" sequence="30" groups="base.group_no_one"/>

      <record id="izi_data.izi_dashboard_root" model="ir.ui.menu">
          <field name="equip_category_id" ref="equip3_hashmicro_ui.category_management"/> 
      </record>   

      <record id="ks_dashboard_ninja.board_menu_root" model="ir.ui.menu">
          <field name="equip_category_id" ref="equip3_hashmicro_ui.category_management"/> 
          <field name="parent_id" eval="False"/>
          <field name="sequence" eval="2"/>
      </record>       

  </data>
</odoo>