.o_view_agri_report {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
}

.o_agri_report_header {
    margin-bottom: 10px;
}

.o_agri_report_content {
    overflow: scroll;
}

.o_agri_report_title {
    padding: 0px 10px;
}
.o_agri_control_panel {
    display: flex;
    padding: 10px;
}
.o_agri_control_panel .o_panel_right {
    margin-left: auto;
}
.o_agri_control_panel .o_panel_right .o_report_filter {
    display: flex;
}
.o_agri_control_panel .o_filter_date_dropdown {
    min-width: 200px;
}
.o_agri_control_panel .o_filter_date_custom_container {
    padding: 3px 20px;
}

table.o_table_agri_report {
    width: 100%;
    margin-bottom: 20px;
}
table.o_table_agri_report thead:not(:first-child)::before {
    content: '';
    display: block;
    height: 30px;
}
table.o_table_agri_report th.o_title {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
table.o_table_agri_report th.o_month {
    text-align: center;
}
table.o_table_agri_report th.o_value, table.o_table_agri_report td.o_value {
    text-align: right;
}
table.o_table_agri_report td.o_total {
    font-weight: bold;
}
table.o_table_agri_report tbody.o_row {
    background-color: #ECECEC;
    cursor: pointer;
}
table.o_table_agri_report tbody.o_row tr:first-child {
    white-space: nowrap;
}
table.o_table_agri_report td span.fa {
    width: 10px;
}
table.o_table_agri_report td.o_activity, table.o_table_agri_report td.o_subheader {
    font-weight: bold;
}
table.o_table_agri_report td.o_date {
    white-space: nowrap;
}
table.o_table_agri_report td .o_record {
    cursor: pointer;
}
table.o_table_agri_report td .o_record_dropdown {
    color: #4c4c4c !important;
}
table.o_table_agri_report td .o_record_dropdown:hover {
    text-decoration: underline;
}
table.o_table_agri_report thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}
table.o_table_agri_report th {
    border: none;
}
table.o_table_agri_report .o_freeze {
    position: sticky;
    left: 0;
    background: white;
}
table.o_table_agri_report .dropdown-menu a {
    display: block;
}
table.o_table_agri_report .dropdown:hover .dropdown-menu {
    display: block;
}
table.o_table_agri_report .o_freeze:hover {
    z-index: 1;
}
table.o_table_agri_report .o_row .o_freeze {
    background: #ECECEC;
}