table.o_budget_planning_report_header {
    width: 100%;
    margin: 30px 0px;
}

table.o_budget_planning_report_line td {
    white-space: nowrap;
}

table.o_budget_planning_report_line td.o_total {
    font-weight: bold;
}

table.o_budget_planning_report_line td.o_value {
    text-align: right;
}
