div.oe_avatar.double_size {
    position: absolute;
    right: 0;
    margin-right: 10px;
}

div.oe_avatar.double_size > img {
    max-width: 180px;
    max-height: 180px;
}

table.table-harvesting-report, table.table-harvesting-report-line{
    width: 100%;
}

table.table-budget-report, table.table-budget-report-line{
    width: 100%;
}

.o_agriculture_scheduled_tab table.o_list_table th[data-name="interval_number"] {
    text-align: right !important;
}

.o_agriculture_scheduled_tab table.o_list_table th[data-name="interval_number"]::after {
    display: none !important;
}