.o_assembly_container {
	display: flex;
	width: 50%;
}

.o_list_view table.o_assembly_table {
	width: 100%;
	display: inline-table;
	margin: 10px;
}

.o_list_view table.o_assembly_table tr td {
    padding: .75rem !important;
}

.o_form_assembly_label {
	font-weight: bold;
	margin-right: 15px;
}

.o_assembly_input {
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 2px 4px;
	width: 100%;
}

.o_assembly_input:focus {
	outline: none;
}

.oe_force_right {
	text-align: right !important;
}

.o_assembly_material_tab table.o_list_table th[data-name="assembly_product_free_qty"] {
    text-align: right !important;
}
.o_assembly_material_tab table.o_list_table th[data-name="product_uom_qty"] {
    text-align: right !important;
}
.o_assembly_material_tab table.o_list_table th[data-name="quantity_done"] {
    text-align: right !important;
}
.o_assembly_material_tab table.o_list_table th[data-name="product_uom"] {
    text-align: right !important;
}