.izi_dashboard_block_content.izi_mode_analysis > .izi_dashboard_block_description {
    overflow:  scroll;
}

.swal2-actions button.swal2-confirm.swal2-styled {
    background: var(--o-theme-sb-bgcolor) !important;
}

.izi_dashboard_filter{
    border: 1px solid var(--o-theme-btn-primary-bgcolor) !important;
}

.izi_dashboard_filter_content .dropdown-toggle {
    color: var(--o-theme-btn-primary-bgcolor) !important;
}

.izi_dashboard_filter_title span {
    background: var(--o-theme-btn-primary-bgcolor) !important;
}

.izi_btn.izi_btn_wlp {
    color: var(--o-theme-btn-primary-bgcolor) !important;
}

.izi_view .dropdown-menu {
    color: var(--o-theme-btn-primary-bgcolor) !important;
}
