.product_exchange_popup{
	height: 375px !important;
	width: 535px !important;
	font-family: inherit;
}
.product_exchange_popup .return_popup_table{
	table-layout: fixed;
	text-align: left;
	width:100%;
}
.product_exchange_popup .container_div{
	height: 240px;
    overflow-y: scroll;
    margin-top: -3%;
}
.product_exchange_popup .return_popup_tr{
	height: 53px;
	background-color: rgb(222, 224, 224);
}
.product_exchange_popup .table_data_cells{
    padding-left: 2%;
}

.pos input[type=file] {
    overflow: hidden;
    display: block;
    padding: 0;
    color: #000;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e8e8e8;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    min-height: 44px;
    cursor: pointer;
}
.pos input[type=file]::file-selector-button {
    font-weight: bold;
    color: #000;
    padding: 0.5em;
    border: thin solid #e8e8e8;
    border-radius: 3px;
    background: #e8e8e8;
    min-height: 44px;
    cursor: pointer;
}


.pos .ticket-screen .controls .action-control.filter {
    border: solid 1px rgb(209, 209, 209);
    background: white;
    height: 50px;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
.pos .ticket-screen .controls .action-control.filter .down-icon {
    position: absolute;
    right: 13px;
    top: 14px;
}
.pos .ticket-screen .controls .action-control.filter .options {
    display: block;
    min-width: 400px;
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    z-index: 1;
    box-shadow: 1px 1px 5px grey;
    padding: 0.5em 0;
    background: white;
    color: black;
    max-height: 500px;
    overflow-y: auto;
}
.pos .ticket-screen .controls .action-control.filter .options > li {
    padding: 0.2em 1.2em;
    border-top: none;
    display: flex;
    justify-content: start;
    line-height: 35px;
    align-items: center;
    border-top: 1px solid #999999;
    font-size: 15px;
    font-weight: normal;
}

.pos .import-file-popups .popup {
    max-width: 600px;
    border-radius: 9px;
}
.pos .import-file-popups .popup > .title {
    background: #008F8B;
    color: #fff;
    border: none;
    text-align: center;
    padding: 10px 0;
}
.pos .import-file-popups .body .content {
    padding: 15px;
    min-height: 138px;
}
.pos .import-file-popups .body .content input[type=file] {
    width: 100% !important;
}
.pos .import-file-popups .body .content input[type=file].has-error {
    border-color: #e04040;
    color: #e04040;
}
.pos .import-file-popups .body .content input[type=file].has-error::file-selector-button {
    color: #e04040;
}
.pos .import-file-popups .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 25px;
    border: 0;
    margin-bottom: 30px;
}
.pos .import-file-popups .footer .button {
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
    color: #008F8B;
    background: #fff;
    border: 2px solid #008F8B;
    border-radius: 10px;
}
.pos .import-file-popups .footer .button:first-child {
    margin-left: 30px;
}
.pos .import-file-popups .footer .button:last-child {
    margin-right: 30px;
}
.pos .import-file-popups .footer .button:hover,
.pos .import-file-popups .footer .button:focus{
    color: #008F8B !important;
    background: #fff !important;
}
.pos .import-file-popups .footer .button.confirm {
    background: #008F8B !important;
    color: #ffffff !important;
}
.pos .import-file-popups .footer .button.confirm:hover,
.pos .import-file-popups .footer .button.confirm:focus{
    color: #008F8B;
    background: #fff;
}
.pos .import-file-popups .popup[import_state=loading] .footer {
    opacity: 0.5;
}