.o_lead_opportunity_form {
    #einstein_score {
        position: unset;

        > div  {
            width: fit-content;
            display: flex;
            flex-direction: column;

            > span.title.ml-4 {
                margin-left: 0 !important;
            }
        }

        .einstein_score_text.ml-5 {
            margin-left: 0 !important;
        }
    }

    .o_field_one2many {
        table.o_list_table {
            font-size: 13px;
        }
    }

    .o_address_format {
        margin-bottom: 5px;

        > span, span.o_field_widget.o_address_street {
            min-height: unset !important;
            margin-bottom: 0 !important;
        }
    }
}