<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <data>
        <!-- Add you code here -->
        <menuitem id="menu_purchase_request_lines_assigned" name="Assigned Request Line" action="product_purchase_request_line_assets_assigned"
            parent="main_menu_assets_purchase_request" sequence="10" />
        <menuitem id="menu_purchase_request_lines_not_assigned" name="Unassigned Request Line" action="product_purchase_request_line_assets_not_assigned"
            parent="main_menu_assets_purchase_request" sequence="20" />
    </data>
</odoo>