<?xml version="1.0" encoding="utf-8"?>
<odoo>

	<menuitem id="mrp_central_kitchen_master_data"
		name="Master Data"
		groups="equip3_kitchen_accessright_settings.group_central_kitchen_is_a_chef"
		parent="equip3_kitchen_accessright_settings.menu_kitchen_root"
		sequence="100">

		<menuitem id="kitchen_master_data_products"
			name="Products"
			action="product.product_template_action"/>

		<menuitem id="kitchen_master_data_product_variants"
			name="Product Variants"
			action="product.product_normal_action"
			groups="product.group_product_variant"/>

		<menuitem id="kitchen_master_data_bill_of_materials"
			name="Bills of Materials"
			action="mrp.mrp_bom_form_action"/>

	</menuitem>

	<menuitem id="mrp_assembly_master_data"
		name="Master Data"
		parent="equip3_kitchen_accessright_settings.menu_assembly_root"
		sequence="99">

		<menuitem id="assembly_master_data_products"
			name="Products"
			action="product.product_template_action"/>

		<menuitem id="assembly_master_data_product_variants"
			name="Product Variants"
			action="product.product_normal_action"
			groups="product.group_product_variant"/>

		<menuitem id="assembly_master_data_bill_of_materials"
			name="Bills of Materials"
			action="mrp.mrp_bom_form_action"/>

	</menuitem>

</odoo>