.before_after_table .o_cp_buttons {
	display:none;
}

.orgchart .dept-level .title {
  background-color: #FFF;
  border: 1px solid #009933;
}
.orgchart .dept-level .content {
  border-color: #009933;
  background-color: #009933;
}
.orgchart .dept-level .department {
  border-color: #009933;
  background-color: #000;
}
img.avatar.dept-level {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #009933;
    border-right: none;
}

.orgchart td.left, .orgchart td.right, .orgchart td.top { border-color: #aaa; }
.orgchart td>.down { background-color: #aaa; }
.orgchart .job-level .title {
  background-color: #FFF;
  border: 1px solid #006699;
}
.orgchart .job-level .content {
  border-color: #006699;
  background-color: #006699;
}
.orgchart .job-level .employee-data {
  border-color: #006699;
  background-color: #006699;
}
.orgchart .job-level .department {
  border-color: #006699;
  background-color: #000;
}
img.avatar.job-level {
    width: 30px;
    height: 30px;
    float: left;
    border: 1px solid #006699;
    border-right: none;
}

.orgchart .lines .topLineDept {
  border-top: 2px solid black;
}
.orgchart .lines .rightLineDept {
  border-right: 1px solid black;
  float: none;
  border-radius: 0;
}
.orgchart .lines .leftLineDept {
  border-left: 1px solid black;
  float: none;
  border-radius: 0;
}
.orgchart .lines .downLineDept {
  background-color: black;
  margin: 0 auto;
  height: 20px;
  width: 2px;
  float: none;
}

.orgchart .lines .topLineJob {
  border-top: 2px solid black;
}
.orgchart .lines .rightLineJob {
  border-right: 1px solid black;
  float: none;
  border-radius: 0;
}
.orgchart .lines .leftLineJob {
  border-left: 1px solid black;
  float: none;
  border-radius: 0;
}
.orgchart .lines .downLineJob {
  background-color: black;
  margin: 0 auto;
  height: 20px;
  width: 2px;
  float: none;
}

.btn-sort {
  margin-left:25px;
  font-size:20px;
  color:white;
  padding:0;
}