<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="crm_salesperson_tracking_menu"
            name="Salesperson Tracking Entry"
            parent="crm.crm_menu_report"
            action="crm_salesperson_tracking_action"
            sequence="7"/>

    <menuitem
            id="crm_salesperson_history_menu"
            name="Salesperson Tracking History"
            parent="crm.crm_menu_report"
            action="crm_salesperson_history_action"/>

    <menuitem
            id="menu_action_view_salesperson_tracking_2"
            name="Salesperson Tracking"
            parent="crm.crm_menu_report"
            action="action_view_crm_sales_tracking_history"
            sequence="9"/>

    <!--  Hide Salesperson Tracking History Menu -->
    <record id="make_invisible" model="res.groups">
        <field name="name">Invisible</field>
    </record>
    <record model="ir.ui.menu" id="equip3_crm_tracking.crm_salesperson_history_menu">
        <field name="groups_id" eval="[(6,0,[ref('make_invisible')])]"/>
    </record>

</odoo>