html {
	box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
	display: block;
}

a, a:hover, a:hover > span.popup-icon, a:hover > .zmdi-edit.popup-icon, a:hover > .zmdi-accounts-alt.popup-icon {
	color: #007bfc;
	text-decoration: none;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

* {
	box-sizing: border-box;
}

*, ::after, ::before {
	box-sizing: inherit;
}

* {
	box-sizing: border-box;
}

*, ::after, ::before {
	box-sizing: inherit;
}

button, input {
	overflow: visible;
}

button, input, optgroup, select, textarea {
	font: inherit;
	margin: 0;
}

.btn {
	transition: all ease-in .1s;
	border-radius: 3px;
}

[type=reset], [type=submit], button, html [type=button] {
	-webkit-appearance: button;
}

h1 {
	font-size: 2em;
	margin: .67em 0;
}

html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}

body {
	margin: 0;
}

body {
	color: #4e5259;
	background: #ffffff;
	font-family: "Roboto",Helvetica,Arial,sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
}

body {
	margin: 0px 0px 56px 132px;
}

.app, body {
	margin: 0;
	padding: 0;
	background: #fff;
	color: #525666;
	font-family: Roboto,sans-serif;
	font-size: 17px;
	font-weight: 300;
	line-height: 28px;
}
html {
	-ms-overflow-style: scrollbar;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body, html {
	overflow-x: hidden;
}
html {
	box-sizing: border-box;
	-ms-overflow-style: scrollbar;
}
html {
	font-family: sans-serif;
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.site {
	position: relative;
}
.site--full {
	min-height: 100vh;
	padding-bottom: 64px;
}
.banner {
	position: relative;
	z-index: 1;
	padding: 176px 0 120px;
}
.banner.banner--shape {
	padding-bottom: 540px;
	margin-bottom: -420px;
}
.banner.banner--fullpage {
	margin: 0 !important;
	padding: 0 !important;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
/* @media all and (min-width:576px) */
.container {
	max-width: 540px;
}
/* @media all and (min-width:768px) */
.container {
	max-width: 720px;
}
/* @media all and (min-width:992px) */
.container {
	max-width: 960px;
}
/* @media all and (min-width:1200px) */
.container {
	max-width: 1140px;
}
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
/* @media all and (min-width:576px) */
.container {
	max-width: 540px;
}
/* @media all and (min-width:768px) */
.container {
	max-width: 720px;
}
/* @media all and (min-width:992px) */
.container {
	max-width: 960px;
}
/* @media all and (min-width:1200px) */
.container {
	max-width: 1140px;
}
.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}
/* @media all and (min-width:1012px) */
.container {
	padding-right: 12px;
	padding-left: 12px;
}
/* @media all and (min-width:514px) */
.container {
	max-width: 480px;
}
/* @media all and (min-width:752px) */
.container {
	max-width: 716px;
}
/* @media all and (min-width:1012px) */
.container {
	max-width: 972px;
}
/* @media all and (min-width:1232px) */
.container {
	max-width: 1200px;
}
.banner__background {
	position: absolute;
	top: 0px;
	left: 50%;
	z-index: 10;
	width: 100%;
	height: 100%;
	min-width: 1920px;
	user-select: none;
	transform: translateX(-50%);
	background: linear-gradient(90deg,#021048,#1e38a3);
}
/* @media all and (min-width:1232px) */
.banner--illustration, .banner__background {
	min-height: 942px;
}
.banner.banner--fullpage .banner__background {
	min-height: 300px;
	max-height: 770px;
}
.illustration {
	position: relative;
	z-index: 2;
}
.illustration--wide {
	width: 1410px;
	left: 50%;
	transform: translateX(-50%);
}
.banner.banner--fullpage .banner__illustration {
	position: absolute;
	z-index: 20;
	top: auto;
	bottom: 405px;
}
.svg-illustration {
	height: 100%;
	max-width: 100%;
	position: relative;
	z-index: 3;
	overflow: visible !important;
}
.svg-illustration--ssd {
	max-width: 182px;
}
.icon-ui--24 {
	width: 24px;
	height: 24px;
}
svg:not(:root) {
	overflow: hidden;
}
.banner__background > svg {
	position: absolute;
	bottom: -1px;
	left: -1px;
	right: -1px;
	float: left;
}
.illustration .svg-illustration--ssd {
	margin-top: -90px;
}
svg:not(:root):not(.svg-product) {
	overflow: hidden;
}
.svg-banner-shape {
	fill: #fff;
}
.illustration__left-element, .illustration__path-left, .illustration__path-right, .illustration__right-element {
	position: absolute;
}
.illustration__left-element, .illustration__right-element {
	top: -156px;
	z-index: 9;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 352px;
	height: 352px;
}
.illustration__left-element {
	left: 12px;
}
.illustration__right-element {
	right: 12px;
}
.illustration__light {
	position: absolute;
	width: 182px;
	max-height: 100%;
	bottom: 50px;
	z-index: 3;
}
/* @media all and (min-width:1012px) */
[data-animation-type].animation-element, [data-animation-type]:not(.svg-product) .animation-element, [data-animation].animation-element, [data-animation]:not(.svg-product) .animation-element {
	will-change: opacity,transform;
	opacity: 0;
}
.svg-light__1 {
	opacity: 0.8;
	fill: url(#svg-gradient__light-1);
	enable-background: new;
}
.svg-light__2 {
	opacity: 0.16;
	fill: url(#svg-gradient__light-2);
	enable-background: new;
}
.svg-light__reflect {
	opacity: 0.24;
	fill: url(#svg-gradient__light-reflect);
	enable-background: new;
}
.svg-illustration--ssd .gradient-1 {
	fill: url(#gradient-ssd-1);
}
.svg-illustration .opacity-3 {
	opacity: 0.7;
}
.svg-illustration .fill-dark-blue-1 {
	fill: #162f7e;
}
.svg-illustration--ssd .gradient-2 {
	fill: url(#gradient-ssd-2);
}
.banner.banner--fullpage .banner__brand {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 170px;
	height: 26vh;
	max-height: 286px;
}
.banner.banner--fullpage .banner__content {
	position: relative;
	z-index: 21;
}
.m-h-a {
	margin-left: auto !important;
	margin-right: auto !important;
}
.m-w-xs {
	max-width: 480px;
}
.box {
	display: flex;
	background: #fff;
	box-shadow: 0px 4px 32px 0px rgba(10,14,29,0.02), 0px 8px 64px 0px rgba(10,14,29,0.08);
	border-radius: 3px;
}
.box--auth {
	min-height: 372px;
	align-items: center;
}
.box--auth + * {
	margin-top: 42px;
}
.p-3 {
	padding: 1rem !important;
}
.m-b-0 {
	margin-bottom: 0px;
}
.m-b-0 {
	margin-bottom: 0px !important;
}
.m-t-3x {
	margin-top: 24px !important;
}
.text-center {
	text-align: center !important;
}
.p-3 {
	font-size: 15px;
	font-weight: 300;
	line-height: 24px;
	padding: 0 !important;
}
a, a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
	text-decoration: none;
}
[role=button], a, area, button, input, label, select, summary, textarea {
	touch-action: manipulation;
}
a {
	color: #007bfc;
	transition: color .3s;
}
.box__content {
	padding: 16px;
	width: 100%;
}
.box--auth .box__content {
	padding: 36px 56px 48px;
}
h1 {
	font-size: 36px;
	line-height: 42px;
	margin: 0px 0px 25px 0px;
	color: #1e2736;
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0.5rem;
}
.h1, h1 {
	font-size: 52px;
	font-weight: 700;
	line-height: 64px;
	margin: 0 0 48px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	color: #142149;
	font-weight: 300;
	margin-bottom: 0px;
}
.h2, h2 {
	font-size: 40px;
	font-weight: 700;
	line-height: 52px;
	margin: 0 0 40px;
}
.box--auth .box__title {
	text-align: center;
}
.form {
	width: 100%;
}
button, input, select, textarea {
	line-height: inherit;
}
.form-group {
	margin-bottom: 0px;
}
.form-group {
	margin-bottom: 15px;
}
.input-group {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 16px;
	height: 56px;
	border-radius: 3px;
	font-size: 17px;
	transition: border .3s linear;
	padding: 0 !important;
}
.form-control {
	display: block;
	width: 100%;
	height: 50px;
	padding: 8px 12px;
	font-size: 14px;
	line-height: 1.4285;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #cdcfd1;
	border-radius: 0;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control, .form-indicator, .input-group {
	color: #525666;
	border: 1px solid #d3d6e2;
	background-color: #fff;
	box-shadow: none;
}
.form-group {
	position: relative;
	margin-bottom: 16px;
}
.box--auth .alert, .box--auth .form-group {
	margin-bottom: 24px;
}
.rail {
	display: flex;
	align-items: center;
}
.rail--space-between {
	justify-content: space-between;
}
.banner .rail, .banner__desc, .banner__title {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.form__actions {
	margin-top: 48px;
}
.box--auth .form__actions {
	margin-top: 32px;
}
button, select {
	text-transform: none;
}
.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	transition: border-color .3s,background .3s,color .3s;
	vertical-align: top;
	white-space: nowrap;
	border: 1px solid transparent;
	outline: 0;
	font-size: 17px;
	font-weight: 500;
	line-height: 28px;
	padding: 0 24px;
	height: 56px;
	border-radius: 3px;
}
.btn--primary {
	color: #fff;
	background: #007bfc;
}
.btn {
	overflow: hidden;
	border: none;
}
.btn.btn--block {
	display: flex;
	width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	flex: 1 auto;
}
.form__actions .btn {
	min-width: 245px;
}
.box--auth .form__actions .btn {
	min-width: unset;
}
.btn .btn__icon, .btn .btn__text {
	z-index: 10;
	position: relative;
	pointer-events: none;
}
.btn .btn-hover-effect {
	z-index: 5;
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	width: 0px;
	height: 0px;
	background: radial-gradient(circle closest-side,#51b9ff,transparent);
	transform: translate(-50%, -50%);
	transition: width .2s ease,height .2s ease;
}
.rail__content {
	flex-grow: 1;
}
.box--auth .rail__content {
	align-items: center;
	display: flex;
}
.rail > * + * {
	margin-left: 16px;
}
.rail__toolbar {
	display: flex;
	flex-grow: 0;
	align-items: center;
	white-space: nowrap;
}
.box--auth .rail__toolbar a:not(:hover) {
	color: #525666;
}
.input-group__icon {
	height: 24px !important;
	width: 24px !important;
	min-width: 24px !important;
	min-height: 24px !important;
	font-size: 24px !important;
	line-height: 24px !important;
	display: flex;
	align-items: center;
	justify-content: center;
}
:first-child.input-group__icon {
	margin-left: 16px;
}
.form-control {
	padding: 0 16px;
	height: 56px;
	border-radius: 3px;
	font-size: 17px;
	display: block;
	width: 100%;
	transition: border .3s linear;
	appearance: none;
}
input[type=text], input[type=number], input[type=file], input[type=password], input[type=email], input[type=date], input[type=search], select {
	border: 1px solid #DCDEE0;
	border-radius: 3px;
	vertical-align: middle;
	height: 50px;
	padding: 0px 15px;
	color: #555555;
	font-size: 15px;
	background-color: #ffffff;
	font-weight: inherit;
}
.input-group .form-control {
	position: relative;
	z-index: 2;
	float: left;
	width: 100%;
	margin-bottom: 0px;
}
.input-group .form-control, .input-group .selectize-control.form-control, .input-group .selectize-control.form-control .selectize-input {
	min-height: 100%;
	border: none !important;
	background: transparent !important;
}
.input-group .form-control {
	height: auto;
	flex: 1 1 auto;
}
.form-group > :last-child {
	margin-bottom: 0px !important;
}
.icon-ui * {
	transition: .3s ease;
}
.icon-ui .fill {
	fill: #8692b0;
}
.icon-ui .stroke {
	fill: none;
	stroke: #8692b0;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.form-group input[type='text'] {
	border: none;
}
[data-logo-video] {
	position: relative;
	z-index: 21;
	height: 45px;
	width: auto;
	max-width: 300px;
}

.form-control .form-check label:active .form-indicator, .form-control .form-check label:focus .form-indicator, .form-control:active, .form-control:focus, .form-indicator .form-check label:active .form-indicator, .form-indicator .form-check label:focus .form-indicator, .form-indicator:active, .form-indicator:focus, .input-group .form-check label:active .form-indicator, .input-group .form-check label:focus .form-indicator, .input-group:active, .input-group:focus {
    border-color: #007bfc;
    outline: 0;
}

.bg-100 {
	background-image: url('/awesome_theme_pro/static/images/bk3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}