.o_mining_site_dashboard {
    height: 100%;
    width: 100%;
    color: #333;

    .o_control_panel {
        height: 7.5%;
    }

    .o_dashboard_content {
        height: 92.5%;
        width: 100%;
        display: block;
        background-color: #F1F1F1;
        overflow-y: auto;

        .o_section {
            width: 100%;
            display: flex;

            .o_subsection {
                height: 100%;
                padding: 10px;

                .o_box {
                    height: 100%;
                    width: 100%;
                    background-color: white;
                    border-radius: 10px;
                    padding: 10px;
                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

                    &:hover {
                        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
                    }

                    #openWeatherSiteWidget {
                        height: 100%;

                        #container-openWeatherSiteWidget {
                            height: 100%;

                            .widget-left {
                                width: 100%;
                                height: 100%;
                                margin: 0;
                                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                                border-radius: 10px;
    
                                .widget-left-menu.widget-left-menu--brown {
                                    border-radius: 10px 10px 0 0;
                                    border-bottom: 2px solid #ff4f98;
    
                                    .widget-left-menu__layout {
                                        width: 90%;
                                        border-bottom: none;
                                    }
                                }
    
                                .widget-left__body {
                                    width: 100%;
                                }
                            }
                        }
                    }

                    .o_total_production {
                        height: 100%;
                        width: 100%;
                        display: flex;

                        .o_percentage {
                            width: 30%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            display: flex;
                            flex-direction: column;
                            color: #14B8A6;
                            font-weight: bold;
                            position: relative;

                            .o_value {
                                font-size: 30px;
                                margin-top: 20px;

                                &.o_up {
                                    color: #14B8A6;
                                }
                                &.o_down {
                                    color: #F69C9C;
                                }
                            }

                            .o_percentage_icon {
                                position: absolute;
                                top: 0;
                                font-size: 40px;

                                &.o_up {
                                    color: #14B8A6;
                                }
                                &.o_down {
                                    color: #F69C9C;
                                }
                            }

                            &.o_up {
                                color: #14B8A6;
                            }
                            &.o_down {
                                color: #F69C9C;
                            }
                        }

                        .o_production_info {
                            width: 50%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            table.o_table_production {
                                width: 100%;

                                tbody {
                                    tr {
                                        cursor: pointer;

                                        &.o_this_month {
                                            font-size: 17px;
                                            font-weight: bold;
                                        }

                                        &.o_last_month {
                                            font-size: 14px;
                                            font-weight: bold;
                                        }

                                        &:hover {
                                            color: #14B8A6;
                                        }

                                        td {
                                            white-space: nowrap;

                                            &.o_label {
                                                padding-right: 5px;
                                                text-align: right;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        .o_production_filter {
                            width: 20%;
                            height: 100%;

                            .o_search {
                                width: 100%;
                                border-bottom: 1px solid #333;
                                padding-right: 20px;
                                display: flex;
                                position: relative;
                                font-size: 12px;
                                
                                .o_search_input {
                                    font-size: 12px;
                                    height: 100%;
                                    width: 100%;
                                    border: none;
                                    color: #333;
                                    cursor: pointer;
                                }

                                .o_search_icon {
                                    font-size: 12px;
                                    position: absolute;
                                    top: 2px;
                                    right: 5px;
                                    color: #333;
                                    cursor: pointer;
                                }

                                .o_search_dropdown {
                                    width: 100%;
                                    position: absolute;
                                    top: 105%;
                                    left: 0;
                                    background-color: white;
                                    z-index: 1;
                                    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                                    border-radius: 5px;

                                    ul {
                                        list-style-type: none;
                                        padding-left: 0;
                                        margin: 0;

                                        li {
                                            cursor: pointer;
                                            padding: 5px;

                                            &:hover {
                                                background-color: #14B8A6;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .o_total_vehicle {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 10px;

                        table.o_table_total_vehicle {
                            width: 100%;

                            tbody {
                                tr {
                                    cursor: pointer;

                                    &.o_vehicle_count {
                                        font-size: 17px;
                                        font-weight: bold;
                                    }

                                    &.o_vehicle_maintenance_count {
                                        font-size: 14px;
                                        font-weight: bold;
                                    }

                                    &:hover {
                                        color: #14B8A6;
                                    }
                                    
                                    td {
                                        &.o_vehicle_value {
                                            color: #F69C9C;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .o_fuel {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        padding: 10px;

                        table.o_table_fuel {
                            width: 100%;

                            tbody {
                                tr {
                                    &.o_total_fuel {
                                        font-size: 17px;
                                        font-weight: bold;
                                    }

                                    &.o_fuel_value {
                                        color: #14B8A6;
                                        font-size: 20px;
                                        font-weight: bold;
                                    }
                                }
                            }
                        }
                    }

                    .o_maintenance_time {
                        height: 100%;
                        width: 100%;
                        overflow-y: hidden;

                        .o_total_maintenance_time {
                            font-size: 16px;
                            font-weight: bold;
                            height: 10%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }

                        .o_table_maintenance_time {
                            width: 100%;
                            height: 90%;

                            thead {
                                tr {
                                    th {
                                        text-align: center;
                                        background-color: #F69C9C;
                                        color: white;
    
                                        &:first-child {
                                            border-radius: 10px 0 0 10px;
                                            width: 10%;
                                        }
    
                                        &:last-child {
                                            border-radius: 0 10px 10px 0;
                                        }
                                    }
                                }
                            }

                            tbody {
                                display: block;
                                height: 100%;
                                overflow: auto;

                                tr {
                                    td {
                                        cursor: pointer;
                                        text-align: center;

                                        &:first-child {
                                            width: 10%;
                                            border-radius: 10px 0 0 10px;
                                        }
    
                                        &:last-child {
                                            border-radius: 0 10px 10px 0;
                                        }
                                    }

                                    &:hover {
                                        td {
                                            background-color: #14B8A6;
                                            color: white;
                                        }
                                    }
                                }
                            }

                            thead tr, tbody tr {
                                display: table;
                                width: 100%;
                                table-layout: fixed;
                            }
                        }
                    }

                    &.o_maintenance_box, &.o_operative_box, &.o_breakdown_box {
                        padding: 0;

                        .o_vehicle {
                            width: 100%;
                            height: 100%;

                            .o_title {
                                height: 20%;
                                width: 100%;
                                padding: 10px;
                                border-radius: 10px 10px 0 0;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color: #333;
                                font-size: 16px;
                                font-weight: bold;
                            }
    
                            .o_content_wrapper {
                                height: 80%;
                                width: 100%;
                                border-radius: 0 0 10px 10px;
                                overflow: hidden;
                                padding: 10px;

                                .o_content {
                                    height: 100%;
                                    overflow-y: auto;

                                    ul {
                                        list-style-type: none;
                                        padding-left: 0;

                                        li {
                                            text-decoration: underline;
                                            text-align: center;
                                            color: #333;
                                            cursor: pointer;
                                            margin-bottom: 10px;

                                            &:hover {
                                                color: #14B8A6;
                                            }
                                        }
                                    }
                                }
                            }
                        } 
                    }

                    &.o_maintenance_box {
                        .o_title {
                            background-color: #FFBF3D;
                        }
                    }

                    &.o_operative_box {
                        .o_title {
                            background-color: #14B8A6;
                        }
                    }

                    &.o_breakdown_box {
                        .o_title {
                            background-color: #F69C9C;
                        }
                    }
                    
                    &.o_weather {
                        padding: 0;

                        .openWeatherContainer {
                            height: 100%;
                        }
                    }

                    &.o_operation_type_box {
                        .o_operation_type_content {
                            display: flex;
                            flex-direction: column;
                            padding: 10px;

                            .o_operation_type_section {
                                display: flex;
                                padding: 10px;

                                .o_total_production_graph_box, .o_stripping_ratio_box, .o_production_per_pit_box, .o_production_per_day_box {
                                    height: 100%;
            
                                    .o_box_chart {
                                        height: 100%;
                                        width: 100%;
            
                                        .o_box_chart_title {
                                            width: 100%;
                                            height: 10%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            font-weight: bold;
                                            font-size: 15px;
                                            text-align: center;
                                        }
            
                                        .o_box_chart_container {
                                            width: 100%;
                                            height: 90%;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                        }
                                    }
                                }
            
                                .o_production_per_day_box {
                                    .o_box_chart_title {
                                        .o_datepicker {
                                            height: 100%;
                                            display: flex;
                                            align-items: center;
            
                                            .o_datepicker_input {
                                                padding: 0;
                                                border: none !important;
                                                text-align: center;
                                                font-weight: bold;
                                            }
                                            .o_datepicker_button {
                                                top: -6px;
                                                &::after {
                                                    content: "\f073";
                                                    font-size: 13px !important;
                                                    font-weight: normal;
                                                    color: inherit;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .o_w33 {
        width: 33.33% !important;
    }

    .o_w50 {
        width: 50% !important;
    }

    .o_w66 {
        width: 66.66% !important;
    }

    .o_w100 {
        width: 100% !important;
    }

    .o_h20 {
        height: 20% !important;
    }

    .o_h43 {
        height: 43.75% !important;
    }

    .o_h56 {
        height: 56.25% !important;
    }

    .o_h80 {
        height: 80% !important;
    }
}