@font-face {
  font-family: 'inven_control';
  src:  url('/equip3_inventory_dashboard/static/fonts/inven_control.eot?cki7xd');
  src:  url('/equip3_inventory_dashboard/static/fonts/inven_control.eot?cki7xd#iefix') format('embedded-opentype'),
    url('/equip3_inventory_dashboard/static/fonts/inven_control.ttf?cki7xd') format('truetype'),
    url('/equip3_inventory_dashboard/static/fonts/inven_control.woff?cki7xd') format('woff'),
    url('/equip3_inventory_dashboard/static/fonts/inven_control.svg?cki7xd#inven_control') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'inven_control' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o_hm_icon_control {
  font-family: 'inven_control' !important;
}

.o_hm_icon_control::before {
  content: "\e900";
}

@font-face {
  font-family: 'inven_report';
  src:  url('/equip3_inventory_dashboard/static/fonts_report/inven_report.eot?463xnt');
  src:  url('/equip3_inventory_dashboard/static/fonts_report/inven_report.eot?463xnt#iefix') format('embedded-opentype'),
    url('/equip3_inventory_dashboard/static/fonts_report/inven_report.ttf?463xnt') format('truetype'),
    url('/equip3_inventory_dashboard/static/fonts_report/inven_report.woff?463xnt') format('woff'),
    url('/equip3_inventory_dashboard/static/fonts_report/inven_report.svg?463xnt#inven_report') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'inven_report' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.o_hm_icon_report {
  font-family: 'inven_report' !important;
}

.o_hm_icon_report::before {
  content: "\e900";
}

@font-face {
  font-family: 'icon_product';
  src:  url('/equip3_inventory_dashboard/static/fonts_product/icon_product.eot?9y9cp9');
  src:  url('/equip3_inventory_dashboard/static/fonts_product/icon_product.eot?9y9cp9#iefix') format('embedded-opentype'),
    url('/equip3_inventory_dashboard/static/fonts_product/icon_product.ttf?9y9cp9') format('truetype'),
    url('/equip3_inventory_dashboard/static/fonts_product/icon_product.woff?9y9cp9') format('woff'),
    url('/equip3_inventory_dashboard/static/fonts_product/icon_product.svg?9y9cp9#icon_product') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_product' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_product {
  font-family: 'icon_product' !important;
}

.icon_product::before {
  content: "\e900";
}

@font-face {
  font-family: 'icon_configuration';
  src:  url('/equip3_inventory_dashboard/static/fonts_configuration/icon_configuration.eot?8jrrga');
  src:  url('/equip3_inventory_dashboard/static/fonts_configuration/icon_configuration.eot?8jrrga#iefix') format('embedded-opentype'),
    url('/equip3_inventory_dashboard/static/fonts_configuration/icon_configuration.ttf?8jrrga') format('truetype'),
    url('/equip3_inventory_dashboard/static/fonts_configuration/icon_configuration.woff?8jrrga') format('woff'),
    url('/equip3_inventory_dashboard/static/fonts_configuration/icon_configuration.svg?8jrrga#icon_configuration') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_configuration' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_configuration {
  font-family: 'icon_configuration' !important;
}

.icon_configuration::before {
  content: "\e900";
}

@font-face {
  font-family: 'icon_barcode';
  src:  url('/equip3_inventory_dashboard/static/fonts_barcode/icon_barcode.eot?n2r7a8');
  src:  url('/equip3_inventory_dashboard/static/fonts_barcode/icon_barcode.eot?n2r7a8#iefix') format('embedded-opentype'),
    url('/equip3_inventory_dashboard/static/fonts_barcode/icon_barcode.ttf?n2r7a8') format('truetype'),
    url('/equip3_inventory_dashboard/static/fonts_barcode/icon_barcode.woff?n2r7a8') format('woff'),
    url('/equip3_inventory_dashboard/static/fonts_barcode/icon_barcode.svg?n2r7a8#icon_barcode') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_barcode' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_barcode {
  font-family: 'icon_barcode' !important;
}

.icon_barcode::before {
  content: "\e900";
}

@font-face {
  font-family: 'icon_operation';
  src:  url('/equip3_inventory_dashboard/static/fonts_operation/icon_operation.eot?kvkg9q');
  src:  url('/equip3_inventory_dashboard/static/fonts_operation/icon_operation.eot?kvkg9q#iefix') format('embedded-opentype'),
    url('/equip3_inventory_dashboard/static/fonts_operation/icon_operation.ttf?kvkg9q') format('truetype'),
    url('/equip3_inventory_dashboard/static/fonts_operation/icon_operation.woff?kvkg9q') format('woff'),
    url('/equip3_inventory_dashboard/static/fonts_operation/icon_operation.svg?kvkg9q#icon_operation') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_operation' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_operation {
  font-family: 'icon_operation' !important;
}

.icon_operation::before {
  content: "\e900";
}

@font-face {
  font-family: 'icon_warehouse_overview';
  src:  url('/equip3_inventory_dashboard/static/fonts_warehouse_overview/icon_warehouse_overview.eot?osqoo8');
  src:  url('/equip3_inventory_dashboard/static/fonts_warehouse_overview/icon_warehouse_overview.eot?osqoo8#iefix') format('embedded-opentype'),
    url('/equip3_inventory_dashboard/static/fonts_warehouse_overview/icon_warehouse_overview.ttf?osqoo8') format('truetype'),
    url('/equip3_inventory_dashboard/static/fonts_warehouse_overview/icon_warehouse_overview.woff?osqoo8') format('woff'),
    url('/equip3_inventory_dashboard/static/fonts_warehouse_overview/icon_warehouse_overview.svg?osqoo8#icon_warehouse_overview') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_warehouse_overview' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_warehouse_overview {
  font-family: 'icon_warehouse_overview' !important;
}

.icon_warehouse_overview::before {
  content: "\e900";
}

@font-face {
  font-family: 'icon_dashboard';
  src:  url('/equip3_inventory_dashboard/static/fonts_dashboard/icon_dashboard.eot?dpiyru');
  src:  url('/equip3_inventory_dashboard/static/fonts_dashboard/icon_dashboard.eot?dpiyru#iefix') format('embedded-opentype'),
    url('/equip3_inventory_dashboard/static/fonts_dashboard/icon_dashboard.ttf?dpiyru') format('truetype'),
    url('/equip3_inventory_dashboard/static/fonts_dashboard/icon_dashboard.woff?dpiyru') format('woff'),
    url('/equip3_inventory_dashboard/static/fonts_dashboard/icon_dashboard.svg?dpiyru#icon_dashboard') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon_dashboard' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_dashboard {
  font-family: 'icon_warehouse_overview' !important;
}

.icon_dashboard::before {
  content: "\e900";
}