<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <menuitem id="menu_hr_overtime_root" name="Overtimes" sequence="91" groups="equip3_hr_attendance_overtime.group_overtime_self_service" web_icon="equip3_hr_attendance_overtime,static/description/icon.png" />

        <menuitem id="hr_overtime_menu_root" parent="menu_hr_overtime_root" name="My Overtimes" sequence="1"/>

        <record id="hr_overtime_menu_root" model="ir.ui.menu">
            <field name="equip_icon_class">o-hm-sidebar-sub-hrm-my-overtime</field> 
        </record>

        <menuitem name="My Overtime Requests" id="overtime_requests_menu" parent="hr_overtime_menu_root"
                  action="overtime_requests_act_window" sequence="1"/>
        <menuitem name="My Overtime Request Lines" id="overtime_request_lines_menu" parent="hr_overtime_menu_root"
                  action="overtime_request_lines_act_window" sequence="2"/>
        <menuitem name="My Actual Overtimes" id="hr_actual_overtime_menu" parent="hr_overtime_menu_root"
                  action="hr_overtime_actual_act_window_custom" sequence="3"/>
        <menuitem name="My Actual Overtime Lines" id="hr_actual_overtime_lines_menu" parent="hr_overtime_menu_root"
                  action="hr_overtime_actual_lines_act_window_custom" sequence="4"/>

        <menuitem id="hr_overtimes_menu_root" parent="menu_hr_overtime_root" name="Manage Overtimes" groups="equip3_hr_attendance_overtime.group_overtime_team_approver" sequence="2"/>

        <record id="hr_overtimes_menu_root" model="ir.ui.menu">
            <field name="equip_icon_class">o-hm-sidebar-sub-hrm-manage-overtimes</field> 
        </record>

        <menuitem name="Overtime Requests" id="overtime_by_manager_menu" parent="hr_overtimes_menu_root"
                  action="overtime_by_manager_act_window" sequence="1"/>
        <menuitem name="Overtime Request to Approve" id="overtime_requests_approval_menu" parent="hr_overtimes_menu_root"
                  action="overtime_requests_approval_act_window" sequence="2"/>
        <menuitem name="Actual Overtime Request" id="hr_actual_overtime_request_menu" parent="hr_overtimes_menu_root"
                  action="hr_overtime_actual_by_manager_act_window" sequence="3"/>
        <menuitem name="Actual Overtime to Approve" id="hr_actual_overtime_approval_menu" parent="hr_overtimes_menu_root"
                  action="hr_overtime_actual_approval_act_window" sequence="4"/>

        <menuitem name="Reporting" id="hr_overtimes_reporting_menu" groups="equip3_hr_attendance_overtime.group_overtime_admin"  parent="menu_hr_overtime_root" sequence="10"/>

        <menuitem name="Actual Overtime Analysis" id="actual_overtime_analysis_menu" parent="hr_overtimes_reporting_menu"
                  action="hr_overtime_actual_analysis_act_window" sequence="1"/>

        <menuitem name="Configuration" id="hr_overtimes_configuraion_menu" parent="menu_hr_overtime_root"  sequence="90"/>

        <record model='ir.ui.menu' id='hr_overtimes_configuraion_menu'>
            <field name="groups_id" eval="[(6, 0, [ref('equip3_hr_attendance_overtime.group_overtime_team_approver')])]"/>
        </record>

        <record model='ir.ui.menu' id='hr_overtimes_reporting_menu'>
            <field name="groups_id" eval="[(6, 0, [ref('equip3_hr_attendance_overtime.group_overtime_all_approver')])]"/>
        </record>

        <record model='ir.ui.menu' id='actual_overtime_analysis_menu'>
            <field name="groups_id" eval="[(6, 0, [ref('equip3_hr_attendance_overtime.group_overtime_all_approver')])]"/>
        </record>
        <menuitem name="Overtime Rules" id="overtime_rules_menu" parent="hr_overtimes_configuraion_menu"
                  action="overtime_rules_act_window" sequence="2"/>
        <menuitem name="Settings" id="equip3_hr_overtime_approval_menu_configuration"
                  parent="hr_overtimes_configuraion_menu" action="equip3_hr_overtime_approval_config_settings_action"
                  sequence="1" groups="base.group_system"/>
        <menuitem name="Overtime Approval Matrix" id="hr_overtime_approval_matrix_menu" parent="hr_overtimes_configuraion_menu"
                  action="hr_overtime_approval_matrix_act_window" sequence="3"/>


        <record model='ir.ui.menu' id='hr_overtime_approval_matrix_menu'>
            <field name="groups_id" eval="[(6, 0, [ref('equip3_hr_attendance_overtime.group_overtime_all_approver')])]"/>
        </record>

    </data>
</odoo>