.o_progress_history_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="job_order"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="stage_new"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="progress_start_date_new"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="progress_end_date_new"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="date_create"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="create_by"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="progress"]{
                            min-width: 130px !important;
                            width: 130px !important;
                            max-width: 130px !important;
                            text-align: center;
                        }
                        th[data-name="progress_summary"]{
                            min-width: 200px !important;
                            width: 200px !important;
                            max-width: 200px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}


.o_issue_history_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="issue_id"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: center;
                        }
                        th[data-name="priority"]{
                            min-width: 100px !important;
                            width: 100px !important;
                            max-width: 100px !important;
                            text-align: center;
                        }
                        th[data-name="date_create"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                        th[data-name="issue_stage_id"]{
                            min-width: 150px !important;
                            width: 150px !important;
                            max-width: 150px !important;
                            text-align: center;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.o_scurve_report_line {
    .o_list_view {
        .table-responsive{
            table{
                overflow-x: auto;
                thead{
                    tr{
                        th[data-name="sr_no"]{
                            min-width: 45px !important;
                            width: 45px !important;
                            max-width: 45px !important;
                            text-align: center;
                        }
                        th[data-name="name"]{
                            min-width: 180px !important;
                            width: 180px !important;
                            max-width: 180px !important;
                            text-align: left;
                        }
                    }
                }
            }
            tbody{
                tr{
                    td{
                        .oe_stat_button{
                            display: none !important;
                        }
                    }
                }
            }
        }

    }
}

.equip3_cons_flow_menu {
    position: relative;
    padding: 1rem;

    @mixin panah_default {
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 15px solid #1b6278;
        right: -2px;
        top: -7px;
        transform: rotate(3deg);
    }

    @mixin panah_chevron {
        position: absolute;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.13em solid #1b6278;
        border-top: 0.13em solid #1b6278;
        transform: rotate(45deg);
        margin-right: 0.5em;
        font-size: 28px;
        top: -5px;
        right: -13px;
    }

    @mixin line__connect {
        flex-shrink: 0;
        display: block;
        position: relative;
        height: 2px;
        top: 50%;
        width: 100%; // nilai default, akan disesuaikan dengan inline-style karena tidak menggunakan javascript
        background-color: #1B6278;
        transform-origin: top left;
    }

    > .main {
        user-select: none;
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem 3rem;

        .header {
            cursor: pointer;
            position: relative;
            text-align: left;
            padding: 2rem 3.3rem;
            background-color: #F2F2F2;
            outline: none;
            border: none;
            transition: .4s ease-out all;

            &::before {
                content: '+';
                position: absolute;
                font-size: 2rem;
                font-weight: 500;
                top: 50%;
                transform: translateY(-50%);
            }

            &.show {
                &::before {
                    content: '-';
                }
            }

            &:hover {
                background-color: #e4e5e8;
            }
            
            .title {
                font-size: 2.1rem;
                color: black;
                font-weight: 500;
                margin-left: 2rem;
            }
        }

        .accordion-wrapper {
            overflow: hidden;
            max-height: 0;
            transition: .5s ease-out all;
        }

        .action__area {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 3.3rem;
            border: 1px solid #F2F2F2;
            border-radius: 0px 0px 12px 12px;
            transition: .5s ease-out all;

            .item {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.2rem;
                border: 1px solid #efefef;
                border-radius: 12px !important;
                padding: 0.5rem 1rem .5rem .5rem;
                background: white;
                transition: .4s ease-out all;

                &:hover {
                    background: #efefef;
                }

                > img {
                    width: 45px;
                    object-fit: contain;
                    object-position: center center;
                    border-radius: 10px;
                }
                > span {
                    font-weight: 400;
                    font-size: 15px;
                }
            }
        }

        .flow__area {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            // gap: 10.5rem;
            max-height: 240px;
            padding: 3.3rem 3.3rem 3.3rem 0;
            position: relative;
            background-color: white;
            border: none;
            border-radius: 0px 0px 12px 12px;
            transition: .5s ease-out all;

            &.hide {
                max-height: 0;
                padding: 0rem;
            }

            .line__no__connect {
                @include line__connect;
            }

            .connector__wrapper__col {
                flex-shrink: 0;
                width: 75px;

                .line__connect {
                    @include line__connect;
                    &.tr__1 {
                        width: 122%; // konfigurasi inline-style
                        transform: rotate(35deg);
                        &::before {
                            @include panah_chevron;
                        }
                    }
                    &.tb__1 {
                        width: 122%; // konfigurasi inline-style
                        transform: rotate(-35deg);
                        &::before {
                            @include panah_chevron;
                        }
                    }
                    &::before {
                        @include panah_chevron;
                    }
                }
            }

            .item__wrapper__col {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5rem;

                .item {
                    height: 50px; 
                    min-width: 150px;
                    position: relative;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 2rem;
                    text-align: left;
                    padding: 1rem 4.1rem 1rem 1.3rem;
                    border: 0px solid transparent;
                    border-left: 4px solid #1B6278;
                    border-radius: 4px;
                    box-shadow: 0px 7px 14px #155c7125;
                    background-color: #F3FCFE;
                    transition: all;
                    transition-duration: 650;
                    transition-timing-function: ease-out;

                    &.item__hide {
                        pointer-events: none;
                        visibility: hidden;
                    }

                    &:hover {
                        box-shadow: 0 5px 18px #15738f5c;
                    }
    
                    span {
                        font-size: 11px;
                        color: #1B6278;
                        font-weight: 600;
                    }
                    img {
                        max-width: 35px;
                        min-width: 35px;
                    }
                    .long-text {
                        min-width: 90px;
                    }
                }

            }
        }
    }
}

