.o_view_asset_report {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
}

.o_mining_asset_report_header {
    margin-bottom: 10px;
}

.o_mining_asset_report_content {
    overflow: scroll;
    height: 100%;
    display: flex;
}

/* to override default nocontent-helper */
.o_mining_asset_report_content .o_view_nocontent {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.o_mining_report_title {
    padding: 0px 10px;
}
.o_mining_control_panel {
    display: flex;
    padding: 10px;
}
.o_mining_control_panel .o_panel_right {
    margin-left: auto;
}
.o_mining_control_panel .o_panel_right .o_report_filter {
    display: flex;
}
.o_mining_control_panel .o_filter_date_dropdown {
    min-width: 200px;
}
.o_mining_control_panel .o_filter_date_custom_container {
    padding: 3px 20px;
}

table.o_table_asset_report {
    width: 100%;
    margin-bottom: 20px;
}
table.o_table_asset_report thead:not(:first-child)::before {
    content: '';
    display: block;
    height: 30px;
}
table.o_table_asset_report th.o_title {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
table.o_table_asset_report th.o_month {
    text-align: center;
}
table.o_table_asset_report th.o_value, table.o_table_asset_report td.o_value {
    text-align: right;
}
table.o_table_asset_report td.o_total {
    font-weight: bold;
}
table.o_table_asset_report tbody.o_row {
    background-color: #ECECEC;
    cursor: pointer;
}
table.o_table_asset_report tbody.o_row tr:first-child {
    white-space: nowrap;
}
table.o_table_asset_report td span {
    margin-left: 0;
}
table.o_table_asset_report td span.fa {
    width: 10px;
}
table.o_table_asset_report td.o_project {
    font-weight: bold;
}
table.o_table_asset_report td.o_act {
    padding-left: 30px;
}
table.o_table_asset_report td.o_nowrap {
    white-space: nowrap;
}
table.o_table_asset_report td .o_record {
    cursor: pointer;
}
table.o_table_asset_report td .o_record_dropdown {
    color: #4c4c4c !important;
}
table.o_table_asset_report td a.dropdown-toggle.o_dropdown_inline::after {
    display: none;
}
table.o_table_asset_report td .o_record_dropdown:hover {
    text-decoration: underline;
}