.o_view_fuel_ratio_report {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
}

.o_mining_fuel_report_header {
    margin-bottom: 10px;
}

.o_mining_fuel_report_content {
    overflow: scroll;
    height: 100%;
}

/* to override default nocontent-helper */
.o_mining_fuel_report_content .o_view_nocontent {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.o_mining_report_title {
    padding: 10px;
}

.o_mining_fuel_control_panel .o_panel_top, .o_mining_fuel_control_panel .o_panel_bottom {
    padding: 10px;
    display: flex;
}

.o_mining_fuel_control_panel .o_panel_top {
    padding-top: 20px;
}

.o_mining_fuel_control_panel table.o_table_panel td {
    padding-bottom: 20px;
}

.o_mining_fuel_control_panel table.o_table_panel td.o_td_label {
    min-width: 70px;
    font-weight: bold;
}

.o_mining_fuel_control_panel table.o_table_panel td.o_period_filter_widget {
    padding: 5px 10px;
    border-radius: 7px;
    background-color: #ededf1;
}

.o_mining_fuel_control_panel table.o_table_panel td.o_period_filter_widget label {
    margin-bottom: 0px;
}

.o_mining_fuel_control_panel .o_panel_right {
    margin-left: auto;
}
.o_mining_fuel_control_panel .o_panel_right .o_report_filter {
    display: flex;
}
.o_mining_fuel_control_panel .o_filter_date_dropdown {
    min-width: 200px;
}
.o_mining_fuel_control_panel .o_filter_date_custom_container {
    padding: 3px 20px;
}

.o_mining_fuel_report_content .o_fuel_info {
    padding: 10px;
}

.o_mining_fuel_report_content .o_fuel_info .o_waste_label, .o_mining_fuel_report_content .o_fuel_info .o_ore_label {
    font-weight: bold;
}

.o_mining_fuel_report_content .o_fuel_info .o_waste_product {
    margin-right: 20px;
}


table.o_table_fuel_report {
    width: 100%;
    margin-bottom: 50px;
}
table.o_table_fuel_report th {
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    background-color: #ECECEC;
}
table.o_table_fuel_report td {
    white-space: nowrap;
}
table.o_table_fuel_report th.o_total, table.o_table_fuel_report td.o_total {
    font-weight: bold;
    text-align: right;
}

table.o_table_fuel_report th.o_separator, table.o_table_fuel_report td.o_separator {
    border-left: 1px solid #dee2e6;
}
table.o_table_fuel_report td.o_fuel_ratio, table.o_table_fuel_report td.o_operation {
    font-weight: bold;
}
table.o_table_fuel_report td.o_operation {
    border-top: none;
}
table.o_table_fuel_report td.o_value {
    text-align: right;
}
table.o_table_fuel_report .o_freeze {
    position: sticky;
    left: 0;
    background-color: white;
}
table.o_table_fuel_report th.o_freeze {
    background-color: #ECECEC;
}
table.o_report_filters {
    margin: 30px 0px;
}
table.o_report_filters td {
    font-weight: bold;
}
table.o_report_filters td:first-child {
    padding-right: 20px;
}