<?xml version="1.0" encoding="utf-8"?>
<odoo>
  <data noupdate="0">
  
  <menuitem id="izi_sale_channel.sale_channel" name="Sale Channel"
            parent="sale.menu_sale_config" action="izi_sale_channel.action_window_sale_channel"
            sequence="3" groups="base.group_user" />
  
  <menuitem id="izi_sale_channel.sale_outlet" name="Sale Outlet"
            parent="sale.menu_sale_config" action="izi_sale_channel.action_window_sale_outlet"
            sequence="3" groups="base.group_user" />


  </data>
</odoo>