.analytic_pos_dashboard {
    padding-bottom: 100px;
}
.apd_button_left_top button {
    border: 1px solid #2894B4;
    color: #2894B4;
    background: white;
    font-size: 13px;
    border-radius: 7px;
    font-weight: bolder;
    padding: 8px 0;
    margin-left: 10px;
    width: 125px;
}
.apd_button_left_top button.apd_button_top_active  {
    background: #2894B4;
    color: white;
    border: unset;
}
.apd_button_left_top svg{
    filter: invert(11%) sepia(100%) saturate(1243%) hue-rotate(159deg) brightness(242%) contrast(183%) !important;
}
.apd_button_left_top .space_tmp1 {
    color :white;
        font-size: 15px;
}
.apd_button_left_top i {
    color :#2894B4;
        font-size: 15px;
}


.apd_button_left_top .apd_button_top_active svg{
    filter: invert(80%) sepia(95%) saturate(1268%) hue-rotate(159deg) brightness(242%) contrast(183%) !important;
}
.apd_button_left_top .apd_button_top_active .space_tmp1{
    color :#2894B4;

}
.apd_button_left_top .apd_button_top_active i {
    color :white;

}


.apd_button_right_top button {
    background: #D76B4B;
    border: unset;
    color: white;
    font-size: 11px;
    border-radius: 40px;
    font-weight: bolder;
    padding: 6px 0;
    margin-left: 12px;
    width: 95px;
}
.apd_button_right_top svg{
    filter: invert(80%) sepia(95%) saturate(1268%) hue-rotate(159deg) brightness(242%) contrast(183%) !important;
}
.apd_button_right_top .space_tmp1 {
    color :#D76B4B;
}
.apd_button_right_top{
    padding-top: 10px;
    text-align: right;
    padding-right: 50px;
}
.header_sales_compare_d p {
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
/*    padding: 30px 0;*/
}
.header_sales_compare_d {
    display: inline-flex;
    width: 100%;
    
}
.top_header_sales_compare_d,.top_header_notif_apd{
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
}
.header_sales_compare_d input {
    border-radius: 5px;
    font-size: 7px;
    padding: 3px 0;
    text-align: center;
    width: 70px !important;
    border-color: #e1dfdf;
}
.sales_compare_apd_datepicker {
    display: block;
    padding-bottom: 20px;
    width: 50%;
    text-align: right;
}

.child_sales_compare_apd_box {
    width: 100%;
    display: inline-flex;
}
.cscab_part1 {
    width: 30%;
}
.cscab_part1 svg {
    height: 65px;
    position: relative;
    top: 10px;
}

.cscab_part2 {
    width: 70%;
    text-align: left;
    display: block;
    position: relative;
    padding: 20px 15px;
}


.cscab_part2_badge_up {
    color: #5ae15a;
    font-size: 14px !important;
    font-weight: bolder;
    border-radius: 31px;
    width: 76px;
    background: #d9d9d9;
    position: absolute;
    text-align: center;
    right: 15px;
    top: 35%;
}
.cscab_part2_badge_up span{
    color: #5ae15a;
/*    margin-left: 12px;*/
}

.cscab_part2_badge_down {
    color: red;
    font-size: 14px !important;
    font-weight: bolder;
    border-radius: 31px;
    width: 76px;
    background: #d9d9d9;
    position: absolute;
    text-align: center;
    right: 15px;
    top: 35%;
}
.cscab_part2_badge_down span{
    color: red;
/*    margin-left: 12px;*/
}


.cscab_part2_digit {
    font-weight: bolder;
    color: black;
    font-size: 18px !important;
    margin: unset;
}
.cscab_part2_string {
    color: #819FB3;
    font-size: 13px !important;
    font-weight: bolder;
    margin: unset;
}
.cscab_1{
    border: 1px solid #66a8e1;
    border-radius: 17px;
}
.cscab_1 .cscab_part1{
    background: #66a8e1;
    border-radius: 10px 0 0px 10px;
}

.cscab_3{
    border: 1px solid #bb5dbb;
    border-radius: 17px;
}
.cscab_3 .cscab_part1{
    background: #bb5dbb;
    border-radius: 10px 0 0px 10px;
}
.cscab_2{
    border: 1px solid #8deba5;
    border-radius: 17px;
}
.cscab_2 .cscab_part1{
    background: #8deba5;
    border-radius: 10px 0 0px 10px;
}

.cscab_part1  svg {
    filter: invert(80%) sepia(95%) saturate(1268%) hue-rotate(159deg) brightness(242%) contrast(183%) !important;
}



div.header_notif_apd_left {
    display: inline-flex;
    position: relative;
    font-size: 15px;
    color: black;
    font-weight: bolder;
    text-align: left;
}
.header_notif_apd div{
    width: 50%;
}
.header_notif_apd{
    display: inline-flex;
    position: relative;
    width: 100%;
}
.top_header_notif_apd {
    padding: 15px;
    
}
.overflow_notif_apd {
    height: 290px;
    overflow: auto;
}
.overflow_notif_apd::-webkit-scrollbar {
  width: 1em;
}
 
.overflow_notif_apd::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
.overflow_notif_apd::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.header_notif_apd_left span {
    margin-right: 10px;
    position: relative;
    top: 3px;
}
.header_notif_apd_right button{
    margin-right: 15px;
    font-weight: bolder;
    font-size: 9px;
    border-radius: 19px;
    padding: 3px 15px;
}
.tabs_notif_apd {
    display: inline-flex;
    font-size: 12px;
    font-weight: bolder;
    text-align: left;
    width: 100%;
}
.tabs_notif_apd div {
    margin-left: 40px;
}
.tabs_notif_apd p {
    color: black;
    margin: unset;
    font-weight: bolder;
    display: block;
    position: relative;
    cursor: pointer;
}

.tabs_notif_apd .active p{
    color: #4380DA;
}
.tabs_notif_apd .active{
    border-bottom: 4px solid #4380DA;
    padding-bottom: 5px;
}
.apdn_nadge {
border-radius: 30px;
    padding: 3px 8px;
    background: #e7e2e2;
    position: absolute;
    top: -12px;
    margin-left: 4px;
    font-size: 9px;
}
p.title_list_notif_apd {
    margin: unset;
    text-align: left;
    font-size: 12px !important;
    color: black;
    font-weight: bolder;
}
p.informdate_list_notif_apd {
    text-align: left;
    font-size: 10px !important;
    margin: unset;
}
.divbutton_list_notif_apd {
    position: absolute;
    right: 0;
    top: 12px;
}
.list_notif_apd {
    display: block;
    position: relative;
    padding: 10px 0;
    padding-left: 20px;
}
.list_notif_apd span.fa.fa-circle {
    position: absolute;
    left: 0px;
    font-size: 12px;
    color: #4380DA;
    top: 20px;
}
.list_notif_apd span.fa.fa-archive {
    color: #26af96;
    font-size: 12px;
    padding: 7px 8px;
    border-radius: 39px;
    border: 1px solid #c3c3c3;
    margin-right: 10px;
}
.list_notif_apd span.fa.fa-trash {
    color: red;
    font-size: 12px;
    padding: 7px 8px;
    border-radius: 39px;
    border: 1px solid #c3c3c3;
    margin-right: 10px;
}
.header_apd_div_graph_tcr p{
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
    text-align: left;
}
.header_apd_div_graph_tcr {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
}
.header_apd_div_graph_tcs p{
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
    text-align: left;
}
.header_apd_div_graph_tcs {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
}
.header_apd_div_graph_sales_performance p{
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
    text-align: left;
}
.header_apd_div_graph_sales_performance {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
}
.o_analytic_pos_dashboards {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
}
.label_top_apd_div_graph_sales_performance {
    display: inline-flex;
    position: relative;
    width: 100%;
}
.apd_div_graph_sales_performance_right_label {
    width: 50%;
    text-align: right;
    position: relative;
}
#s2id_select_day_sp {
    width: 214px; font-size: 7px;
}
.select2-container-multi#s2id_select_day_sp .select2-choices .select2-search-choice {
        padding: 5px 3px 5px 10px;
    margin: 0px 0 0px 1px;
    border-radius: 8px !important;
}
#s2id_select_day_sp .select2-search-choice-close {
    left: 1px;
}
.header_apd_div_graph_top_10_p {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
    padding-bottom: unset !important;
}
.label_top_apd_div_graph_top_10_p p {
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
    text-align: left;
}
.label_top_apd_div_graph_top_10_p {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.apd_div_graph_top_10_p_right_label {
    width: 50%;
    text-align: right;
}
div#s2id_select_top_10_p {
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select_top_10_p a {
    border-radius: 12px;
}
div#s2id_select_top_10_p.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}
div#s2id_select_top_bottom_branch {
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select_top_bottom_branch a {
    border-radius: 12px;
}
div#s2id_select_top_bottom_branch.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}

div#s2id_select_top_10_RP {
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select_top_10_RP a {
    border-radius: 12px;
}
div#s2id_select_top_10_RP.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}


div#s2id_select_top_10_PP {
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select_top_10_PP a {
    border-radius: 12px;
}
div#s2id_select_top_10_PP.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}


.chart_legend_ctcsp p {
    font-size: 12px !important;
    color: black;
    margin-right: 5px;
    font-weight: bolder;
}
.chart_legend_ctcsp span {
    color: white;
    border-radius: 10px;
    font-size: 1px;
    width: 17px;
    height: 17px;
    margin-right: 3px;
}
.chart_legend_ctcsp div {
    display: inline-flex;
}
.chart_legend_ctcsp{
    margin-top: -7px;
    margin-bottom: 8px;
}
.ad_card_member {
    width: 100%;
    display: inline-flex;
    border: 2px solid #6E77C3;
    border-radius: 10px;
}
.ad_card_member_left {
    width: 25%;
}
.ad_card_member_left svg{
    height: 35px;
    position: relative;
    top: 30%;
}
.ad_card_member_right {
    background: #6E77C3;
    width: 75%;
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
    display: block;
}
p.ad_card_member_title {
    color: white;
    text-align: left;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 15px !important;
    margin: unset;
    position: absolute;
    width: 100%;
    bottom: 50px;
}
p.ad_card_member_value {
    color: white;
    text-align: left;
    padding-left: 10px;
    font-weight: bolder;
    font-size: 20px !important;
    margin: unset;
    position: relative;
    bottom: -20px;
}

.header_apd_div_graph_promotion_overview {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
    padding-bottom: unset !important;
}
.header_apd_div_graph_promotion_overview p {
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
    text-align: left;
}
div#s2id_select_promotion_overview {
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select_promotion_overview a {
    border-radius: 12px;
}
div#s2id_select_promotion_overview.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}


.header_apd_div_graph_top_10_promotion {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
    padding-bottom: unset !important;
}
.label_top_apd_div_graph_top_10_promotion p {
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
    text-align: left;
}
.label_top_apd_div_graph_top_10_promotion {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.apd_div_graph_top_10_promotion_right_label {
    width: 50%;
    text-align: right;
}
div#s2id_select_top_10_Promotion{
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select_top_10_Promotion a {
    border-radius: 12px;
}
div#s2id_select_top_10_Promotion.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}




.header_apd_div_graph_promotion_impact {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
    padding-bottom: unset !important;
}
.label_top_apd_div_graph_promotion_impact p {
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
    text-align: left;
}
.label_top_apd_div_graph_promotion_impact {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.apd_div_graph_promotion_impact_right_label {
    width: 200px;
    text-align: right;
}
div#s2id_select1_Promotion_impact{
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select1_Promotion_impact a {
    border-radius: 12px;
}
div#s2id_select1_Promotion_impact.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}
div#s2id_select2_Promotion_impact{
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select2_Promotion_impact a {
    border-radius: 12px;
}
div#s2id_select2_Promotion_impact.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}


.header_apd_div_table_branch {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
    padding-bottom: 10px !important;
}
.t_apd_branch_header {
    background: #4774B8;
    color: white;
    font-weight: bolder;
}
table.t_apd_branch td {
    padding: 10px 2px;
}
table.t_apd_branch {
    border-radius: 10px;
}

.header_apd_div_graph_loyalty_overview {
    padding: 15px;
    box-shadow: 0 0 6px #ccc;
    border-radius: 10px;
    padding-bottom: unset !important;
}
.label_top_apd_div_graph_loyalty_overview p {
    font-size: 15px !important;
    font-weight: bolder;
    margin: unset;
    color: black;
    text-align: left;
}
.label_top_apd_div_graph_loyalty_overview {
    display: inline-flex;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}
.apd_div_graph_loyalty_overview_label {
    width: 200px;
    text-align: right;
}
div#s2id_select_loyalty_overview{
    font-weight: bolder;
    color: black;
    width: 100%;
    text-align: center;
    font-size: 11px;
}
div#s2id_select_loyalty_overview a {
    border-radius: 12px;
}
div#s2id_select_loyalty_overview.select2-container .select2-choice .select2-arrow b {
    background: url(/web/static/lib/select2/select2.png) no-repeat 0 -1px;
}


.t_apd_branch_header {
    border-radius: 10px 10px 0px 0px;
}
.t_apd_branch_header td:first-child{
    border-radius: 10px 0px 0px 0px;
}
.t_apd_branch_header td:last-child{
    border-radius: 0px 10px 0px 0px;
}


.t_apd_branch_child:last-child {
    border-radius: 0px 0px 10px 10px;
}
.t_apd_branch_child:last-child td:first-child{
    border-radius: 0px 0px 0px 10px;
}
.t_apd_branch_child:last-child td:last-child{
    border-radius: 0px 0px 10px 0px;
}
