.form-container {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-size: 8px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr {
    vertical-align: middle !important;
}

td {
    border: 1px solid #000;
}

.question {
    padding: 2px 10px;
    background-color: #f0f0f0;
    vertical-align: middle !important;
}

.data-cell {
    background-color: #f0f0f0;
    height: 20px;
    padding: 0 15px;
    vertical-align: middle !important;
}

.data-cell-input {
    vertical-align: bottom !important;
    padding: 0 !important;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.box-input {
    width: 17px;
    height: 10px;
    border-right: 1px solid #000;
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
}

.box-input-long {
    width: 17px;
    height: 10px;
    border-right: 1px solid #000;
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
}

.h-20 {
    height: 20px !important;
}

.box-input-long:last-child {
    border: none;
}

.box-input:last-child {
    border: none;
}

.border-right-none {
    border-right: none !important;
}

.border-left-none {
    border-left: none !important;
}

.border-top-none {
    border-top: none !important;
}

.border-bottom-none {
    border-bottom: none !important;
}

.border-top-bottom-none {
    border-top: none !important;
    border-bottom: none !important;
}

.border-left-right-none {
    border-left: none !important;
    border-right: none !important;
}

.border-top-bottom-right-none {
    border-top: none !important;
    border-bottom: none !important;
    border-right: none !important;
}

.border-top-bottom-left-none {
    border-top: none !important;
    border-bottom: none !important;
    border-left: none !important;
}

.string-checkbox {
    margin-right: 20px;
}

.string-checkbox:last-child {
    margin-right: 0;
}

.statement {
    text-indent: 20px;
    text-align: justify;
}

.extra-padding {
    padding-left: 75px;
}

footer {
    text-align: center;
    margin-top: 20px;
}



/* BIR Form No. 2316 */
.bir-form-2316 {
    font-size: 8px;
    background-color: #f0f0f0;
}

.bir-form-2316 .box-input-wrapper,
.bir-form-2316 .guide-section {
    background-color: #fff;
}

.bir-form-2316 .box-input-2 {
    width: 25px;
    height: 10px;
    border-right: 1px solid #000;
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
}

.bir-form-2316 .box-input-2:last-child {
    border-right: none;
}

.bir-form-2316 .cell {
    height: 30px;
    line-height: 30px;
}

.bir-form-2316 .input-field {
    height: 22px;
    width: 90%;
    line-height: 20px;
    background-color: #fff;
}

.bir-form-2316 .input-field-full {
    height: 22px;
    width: 100%;
    line-height: 20px;
    background-color: #fff;
}

.bir-form-2316 .rdo-code {
    width: 65%;
}

.bir-form-2316 .zip-code {
    width: 80%;
}

.bir-form-2316 .checkbox {
    display: inline-block;
    vertical-align: middle;
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
    margin: 0 5px;
}

.bir-form-2316 .padding-y-1 {
    padding-top: 2px;
    padding-bottom: 2px;
}
