@import url('https://fonts.googleapis.com/css?family=Roboto');

body .pos-customer_facing_display:before {
    height: 0px !important;
}
body .pos-customer_facing_display .pos-customer_products {
    padding-top: 0px !important;
    padding: 0px !important;
    width: 15% !important;
    font-size: 20px !important;
}

body .pos-customer_facing_display .pos-payment_info .pos-company_logo >img {
    max-height: 20vh;
    max-width: 100%;
}
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-odoo_logo_container {
    display: none;
}
body .pos-customer_facing_display .pos-payment_info {
    background: #3c4858;
    width: 35%;
    max-width: 60% !important;
}

body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div {
    margin-right: unset;
    text-align: right;
    width: 10% !important;
}
body .pos-customer_facing_display .pos-customer_products .pos_orderlines .pos_orderlines_item > div:nth-child(2) {
    text-align: left !important;
    font-size: 75%;
}
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total, body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-paymentlines {
    display: block !important;
}
body .pos-customer_facing_display .pos-payment_info .pos-payment_info_details .pos-total {
  font-size: 1.5vw !important;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item.pos_orderlines_header > div:last-child {
    text-align: center;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_header {
    background-color: #4b4b4b !important;
    color: #fff !important;
  }
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div:nth-child(2) {
  width: 35% !important;
}

body .pos-customer_facing_display .pos_orderlines .pos_orderlines_list {
    padding-right: 0px !important;
}
body .pos-customer_facing_display {
    font-size: 1.25vw !important;
}
body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item.pos_orderlines_header > div, body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item.pos_orderlines_header > div:last-child {
    font-size: 100% !important;
}

body .pos-customer_facing_display .pos-payment_info .pos-company_logo {
  background-image: none !important;
  margin-bottom: 0% !important;
  -webkit-box-flex: 0 0 0% !important;
  -webkit-flex: 0 0 0% !important;
  -moz-box-flex: 0 0 0% !important;
  -ms-flex: 0 0 0% !important;
  flex: 0 0 0% !important;
}

body .pos-customer_facing_display .pos-payment_info {
  padding: 0.5% 0.5% 0.5% 0.5% !important;
}

body .pos-customer_facing_display .pos_orderlines .pos_orderlines_item > div div {
  width: 40px !important;
}

.marquee {
    min-height: 85px;
    overflow: hidden;
    position: relative;
}

.marquee p {
    position: absolute;
    margin: 0;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 7s linear infinite;
}

.pos-palette_01 .pos-customer_products .pos_orderlines_list .pos_orderlines_item:nth-of-type(even) {
    background: #e8e8e8 !important;
}
.pos-palette_01 .pos-customer_products .pos_orderlines_list .pos_orderlines_item {
    font-family: 'Roboto' !important;
}
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}