@media screen and (max-width: 1400px) {
    .pos .pos-rightheader .status-buttons .ticket-button.orders-header-button {
        width: 40px;
        justify-content: center;
    }
    .pos .pos-rightheader .status-buttons .ticket-button.takeaway-screen-button {
        width: 55px;
    }
    .pos .pos-rightheader .status-buttons .header-button.close_button {
        min-width: 40px;
    }
    .pos .pos-rightheader .status-buttons .ticket-button.customer-facing-button {
        width: 70px;
        justify-content: center;
        padding: 0;
    }

    .pos .pos-rightheader .oe_status.stat-button {
        margin-left: 30px !important;
        width: 60px;
        justify-content: center;
    }
    .pos .pos-rightheader .user-button.oe_status {
        padding-top: 16px;
        margin-left: 0 !important;
    }
    .pos .pos-rightheader .user-button.oe_status .username {
        font-size: 0.7rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80px;
        display: inline-block;
    }
}


/*Breakpoint Mobile*/
@media screen and (max-width: 1200px) {

    .pos .pos-rightheader{
        overflow: hidden;
        overflow-x: auto;
        -webkit-overflow-scrolling-x: touch;
    }
    .pos .categories-breadcrumbs .subcategories{
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .pos .product-list{
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }

    .pos .order-container .order{
        overflow-y: auto;
        -webkit-overflow-scrolling-y: touch;
    }
    .pos .order-container .order table.summary-table:nth-child(2){
        overflow: auto !important;
        -webkit-overflow-scrolling: touch !important;
    }
    .screen .main-content{
        overflow-y: auto;
        -webkit-overflow-scrolling-y: touch;
    }


    .pos .numpad button:hover {
        background: #30a34a !important;
        color: white !important;
    }
    .pos .oe_status {
        position: relative;
        padding: 10px 9px 0 9px;
        height: 48px;
        min-width: 52px;
        text-align: center;
    }
    .pos .oe_status .js_connected {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .pos .oe_status .fa {
        padding: 0 !important;
    }
    .pos .oe_status .js_msg {
        position: absolute;
        bottom: -3px;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        font-weight: bold;
    }
    .pos .pos-content {
        top: 70px !important;
    }
    .pos.default-res-screen .pos-content {
        top: 0 !important;
    }
    .pos .subwindow .subwindow-container-fix {
        border-top: 2px solid darkgray;
    }
    .pos .rightpane{
        border-radius: 0 !important;
        border-top: 0 !important;
    }
    .pos .product-screen .product-list{
        width: auto !important;
        padding: 0 2px !important;
        padding-left: 7px !important;
    }
    .pos .product-screen .product:active,
    .pos .product-screen .product:hover{
        border: solid 1px #e04040 !important;
    }

    .pos .products-widget > .products-widget-control > .rightpane-header {
        margin: 0;
    }
    .pos .rightpane-header .pos-search-bar{
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
    }
    .pos .rightpane-header .pos-search-bar .search {
        flex: 1 1 100%;
    }
    .pos .rightpane-header .pos-search-bar .search input {
        border-radius: 6px;
    }

    .pos .pos-topheader .ticket-button.back-to-home {
        width: 50px !important;
        padding: 0;
        margin-left: 15px !important;
    }
    .pos .pos-topheader .ticket-button.back-to-home > div {
        line-height: 1.1;
    }
    .pos .pos-topheader .ticket-button.back-to-home .h-icon {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .pos .pos-topheader .ticket-button.back-to-home .h-icon .fa {
        font-size: 32px;
    }


    .pos .pos-rightheader .ticket-button.orders-header-button {
        margin-top: 10px;
        border: 2px solid #e04040 !important;
    }
    .pos .pos-topheader .ticket-button.back-to-home + .pos-rightheader .ticket-button.orders-header-button {
        margin-left: 10px !important;
    }
    .pos .pos-topheader .ticket-button.back-to-home.hm_button_hidden + .pos-rightheader .ticket-button.orders-header-button {
        margin-left: 15px !important;
    }
    .pos .pos-rightheader .ticket-button.orders-header-button .header-text {
        display: block;
        font-size: 1rem;
    }
    .pos .pos-rightheader .status-buttons .ticket-button.orders-header-button {
        display: none;
    }
    .pos .pos-rightheader .status-buttons .ticket-button .header-text {
        display: block;
    }
    .pos .pos-rightheader .status-buttons .ticket-button.pos-orders-header-button .with-badge {
        left: auto !important;
        right: -79px !important;
    }
    .pos .pos-rightheader .status-buttons .ticket-button.reservation-list-header-button .with-badge {
        left: auto !important;
        right: 18px;
        top: 20px;
    }
    .pos .pos-rightheader .status-buttons .ticket-button .header-text {
        font-size: 1rem;
    }
    .pos .pos-rightheader .status-buttons .floor-button.ticket-button {
        font-size: 1rem;
        padding: 0 4px;
        align-items: center;
        justify-content: center;
    }
    .pos .pos-rightheader .status-buttons .floor-button.ticket-button .table-name {
        font-size: 12px;
    }
    .pos .pos-rightheader .header-button.lock-button {
        width: 82px;
        padding: 0;
        margin-right: 10px;
        margin-left: 10px;
    }
    .pos .pos-rightheader .header-button.lock-button .lock-button {
        font-size: 32px;
    }

    .pos .switchpane {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        gap: 15px;
    }
    .pos .switchpane .btn-switchpane {
        height: 40px;
        font-size: 16px;
        border-radius: 25px;
        box-shadow: none; 
    }
    .pos .switchpane .btn-switchpane.btn-total-item-in-cart {
        margin-left: 15px;
        flex: 0 0 145px;
        color: #fff;
        background-color: #30a34a;
        border: 1px solid #30a34a;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pos .switchpane .btn-switchpane.btn-total-item-in-cart:after {
        content: "Cart";
    }
    .pos .switchpane .btn-switchpane.btn-total-item-in-cart .line-icon {
        font-size: 28px !important;
        color: #fff;
        padding: 0;
        margin: 0;
        margin-right: 7px;
    }
    .pos .switchpane .btn-switchpane.btn-total-item-in-cart [badge]:after {
        content: attr(badge);
        font-size: 7px;
        min-width: 12px;
        min-height: 12px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        left: 0;
        bottom: 3px;
    }
    .pos .switchpane .btn-switchpane.btn-select-customer {
        flex: 0 0 145px;
        color: #30a34a;
        background-color: #fff;
        border: 1px solid #30a34a;
    }
    .pos .product-screen .switchpane .btn-switchpane:first-child {
        margin-left: 15px;
    }
    .pos .product-screen .switchpane .btn-switchpane:last-child{
        margin-right: 15px;
        flex: 0 0 230px;
        margin-left: auto;
        color: #fff;
        background-color: #e04040;
        border: 1px solid #e04040;
    }
    .pos .product-screen .switchpane .btn-switchpane:last-child > h1 {
        display: inline-block;
        padding-right: 10px;
        font-size: inherit !important;
    }


    .pos .product-screen .pos_new_section {
        max-width: 30% !important;
    }
    .pos .product-screen .pos_new_section .subpads {
        padding: 0 10px;
    }
    .pos .product-screen .pos_new_section .numpad{
        justify-content: space-around !important;
    }
    .pos .product-screen .pos_new_section .numpad button{
        width: calc(25% - 10px);
        border: 1px solid #e8e8e8;
        border-color: transparent;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        box-shadow: 0px 3px 5px 0px #bbbbbb;
        font-size: 18px !important;
    }
    .pos .product-screen .pos_new_section .numpad button.selected-mode,
    .pos .product-screen .pos_new_section .numpad button:focus,
    .pos .product-screen .pos_new_section .numpad button:hover{
        border-radius: 6px; 
        background: #30a34a !important;
        color: #fff !important;
    }

    .pos .product-screen .pos_new_section .custom_row_mobile {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        padding: 10px 10px 0 10px;
        align-items:stretch;
    }
    .pos .product-screen .pos_new_section .custom_row_mobile .custom_column,
    .pos .product-screen .pos_new_section .custom_row_mobile > .control-button {
        border-radius: 6px;
        border: 1px solid #e8e8e8;
        border-color: transparent;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        box-shadow: 0px 3px 5px 0px #bbbbbb;
        font-size: 14px !important;
        font-weight: normal;
        height: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        flex: 1 0 50%;
        flex-basis: calc(50% - 12px);
        margin: 5px 4px;
        padding: 0;
    }
    .pos .product-screen .pos_new_section .custom_row_mobile .custom_column:hover,
    .pos .product-screen .pos_new_section .custom_row_mobile > .control-button:hover {
        border-radius: 6px !important;
        border-color: #008F8B !important;
    }
    .pos .product-screen .pos_new_section .custom_row_mobile .custom_column.button-wrapper .button-set-customer {
        justify-content: left;
        padding: 0 7px;
        color: #000000;
    }
    
    .pos .product-screen .pos_new_section .custom_row_mobile .custom_column > span,
    .pos .product-screen .pos_new_section .custom_row_mobile > .control-button span {
        display: block;
        height: auto;
        padding: 0 7px;
        width: 100%;
        text-align: left;
        color: #000;
    }
    .pos .product-screen .pos_new_section .custom_row_mobile .custom_column:hover span,
    .pos .product-screen .pos_new_section .custom_row_mobile > .control-button:hover span {
	    color: white;
    }
    .pos .product-screen .pos_new_section .custom_row_mobile > .control-button span .fa {
        width: 12px;
        text-align: left;
        padding-right: 3px;
    }
    .pos .product-screen .pos_new_section .custom_row_mobile .custom_column.btn-employee-meal.highlight {
        color: #fff !important;
        background: #e04040 !important;
        border-radius: 6px !important;
    }
    .pos .product-screen .pos_new_section .custom_row_mobile .custom_column.btn-employee-meal.highlight > span{
        color: #fff !important;
    }
    .pos .product-screen .pos_new_section .custom_row_mobile > .control-button:hover span .fa {
        color: white;
    }

    .pos .product-screen .pos_new_section .take_away_and_order_button_class{
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .pos .product-screen .pos_new_section .take_away_and_order_button_class .control-button {
        border-radius: 6px;
        border: 1px solid #e8e8e8;
        border-color: transparent;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        box-shadow: 0px 3px 5px 0px #bbbbbb;
        font-size: 14px !important;
        font-weight: normal;
        height: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        flex-basis: calc(50% - 12px);
        margin: 5px;
        width: auto;
        padding: 0;
    }
    .pos .product-screen .pos_new_section .take_away_and_order_button_class .control-button.highlight {
        border-radius: 6px;
        border-color: transparent !important;
    }
    .pos .product-screen .pos_new_section .take_away_and_order_button_class .control-button:hover{
        border-radius: 6px !important;
        background: #008F8B !important;
        border-color: #008F8B !important;
    }
    .pos .product-screen .pos_new_section .take_away_and_order_button_class .control-button span {
        font-size: 14px;
        padding: 0 7px;
        font-weight: normal !important;
        color: #000000;
    }

    .pos .product-screen .product {
        box-shadow: none;
        padding: 0 !important;
        flex-basis: calc(20% - 18.5px) !important;
        border-radius: 6px !important;
    }
    .pos .product-screen .product .product-img {
        width: 100%;
    }
    .pos .product-screen .product .product-img img {
        border-radius: 0;
        object-fit: cover;
        min-height: calc(100% - 53px) !important;
    }
    .pos .product-screen .product .product-name {
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 5px;
        bottom: 23px;
    }
    .pos .product-screen .product .product-name .product-line-name {
        font-size: 11px !important;
        text-align: left !important;
    }

    .pos .product-screen .product .price-tag {
        color: #30a34a;
        font-size: 12px !important;
        text-align: left !important;
        padding: 3px 5px;
    }

    .pos .rightpane-header .breadcrumb {
        padding: 0;
        margin: 0;
        padding-left: 15px;
    }
    .pos .rightpane-header .breadcrumb-button.breadcrumb-home {
        border: 1px solid #e04040;
        min-width: 36px;
        text-align: left;
        border-radius: 6px;
        position: relative;
        height: 38px;
        line-height: 38px;
        margin: 0;
        padding-right: 25px;
        font-size: 18px !important;
    }
    .pos .rightpane-header .breadcrumb-button.breadcrumb-home:after {
        content: "\f054";
        font: normal normal normal 14px/1 FontAwesome;
        display: block;
        transform: rotate(90deg);
        font-size: 14px;
        color: black;
        position: absolute;
        top: 12px;
        right: 10px;
    }
    .pos .rightpane-header .breadcrumb-button.breadcrumb-home:hover:after {
        content: "\f054";
        font: normal normal normal 14px/1 FontAwesome;
        display: block;
        color: white;
    }

    .pos .screen .products-widget > .products-widget-control > .rightpane-header {
        margin-left: 0 !important;
        margin-top: 10px;
        align-items: baseline;
    }
    .pos .screen .rightpane-header .pos-search-bar {
        width: 60%;
        display: block !important;
        margin: 0 !important;
        padding-right: 15px;
    }
    .pos .screen .rightpane-header .pos-search-bar .search {
        flex: 1 1 100%;
    }
    /* .pos .screen .rightpane-header .pos-search-bar .search .search-icon {
        font-size: 24px;
        left: 8px;
    } */
    .pos .screen .rightpane-header .pos-search-bar .search .clear-icon {
        font-size: 18px;
    }
    .pos .screen .rightpane-header .pos-search-bar .search input {
        box-shadow: none;
        border-color: #8b8282;
    }

    .pos .screen .rightpane-header .pos-search-bar .filter {
        display: none;
    }

    .pos .screen .categories-breadcrumbs {
        margin-top: 15px;
    }
    .pos .screen .categories-breadcrumbs .breadcrumbs {
        display: none;
    }
    .pos .screen .categories-breadcrumbs .breadcrumbs .breadcrumb-button.breadcrumb-home:after {
        content: "All Products";
        display: inline-block;
        padding-left: 4px;
        font-size: 14px;
    }
    .pos .screen .categories-breadcrumbs .breadcrumbs .breadcrumb-button.breadcrumb-home {
        font-size: 0 !important;
    }

    .pos .screen .categories-breadcrumbs .subcategories {
        padding: 0 10px;
        max-height: 110px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .pos .screen .categories-breadcrumbs .subcategories .category-simple-button {
        box-shadow: none;
        min-width: 13%;
        min-height: 31px;
        border-radius: 6px;
        border: solid 1px #e04040;
        color: #8b8282;
        font-weight: 600;
        padding: 0 6px;
    }
    .pos .screen .categories-breadcrumbs .category-simple-button:hover {
        background: #e04040 !important;
        color: white !important;
    }

    .pos .payment-screen .main-content {
        flex-grow: 1;
    }
    .pos .payment-screen .left-content {
        width: 45% !important;
    }
    .pos .payment-screen .left-content:not(.r-left-content) .paymentmethods.feature-buttons .mode-button span {
        font-size: 12px;
    }
    .pos .payment-screen .paymentmethods .mode-button {
        width: 110px !important;
    }
    .pos .payment-screen .paymentmethods .mode-button:hover .fa {
        color: white;
    }
    .pos .payment-screen .paymentmethods.feature-buttons {
        padding-top: 0;
    }
    .pos .payment-screen .paymentmethods.feature-buttons .mode-button span {
        padding: 0;
    }
    .pos .payment-screen .screen-content {
        border-right: 0;
        border-left: 0;
    }

    .pos .product-screen .pos_new_section .fire-btn-sec.fire-btn-sec-a {
        margin-top: 30px;
    }
    .pos .product-screen .pos_new_section .fire-btn-sec.fire-btn-sec-b {
        margin-bottom: 30px;
    }
    .pos .product-screen .pos_new_section .fire-btn-sec {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        margin-right: 10px;
        margin-left: 10px;
    }
    .pos .product-screen .pos_new_section .fire-btn-sec .button {
        border-radius: 6px !important;
        border: 1px solid #e8e8e8;
        border-color: transparent;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0 !important;
        box-shadow: 0px 3px 5px 0px #bbbbbb;
        font-size: 14px !important;
        font-weight: normal;
        height: 40px !important;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        flex: 1 0 50%;
        flex-basis: calc(50% - 12px);
        margin: 5px 4px;
        padding: 0;
        text-align: left;
    }
    .pos .product-screen .pos_new_section .fire-btn-sec .button:hover {
        color: #fff !important;
        background: #e04040;
    }

    .pos .payment-screen .payment-numpad .numpad button {
        height: 50px !important;
        font-size: 16px !important;
    }

    .pos .payment-screen .switchpane .btn-switchpane {
        width: auto;
        flex-grow: 0;
        flex-basis: 250px;
    }
    .pos .payment-screen .switchpane .btn-switchpane h1 {
        font-size: 16px;
    }

    .pos .payment-screen .switchpane .btn-switchpane:first-child {
        background: #30a34a;
        color: #fff !important;
    }

    .pos .popup.popup-selection .selection-item.selected {
        color: #fff;
    	background: #e04040 !important;
    }
    .pos .popup.popup-selection .selection-item .selection-item-label {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pos .popup.popup-selection .selection.scrollable-y *:hover {
        transition: none !important;
    }


    .pos .product-screen .payment-screen .main-content {
        margin: 0;
    }
    .pos .product-screen .payment-screen .screen-content {
        overflow: hidden !important;
    }
    .pos .product-screen .payment-screen .left-content{
        display: none !important;
    }
    .pos .product-screen .payment-screen .left-content:not(.r-left-content) {
        display:block !important;
        width: 100% !important;
        padding: 5px 15px !important;
        margin: 0 !important;
    }

    .pos .product-screen .payment-screen .payment-mobile-content .payment-methods,
    .pos .product-screen .payment-screen .payment-mobile-content .payment-action {
        padding: 7.5px 0;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .payment-methods {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .payment-methods .mode-button {
        flex: 1 0 20%;
        padding: 5px;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .payment-methods .mode-button:hover {
        border-color: #008F8B;
        background: #008F8B !important;
        color: #fff !important;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .payment-methods .mode-button:hover > span {
        color: #fff;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .payment-action .button .fa {
        width: 25px;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .payment-action .back_text {
        display: inline-block !important;
    }

    .pos .product-screen .payment-screen .payment-mobile-content .button {
        height: 50px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .button:hover {
        color: #fff !important;
        background: #e04040;
        border-color: #e04040 !important;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .paymentlines {
        overflow: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling-y: touch;
        
        height: 287px;
        margin: 7.5px 0;
        border: solid 1px rgb(209, 209, 209);
        box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
        width: 100% !important;
    }
    .pos .product-screen .payment-screen .paymentmethods.feature-buttons {
        margin: 0 !important;
        padding: 7.5px 0 !important;
        gap: 10px;
        min-height: auto;
    }
    .pos .product-screen .payment-screen .paymentmethods.feature-buttons .mode-button {
        border: 1px solid #e8e8e8;
        border-color: transparent;
        border-radius: 6px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        box-shadow: 0px 3px 5px 0px #bbbbbb;
        font-size: 14px !important;
        font-weight: normal;
        height: 40px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        flex: 1 0 25%;
        flex-basis: calc(25% - 12px);
        margin: 0 !important;
        padding: 0 !important;
    }
    .pos .product-screen .payment-screen .paymentmethods.feature-buttons .mode-button:hover {
        border-radius: 6px;
    }
    .pos .product-screen .payment-screen .feature-buttons .mode-button .fa {
        flex: 0 0 24px;
        margin: 0 !important;
    }
    .pos .product-screen .payment-screen .feature-buttons .mode-button span {
        text-align: left;
        padding: 0;
        margin: 0 !important;
        display: inline-flex;
    }

    .pos .product-screen .payment-screen .payment-mobile-content .paymentlines .summary-table > tr > th:last-child {
        border-right: 0;
    }
    .pos .product-screen .payment-screen .payment-mobile-content .paymentlines .summary-table > tr > th {
        border: none;
        border-right: 1px solid #fff;
    }
    .pos .product-screen .payment-screen .payment-numpad .numpad {
        padding: 0;
        margin: 30px 0;
    }

    .pos .product-screen .payment-screen .payment-mobile-payment-status:before {
        content: "";
        display: block;
        border-bottom: 2px solid #8f8f8f;
        max-width: 80%;
        margin: auto;
    }
    .pos .product-screen .payment-screen .payment-mobile-payment-status .paymentlines-container {
        margin-top: 20px;
    }
    .pos .product-screen .payment-screen .payment-mobile-payment-status .summary-table {
        width: 100% !important;
        margin: 0 !important;
        float: none !important;
    }
    .pos .product-screen .payment-screen .payment-mobile-payment-status .summary-table tr > td {
        padding: 5px 0;
        font-weight: bold;
    }

    .pos .screen-login .login-body .login-element .login-button {
        margin: 0;
    }
    .pos .screen-login .login-footer .button-login-close-session {
        margin: 0;
    }

    .pos .cashier-modal-dialog .popup .selection .selection-item { 
        max-width: 100% !important; 
    }

    
    /*Receipt Screen*/
    .pos .receipt-screen .screen-content {
        overflow: hidden !important;
    }
    .pos .receipt-screen .top-content {
        height: auto;
    }
    .pos .receipt-screen .default-view {
        flex-direction: unset;
    }
    .pos .receipt-screen .default-view .pos-receipt-container,
    .pos .receipt-screen .default-view .actions {
        flex: 0 0 50%;
        margin: 0;
    }

    .pos .receipt-screen .default-view .actions .buttons:after {
        display: block;
        clear: both;
        content: "";
    }
    .pos .receipt-screen .default-view .actions .send-email {
        margin: 0;
        padding: 10px 15px;
        width: auto;
    }
    .pos .receipt-screen .default-view .actions h1 {
        padding: 0 15px 10px 15px;
    }
    .pos .receipt-screen .default-view .actions .buttons {
        display: block;
        margin: 0;
    }
    .receipt-screen .default-view .actions .buttons .button {
        float: left;
        min-width: 125px;
        margin: 5px 15px !important;
    }


    /*header*/
    .pos .pos-rightheader .ticket-button.orders-header-button {
        background: #008F8B !important;
        color: #fff !important;
        font-weight: bold;
        transition: ease-out all 0.3s !important;
        border: #fff 1px solid !important;
        margin-right: auto !important;
    }

    .pos .pos-rightheader .ticket-button.orders-header-button .header-text, .pos .pos-rightheader .status-buttons .floor-button.ticket-button {
        font-size: 0.7rem;
    }
    .pos .pos-rightheader .status-buttons .floor-button.ticket-button .fa {
        font-size: 1rem;
    }
    .pos .pos-rightheader .status-buttons .floor-button.ticket-button .table-name {
        font-size: 0.7rem;
        padding-left: 2px;
    }
    .pos .pos-rightheader .status-buttons .ticket-button {
        font-size: 0.7rem;
    }
    .pos .pos-rightheader .status-buttons .ticket-button .header-text {
        font-size: 0.7rem;
    }
    .pos .pos-rightheader .header-button.close_button{
        font-size: 0.7rem;
    }
    .pos .pos-rightheader .header-button.lock-button .lock-button {
        font-size: 1rem;
    }
    .pos .pos-rightheader .status-buttons .pos-orders-header-button {
        min-width: 71px;
        justify-content: center;
    }


    /*Category*/
    .pos .rightpane-header .breadcrumb-button.breadcrumb-home {
        color: #008F8B;
        border-color: #008F8B;
    }
    .pos .screen .categories-breadcrumbs .subcategories .category-simple-button {
        color: #008F8B;
        border-color: #008F8B;
    }
    .pos .screen .categories-breadcrumbs .subcategories .category-simple-button:hover {
        color: #fff !important;
        background: #008F8B !important;
        border-color: #008F8B !important;
    }
    .pos .popup.popup-selection .selection-item.selected {
        background: #008F8B !important;
    }

    /*Product screen*/
    .pos .product-screen .product .price-tag {
        color: #000;
    }

    .pos .product-screen .pos_new_section {
        display: none !important;
    } 
    .pos .product-screen .pos_new_section[open_cart] {
        display: flex !important;
    }

    /*button under products*/
    .pos .switchpane .btn-switchpane.btn-total-item-in-cart {
        border-color: #008F8B;
        background: #008F8B;
    }
    .pos .switchpane .btn-switchpane.btn-select-customer {
        color: #008F8B;
        border-color: #008F8B;
    }
    .pos .product-screen .switchpane .btn-switchpane:last-child {
        color: #fff;
        border-color: #008F8B;
        background: #008F8B;
    }


    /*payment screen */
    .pos .payment-screen .switchpane .btn-switchpane:first-child {
        border-color: #008F8B;
        background: #008F8B;
        color: #fff !important;
    }
    .pos .payment-screen .switchpane .btn-switchpane:last-child {
        color: #008F8B;
        border-color: #008F8B;
        background: #fff;
    }
    .pos .receipt-screen .top-content .button.next.highlight {
        margin-right: 30px !important;
    }

}


@media screen and (max-width: 768px) {
    .pos .popup-notification {
        text-align: center;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }

	.pos .rightpane-header .breadcrumb-button.breadcrumb-home {
	    padding-left: 6px;
	}

	.pos .pos-topheader .ticket-button.back-to-home {
	    width: 59px !important;
	    margin-right: 15px;
	}
	.pos .pos-rightheader .status-buttons .ticket-button.pos-orders-header-button .with-badge {
	    right: -61px !important;
	}

	.pos .oe_status {
	    
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
	    align-items: center;
	    justify-content: center;
	}

	.pos .product-screen .product {
	    height: 160px !important;
	}
	.pos .product-screen .product .product-name .product-line-name {
	    font-size: 10px !important;
	    line-height: 10px !important;
	}
	.pos .screen .categories-breadcrumbs .subcategories .category-simple-button {
	    font-size: 11px;
    	line-height: 11px;
	}

	.pos .product-screen .pos_new_section .custom_row_mobile .custom_column > span, 
	.pos .product-screen .pos_new_section .custom_row_mobile > .control-button span {
	    font-size: 12px !important;
	    line-height: 12px;
	}

	.pos .product-screen .pos_new_section .take_away_and_order_button_class {
	    padding: 0 15px;
	    flex-wrap: wrap;
	    justify-content: space-between;
	}
	.pos .product-screen .pos_new_section .take_away_and_order_button_class .control-button span {
	    font-size: 12px;
	}
	.pos .product-screen .pos_new_section .take_away_and_order_button_class .control-button {
	    flex-basis: calc(50% - 7px);
	}

	.pos .product-screen .pos_new_section .numpad button {
	    font-size: 14px !important;
	    height: 42px !important;
	}

	.pos .switchpane {
	    height: 55px;
	}
	.pos .switchpane .btn-switchpane {
	    font-size: 11px;
	}
	.pos .switchpane .btn-switchpane.btn-total-item-in-cart {
	    flex: 0 0 90px;
	}
	.pos .switchpane .btn-switchpane.btn-total-item-in-cart .line-icon {
	    font-size: 20px !important;
        background: transparent !important;
	}
	.pos .switchpane .btn-switchpane.btn-select-customer {
	    flex: 0 0 90px;
	}
	.pos .product-screen .switchpane .btn-switchpane:last-child {
	    flex: 0 0 160px;
	}
	.pos .product-screen .checkout {
	    display: none;
	}

	.pos .payment-screen.screen .paymentmethods.feature-buttons .mode-button {
	    flex-basis: calc(20% - 5px);
	}
	.pos .payment-screen .payment-numpad .numpad button {
	    height: 50px !important;
	    font-size: 14px !important;
	}

    .pos .product-screen .payment-screen .payment-mobile-content .paymentlines td, 
    .pos .product-screen .payment-screen .payment-mobile-content .paymentlines .payment-amount {
        font-size: 14px !important;
    }

    .pos .popups .modal-dialog .popup.popup-selection .selection-item {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .pos .cashier-modal-dialog .popup .selection .selection-item {
        width: 155px !important;
        min-height: 50px;
        max-width: 100% !important;
        flex-direction: column !important;
        align-items: center;
    }
    .pos .cashier-modal-dialog .popup .selection .selection-item-label {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding-top: 5px;
    }
}


@media screen and (max-width: 648px) {
    .pos .ticket-screen .controls .pos-search-bar .search input{
        width: 100%;
    }
    .pos .ticket-screen .controls .button-right {
        margin-right: 0;
    }
    .pos .ticket-screen .controls button {
        margin-right: 10px;
    }

    .pos .modal-dialog {
        padding: 0;
    }
    .pos .popups .modal-dialog {
        padding: 0;
    }   
    .pos .modal-dialog .popup.popup-confirm {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
    }

    .pos .popups .modal-dialog .popup.popup-selection {
        width: 100%;
        left: 0 !important;
        right: 0 !important;
    }

    .pos .pos-topheader {
        height: 55px;
    }
    .pos .pos-content {
        top: 55px !important;
    }

    .pos .ticket-button {
        height: 38px;
        margin-top: 7px !important;
    }

    .pos .pos-topheader .ticket-button.back-to-home {
        margin-left: 7px !important;
        margin-right: 7px;
    }
    .pos .pos-topheader .ticket-button.back-to-home .h-icon {
        width: 42px;
    }
    .pos .pos-topheader .ticket-button.back-to-home .h-icon .fa {
        font-size: 26px;
    }

    .pos .pos-rightheader .header-button {
        margin-top: 7px;
    }
    .pos .pos-rightheader .search-bar-portal {
        margin: 0 !important;
    }
    .pos .pos-rightheader > .status-buttons-portal {
        margin-left: 0 !important;
    }

    .pos .pos-topheader .ticket-button.back-to-home + .pos-rightheader .ticket-button.orders-header-button {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .pos .pos-topheader .ticket-button.back-to-home + .pos-rightheader .ticket-button.orders-header-button + span {
        margin-left: 0 !important;
    } 

    .pos .pos-topheader .ticket-button.back-to-home.hm_button_hidden + .pos-rightheader .ticket-button.orders-header-button {
        margin-left: 7px !important;
    }
    .pos .pos-topheader .ticket-button.pos-orders-header-button .with-badge {
        top: 1px !important;
    }

    .pos .pos-rightheader .header-button.lock-button {
        margin-top: 7px;
        height: 38px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .pos .pos-rightheader .header-button.lock-button .lock-button {
        font-size: 26px;
        line-height: 1;
        padding-top: 4px;
    }
    .pos .pos-rightheader .header-button.close_button {
        height: 38px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
    }

    .pos .pos-rightheader .oe_status {
        padding-top: 0;
        margin: 0;
        height: 40px;
        margin-top: 7px;
    }
    .pos .pos-rightheader .oe_status .js_disconnected {
        display: block;
        height: 34px;
    }
    .pos .pos-rightheader .oe_status .js_disconnected .fa {
        margin-top: 4px;
    }
    .pos .pos-rightheader .oe_status .js_connected {
        padding-top: 2px;
    }
    .pos .pos-rightheader .oe_status .fa {
        font-size: 26px;
        display: block;
    }
    .pos .pos-rightheader .user-button.oe_status .employee_logo {
        margin: 0;
    }

    .pos .pos-rightheader .status-buttons .floor-button.ticket-button {
        height: 42px;
        border-radius: 6px;
    }

    .pos .product-screen .product {
        margin: 0px !important;
        box-shadow: none;
        padding: 0 !important;
        flex-basis: calc(33.34% - 3px) !important;
        border-radius: 0 !important;
    }
    .pos .product-screen .product .product-name {
        padding-top: 2px;
        bottom: 17px;
    }
    .pos .product-screen .product .price-tag {
        line-height: 1;
        font-size: 11px !important;
    }

    .pos .product-screen .pos_new_section.pos-hidemobile {
        display: none !important;
    }
    .pos .product-screen .pos_new_section .subpads {
        display: none !important;
    }
    .minimobileshow {
        display: block !important;
    }

    .pos .switchpane .btn-switchpane.btn-total-item-in-cart {
        flex: 0 0 60px;
    }    
    .pos .switchpane .btn-switchpane.btn-total-item-in-cart:after {
        content: "";
    }
    .pos .switchpane .btn-switchpane.btn-select-customer {
        font-size: 20px;
        flex: 0 0 60px;
    }
    .pos .switchpane .btn-switchpane.btn-select-customer > span {
        display: none;
    }
    .pos .product-screen .switchpane .btn-switchpane:last-child {
        flex: 1 0 170px;
    }

    .pos .screen .products-widget > .products-widget-control > .rightpane-header {
        margin-left: 0 !important;
        margin-top: 5px;
        align-items: center;
        flex-wrap: wrap !important;
        width: 100%;
        gap: 15px;
    }
    .pos .screen .products-widget > .products-widget-control > .rightpane-header .breadcrumb {
        float: none;
        flex: 0 0 90px;
        padding: 0;
        height: 40px;
        padding-left: 7px;
    }
    .pos .screen .products-widget > .products-widget-control > .rightpane-header .breadcrumb .breadcrumb-button {
        width: 60px;
        margin: 0;
        padding-right: 20px;
        font-size: 14px !important;
        float: left;
        overflow: hidden;
    }
    .pos .screen .products-widget > .products-widget-control > .rightpane-header .pos-search-bar {
        flex: 1 !important;
        width: 100%;
        display: flex !important;
        padding: 0;
        padding-right: 7px;
    }
    .pos .screen .products-widget > .products-widget-control > .rightpane-header .pos-search-bar .search {
        flex: 1;
        width: 100%;
    }
    .pos .screen .products-widget > .products-widget-control > .rightpane-header .pos-search-bar .search li {
        padding-left: 10px;
    }


    .pos .screen .categories-breadcrumbs{
        margin-top: 7px;
    }
    .pos .screen .categories-breadcrumbs .subcategories {
        padding: 0;
        margin: 0 7px 0 7px;
        padding-bottom: 3px;
    }
    .pos .screen .categories-breadcrumbs .subcategories .category-simple-button {
        min-width: 60px;
        width: auto;
        margin: 0 7px 0 0;
        white-space: nowrap;
    }
    .pos .screen .categories-breadcrumbs .subcategories .category-simple-button:last-child {
        margin-right: 0;
    }
    .pos .screen .rightpane-header .pos-search-bar .search input {
        height: 38px;
        padding-top: 0;
        padding-bottom: 0;
        width: 100%;
        flex: 1;
    }
    .pos .screen .rightpane-header .pos-search-bar .search .search-icon {
        font-size: 16px;
    }

    .pos .product-screen .switchpane .btn-switchpane:first-child {
        margin-left: 7px;
    }
    .pos .product-screen .switchpane .btn-switchpane:last-child {
        flex: 1;
        max-width: 210px;
        margin-right: 7px;
        margin-left: auto;
    }

    .pos .product-list-container .product-list-empty {
        padding: 10px;
    }
    .pos .product-list-container .product-list-empty > p {
        font-size: 20px !important;
    }

    .pos .product-screen .leftpane {
        border: none !important;
        border-top-left-radius: 0 !important;
    }
    .pos .product-screen .leftpane .order-container .cart_order_title > div:first-child {
        padding-left: 0 !important;
        margin-left: 7px;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        align-items: center;
    }
    .pos .product-screen .leftpane .order-container .cart_order_title span {
        font-size: 26px !important;
    }
    .pos .product-screen .leftpane .order-container .cart_order_title button {
        height: 40px !important;
        width: 40px !important;
    }

    .pos .product-screen .leftpane .order-container .cart_order_title .new_order_btn > span {
        padding: 0 !important;
    }
    .pos .product-screen .leftpane .order-container .cart_order_title .order_screen_clear_cart {
        margin-right: 7px !important;
    }
    .pos .product-screen .leftpane .order-container .cart_order_title .clear_cart_btn {
        margin-top: 0;
        height: 40px !important;
        width: 40px !important;
        text-align: center;
    }
    .pos .product-screen .leftpane .order-container .cart_order_title .clear_cart_btn > span {
        position: static !important;
        margin: 0 !important;
        line-height: 20px;
    }

    .pos .product-screen .leftpane .switchpane .btn-switchpane:last-child {
        max-width: 100%;
        margin: 0 7px;
    }

    .pos .product-screen .payment-screen .switchpane .btn-switchpane {
        max-width: 100%;
        flex: 1 1 59%;
    }
    .pos .product-screen .payment-screen .switchpane .btn-switchpane > h1 {
        font-size: 11px !important;
    }

    .pos .product-screen .payment-screen .switchpane .btn-switchpane:last-child > h1 {
        color: #008F8B;
    }
    .pos .product-screen .payment-screen .switchpane .btn-switchpane:last-child > h1:after {
        display: none;
        content: "Back";
        color: white;
        font-size: 11px !important;
        line-height: 1;
        display: inline-block;
    }

}

@media screen and (max-width: 574px) {
    .pos .screen-login .login-body {
        padding: 40px 15px 30px 15px;
    }
    .pos .screen-login .login-body .login-element {
        padding-right: 10px;
    }
    .pos .screen-login .login-body .login-element:last-child {
        padding-right: 0;
    }
    .pos .screen-login .login-body .login-element .login-button {
        padding: 20px 10px;
        min-height: 100px;
        font-size: 14px;
    }
    .pos .screen-login .login-footer {
        padding: 0 15px;
    }


    /*Receipt Screen*/
    .pos .receipt-screen .default-view {
        flex-direction: column-reverse;
        overflow: auto;
    }
    .pos .receipt-screen .default-view .pos-receipt-container, 
    .pos .receipt-screen .default-view .actions {
        flex: 0 0 auto;
        margin: 0;
        overflow: hidden;
    }
    .receipt-screen .default-view .actions .buttons .button {
        margin: 0 15px 5px 15px !important;
    }
    .pos .receipt-screen .default-view .actions .send-email button.send {
        right: 2px;
    }
    .pos .receipt-screen .default-view .pos-receipt-container .pos-receipt {
        display: block;
        width: calc(100% - 65px);
        margin: auto;
        margin-bottom: 45px;
    }

}

@media screen and (max-width: 368px) {
    .pos .product-screen .payment-screen .payment-mobile-content .payment-methods .mode-button {
        flex: 1 0 48%;
        flex-basis: calc(50% - 5px);
    }
    .pos .payment-screen.screen .paymentmethods.feature-buttons .mode-button {
        flex: 1 0 50%;
        flex-basis: calc(50% - 5px);
    }
}