.cssmarquee {
    background-color: blue;
}
body .cssmarquee {
    background-color: red;
}

body .pos-palette_01 .cssmarquee {
    background-color: cyan;
}

body .pos-palette_01 .pos-payment_info .cssmarquee {
    background-color: yellow;
}

.pos-palette_01 .pos-payment_info .cssmarquee {
    height: 50px;
    overflow: hidden;
    position: relative;
}
.pos-palette_01 .pos-payment_info .cssmarquee h1 {
    font-size: 2em;
    color: turquoise;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    transform:translateX(100%);
    animation: cssmarquee 10s linear infinite;
}
.minimobileshow {
    display: none;
}
@keyframes cssmarquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.pos-receipt .pos-receipt-title {
    font-weight: bold;
    font-size: 125%;
    text-align: center;
}

.pos .pos-receipt-header .branch-info1{
    margin-top: 2px;
    font-weight: bold;
    text-align: center;
}
.pos .pos-receipt-header .branch-info2{
    margin-top: -10px;
    text-align: center;
}
.pos .pos-receipt-header .branch-info3{
    margin-top: -12px;
    text-align: center;
}
.pos .pos-receipt-header .branch-info4{
    margin-top: -10px;
    text-align: center;
}