.o-hm-sidebar-main-school-portal-admission-register:before {
  content: "\e970";
}

.o-hm-sidebar-sub-school-portal-attendance-exma:before {
  content: "\ea9d";
}

.o-hm-sidebar-school-portal-tracking:before {
  content: "\ea8f";
}

