.o_form_view .o_group.col_cash_control_1 {
	margin-left: 0 !important
}
.o_form_view .o_group.col_cash_control_1 > table > tbody > tr > td:nth-child(2) {
    display: none;
}
.o_form_view .o_group.col_cash_control_1 ~ .col-md-12 {
    margin-left: 0 !important;
}
.o_form_view .o_group.col_cash_control_1 ~ .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
}
.o_form_view .o_group.col_cash_control_1 ~ .col-md-4 .o_group.o_inner_group.oe_subtotal_footer {
    margin: 0 !important;
    float: none !important;
    width: 100% !important;
}