.pos .manage-cash-popup.popup {
    padding: 30px;
    max-width: 450px;
    border-radius: 14px;
    overflow: hidden;
}
.pos .manage-cash-popup.popup > .title {
    background: #fff;
    border: none;
    text-align: left;
    padding: 0 0 10px 0;
}
.pos .manage-cash-popup.popup .body{
    margin: 0;
    margin-bottom: 30px;
}
.pos .manage-cash-popup.popup .manage-cash-group {
    padding: 5px 0;
    text-align: left;
}
.pos .manage-cash-popup.popup .manage-cash-group > label, 
.pos .manage-cash-popup.popup .manage-cash-group > .manage-cash-form {
    text-align: left;
    font-weight: bold;
    color: black;
    font-size: 16px;
}
.pos .manage-cash-popup.popup .manage-cash-group > .manage-cash-form > input, 
.pos .manage-cash-popup.popup .manage-cash-group > .manage-cash-form > select {
    text-align: left;
    display: inline-block;
    background: white;
    min-height: 44px;
    font-family: "Lato";
    font-size: 16px;
    color: #444;
    padding: 10px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(220 220 220) inset;
    box-sizing: border-box;
    width: 100%;
}
.pos .manage-cash-popup.popup .manage-cash-group > .manage-cash-form > [required] {
    background-color: #d9d9d9;
    color: black;
}
.pos .manage-cash-popup.popup .manage-cash-group > .manage-cash-form > span {
    font-weight: normal;
    padding-right: 10px;
    font-size: 14px;
}

.pos .manage-cash-popup.popup .manage-cash-group > .manage-cash-form textarea {
    display: block;
    font-size: 16px;
    border-radius: 7px;
    padding: 10px;
    margin: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    min-height: 100px;
    box-shadow: 0px 0px 0px 1px rgb(220 220 220) inset;
}
.pos .manage-cash-popup.popup .manage-cash-group.has_error .form-control {
    box-shadow: 0px 0px 0px 1px rgb(249 0 0) inset;
}

.pos .manage-cash-popup.popup .footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    height: auto;
    padding: 0;
    gap: 25px;
    border: 0;
}
.pos .manage-cash-popup.popup .footer .button {
    width: 100%;
    margin: 0;
    flex: 1 1 50%;
    font-size: 18px;
    font-weight: bold;
    box-shadow: none;
    color: #008F8B;
    background: #fff;
    border: 2px solid #008F8B;
    border-radius: 10px;
}
.pos .manage-cash-popup.popup .footer .button:hover,
.pos .manage-cash-popup.popup .footer .button:focus{
    color: #008F8B !important;
    background: #fff !important;
}
.pos .manage-cash-popup.popup .footer .button.confirm {
    background: #008F8B !important;
    color: #ffffff !important;
}
.pos .manage-cash-popup.popup .footer .button.confirm:hover,
.pos .manage-cash-popup.popup .footer .button.confirm:focus{
    color: #008F8B;
    background: #fff;
}