.custom_wizard_einvoice .modal-dialog.modal-lg .modal-content {
    width: 40% !important;
    transform: translate(0, 50%); /* Vertical centering */
    top: 20%; /* Start the vertical centering from the middle of the page */
    left: 50%; /* Align the left edge of the modal at the center of the page */
    transform: translate(-50%, -50%); /* Horizontal centering */
}

.custom_wizard_einvoice {
    width: 40% !important;
}