.expense_flow_menu {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 0 !important;
}
.expense_flow_menu .content-header {
    flex: 0 0 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 1rem;
    font-size: 1.8rem;
}
.expense_flow_menu .content-body {
    flex: 1 1 auto;
    overflow: auto;
}
.expense_flow_menu .btn {
    display: block;
    width: 100%;
    max-width: 100px;
    margin-right: auto;
    margin-left: auto;
}

.expense_flow_menu .btn:hover,
.expense_flow_menu .btn:focus {
    transform:scale(1.1);
}

.expense_flow_menu .content-body .container > .row div[class^="col-"] {
    justify-content: center;
}
/* .expense_flow_menu .content-body .container > .row div[class^="col-"] > .row{
    margin:0;
} */
.expense_flow_menu .content-body .container > .row div[class^="col-"] > .row > div {
    padding-top: 0; 
    padding-left: 0; 
    padding-right: 0; 
    padding-bottom: 20px;
}
.expense_flow_menu .btn .button-text {
    font-weight: bold;
    font-size: 1rem;
}
.expense_flow_menu .btn .button-img > img{
    height: 45px; 
    width: auto;
}
.expense_flow_menu .menu-arrow {
    position: absolute;
    right: -45px;
    top: 30%;
    transform: translate(0, -45%);
}
.expense_flow_menu .arrow {
    margin: 25px;
    display: inline-block;
    height: 12px;
    position: relative;
    width: 12px;
}
.expense_flow_menu .arrow::after {
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-right-style: solid;
    border-right-width: 2px;
    content: "";
    display: inline-block;
    height: 12px;
    left: 0;
    position: absolute;
    top: 0;
    width: 12px;
}
.expense_flow_menu .arrow.is-right {
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}
.expense_flow_menu .arrow.arrow-bar::before {
    bottom: 1px;
    content: "";
    height: 50px;
    position: absolute;
    right: 0;
    transform-origin: bottom;
    width: 2px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.expense_flow_menu .menu-arrow-up {
    position: absolute;
    right: 65px;
    top: -10%;
    transform: translate(0, -55%);
}
.expense_flow_menu .arrow.is-up {
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
}

.expense_flow_menu .menu-arrow-down {
    position: absolute;
    right: 60px;
    top: 110%;
    transform: translate(0, -55%);
}
.expense_flow_menu .arrow.is-down {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.expense_flow_menu .menu-arrow-up-right {
    position: absolute;
    right: -45px;
    top: -10%;
    transform: translate(0, -45%);
}
.expense_flow_menu .arrow.is-up-right {
    -moz-transform: rotate(290deg);
    -ms-transform: rotate(290deg);
    -webkit-transform: rotate(290deg);
    transform: rotate(290deg);
}

.expense_flow_menu .menu-arrow-down-right {
    position: absolute;
    left: 385px;
    top: 20%;
    transform: translate(0, 45%);
}
.expense_flow_menu .arrow.is-down-right {
    -moz-transform: rotate(355deg);
    -ms-transform: rotate(355deg);
    -webkit-transform: rotate(355deg);
    transform: rotate(355deg);
}

.expense_flow_menu .menu-arrow-down-left {
    position: absolute;
    right: 125px;
    top: 75%;
    transform: translate(0, -45%);
}
.expense_flow_menu .arrow.is-down-left {
    -moz-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    -webkit-transform: rotate(95deg);
    transform: rotate(95deg);
}

.expense_flow_menu .arrow::before, 
.expense_flow_menu .arrow .arrow::before {
    background-color: black;
}
.expense_flow_menu .arrow.is-triangle::after, 
.expense_flow_menu .arrow .arrow.is-triangle::after {
    border-color: transparent;
    border-bottom-color: black;
}
.expense_flow_menu .arrow.is-triangle::after {
    border-style: solid;
    border-width: 0 0 12px 12px;
    height: 0;
    width: 0;
}

/* new expense flow */
.expense_flow_action {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    position: relative;
    overflow: auto;
    height: 100%;
    padding: 0 !important;
}

.expense_flow_action .content-header {
    flex: 0 0 50px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 1rem;
    font-size: 1.8rem;
}

.expense_flow_action .content-body {
    flex: 1 1 auto;
    overflow: auto;
    padding: 30px;
}

.expense_flow_action .content-body>.container {
    width: 100%;
    max-width: 100%;
}

.expense_flow_action .accordion {
    width: 100%;
}

.expense_flow_action .accordion .accordion-collapse.collapse:not(.show) {
    display: none;
}

.expense_flow_action .accordion-item {
    box-shadow: 3px 3px 7px 2px #dbdbdb;
    border-radius: 15px;
    overflow: hidden;
    padding: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.expense_flow_action .accordion-body {
    padding: 1rem 1.25rem;
    overflow: auto;
}

.expense_flow_action .accordion-body .accordion-content.width-node {
    position: relative;
}

.expense_flow_action .accordion-item .accordion-button {
    outline: none;
    display: block;
    background: #fff;
    border: none;
    font-weight: bold;
    line-height: 1;
}

.expense_flow_action .accordion-item .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 2rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

.expense_flow_action .accordion-item .accordion-button::after {
    width: 2.25rem;
    height: 2.25rem;
    margin-left: auto;
    content: "";
    background-image: url('/equip3_hr_employee_appraisals/static/src/img/chevron-bottom.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    transition: transform .2s ease-in-out;
    float: right;
}

.expense_flow_action .accordion-item .accordion-button:not(.collapse)::after {
    background-image: url('/equip3_hr_employee_appraisals/static/src/img/chevron-bottom.svg');
    transform: rotate(-180deg);
}

.expense_flow_action .accordion-master-data .btn-flow {
    display: inline-block;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px !important;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 1rem;
    float: left;
    min-width: 170px;
}

.expense_flow_action .accordion-master-data .col-button-right .btn-flow {
    float: right;
}

.expense_flow_action .accordion-master-data .btn-flow:hover,
.expense_flow_action .accordion-master-data .btn-flow:active {
    box-shadow: 1px 2px 5px 1px #dbdbdb;
    border-color: transparent;
}

.expense_flow_action .accordion-master-data .btn-flow .button-img {
    display: inline-block;
    width: 32px
}

.expense_flow_action .accordion-master-data .btn-flow .button-img>img {
    height: 25px;
}

.expense_flow_action .accordion-master-data .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
}


.expense_flow_action .accordion-expense-flow .accordion-content {
    width: 1420px;
    height: 200px;
    margin: 30px auto;
    padding: 5px;
}

.expense_flow_action .accordion-expense-flow .btn-flow {
    display: block;
    align-items: center;
    background-color: #f3fcfe;
    border-left: 3px solid #1b6278;
    border-radius: 4px !important;
    box-shadow: 2px 2px 3px 1px #dbdbdb;
    padding-right: 15px;
    height: 50px;
    position: absolute;
    z-index: 10;
    min-width: 150px;
}

.expense_flow_action .accordion-expense-flow .btn-flow:hover,
.expense_flow_action .accordion-expense-flow .btn-flow:active {
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}

.expense_flow_action .accordion-expense-flow .btn-flow .button-img {
    display: inline-block;
    width: 32px
}

.expense_flow_action .accordion-expense-flow .btn-flow .button-img>img {
    height: 25px;
}

.expense_flow_action .accordion-expense-flow .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
}

.expense_flow_action .accordion-expense-flow .accordion-content .nd_connector {
    position: absolute;
}

.expense_flow_action .accordion-expense-flow .accordion-content .nd_connector .nd_connector_line {
    width: 100%;
    height: 2px;
    background: #272124;
}

.expense_flow_action .accordion-expense-flow .accordion-content .nd_connector .nd_connector_arrow_right {
    display: block;
    position: absolute;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
    right: 7px;
    top: -5px;
    left: auto;
}

.expense_flow_action .accordion-expense-flow .accordion-content .nd_connector .nd_connector_line_end_right,
.expense_flow_action .accordion-expense-flow .accordion-content .nd_connector .nd_connector_line_end_left {
    position: absolute;
    background: #272124;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    left: -5px;
    top: -4px;
}

.expense_flow_action .accordion-expense-flow .accordion-content .nd_connector .nd_connector_line_end_right {
    right: -5px;
    left: auto;
    top: -4px;
}


.expense_flow_action .accordion-reporting .btn-flow {
    display: inline-block;
    align-items: center;
    border: 1px solid #bcbcbc;
    border-radius: 4px !important;
    margin-right: 7px;
    margin-bottom: 7px;
    font-size: 1rem;
    float: left;
    min-width: 170px;
}

.expense_flow_action .accordion-reporting .col-button-right .btn-flow {
    float: right;
}

.expense_flow_action .accordion-reporting .btn-flow:hover,
.expense_flow_action .accordion-reporting .btn-flow:active {
    box-shadow: 1px 2px 5px 1px #dbdbdb;
    border-color: transparent;
}

.expense_flow_action .accordion-reporting .btn-flow .button-img {
    display: inline-block;
    width: 32px
}

.expense_flow_action .accordion-reporting .btn-flow .button-img>img {
    height: 25px;
}

.expense_flow_action .accordion-reporting .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
}


/*.expense_flow_action .accordion-reporting .accordion-content{
    width: 830px;
    height: 240px;
    margin: 30px auto;
    padding: 30px;
}*/
.expense_flow_action .accordion-reporting .btn-flow {
    display: block;
    align-items: center;
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: start;
    text-align: left;
}

.expense_flow_action .accordion-reporting .btn-flow:hover,
.expense_flow_action .accordion-reporting .btn-flow:active {
    box-shadow: 2px 2px 10px 1px #dbdbdb;
}

.expense_flow_action .accordion-reporting .btn-flow .button-img {
    display: inline-block;
    width: 32px;
    flex: 0 0 32px;
}

.expense_flow_action .accordion-reporting .btn-flow .button-img>img {
    height: 25px;
}

.expense_flow_action .accordion-reporting .btn-flow .button-text {
    display: inline-block;
    font-weight: bold;
    color: #808080;
    flex: 1 1 auto;
}

.expense_flow_action .accordion-reporting .nd_c {
    position: absolute;
}

.expense_flow_action .accordion-reporting .nd_c .nd_c_line {
    width: 100%;
    height: 2px;
    background: #272124;
}

.expense_flow_action .accordion-reporting .nd_c .nd_c_arrow {
    display: block;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
}

.expense_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom {
    position: absolute;
    top: 19px;
    right: -19px;
    display: block;
    width: 40px;
    height: 2px;
    background: #272124;
    transform: rotate(90deg);
}

.expense_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom .nd_c_arrow {
    display: block;
    width: 13px;
    height: 13px;
    background: transparent;
    border-top: 2px solid #272124;
    border-left: 2px solid #272124;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(135deg);
    position: absolute;
    left: 25px;
    top: -5.5px;
}

.expense_flow_action .accordion-reporting .nd_c .nd_c_arrow_bottom[data-id="003"] .nd_c_line_1 {
    width: 38px;
    height: 2px;
    background: #272124;
    position: absolute;
    left: -28px;
}