<?xml version="1.0" encoding="UTF-8"?>
<templates id="template" xml:space="preserve">

    <t t-inherit="web.Menu" t-inherit-mode="extension" owl="1">
        <xpath expr="//ul[hasclass('o_menu_sections')]" position="before">
            <div class="parent_menu_select d-none"/>
            <div class="close_sidebar">
                <span class="fa fa-bars" id="av_full_view"></span>
            </div>
            <div class="o_input_dropdown parent_menu_autocomplete_dropdown mobile_dropdown">
                <input id="txt" type="text" class="o_input parent_menu_autocomplete"/>
                <i class="fa fa-chevron-down search_dropdown"></i>
            </div>
        </xpath>
    </t>

    <t t-extend="SwitchCompanyMenu">
        <t t-jquery="li.o_switch_company_menu" t-operation="attributes">
            <attribute name="class">o_switch_company_menu d-none</attribute>
        </t>
        <t t-jquery="a[data-toggle='dropdown']" t-operation="attributes">
            <attribute name="class">dropdown-toggle</attribute>
        </t>
        <t t-jquery="div.dropdown-menu-right" t-operation="replace">
            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <div style="text-align:center; margin-bottom:5px;">
                    <button type="button" id="apply_company" class="btn btn-primary" style="padding: 0; height: 25px; width: 25%;"
                    >
                        Apply
                    </button>
                </div>
                <div class="dropdown-item d-flex py-0 px-0" style="border:1px solid #cacaca; border-radius:5px;">
                    <t t-set="is_all_companies" t-value="widget.is_all_companies"/>
                    <div role="menuitemcheckbox" tabindex="0" class="ml-auto pl-3 pr-3 border border-top-0 border-left-0 border-bottom-0 toggle_all_companies o_py" t-att-aria-checked="is_all_companies">
                        <span style="height: 2rem;">
                            <t t-if="is_all_companies">
                                <i class="fa fa-fw fa-check-square pt-2"></i>
                            </t>
                            <t t-if="!is_all_companies">
                                <i class="fa fa-fw fa-square-o pt-2"></i>
                            </t>
                        </span>
                    </div>
                    <div tabindex="0" class="d-flex flex-grow-1 align-items-center py-0 log_into pl-3">
                        <span class='mr-3 company_label' style="font-weight: bold">
                            All Companies
                        </span>
                    </div>
                </div>
                <t t-foreach="widget.user_companies" t-as="company">
                    <div class="dropdown-item d-flex py-0 px-0" data-menu="company" t-att-data-company-id="company[0]">
                        <t t-set="is_allowed" t-value="widget.allowed_company_ids.includes(company[0])"/>
                        <t t-set="is_current" t-value="company[0] === widget.current_company"/>
                        <div role="menuitemcheckbox" t-att-aria-checked="is_allowed" t-att-aria-label="company[1]" tabindex="0" class="ml-auto pl-3 pr-3 border border-top-0 border-left-0 border-bottom-0 toggle_company o_py">
                            <span style="height: 2rem;">
                                <t t-if="is_allowed">
                                    <i class="fa fa-fw fa-check-square pt-2"></i>
                                </t>
                                <t t-if="!is_allowed">
                                    <i class="fa fa-fw fa-square-o pt-2"></i>
                                </t>
                            </span>
                        </div>
                        <div role="button" t-att-aria-pressed="is_current" aria-label="Switch to this company" tabindex="0" class="d-flex flex-grow-1 align-items-center py-0 log_into pl-3 o_py" t-att-style="is_current ? 'background-color: lightgrey;' : ''">
                            <t t-if="is_allowed">
                                <span class='mr-3 company_label'>
                                    <t t-esc="company[1]"/>
                                </span>
                            </t>
                            <t t-if="!is_allowed">
                                <span class='mr-3 company_label text-muted'>
                                    <t t-esc="company[1]"/>
                                </span>
                            </t>
                        </div>
                    </div>
                </t>
            </div>
        </t>
    </t>

    <t t-extend="equip3_general_setting.SwitchBranchMenu">
        <t t-jquery="div.dropdown-menu-right" t-operation="replace">

            <div class="dropdown-menu dropdown-menu-right" role="menu">
                <div style="text-align:center; margin-bottom:5px;">
                    <button type="button" id="apply_branch" class="btn btn-primary" style="padding: 0; height: 25px; width: 25%;"
                    >
                        Apply
                    </button>
                </div>
                <div class="dropdown-item d-flex py-0 px-0" style="border:1px solid #cacaca; border-radius:5px;">
                    <t t-set="is_all_branches" t-value="widget.is_all_branches"/>
                    <div role="menuitemcheckbox" t-att-aria-checked="is_all_branches" tabindex="0" class="ml-auto pl-3 pr-3 border border-top-0 border-left-0 border-bottom-0 toggle_all_branches o_py">
                        <span style="height: 2rem;">
                            <t t-if="is_all_branches">
                                <i class="fa fa-fw fa-check-square pt-2"></i>
                            </t>
                            <t t-if="!is_all_branches">
                                <i class="fa fa-fw fa-square-o pt-2"></i>
                            </t>
                        </span>
                    </div>
                    <div tabindex="0" class="d-flex flex-grow-1 align-items-center py-0 log_into pl-3 o_py">
                        <span class='mr-3 branch_label' style="font-weight: bold">
                            All Branches
                        </span>
                    </div>
                </div>
                <t t-foreach="widget.user_branches" t-as="branch">
                    <div class="dropdown-item d-flex py-0 px-0" data-menu="branch" t-att-data-branch-id="branch[0]">
                        <t t-set="is_allowed" t-value="widget.allowed_branch_ids.includes(branch[0])"/>
                        <t t-set="is_current" t-value="branch[0] === widget.current_branch"/>
                        <div role="menuitemcheckbox" t-att-aria-checked="is_allowed" t-att-aria-label="branch[1]" tabindex="0" class="ml-auto pl-3 pr-3 border border-top-0 border-left-0 border-bottom-0 toggle_branch o_py">
                            <span style="height: 2rem;">
                                <t t-if="is_allowed">
                                    <i class="fa fa-fw fa-check-square pt-2"></i>
                                </t>
                                <t t-if="!is_allowed">
                                    <i class="fa fa-fw fa-square-o pt-2"></i>
                                </t>
                            </span>
                        </div>
                        <div role="button" t-att-aria-pressed="is_current" aria-label="Switch to this branch" tabindex="0" class="d-flex flex-grow-1 align-items-center py-0 log_into pl-3 o_py" t-att-style="is_current ? 'background-color: lightgrey;' : ''">
                            <t t-if="is_allowed">
                                <span class='mr-3 branch_label'>
                                    <t t-esc="branch[1]"/>
                                </span>
                            </t>
                            <t t-if="!is_allowed">
                                <span class='mr-3 branch_label text-muted'>
                                    <t t-esc="branch[1]"/>
                                </span>
                            </t>
                        </div>
                    </div>
                </t>
            </div>
        </t>
    </t>

    <t t-extend="UserMenu.Actions">
        <t t-jquery="a[data-menu='debug']" t-operation="before">
            <div role="separator" class="dropdown-divider"></div>
            <a role="menuitem" href="#" class="dropdown-item color_change_theme" data-theme-color="black"><img class="flag" src="equip3_hashmicro_ui/static/icons/black_theme.png"/>Onyx Black <i class="mr-2 fa fa-check d-none"></i></a>
            <a role="menuitem" href="#" class="dropdown-item color_change_theme" data-theme-color="blue"><img class="flag" src="equip3_hashmicro_ui/static/icons/blue_theme.png"/>Sapphire Blue <i class="mr-2 fa fa-check d-none"></i></a>
            <a role="menuitem" href="#" class="dropdown-item color_change_theme" data-theme-color="red"><img class="flag" src="equip3_hashmicro_ui/static/icons/red_theme.png"/>Ruby Red <i class="mr-2 fa fa-check d-none"></i></a>
            <a role="menuitem" href="#" class="dropdown-item color_change_theme" data-theme-color="gray"><img class="flag" src="equip3_hashmicro_ui/static/icons/gray_theme.png"/>Emerald Gray <i class="mr-2 fa fa-check d-none"></i></a>
            <a role="menuitem" href="#" class="dropdown-item color_change_theme" data-theme-color="topaz_blue"><img class="flag" src="equip3_hashmicro_ui/static/icons/topaz_blue_theme.png"/>Topaz Blue <i class="mr-2 fa fa-check d-none"></i></a>
            <a role="menuitem" href="#" class="dropdown-item color_change_theme" data-theme-color="white"><img class="flag" src="equip3_hashmicro_ui/static/icons/white_theme.png"/>Pearl White <i class="mr-2 fa fa-check d-none"></i></a>
        </t>
    </t>
    
    <t t-extend="UserMenu.shortcuts">
        <t t-jquery='div.container-fluid' t-operation="replace">
            <div class="container-fluid">
                <div class="row">
                    <div class="offset-md-2 col-md-8">
                        <table class="o_shortcut_table text-center">
                            <thead>
                                <tr>
                                    <th style="width:50%;">Description</th>
                                    <th style="width:25%;" class="text-center">Windows/Linux</th>
                                    <th style="width:25%;" class="text-center">Mac</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td align="left">Save a record</td>
                                    <td>
                                        <span class="o_key">Alt</span> + <span class="o_key">s</span>
                                    </td>
                                    <td>
                                        <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">s</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Edit a record</td>
                                    <td>
                                        <span class="o_key">Alt</span> + <span class="o_key">a</span>
                                    </td>
                                    <td>
                                        <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">a</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Discard a record modification</td>
                                    <td>
                                        <span class="o_key">Alt</span> + <span class="o_key">j</span>
                                    </td>
                                    <td>
                                        <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">j</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Create a new record</td>
                                    <td>
                                        <span class="o_key">Alt</span> + <span class="o_key">c</span>
                                    </td>
                                    <td>
                                        <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">c</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Open to list view</td>
                                    <td>
                                        <span class="o_key">Alt</span> + <span class="o_key">l</span>
                                    </td>
                                    <td>
                                        <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">l</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Open to kanban view</td>
                                    <td>
                                        <span class="o_key">Alt</span> + <span class="o_key">k</span>
                                    </td>
                                    <td>
                                        <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">k</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Open the previous record</td>
                                    <td>
                                        <span class="o_key">Alt</span> + <span class="o_key">p</span>
                                    </td>
                                    <td>
                                        <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">p</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">Open the next record</td>
                                    <td>
                                        <span class="o_key">Alt</span> + <span class="o_key">n</span>
                                    </td>
                                    <td>
                                        <span class="o_key">Control</span> + <span class="o_key">Alt</span> + <span class="o_key">n</span>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </t>
    </t>

    <t t-extend="PivotView.buttons">
        <t t-jquery=".btn-group:first" t-operation="attributes">
            <attribute name="class">btn-group measure-button</attribute>
        </t>
        <t t-jquery=".btn-group:last" t-operation="attributes">
            <attribute name="class">btn-group measure-settings-button</attribute>
        </t>
    </t>

    <t t-extend="GraphView.buttons">
        <t t-jquery=".btn-group:eq(0)" t-operation="attributes">
            <attribute name="class">btn-group measure-button</attribute>
        </t>
        <t t-jquery=".btn-group:eq(1)" t-operation="attributes">
            <attribute name="class">btn-group chart-graph-button</attribute>
        </t>
        <t t-jquery=".btn-group:eq(2)" t-operation="attributes">
            <attribute name="class">btn-group stacked-graph-button</attribute>
        </t>
        <t t-jquery=".btn-group:eq(3)" t-operation="attributes">
            <attribute name="class">btn-group sort-graph-button</attribute>
        </t>
    </t>

    <t t-extend="ListView.buttons">
        <t t-jquery=".o_list_export_xlsx" t-operation="replace">
            <button type="button" class="btn btn-secondary o-hm-icon o-hm-view-download o_list_export_xlsx" title="Export All" aria-label="Export All"/>
        </t>
    </t>

    <t t-inherit="sh_backmate_theme_adv.ChildLink" t-inherit-mode="extension">
        <xpath expr="//t[@t-if='!second_level_menu.children.length']/a[hasclass('action_menu')]" position="attributes">
            <attribute name="t-att-data-complete-name">menu.complete_name</attribute>
        </xpath>
        <xpath expr="//t[@t-else='']//a[hasclass('action_menu')]" position="attributes">
            <attribute name="t-att-data-complete-name">menu.complete_name</attribute>
        </xpath>
    </t>

    <t t-name="AppsMenu">
        <li class="dropdown">
            <a style="z-index:1111;display:none;" id="js_bar_toggle_btn_mobile" class="">
                <i class="fa fa-bars" id="toggle_bar" />
            </a>
          
            <div class="hover_menuitem ">
                <div class="blur_div"></div>
                <div class="dropdown-menu sh_backmate_theme_appmenu_div" role="menu">
                    <div class="logo mb-4" style="width: 100%;display: flex;max-width: 100%;align-items: center;">
                        <t t-if="widget.userTheme !== 'white'">
                            <img id="company_logo" src='/equip3_hashmicro_ui/static/src/img/hashmicro_other_logo.png'/>
                        </t>
                        <t t-else="">
                            <img id="company_logo" src='/equip3_hashmicro_ui/static/src/img/hashmicro-logo-white.png'/>
                        </t>
                        <span class="icon-top_hide" id="hide_top_bar" style="margin-left: 5px;margin-top: 0px;"/> 
                        <span class="icon-top_show" id="show_top_bar" style="margin-left: 5px;margin-top: 0px;"/> 
                    </div>
                    <div class="o_input_dropdown mb-2">
                        <input type="text" class="o_input o_company_autocomplete"/>
                    </div>

                    <!--Company dropdown-->
                    <div class="o_switch_company">
                        <ul class="o_switch_company_container"/>
                    </div>

                    <div class="search-container mb-5">
                        <input type="text" id="appDrawerSearchInput" class="search-box" placeholder="Search.."/>
                        <span class="search-button fa fa-search"></span>
                    </div>

                    <t t-foreach="widget.getApps()" t-as="app">
                        <t t-if="app.children">
                            <div class="dropdown cssmenu">
                                <t t-if="app.appdata.children.length">
                                    <a role="menuitem" class="dropdown-toggle dropdown-item child_app o_app2" 
                                       t-att-data-menu-id="app.menuID" 
                                       t-att-data-menu-xmlid="app.xmlID" 
                                       t-att-data-action-id="app.actionID"
                                       t-att-data-complete-name="app.complete_name">
                                       <img class="img sh_standard_icon menu_image" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
                                       <span><t t-esc="app.name"/></span>
                                    </a>
                                </t>
                                <t t-else="">
                                    <a role="menuitem" class="dropdown-item o_app action_menu direct_menu" 
                                       t-att-data-menu-id="app.menuID" 
                                       t-att-data-menu-xmlid="app.xmlID" 
                                       t-att-data-action-id="app.actionID" 
                                       t-att-data-complete-name="app.complete_name">
                                        <t t-if="widget.icon_style == '2d'">
                                            <t t-if="app.xmlID =='mail.menu_root_discuss'">
                                                <span class="icon-discuss_app sh_fa_icon"></span>
                                            </t>
                                            <t t-elif="app.xmlID =='calendar.mail_menu_calendar'">
                                                <span class="icon-calender sh_fa_icon"></span>
                                            </t>
                                            <t t-elif="app.xmlID =='note.menu_note_notes'">
                                                <span class="icon-notes sh_fa_icon"></span>
                                            </t>
                                            <t t-elif="app.xmlID == 'sh_backmate_theme_adv.sh_dynamic_action_action_menu'">
                                                <span class="icon-global-search sh_fa_icon"></span>
                                            </t>
                                                <t t-elif="app.xmlID =='repair.menu_repair_order'">
                                                <span class="icon-repairs sh_fa_icon"></span>
                                            </t>
                                            <t t-elif="app.xmlID =='base.menu_board_root'">
                                                <span class="icon-base sh_fa_icon"></span>
                                            </t>
                                            <t t-elif="app.xmlID == 'utm.menu_link_tracker_root'">
                                                <span class="icon-link-tracker sh_fa_icon"></span>
                                            </t>
                                            <t t-else="">
                                                <img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
                                            </t>
                                        </t>
                                        <t t-else="">
                                            <img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
                                        </t>
                                        <span><t t-esc="app.name"/></span>
                                    </a>
                                </t>

                                <t t-set="app" t-value="app.appdata" />
                                <ul class="dropdown-menu dropdown-menu-right " role="menu" style="overflow-x: hidden;">
                                    <t t-foreach="app.children" t-as="second_level_menu">
                                        <t t-if="!second_level_menu.children.length">
                                            <t t-set="depth" t-value="1" />
                                            <div t-attf-class="dropdown-header dropdown-item o_menu_header_lvl_1">
                                                <t t-set="menu" t-value="second_level_menu" />
                                                <a role="menuitem" class="action_menu" 
                                                   t-attf-href="#menu_id=#{menu.id}"  
                                                   t-att-data-menu-id="menu.id" 
                                                   t-att-data-menu-xmlid="menu.xmlid" 
                                                   t-att-data-action-id="menu.action ? menu.action.split(',')[1] : ''" 
                                                   t-att-data-action-model="menu.action ? menu.action.split(',')[0] : ''"
                                                   t-att-data-complete-name="menu.complete_name">
                                                    <span t-attf-class="{{ menu.equip_icon_class ? 'o-hm-icon o-hm-menu-icon ' + menu.equip_icon_class : '' }}"/>
                                                    <span><t t-esc="menu.name"/></span>
                                                </a>
                                            </div>
                                        </t>
                                        <t t-else="">
                                            <div t-attf-class="dropdown-header o_menu_header_lvl_1">
                                                <div class="sh_icon_text">
                                                    <span t-attf-class="{{ second_level_menu.equip_icon_class ? 'o-hm-icon o-hm-menu-icon ' + second_level_menu.equip_icon_class : '' }}"/>
                                                    <span><t t-esc="second_level_menu.name"/></span>
                                                </div>
                                            </div>
                                            <t t-foreach="second_level_menu.children" t-as="third_level_menu">
                                                <div t-attf-class="dropdown-header o_menu_header_lvl_2">
                                                    <t t-if="third_level_menu.children.length">
                                                        <t t-call="ChildLink">
                                                            <t t-set="second_level_menu" t-value="third_level_menu"/>
                                                        </t>
                                                    </t>
                                                    <t t-else="">
                                                        <t t-set="menu" t-value="third_level_menu" />
                                                        <a role="menuitem"  class="action_menu" 
                                                           t-attf-href="#menu_id=#{menu.id}" 
                                                           t-att-data-menu-id="menu.id" 
                                                           t-att-data-menu-xmlid="menu.xmlid" 
                                                           t-att-data-action-id="menu.action ? menu.action.split(',')[1] : ''" 
                                                           t-att-data-action-model="menu.action ? menu.action.split(',')[0] : ''"
                                                           t-att-data-complete-name="menu.complete_name">
                                                            <span><t t-esc="menu.name"/></span>
                                                        </a>
                                                    </t>
                                                </div>
                                            </t>
                                        </t>
                                    </t>
                                </ul>
                                <ul class="dropdown-menu dropdown-menu-right search_ul d-none" role="menu" style="display: block;overflow-x: hidden;">
                                </ul>
                            </div>
                        </t>
                        <t t-else="">
                            <div class="cssmenu">
                                <a role="menuitem" class="dropdown-item o_app" 
                                   t-att-data-menu-id="app.menuID" 
                                   t-att-data-menu-xmlid="app.xmlID" 
                                   t-att-data-action-id="app.actionID"
                                   t-att-data-complete-name="app.complete_name">
                                    <t t-if="widget.icon_style == '2d'">
                                        <t t-if="app.xmlID =='mail.menu_root_discuss'">
                                            <span class="icon-discuss_app sh_fa_icon"></span>
                                        </t>
                                        <t t-elif="app.xmlID =='calendar.mail_menu_calendar'">
                                            <span class="icon-calender sh_fa_icon"></span>
                                        </t>
                                        <t t-elif="app.xmlID =='note.menu_note_notes'">
                                            <span class="icon-notes sh_fa_icon"></span>
                                        </t>
                                            <t t-elif="app.xmlID == 'sh_backmate_theme_adv.sh_dynamic_action_action_menu'">
                                            <span class="icon-global-search sh_fa_icon"></span>
                                        </t>
                                        <t t-elif="app.xmlID =='repair.menu_repair_order'">
                                            <span class="icon-repairs sh_fa_icon"></span>
                                        </t>
                                        <t t-elif="app.xmlID =='base.menu_board_root'">
                                            <span class="icon-base sh_fa_icon"></span>
                                        </t>
                                        <t t-elif="app.xmlID == 'utm.menu_link_tracker_root'">
                                            <span class="icon-link-tracker sh_fa_icon"></span>
                                        </t>
                                        <t t-else="">
                                            <img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
                                        </t>
                                    </t>
                                    <t t-else="">
                                        <img class="img sh_standard_icon" t-attf-src="/web/image?model=ir.ui.menu&amp;field=web_icon_data&amp;id=#{app.menuID}" t-att-title="app.name" t-att-alt="app.name" />
                                    </t>
                                    <span><t t-esc="app.name"/></span>
                                </a>
                            </div>
                        </t>
                    </t>
                </div>
                <ul class="dropdown-menu collapse ag_sidebar_submenu" id="menu_section" style="">
                    <h1 class="">
                        <a data-toggle="collapse" data-target="#menu_section" class="ag_menu_section_close_btn dropdown-item collapsed" href="#" aria-expanded="false">
                            <i class="fa fa-times d-none"></i>
                        </a>
                    </h1>
                </ul>
                <div class="user">
                    <ul class="o_menu_systray" role="menu" />
                </div>
            </div>
        </li>
    </t>

</templates>