.o_cost_of_goods_manufactured {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;

    .o_cogm_buttons {
        display: flex;
        margin-bottom: 20px;

        .o_button_left {
            width: 50%;
        }

        .o_button_right {
            width: 50%;
            text-align: right;
            position: relative;

            .o_ocgm_filter_content {
                position: absolute;
                right: 165px;
                background: #FFFFFF;
                color: #787373;
                filter: drop-shadow(rgba(0, 0, 0, 0.16) 0px 0px 16px);
                width: 67%;
                padding: 5px;

                p {
                    font-size: 15px !important;
                    font-weight: bold;
                    text-align: center;
                }

                .o_filter {
                    .btn-group {
                        width: 100%;
                    }

                    .o_dropdown_toggler {
                        display: flex;

                        span.fa {
                            margin-top: auto;
                            margin-bottom: auto;
                        }

                        .current_filter {
                            margin-left: auto;
                        }
                    }

                    .o_dropdown_menu {
                        width: 100%;

                        .o_custom_date_from, .o_custom_date_to {
                            width: 100%;
                        }
                    }
                }

                .o_buttons {
                    text-align: center;
                    
                    .o_apply_filter {
                        padding: 0;
                        height: 25px;
                        width: 25%;
                    }
                }
            }
        }
    }

    .o_cogm_content {
        flex: 1;
        overflow: auto;

        .o_cogm_section {
            width: 100%;

            tr {
                cursor: pointer;
                
                &:hover {
                    td {
                        background-color: #ECECEC;
                    }
                }

                &.o_bold {
                    td.o_value {
                        font-weight: bold;
                    }
                }

                &.o_border_top {
                    td.o_value {
                        border-top: 1px solid;
                    }
                }

                &.o_level_0, &.o_level_1 {
                    td {
                        font-weight: bold;
                    }
                }

                &.o_level_0, &.o_separator {
                    cursor: default;
                    &:hover {
                        td {
                            background-color: inherit;
                        }
                    }
                }
    
                &.o_level_1 {
                    td {
                        padding-top: 15px;
                    }
                }
    
                &.o_separator {
                    td {
                        padding-bottom: 15px;
                        border-bottom: 1px solid
                    }
                }

                td {
                    min-width: 10%;
                    white-space: nowrap;
                    padding: 0 10px;
    
                    &:first-child {
                        width: 100%;
                    }
    
                    &:not(:first-child){
                        text-align: right;
                    }
                }
            }
        }
    }
}