.o_moving_plan_report {
    .o_bom_material_table {
        font-size: 16px;
        color: #000000;
        overflow: scroll;
    
        .o_material_table {
            width: 100%;
    
            th {
                background-color: #ccc;
            }
    
            td:first-child {
                background-color: #eee;
            }
    
            th, td {
                padding: 1.1rem 10px;
                white-space: nowrap;
            }
    
            th:first-child, td:first-child {
                position: sticky;
                left: 0;
                width: 1%;
            }
    
            th {
                text-align: right;
                .o_plan_date {
                    color: rgba(33, 37, 41, 0.7);
                }
            }
    
            td.o_cost {
                text-align: right;
            }
    
            thead tr:last-child th, td {
                border-bottom: 1px solid #dee2e6;
            }
    
            tr.o_bom_uom, tr.o_secondary_uom, tr.o_primary_uom {
                font-weight: bold;
            }
    
            thead tr:first-child th:first-child {
                border-top-left-radius: 10px;
            }
    
            thead tr:first-child th:last-child {
                border-top-right-radius: 10px;
            }
    
            tbody tr:last-child td:first-child {
                border-bottom-left-radius: 10px;
            }
    
            tbody tr:last-child td:last-child {
                border-bottom-right-radius: 10px;
            }

            a {
                color: inherit;
                &:hover {
                    color: red;
                }

                &.o_open_record_icon {
                    display: flex;
                    align-items: center;
                    justify-content: center;
    
                    i {
                        margin: 0;
                    }
                }
            }
    
        }
    
        .o_status_icon {
            margin-left: .5rem !important;
            display: inline-block;
            min-width: 18px;
        }
    
        .o_product_name {
            margin-right: 10px;
        }
    
        .o_quantity {
            margin-left: 10px;
        }
    }
    
    .o_bom_material_chart_legend {
        margin: 20px 0;
        padding: 10px;
        border: 1px solid #d9d9d9;
        border-radius: 10px;
        color: #000000;
        font-weight: bold;
    
        ul.o_custom_legend {
            display: flex;
            flex-flow: wrap;
            justify-content: center;
    
            list-style-type: none;
            padding-left: 0;
            margin: 0;
            max-height: 120px;
            overflow-y: scroll;
    
            li.o_legend {
                display: flex;
                align-items: center;
                margin: 10px;
                cursor: pointer;
    
                &.o_hide {
                    text-decoration: line-through;
                }
    
                .o_legend_icon {
                    margin: 0 .5rem;
                    .o_icon {
                        width: 40px;
                        height: 15px;
                        display: block;
                        border: 3px solid;
                    }
                }
    
                .o_legend_label {
                    white-space: nowrap;
                }
            }
        }
    }
    
    .o_filter_date_dropdown {
        min-width: 200px;
    
        .o_filter_date_item {
            padding: 3px 20px;
        }
    }
    
    .o_filter_date_custom_container {
        padding: 3px 20px;
    }
    
    .o_cp_buttons .btn.btn-primary.o_filter_date_btn {
        border: none !important;
    }

    .o_bom_material_chart_container {
        position: relative;
    }
}